/* ---------- Watson colors ---------- */

$darkest: #000;
$lightest: #FFF;

$neutralDark: #6C7982;
$neutralDarker: #303A40;
$neutralLight: #A6B2B7;
$neutralLighter: #CCD4D7;
$neutralMedium: #9CA3A8;
$neutralSubtle: #F5F6F7;

$positiveLight: #A8F9D7;
$positiveMedium: #3FE49F;

$negativeLight: #FFC4C4;
$negativeMedium: #FF7474;

/* ---------- Font stacks ---------- */

$fontAwesome: FontAwesome-Alloy;
$primaryFontStack: Helvetica Neue, Helvetica, Arial, sans-serif;

/* ---------- Global sizes ---------- */

$headerHeight: 80px;

$sidebarWidth: 308px;

$standardBorderRadius: 4px;

$contentHeaderHeight: 163px;

/* ---------- Icons ---------- */

$downCaret: '\f0d7';

/* ---------- Z-Index ---------- */

$zIndexHighest: 1000;