/* ---------- Text styles ---------- */

@mixin fontAwesomeIcon {
	color: $neutralLighter;
	font-family: $fontAwesome;
	font-size: 15px;
}

@mixin main-header {
	color: $neutralMedium;
	font-family: $primaryFontStack;
	font-size: 44px;
	font-weight: 100;
	letter-spacing: 0.12em;
	line-height: 1em;
}

@mixin sub-header {
	color: $neutralLighter;
	font-family: $primaryFontStack;
	font-size: 20px;
	font-weight: 100;
	line-height: 1em;
}

@mixin content-header {
	color: $neutralDarker;
	font-family: $primaryFontStack;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 0.1em;
	line-height: 1.6em;
}

@mixin input-text {
	color: $neutralMedium;
	font-family: $primaryFontStack;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 0.15em;
	line-height: 1em;
}

@mixin row-header-detail-text {
	color: $neutralLighter;
	font-family: $primaryFontStack;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 0.1em;
}

@mixin row-header-text {
	color: $neutralLight;
	font-family: $primaryFontStack;
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 0.15em;
	line-height: 1em;
}

@mixin row-sub-header-text {
	color: $neutralLighter;
	font-family: $primaryFontStack;
	font-size: 16px;
	font-weight: 200;
}

@mixin small-info-text {
	color: $neutralLight;
	font-family: $primaryFontStack;
	font-size: 12px;
	font-weight: 200;
}