.lfr-object__object-view-modal-object-definitions {
    &-card {
        &.active {
            box-shadow: 0 0 0 2px #80acff;
        }
        .card-body {
            display: flex;
            align-items: center;
            justify-content: space-between;

            > div:first-child {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .custom-control {
                margin-bottom: 0;
            }

            .lexicon-icon {
                margin-top: 0;
            }
        }
    }
}
