<style>
	select {
		background: transparent;
	}

	#titleSection {
		padding-top: 20px;
	}

	.archive-link {
		display: block;
		padding-top: 5px;
	}

	.product-title {
		font-size: 2.15em;
		padding: 5px 0 15px;
	}

	.title-container {
		margin: auto;
		max-width: 615px;
	}

	.title-container a.btn {
		background: #FFF;
		border: 1px solid #0E4681;
		border-radius: 0px;
		color: #0E4681;
	}

	.title-container a.btn:hover {
		background: #0E4681;
		color: #FFF;
	}

	.title-container select {
		padding: 5px;
		width: 220px;
	}

	.title-container .download-selector {
		display: none;
	}

	.title-container .download-selector.multiple-dl {
		display: inline-block;
		margin-right: 30px;
	}

	.title-container .logo-image {
		float: left;
		margin-right: 30px;
		padding-bottom: 20px;
	}

	$cssField.data
</style>

<div class="clearfix" id="titleSection">
	<div class="title-container">
		<div class="logo-image">
			<img src="$logo.data" />
		</div>

		<div class="product-title">
			$title.data
		</div>

		<div>
			#set ($cssClassName = "")

			#foreach ($download in $downloadUrl.siblings)
				#if ($velocityCount == 1)
					#set ($cssClassName = "download-selector")
				#end

				#if ($velocityCount == 2)
					#set ($cssClassName = "multiple-dl")
				#end
			#end

			<select class="$cssClassName" name="download" onchange="document.getElementById('download$reserved-article-id.data').setAttribute('href', this.value);" onkeypress="if (event.keyCode == 13) window.location = this.value;">
				#foreach ($download in $downloadUrl.siblings)
					#if ($velocityCount == 1)
						<script>
							AUI().ready(
								function(A) {
									document.getElementById('download$reserved-article-id.data').setAttribute('href', '$download.data');
								}
							);
						</script>
					#end

					<option value="$download.data">$download.downloadTitle.data</option>
				#end
			</select>

			<a class="btn" href="#" id="download$reserved-article-id.data">$buttonText.data</a>
		</div>

		#foreach ($archive in $archiveText.siblings)
			<a class="archive-link" href="$archive.archiveUrl.data">$archive.data</a>
		#end
	</div>
</div>