.osb-documentation-dashboard-portlet {
	.assign-user {
		vertical-align: middle;

		.user-avatar {
			border-radius: 100px;
			height: 35px !important;
			margin-right: 10px;
			text-decoration: none;
			width: 35px !important;
		}
	}

	.dashboard-content {
		padding: 0 2em 1em;
	}

	.dashboard-header {
		background-color: #0E4681;
		color: white;
		font-weight: bold;
		padding: 3em 0;
		text-align: center;
	}

	.search-form {
		position: relative;

		.lfr-search-keywords {
			box-sizing: border-box;
			display: inline-block;
			font-size: 1.5em;
			height: 50px;
			margin: 15px 0;
			width: 50%;
		}

		.toggle-off-click {
			background: url(@theme_image_path@/custom/search_icons.png) no-repeat scroll right top;
			cursor: pointer;
			height: 55px;
			left: calc(75% - 45px);
			margin-top: 15px;
			position: absolute;
			top: 0;
			width: 45px;

			&.toggle-off-click-active {
				background-position: right bottom;
			}
		}
	}
}