@import "bourbon";

$border-color: #D0D1D3;
$font-color: #4C4C4E;

$dark-blue: #0E4681;
$white: #FFF;

.osb-documentation-search-portlet {
	.article-search-results {
		padding-top: 20px;

		.article-display {
			padding: 5px 0;
			width: 100%;

			.article-category {
				color: #909295;
				font-size: small;
			}

			.article-summary {
				border-bottom: 1px solid #DBDBDB;
				padding-bottom: 20px;
			}

			.article-title {
				font-size: larger;
				font-weight: bold;
			}
		}
	}

	.navigation-pane {
		background: #E3F2FD;
		border-right: 1px solid $border-color;
		padding: 15px 20px;

		li {
			padding-top: 5px;

			.filter-input {
				vertical-align: top
			}
		}
	}

	.search-container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.search-filters {
		i {
			float: left;
			margin-top: 7px;
		}

		ul {
			list-style: none;
		}

		.cursor-pointer {
			cursor: pointer;
		}

		.filter-label {
			display: block;

			input {
				float: left;
				margin-right: 3px;
				margin-top: 6px;
			}

			span {
				vertical-align: top;
			}
		}

		.indent {
			margin-left: 14px;
		}
	}

	.search-filters-tools {
		text-align: center;

		.clear-filters {
			color: #909295;
			font-size: small;
			text-decoration: none;

			&.active {
				color: #4C4C4E;
				font-weight: bold;
			}
		}
	}

	.search-form {
		position: relative;

		.showing-results {
			padding-right: 25%;
			text-align: right;
		}

		.toggle-off-click {
			background: url(@theme_image_path@/custom/search_icons.png) no-repeat scroll right top;
			cursor: pointer;
			height: 50px;
			left: calc(75% - 45px);
			position: absolute;
			top: 17px;
			width: 45px;

			&.toggle-off-click-active {
				background-position: right bottom;
			}
		}
	}
}