#set ($layout_local_service = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService"))

#set ($ancestor_layout = $layout_local_service.getLayout($layout.getAncestorPlid()))

#if (!$show_add_content)
	#set ($css_class = $stringUtil.replace($css_class, "controls-visible", "controls-hidden"))
#end

#set ($side_nav_visible = $getterUtil.getBoolean($sessionClicks.get($request, "_2_WAR_osbknowledgebaseportlet_side_nav_toggle_value", "true"), false))

#if (!$side_nav_visible)
	#set ($css_class = $css_class + " side-nav-hidden")
#end

#set ($group_local_service = $serviceLocator.findService("com.liferay.portal.service.GroupLocalService"))

#set ($guest_group = $group_local_service.fetchGroup($company_id, "Guest"))
#set ($guest_group_id = $guest_group.getGroupId())

#set ($footer_nav_friendly_url = "/footer-navigation")
#set ($main_nav_friendly_url = "/main-navigation")
#set ($mobile_footer_nav_friendly_url = "/mobile-footer-navigation")

#set ($nav_options = $theme_display.getThemeSetting("nav-options"))

#if ($theme.getSetting("open-graph-image") != "")
	#set ($open_graph_image = $theme.getSetting("open-graph-image"))
#else
	#set ($open_graph_image = "$images_folder/custom/open_graph_image.png")
#end

#if ($theme.getSetting("open-graph-title") != "")
	#set ($open_graph_title = $theme.getSetting("open-graph-title"))
#else
	#set ($open_graph_title = "$the_title - $company_name")
#end

#if ($theme.getSetting("open-graph-url") != "")
	#set ($open_graph_url = $theme.getSetting("open-graph-url"))
#else
	#set ($open_graph_url = $htmlUtil.escape($portal.getCurrentCompleteURL($request)))
#end

#set ($userGroupIds = $user.getUserGroupIds())

#if ($arrayUtil.contains($userGroupIds, 84013))
	#set ($customer = true)
#end

#if ($arrayUtil.contains($userGroupIds, 80690))
	#set ($liferayEmployee = true)
#end

#if ($arrayUtil.contains($userGroupIds, 84039))
	#set ($partner = true)
#end

#macro (print_navigation $layout_friendly_url)
	#set ($layoutGroup = $layout.getGroup())
	#set ($navigation_layout = $layout_local_service.getFriendlyURLLayout($guest_group_id, false, $layout_friendly_url))

	#if ($theme_display.getThemeSetting("custom-navigation") == true)
		#set ($navigation_layout = $layout_local_service.getFriendlyURLLayout($group_id, $layout.isPrivateLayout(), $layout_friendly_url))
	#end

	#set ($root_layout_name = $navigation_layout.getName($locale))

	<ul class="nav-menu">
		#foreach ($cur_layout in $navigation_layout.getChildren())
			#set ($cur_layout_name = $cur_layout.getName($locale))

			#set ($cur_layout_nav_item_selected_css_class = "")

			#if ($cur_layout.getTypeSettingsProperty("linkToLayoutId") == $layout.getLayoutId())
				#set ($cur_layout_nav_item_selected_css_class = "selected")
			#end

			#if ($validator.isNull($cur_layout_nav_item_selected_css_class) && $cur_layout.hasChildren())
				#foreach ($child_layout in $cur_layout.getChildren())
					#if ($child_layout.getTypeSettingsProperty("linkToLayoutId") == $layout.getLayoutId())
						#set ($cur_layout_nav_item_selected_css_class = "selected")

						#break
					#end
				#end
			#end

			#if ($cur_layout.hasChildren())
				<li class="nav-item nav-item-${velocityCount} parent-item root-item toggle-menu">
					<a class="$cur_layout_nav_item_selected_css_class" href="javascript:;" $cur_layout.getTarget()>$cur_layout_name</a>

					<span class="children-marker responsive-only"></span>
			#else
				<li class="nav-item nav-item-${velocityCount} root-item">
					#set ($cur_layout_href = $cur_layout.getFriendlyURL())

					#if ($cur_layout.isTypeURL())
						#set ($cur_layout_href = $cur_layout.getRegularURL($request))
					#end

					<a class="$cur_layout_nav_item_selected_css_class" href="$cur_layout_href" onClick="_gaq.push(['_trackEvent', 'Navigation Clicks', '$root_layout_name', '$cur_layout_name']);" $cur_layout.getTarget()>$cur_layout_name</a>
			#end

			#if ($cur_layout.hasChildren())
				<ul class="child-menu drop-down-menu toggle-menu-content">
					#foreach ($child_layout in $cur_layout.getChildren())
						#set ($child_layout_name = $child_layout.getName($locale))

						#if ($child_layout.hasChildren())
							<li class="child-item nav-item nav-item-${velocityCount} parent-item" id="childItem${velocityCount}">

							<span class="children-marker responsive-only toggle-menu" data-target-node="#childItem${velocityCount}"></span>
						#else
							<li class="child-item nav-item" id="childItem${velocityCount}">
						#end

						#set ($child_layout_href = $child_layout.getFriendlyURL())

						#if ($child_layout.isTypeURL())
							#set ($child_layout_href = $child_layout.getRegularURL($request))
						#end

						#set ($child_layout_nav_item_selected_css_class = "")

						#if ($child_layout.getTypeSettingsProperty("linkToLayoutId") == $layout.getLayoutId())
							#set ($child_layout_nav_item_selected_css_class = "selected")
						#end

						<a class="$child_layout_nav_item_selected_css_class" href="$child_layout_href" onClick="_gaq.push(['_trackEvent', 'Navigation Clicks', '$root_layout_name', '$cur_layout_name - $child_layout_name']);" $child_layout.getTarget()>$child_layout_name</a>

						#if ($child_layout.hasChildren())
							<ul class="grand-child-menu">
								#foreach ($grand_child_layout in $child_layout.getChildren())
									#set ($grand_child_layout_name = $grand_child_layout.getName($locale))
									#set ($grand_child_layout_css_class = "grand-child-item nav-item")

									#set ($grand_child_layout_href = $child_layout.getFriendlyURL())

									#if ($grand_child_layout.isTypeURL())
										#set ($grand_child_layout_href = $grand_child_layout.getRegularURL($request))
									#end

									#if ($velocityCount == $child_layout.getChildren().size())
										#set ($grand_child_layout_css_class = "$grand_child_layout_css_class last")
									#end

									<li class="$grand_child_layout_css_class">
										<a href="$grand_child_layout_href" onClick="_gaq.push(['_trackEvent', 'Navigation Clicks', '$root_layout_name', '$child_layout_name - $grand_child_layout_name']);" $grand_child_layout.getTarget()>$grand_child_layout_name</a>
									</li>
								#end
							</ul>
						#end

						</li>
					#end
				</ul>
			#end

			</li>
		#end
	</ul>
#end