<div class="responsive-only site-navigation-menu-toggle toggle-menu" data-target-node="#navigationContainer" id="navigationToggle"></div>

<div class="responsive-content-height site-navigation" id="navigationContainer">
	<div class="nav">
		#if ($nav_options == "static")
			<nav class="$nav_css_class">
				#print_navigation($main_nav_friendly_url)
			</nav>
		#else
			<nav class="$nav_css_class">
				<ul class="nav-menu">
					#foreach ($nav_item in $nav_items)
						#set($nav_item_css_class = "nav-item root-item")

						#if ($nav_item.isSelected())
							#set($nav_item_css_class = $nav_item_css_class + " selected")
						#end

						#if ($velocityCount == 1)
							#set($nav_item_css_class = $nav_item_css_class + " first")
						#elseif ($velocityCount == $nav_items.size())
							#set($nav_item_css_class = $nav_item_css_class + " last")
						#end

						<li class="$nav_item_css_class">
							<a href="$nav_item.getURL()" onClick="_gaq.push(['_trackEvent', 'Navigation Clicks', 'Community Navigation', '$nav_item.getName()']);" $nav_item.getTarget()>
								<span>$nav_item.getName()</span>
							</a>
						</li>
					#end
				</ul>
			</nav>
		#end
	</div>

	<div class="nav-search">
		<div class="nav-search-content toggle-menu-content" id="navigationSearchContent">
			<form action="/documentation/search" class="nav-search-form" method="get" name="searchFm">
				<input name="p_p_id" type="hidden" value="1_WAR_osbknowledgebaseportlet" />
				<input name="p_p_state" type="hidden" value="normal" />

				<input class="lfr-search-input" name="_1_WAR_osbknowledgebaseportlet_keywords" size="30" title="#language ("search")" type="search" value="" />
			</form>
		</div>

		<div class="nav-search-toggle toggle-menu" data-target-node="#navigationSearchContent"></div>
	</div>

	#set ($main_menu_style = "")

	#if ($is_signed_in)
		#set ($main_menu_style = "style='background-image: url($user.getPortraitURL($themeDisplay)); background-size: cover;'")
	#end

	<div class="nav-user toggle-menu" $main_menu_style>
		<ul class="drop-down-menu responsive-content-height toggle-menu-content">
			#if ($is_signed_in)
				<li class="my-places">
					<ul>
						<li>
							<a href="https://www.liferay.com/web/$user.getScreenName()">#language("account-home")</a>
						</li>
						<li class="user-profile">
							<a href="https://www.liferay.com/web/$user.getScreenName()/profile">#language("profile")</a>
						</li>

						#if ($customer || $liferayEmployee || $partner)
							<li>
								<a href="https://www.liferay.com/group/customer">#language("customer-portal")</a>
							</li>
						#end

						#if ($liferayEmployee || $partner)
							<li>
								<a href="https://www.liferay.com/group/partner">#language("partner-portal")</a>
							</li>
						#end

						#if ($show_my_places)
							#set ($my_places = $user.getMySites())

							#foreach ($place in $my_places)
								#if ($place.hasPublicLayouts() || $place.hasPrivateLayouts())
									#set ($layout_private_name = $place.getDescriptiveName())
									#set ($layout_public_name = $place.getDescriptiveName())

									#set ($url = $place.getPathFriendlyURL(false, $themeDisplay) + $place.getFriendlyURL())

									#if ($place.hasPrivateLayouts() && $place.hasPublicLayouts())
										#set ($layout_private_name = "$layout_private_name #language('private')")
										#set ($layout_public_name = "$layout_public_name #language('public')")
									#end

									#if ($my_places.size() > 2)
										#set ($site_css_class = "site")

										#if ($place.getGroupId() == $group_id)
											#set ($site_css_class = "$site_css_class selected")
										#end

										#if ($place.hasPublicLayouts())
											<li class="public $site_css_class">
												<a href="$url">$layout_public_name</a>
											</li>
										#end

										#if ($place.hasPrivateLayouts())
											#set ($url = $place.getPathFriendlyURL(true, $themeDisplay) + $place.getFriendlyURL())

											<li class="private $site_css_class">
												<a href="$url">$layout_private_name</a>
											</li>
										#end
									#end
								#end
							#end
						#end
					</ul>
				</li>
			#end

			<li class="language-toggle parent-item toggle-menu">
				<a href="javascript:;">
					#language ("language")
				</a>

				<span class="children-marker"></span>

				$taglibLiferay.language('fm', null, 'languageId', 1)
			</li>

			#if ($is_signed_in)
				<li class="sign-in-button" id="signOutBtn">
					<a href="$sign_out_url?referer=$themeDisplay.getURLCurrent()">$sign_out_text</a>
				</li>
			#else
				<li class="sign-in-button" id="signInBtn">
					<a href="$sign_in_url">$sign_in_text</a>
				</li>
			#end
		</ul>
	</div>
</div>