@import "compass";

@import "partials/variables";

@import "partials/font";

.aui {
	@import "partials/banner";
	@import "partials/buttons";
	@import "partials/docs_nav";
	@import "partials/footer";
	@import "partials/headings";
	@import "partials/kb_articles";
	@import "partials/kb_homepage";
	@import "partials/main_content";
	@import "partials/utilities";

	&.ie7 {
		overflow: auto;

		body {
			margin: 0 auto;
			width: 980px;
		}

		ul.aui-tabview-list .aui-tab, .footer-navigation .child-menu {
			float: left;
		}

		#banner .doc-heading, .nav-user, .nav, .nav-search, .site-navigation, .doc-footer ul, .nav-menu .nav-item, .tab-nav ul {
			display: inline;
		}

		.site-navigation .nav-user .drop-down-menu {
			width: 320px;
		}

		.copyright {
			text-align: right;
		}

		.doc-footer .social-nav {
			ul {
				width: 410px;
			}
		}

		.doc-search {
			top: 49px;
		}

		.doc-sub-nav a {
			color: rgb(76, 76, 78);

			&:hover {
				color: $orange;
			}
		}

		.ie-seven-hidden {
			display: none !important;
		}
	}

	&.ie7, &.ie8 {
		body {
			padding-top: 0 !important;
		}

		.doc-footer .social-nav .social-img {
			background-image: url(@theme_image_path@/custom/social_icons_16x16.png);
		}

		#banner, #dockbar {
			position: relative;
		}

		#banner .banner-content, #dockbar {
			margin: 0 auto;
			width: 960px;
		}
	}

	&.ie8 {
		.nav {
			float: left;
		}

		.doc-search {
			top: 54px;
		}
	}
}

@import "partials/aui/tables";