@font-face {
	font-family: 'source-sans-pro-black';
	src: url(../font/source-sans-pro/source-sans-pro-black.otf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-black.otf.woff2) format('woff2'), url(../font/source-sans-pro/source-sans-pro-black.ttf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-black.ttf.woff2) format('woff2');
}

@font-face {
	font-family: 'source-sans-pro-bold';
	src: url(../font/source-sans-pro/source-sans-pro-bold.otf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-bold.otf.woff2) format('woff2'), url(../font/source-sans-pro/source-sans-pro-bold.ttf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-bold.ttf.woff2) format('woff2');
}

@font-face {
	font-family: 'source-sans-pro-extralight';
	src: url(../font/source-sans-pro/source-sans-pro-extralight.otf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-extralight.otf.woff2) format('woff2'), url(../font/source-sans-pro/source-sans-pro-extralight.ttf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-extralight.ttf.woff2) format('woff2');
}

@font-face {
	font-family: 'source-sans-pro-light';
	src: url(../font/source-sans-pro/source-sans-pro-light.otf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-light.otf.woff2) format('woff2'), url(../font/source-sans-pro/source-sans-pro-light.ttf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-light.ttf.woff2) format('woff2');
}

@font-face {
	font-family: 'source-sans-pro-regular';
	src: url(../font/source-sans-pro/source-sans-pro-regular.otf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-regular.otf.woff2) format('woff2'), url(../font/source-sans-pro/source-sans-pro-regular.ttf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-regular.ttf.woff2) format('woff2');
}

@font-face {
	font-family: 'source-sans-pro-semibold';
	src: url(../font/source-sans-pro/source-sans-pro-semibold.otf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-semibold.otf.woff2) format('woff2'), url(../font/source-sans-pro/source-sans-pro-semibold.ttf.woff) format('woff'), url(../font/source-sans-pro/source-sans-pro-semibold.ttf.woff2) format('woff2');
}

@font-face {
	font-family: 'Noto Sans Japanese';
	src: url(../font/noto-sans-japanese/notosansjp-regular.woff) format('woff'), url(../font/noto-sans-japanese/notosansjp-regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Noto Sans Japanese Bold';
	src: url(../font/noto-sans-japanese/notosansjp-bold.woff) format('woff'), url(../font/noto-sans-japanese/notosansjp-bold.woff2) format('woff2');
}