.osb-portlet-corp-members-activities {
	.corp-members-activity {
		a {
			color: #4C4C4E;
			font-weight: normal;
			text-decoration: none;

			&:active, &:focus, &:hover {
				border-bottom: 1px solid #000;
				color: #000;
			}
		}

		td {
			padding: 0.5em 0.25em;
		}

		.activity {
			border-bottom: 1px solid #E3E4E5;
		}

		.activity.class-toggle-active {
			.activity-body {
				max-height: 600px;
				overflow-y: scroll;
			}

			.read-more-cta .caret {
				transform: rotate(90deg);
			}
		}

		.activity-body {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.5s;
		}

		.activity-date {
			color: #909295;
			font-size: smaller;
			font-weight: normal;
			letter-spacing: 1px;
			min-width: 100px;
			text-transform: uppercase;
		}

		.activity-type h4 {
			font-weight: normal;
		}

		.read-more-cta {
			a {
				color: #909295;
				font-weight: lighter;

				&:active, &:focus, &:hover {
					color: darken(#909295, 25%);
				}
			}

			.caret {
				transition: transform 0.5s;
				vertical-align: middle;
			}
		}

		.user-avatar {
			min-width: 55px;
		}

		.user-avatar img {
			border-radius: 55px;
			height: 55px;
			vertical-align: top;
			width: 55px;
		}
	}
}

/* ---------- Corp profiles ---------- */

.corp-profile .osb-portlet-corp-members-activities {
	.portlet-content {
		border-width: 0;
		padding: 0;
	}

	.portlet-topper {
		background: transparent;
		border-width: 0;
		color: #909295;

		.portlet-title {
			border-bottom: 1px solid #E3E4E5;
			font-size: 16px;
			padding: 0;

			.portlet-title-text {
				font-size: smaller;
				text-transform: uppercase;
			}
		}
	}
}