a.btn,
input.btn,
input[type="button"],
input[type="submit"],
.btn,
.field-input-button {
	border: 1px solid $orange;
	cursor: pointer;
	text-decoration: none;
}

.btn,
.field-input-button {
	background: $white;
	border-radius: 2px;
	box-shadow: none;
	color: $orange;
	display: inline-block;
	font-weight: bold;
	height: auto;
	line-height: 1.5em;
	padding: 5px 15px;
	text-align: center;
	text-shadow: none;
	vertical-align: top;

	&:active, &:focus {
		background: #EF8131;
		color: $white;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		background: $orange;
		color: $white;
	}

	&.btn-info {
		background: $dark-blue;
		border-color: $dark-blue;
		color: $white;

		&:active, &:focus {
			background: #89A4C1;
			color: $dark-blue;
		}

		&:hover {
			background: $white;
			color: $dark-blue;
		}
	}

	&.btn-lg {
		font-size: 15px;
		padding: 5px 20px;
	}

	&.btn-primary {
		border-color: #1BAAE1;
		color: #1BAAE1;

		&:active, &:focus {
			background: #0093D8;
			color: $white;
		}

		&:hover {
			background: #1BAAE1;
			color: $white;
		}
	}

	&.btn-sm {
		padding: 2px 15px;
	}
}