.bold {
	font-weight: bold;
}

.inline-block {
	display: inline-block;
}

.responsive-only {
	display: none;
}

.uppercase {
	text-transform: uppercase;
}

.vertical-align-top {
	vertical-align: top;
}

@include media-query(null, $screen-xs-max) {
	.responsive-hidden {
		display: none;
	}

	.responsive-only {
		display: block;
	}
}