$border-color: #D0D1D3;
$font-color: #4C4C4E;

$dark-blue: #0E4681;
$dark-orange: #DD5F13;
$gray: #939598;
$light-blue: #1C75B9;
$orange: #F49B45;
$white: #FFF;

$has-control-menu-top-desktop: 64px;
$has-control-menu-top-mobile: 48px;

$font-weight-semi-bold: 600;

$normal-font-size: 16px !default;