#set ($assetCategoryLocalService = $serviceLocator.findService("com.liferay.asset.kernel.service.AssetCategoryLocalService"))

#set ($osbTemplateUtil = $serviceLocator.findService("com.liferay.osb.customer.web.internal.util.OSBTemplateUtil"))

#set ($hasSubmitArticle = $osbTemplateUtil.hasPermission($permissionChecker, "SUBMIT_ARTICLE"))
#set ($assetCategories = $assetCategoryLocalService.getVocabularyCategories(10891, -1, -1, null))

#set ($resourceBaseURL = $request.attributes.resourceURL)

#set ($namespace = $randomNamespace)

<style type="text/css">
	.article-suggest-content {
		text-align: left;
	}

	.article-suggest-content .txt-b {
		font-weight: bold;
	}

	.article-suggest-content textarea {
		height: 80px;
		resize: none;
		width: 400px;
	}

	.aui-helper-hidden {
		display: none;
	}

	.page-pop-up {
		background: rgba(255,255,255,.95);
		border: 2px solid #CCC;
		border-radius: 20px;
		position: fixed;
		text-align: center;
		width: 460px;
		z-index: 2000;
	}

	.page-pop-up .close-pop-up {
		background: #46A3FF;
		cursor: pointer;
		float: right;
		height: 20px;
		margin: 10px 10px 0 0;
		width: 20px;
	}

	.page-pop-up .pop-up-content {
		padding: 10px 20px;
	}

	#if ($permissionChecker.isSignedIn())
		.search-home .form {
			width: calc(50% - -150px) !important;
		}

		.search-home .form .input-text-wrapper {
			width: calc(100% - 150px) !important;
		}

		.search-home .btn {
			background-color: #46A3FF !important;
			border-color: #FFF !important;
			color: #FFF !important;
		}
	#end

	.search-home .suggest-wrapper {
		float: right;

		#if ($hasSubmitArticle)
			margin-top: -15px;
		#end
	}

	.search-home .suggest-wrapper .btn {
		margin: 5px 0;
		width: 105px;
	}
</style>

<div class="search-home">
	<form action="/documentation/search" class="form" method="get" name="homeSearchFm">
		<input name="p_p_id" type="hidden" value="1_WAR_osbknowledgebaseportlet" />
		<input name="p_p_state" type="hidden" value="normal" />

		<div class="control-group control-group-inline input-text-wrapper">
			<input class="field lfr-search-keywords" name="_1_WAR_osbknowledgebaseportlet_keywords" placeholder="Search..." size="30" title="Search" type="text" value="" />
		</div>

		<div class="suggest-wrapper">
			#if ($permissionChecker.isSignedIn())
				#if ($hasSubmitArticle)
					<div>
						<a class="btn" href="javascript:${namespace}addArticleURL();">$languageUtil.get($locale, "submit-an-article")</a>
					</div>
				#end

				<div>
					<a class="btn pop-up" data-pop-display="#articleSuggest" href="javascript:;" id="${namespace}articleSuggestButton">$languageUtil.get($locale, "suggest-an-article")</a>
				</div>
			#end
		</div>
	</form>

	<div class="aui-helper-hidden page-pop-up" data-overlay="true" id="articleSuggest">
		<div class="close-pop-up" id="closePopUp">X</div>

		<div class="article-suggest-wrapper pop-up-content">
			<div class="article-suggest-content">
				<form action="#" id="${namespace}hrefFm" method="post" name="${namespace}hrefFm">
					<div class="aui-helper-hidden portlet-msg-error" id="messageDisplay">
					</div>

					<div>
						<span class="txt-b">$languageUtil.get($locale, "suggested-article-title-required")</span>

						<div>
							<input class="field" data-field-required-status="false" field-required-message="$languageUtil.get($locale, "please-enter-a-valid-title")" name="title" size="30" type="text" value="" />
						</div>
					</div>

					<div>
						<span class="txt-b">$languageUtil.get($locale, "article-component")</span>

						<div>
							<select name="component">
								<option value="0"></option>

								#foreach ($assetCategory in ${assetCategories})
									<option value="${assetCategory.getCategoryId()}">${assetCategory.getTitle()}</option>
								#end
							</select>
						</div>
					</div>

					<div>
						<span class="txt-b">$languageUtil.get($locale, "suggested-outline")</span>

						<div>
							<textarea name="suggestedOutline" placeholder="What is the layout for the points you'd like to hit in this article?"></textarea>
						</div>
					</div>

					<div>
						<span class="txt-b">$languageUtil.get($locale, "article-description-required")</span>

						<div>
							<textarea data-field-required-status="false" field-required-message="$languageUtil.get($locale, "please-enter-a-valid-description")" name="description"></textarea>
						</div>
					</div>

					<div>
						<span class="txt-b">$languageUtil.get($locale, "references-lesa-tickets-link-etc")</span>

						<div>
							<textarea name="references" placeholder="Include any and all references that can help our writers get context for this request."></textarea>
						</div>
					</div>

					<div>
						<input class="btn" onClick="${namespace}suggestArticle();" type="button" value="$languageUtil.get($locale, "submit")" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	AUI().ready(
		'node',
		function(A) {
			var onValidate = function(e) {
				${namespace}validateRequiredField(this);
			};

			var form = A.one('#${namespace}hrefFm');

			form.delegate('change', onValidate, 'input[data-field-required-status]');
			form.delegate('change', onValidate, 'textarea[data-field-required-status]');
		}
	);

	AUI().ready(
		'aui-overlay-mask-deprecated',
		'node',
		function(A) {
			var centerOnPage = function(node) {
				var btn = A.one("#${namespace}articleSuggestButton");

				var btnHeight = btn.get('clientHeight');
				var btnWidth = btn.get('clientWidth');

				var nodeHeight = node.get('clientHeight');
				var nodeWidth = node.get('clientWidth');

				var xCenter = btn.getCenterXY()[0] - (nodeWidth - btnWidth) / 2;
				var yCenter = btn.getCenterXY()[1] + btnHeight + 5;

				node.setStyle('left', xCenter);
				node.setStyle('top', yCenter);
			};

			var createOverlayMask = function() {
				var bindUI = function() {
					var overlayMask = A.one('.overlaymask');

					if (overlayMask) {
						overlayMask.setStyle('left', 0);
						overlayMask.setStyle('top', 0);

						overlayMask.on(
							'click',
							function() {
								overlayMask.remove(true);
							}
						);
					}
				};

				var init = function() {
					var overlay = new A.OverlayMask().render();

					overlay.set('z-index', 20);
					overlay.show();

					bindUI();
				};

				return init();
			};

			var displayPopUp = function(node) {
				node.removeClass('aui-helper-hidden');

				centerOnPage(node);

				var popUpContent = node.one('.pop-up-content');

				if (node.getAttribute('data-overlay')) {
					createOverlayMask();
				}

				popUpContent.on(
					'clickoutside',
					function(event) {
						var overlayMask = A.one('.overlaymask');

						if (overlayMask) {
							overlayMask.remove();
						}

						node.addClass('aui-helper-hidden');

						popUpContent.detach('clickoutside');
					}
				);
			};

			var iOS = /iPad/i.test(navigator.userAgent) || /iPhone/i.test(navigator.userAgent);
			var mouseEvent = 'click';

			if (iOS) {
				mouseEvent = 'mousemove';
			}

			A.all('.pop-up').on(
				mouseEvent,
				function(event) {
					event.stopPropagation();

					var popDisplay = event.currentTarget.getAttribute("data-pop-display");

					var popUp = A.one(popDisplay);

					displayPopUp(popUp);
				}
			);
		}
	);

	#if ($hasSubmitArticle)
		function ${namespace}addArticleURL() {
			AUI().ready(
				'liferay-portlet-url',
				function(A) {
					var renderURL = Liferay.PortletURL.createRenderURL();

					renderURL.setParameter("struts_action", "/journal/edit_article");
					renderURL.setParameter("groupId", "10738");
					renderURL.setParameter("structureId", "ARTICLE-DISPLAY-6.2.10.1");
					renderURL.setParameter("redirect", "$request.render-url");
					renderURL.setPortletId("15");
					renderURL.setPortletMode("view");
					renderURL.setWindowState("maximized");

					window.location = renderURL.toString();
				}
			);
		}
	#end

	function ${namespace}suggestArticle() {
		var requiredFields = AUI().all("#${namespace}hrefFm input[data-field-required-status='false'], #${namespace}hrefFm textarea[data-field-required-status='false']");

		if (requiredFields.size() > 0) {
			requiredFields.each(
				function(requiredField) {
					${namespace}validateRequiredField(requiredField);
				}
			)

			return false;
		}

		AUI().ready(
			'liferay-portlet-url',
			'aui-io',
			function(A) {
				var resourceURL = Liferay.PortletURL.createURL("$resourceBaseURL");

				resourceURL.setParameter("struts_action", "/journal/suggest_article");
				resourceURL.setParameter("groupId", "10738");
				resourceURL.setPortletId("15");
				resourceURL.setPortletMode("view");
				resourceURL.setWindowState("exclusive");

				A.io.request(
					resourceURL.toString(),
					{
						dataType: 'json',
						form: {
							id: ${namespace}hrefFm
						},
						on: {
							success: function(event, id, obj) {
								var response = this.get('responseData');

								if (response.status == "success") {
									alert('$languageUtil.get($locale, "your-request-completed-successfully")');

									var node = A.one('#articleSuggest');

									A.one('#${namespace}hrefFm').reset();

									var overlayMask = A.one('.overlaymask');

									if (overlayMask) {
										overlayMask.remove();
									}

									node.addClass('aui-helper-hidden');
								}
								else {
									var messageDisplay = A.one('#messageDisplay');

									messageDisplay.setContent(response.message);

									messageDisplay.show();
								}
							}
						}
					}
				);
			}
		);
	}

	function ${namespace}validateRequiredField(node) {
		AUI().ready(
			'node',
			function(A) {
				var status = true;

				if (A.Lang.trim(node.get("value"))) {
					node.setAttribute("data-field-required-status", "true");

					status = false;
				}
				else {
					node.setAttribute("data-field-required-status", "false");
				}

				var messageDisplayName = node.getAttribute("name");
				var messageDisplay = A.one('#' + messageDisplayName);

				if (messageDisplay && status) {
					messageDisplay.show();
				}
				else if (messageDisplay && !status) {
					messageDisplay.hide();
				}
				else if (!messageDisplay && status) {
					messageDisplay = A.Node.create('<div class="portlet-msg-error" />');

					messageDisplay.setAttribute("id", messageDisplayName);
					messageDisplay.setContent(node.getAttribute("field-required-message"));

					var childNode = node;
					var parentNode = node.get("parentNode");

					while (!parentNode.test("div")) {
						childNode = parentNode;
						parentNode = parentNode.get("parentNode");

						messageDisplay.setContent(parentNode.getAttribute("field-required-message"));
					}

					parentNode.insertBefore(messageDisplay, childNode);
				}

				return !status;
			}
		);
	}
</script>