<style>
	#callout-${reserved-article-id.data}.cp-callout-borderless-box, #callout-${reserved-article-id.data} .cp-callout-header {
		background-color: $boxColor.data;
	}

	#callout-${reserved-article-id.data}.cp-callout-border-box {
		border: 1px solid $boxColor.data;
	}

	#callout-${reserved-article-id.data}.cp-callout-border-box .btn {
		background: transparent;
		border: 1px solid $boxColor.data;
		color: $boxColor.data;
	}

	#callout-${reserved-article-id.data}.cp-callout-border-box .btn:hover {
		background: $boxColor.data;
		color: #FFF;
	}

	#callout-${reserved-article-id.data}.cp-callout-borderless-box .btn:hover {
		color: $boxColor.data;
		background: #FFF;
	}

	.cp-callout-box {
		margin-bottom: 15px;
	}

	.cp-callout-box .btn {
		border: 1px solid #FFF;
		background: transparent;
		color: #FFF;
	}

	.cp-callout-box .cp-callout-heading {
		font-size: 1.7em;
	}

	.cp-callout-border-box .cp-callout-heading {
		padding: 25px 0;
	}

	.cp-callout-borderless-box, .cp-callout-border-box .cp-callout-header {
		color: #FFF;
	}

	.cp-callout-borderless-box, .cp-callout-border-box .cp-callout-header, .cp-callout-border-box .cp-callout-container {
		padding: 15px;
	}

	.cp-callout-borderless-box .aui-w75 .right-column {
		padding: 10px 0 10px 10px;
	}

	@media (max-width: 720px) {
		.cp-callout-border-box .cp-callout-header .aui-w75 .right-column {
			padding: 0 !important;
		}

		.cp-callout-border-box .cp-callout-header .cp-callout-heading {
			padding: 0 10px;
		}
	}
</style>

#if ($borderBox.data == "true")
	<div class="aui-helper-clearfix cp-callout-border-box cp-callout-box" id="callout-$reserved-article-id.data">
		<div class="aui-helper-clearfix cp-callout-header">
			<div class="aui-w25 centered content-column icon-wrapper">
				<div class="content-column-content left-column">
					<img src="$icon.data" />
				</div>
			</div>

			<div class="aui-w75 content-column">
				<div class="content-column-content right-column">
					<h3 class="cp-callout-heading">
						$title.data
					</h3>
				</div>
			</div>
		</div>

		<div class="cp-callout-container">
			<div class="cp-callout-content">
				$content.data
			</div>

			<a class="btn" href="$buttonText.href.data">$buttonText.data</a>
		</div>
	</div>
#else
	<div class="aui-helper-clearfix cp-callout-borderless-box cp-callout-box" id="callout-$reserved-article-id.data">
		<div class="aui-w25 centered content-column icon-wrapper">
			<div class="content-column-content left-column">
				<img src="$icon.data" />
			</div>
		</div>

		<div class="aui-w75 content-column cp-callout-container">
			<div class="content-column-content right-column">
				<h3 class="cp-callout-heading">
					$title.data
				</h3>

				<div class="cp-callout-content">
					$content.data
				</div>

				<a class="btn" href="$buttonText.href.data">$buttonText.data</a>
			</div>
		</div>
	</div>
#end