<p>
	尊敬的[$CUSTOMER_FULL_NAME$],
</p>

<p>
	恭喜您成功完成于[$CLASS_START_DATE$]开始的[$COURSE_NAME$]培训课程（Liferay Portal [$VERSION$]）。附件为您的培训证书，请查收。
</p>

<p>
	您的证书编号为： [$CERTIFICATE_KEY$]，您可以使用此编号来验证您的出席情况。
</p>

<p>
	顺祝：一切顺利<br />
	Liferay培训团队
</p>

<p>
	您已顺利完成Liferay培训，何不继续挑战自己，查看<a href="www.liferay.com/services/certification">Liferay认证项目</a>？
</p>

<p>
	参加其他<a href="www.liferay.com/services/training">Liferay官方培训</a>，拓展Liferay知识，更透彻了解学习Liferay。
</p>