<p>
	Estimado [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Enhorabuena por haber concluido el curso [$COURSE_NAME$] para Liferay Portal [$VERSION$] el pasado [$CLASS_START_DATE$]. Adjuntamos el certificado de formación.
</p>

<p>
	Su número de certificado es [$CERTIFICATE_KEY$], que puede utilizar para <a href="www.liferay.com/services/certification">verificar su asistencia</a>.
</p>

<p>
	Atentamente,<br />
	El Equipo de Formación de Liferay
</p>

<p>
	Una vez completada su formación en Liferay, ¿por qué no echa un vistazo al Programa de Certificación de Liferay?
</p>

<p>
	Continúe aprendiendo sobre Liferay asistiendo a algún otro de nuestros cursos.
</p>