<p>
	Buongiorno [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Grazie per aver partecipato al corso: [$COURSE_NAME$]. Ci auguriamo che abbia avuto una fruttuosa esperienza di formazione.
</p>

<p>
	Potresti dedicarci alcuni minuti del tuo tempo per completare il nostro sondaggio online? Questo è un passo necessario per poter ricevere il tuo certificato di formazione che attesta la partecipazione a un corso di formazione ufficiale Liferay.

</p>

<p>
	Ti verrà richiesto di accedere con il tuo account Liferay.com. Se non ne un account, registrati e creane uno utilizzando la stessa email utilizzata per iscriverti al corso. Una volta ricevuto il tuo feedback, ti verrà inviata via email una copia digitale del tuo certificato che attesta la tua partecipazione a questo corso di formazione. Inoltre un training badge apparirà nella tua pagina profilo.
</p>

<p>
	Indirizzo del sondaggio: [$TRAINING_SURVEY_URL$]
</p>

<p>
	Cordialmente,<br />
	The Liferay Training Team
</p>