<p>
	[$CUSTOMER_FULL_NAME$]様
</p>

<p>
	[$CLASS_START_DATE$]に実施しました、LIFERAY PORTAL [$VERSION$]向け[$COURSE_NAME$]トレーニングを無事に完了され、おめでとうございます。以下に完了証明書をお送りいたします。
</p>

<p>
	証明番号は[$CERTIFICATE_KEY$]です。この番号で、ご参加いただいたトレーニングをご確認いただけます。
</p>

<p>
	今後ともLIFERAY PORTALをよろしくお願いします。<br />
	Liferayトレーニングチーム
</p>

<p>
	Liferayトレーニングの後は、<a href="www.liferay.com/services/certification">Liferay Certificationプログラム</a>を受講してみませんか?
</p>

<p>
	Liferayをもっとよく知るためには、ぜひ<a href="www.liferay.com/services/training">ほかのコースも</a>受講ください。
</p>