<p>
	Cher/Chère [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Félicitations, vous avez suivi la formation [$COURSE_NAME$] pour Liferay Portal [$VERSION$] le [$CLASS_START_DATE$]. Veuillez trouver en pièce jointe votre attestation de formation.
</p>

<p>
	Le numéro de référence de votre attestation est le suivant : [$CERTIFICATE_KEY$], que vous pouvez utiliser pour vérifier votre présence à <a href="www.liferay.com/services/training/verify-a-certification">www.liferay.com/services/training/verify</a>.
</p>

<p>
	Cordialement,<br />
	L'équipe Formation de Liferay
</p>

<p>
	N'hésitez pas à consulter le programme de certification Liferay. Plus d'informations sont disponibles à <a href="www.liferay.com/services/certification">www.liferay.com/certification</a>.
</p>

<p>
	Pour en savoir plus sur les formations Liferay : <a href="www.liferay.com/training">www.liferay.com/training</a>.
</p>