<p>
	Egregio [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Congratulazioni per aver completato [$COURSE_NAME$] per Liferay Portal [$VERSION$] IL [$CLASS_START_DATE$]. Il tuo certificato di partecipazione è in allegato.
</p>

<p>
	Il tuo numero di certificato è [$CERTIFICATE_KEY$], che può essere utilizzato <a href="www.liferay.com/services/certification">per verificare la tua partecipazione</a>.
</p>

<p>
	Cordialmente,<br />
	The Liferay Training Team
</p>

<p>
	Ora che hai completato un Liferay Training, perchè non dare un'occhiata al <a href="www.liferay.com/services/certification">Liferay Certification Program</a>?
</p>

<p>
	Scopri di più su Liferay frequentando <a href="www.liferay.com/services/training">un altro corso</a>.
</p>