<p>
	Cher/Chère [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Merci d'avoir participé à la formation [$COURSE_NAME$]. Nous espérons que vous avez trouvé cette expérience enrichissante.
</p>

<p>
	Accepteriez-vous de consacrer quelques minutes pour répondre à une rapide enquête en ligne ? Vos réponses sont nécessaires pour vérifier votre participation à une formation Liferay officielle et recevoir une attestation.
</p>

<p>
	Veuillez noter qu'il vous sera demandé de vous connecter via votre compte sur Liferay.com. Si vous n'en possédez pas, merci de vous enregistrer et d'en créer un avec l'adresse e-mail utilisée pour la formation. Après réception de vos réponses, nous vous enverrons par e-mail une attestation numérique certifiant de votre participation, et votre badge de formation apparaîtra sur votre page de profil.
</p>

<p>
	Lien vers l'enquête : [$TRAINING_SURVEY_URL$]
</p>

<p>
	Cordialement,<br />
	L'équipe Formation de Liferay
</p>