<p>
	Dear [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Thank you for attending [$COURSE_NAME$].
</p>

<p>
	Just a friendly reminder to complete the Participant Form to receive your certificate and badge. A digital certificate verifying that you have attended the training will be emailed to you and your training badge will appear on your profile page once you have completed the form.
</p>

<p>
	<a href="[$TRAINING_SURVEY_URL$]">Click here to access the Participant Form.</a>
</p>

<p>
	Thanks in advance for your time and feedback!
</p>

<p>
	Sincerely,<br />
	The Liferay Training Team
</p>

<p>
	<strong>Get Certified!</strong>
</p>

<p>
	Now that you've completed a Liferay Training course, why not check out the <a href="http://www.liferay.com/services/certification">Liferay Certification Program?</a>
</p>

<p>
	You can find out more about the topics covered in the certification exam in the <a href="http://www.liferay.com/services/certification/professional-developer/6.2">Exam Blueprint.</a>
</p>

<p>
	<strong>Want to learn more?</strong>
</p>

<p>
	Expand your knowledge! <a href="http://www.liferay.com/services/training">Check out more information on our other courses.</a>
</p>