<p>
	Dear [$TRAINING_USER_FULL_NAME$],
</p>

<p>
	We're writing to you to let you know that we're working on your request to have your training and certification badges linked to and displayed on your primary account:
</p>

<p>
	[$PRIMARY_USER_EMAIL_ADDRESS$]
</p>

<p>
	Email us right away at <a href="mailto:training@liferay.com">training@liferay.com</a> if you did not initiate this request.
</p>

<p>
	Once you've accepted the <a href="https://www.liferay.com/services/certification/resources">agreement</a> on this account, all of your training and certification badges will be displayed on your primary account shortly. Thank you and we appreciate your investment in Liferay Training and Certification.
</p>

<p>
	Sincerely,<br />
	The Liferay Training Team
</p>