<p>
	亲爱的[$CUSTOMER_FULL_NAME$],
</p>

<p>
	感谢您参加[$COURSE_NAME$]。希望您度过了一个愉快的培训时光。
</p>

<p>
	您能否抽出几分钟的时间来填写一下我们的在线调查问卷？填完调查问卷后，您将收到该培训课程的证书，用于证明您已参加并成功完成Liferay官方培训。
</p>

<p>
	您需要用您在Liferay官网注册的账户登录。如果您之前没有注册过Liferay账户，请您用您报名参加培训时用的邮箱来注册一个账户。我们收到您提交的调查问卷后，会将电子版的证书发到您的邮箱里。此证书可以证明您参加过此培训，该培训徽章会显示在您的资料页。
</p>

<p>
	调查问卷链接： [$TRAINING_SURVEY_URL$]
</p>

<p>
	感谢您的参与<br />
	Liferay培训团队
</p>