<p>
	Dear [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Congratulations on completing [$COURSE_NAME$] for Liferay Portal [$VERSION$] on [$CLASS_START_DATE$]. Please find your training certificate attached below.
</p>

<p>
	Your certificate number is [$CERTIFICATE_KEY$], which you can use to <a href="www.liferay.com/services/training/verify-a-certification">verify your attendance</a>.
</p>

<p>
	Sincerely,<br />
	The Liferay Training Team
</p>

<p>
	Now that you have completed Liferay Training, why not check out the <a href="www.liferay.com/services/certification">Liferay Certification Program</a>?
</p>

<p>
	Learn more about Liferay by attending one of our <a href="www.liferay.com/services/training">other courses</a>.
</p>