<p>
	[$CUSTOMER_FULL_NAME$]様,
</p>

<p>
	[$COURSE_NAME$]にご参加いただきありがとうございました。トレーニングは実り多いものだったでしょうか？
</p>

<p>
	トレーニング修了証明書の受領と、公式Liferayトレーニングに参加したことの確認として、数分程度のオンラインアンケートへの記入をお願いいたします。アンケートの記入は必須となっております。
</p>

<p>
	Liferay.comアカウントでのログインが必要になります。アカウントをお持ちでない場合、トレーニングで使用したメールアドレスによるアカウント登録をお願いします。アンケートの受領を確認次第、トレーニングの参加を証明する電子トレーニング修了証明書がEメールにて送付され、あなたのプロフィールページにトレーニングバッジが表示されます。
</p>

<p>
	アンケートのリンク: [$TRAINING_SURVEY_URL$]
</p>

<p>
	ライフレイ・トレーニング・チーム
</p>