<p>
	Dear [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Congratulations on becoming a Liferay Certified [$TRAINING_CERTIFICATE_TEMPLATE_NAME$]!
</p>

<p>
	Here's your Liferay certificate as well as your certificate key that you can <a href="https://www.liferay.com/services/certification/verify-a-certification">verify on Liferay.com</a>.
</p>

<p>
	Certificate key: [$CERTIFICATE_KEY$]
</p>

<p>
	We value your confidence in the Liferay Certification Program, and look forward to working together in the future.
</p>

<p>
	As always, we would love to hear from you! If you have questions, concerns or suggestions on the exam, or benefits we could provide, let us know at <a href="mailto:certification@liferay.com">certification@liferay.com</a>.
</p>

<p>
	Sincerely,<br />
	The Liferay Certification Program Team
</p>