<p>
	Prezado(a) [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Obrigado por participar do [$COURSE_NAME$]. Esperamos que você tenha aproveitado e tido uma boa experiência com a capacitação.
</p>

<p>
	Você poderia investir alguns minutos do seu tempo para preencher essa pesquisa online? Para que você possa obter este certificado de finalização do Treinamento e verificar que você participou de um curso oficial da Liferay, é necessário completar este breve questionário.
</p>

<p>
	Por favor, observe que será preciso fazer o login com a conta do Liferay.com. Se você ainda não possui uma conta, registre-se e crie um cadastro com o endereço de email que você utilizou para o Treinamento. Assim que recebermos o seu feedback, enviaremos um certificado digital comprovando a sua participação no curso, e o seu distintivo referente ao Treinamento aparecerá na sua página do perfil.
</p>

<p>
	Link para a Pesquisa: [$TRAINING_SURVEY_URL$]
</p>

<p>
	Atenciosamente,<br />
	Equipe de Treinamentos da Liferay
</p>