<p>
	Dear [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Thank you for attending [$COURSE_NAME$]. We hope you had a meaningful training experience.
</p>

<p>
	Would you take a few minutes to briefly complete this online survey? In order to receive a training certificate of completion and verify that you have attended an official Liferay Training, it is a requirement to complete the survey.
</p>

<p>
	Please note that you will be asked to login with your Liferay.com account. If you do not have one set up, please register and create one with the email address you used for the training class. Once we receive your feedback, you will be emailed a digital certificate verifying that you have attended this training, and your training badge will appear on your profile page.
</p>

<p>
	Survey link: [$TRAINING_SURVEY_URL$]
</p>

<p>
	Sincerely,<br />
	The Liferay Training Team
</p>