<p>
	Prezado(a) [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Parabéns pela conclusão do curso [$COURSE_NAME$] na versão [$VERSION$] do Liferay Portal em [$CLASS_START_DATE$]. Por favor, encontre o seu Certificado de Conclusão em anexo.
</p>

<p>
	O número do seu certificado é [$CERTIFICATE_KEY$], você pode utilizá-lo para confirmar sua participação no curso.
</p>

<p>
	Atenciosamente,<br />
	Equipe de Treinamentos da Liferay.
</p>

<p>
	Agora que você completou o Treinamento Liferay, por que não conferir o nosso <a href="www.liferay.com/services/certification">Programa de Certificação</a>?
</p>

<p>
	Aprenda mais sobre Liferay realizando outros <a href="www.liferay.com/services/training">cursos oficiais</a>.
</p>