<p>
	Hola [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Gracias por tu asistencia al curso [$COURSE_NAME$]. Esperamos que haya cumplido las expectativas que tenías puestas en él.
</p>

<p>
	¿Te importaría dedicar unos minutos a compeltar una encuesta online sobre el curso? Es necesario completarla para recibir el diploma por haber terminado el curso y verificar que has asistido al Training de Liferay.
</p>

<p>
	Por favor, ten en cuenta que se te pedirá que te registres con tu usuarios de Liferay.com. Si no tienes usuario aún creado, por favor, regístrate y crea tu cuenta con la dirección de email que has utilizado para registrarte al curso. Una vez recibidas tus respuestas, se generará un diploma a tu nombre junto así como los datos del curso al que has asistido. Además en tu perfil de usuario de Liferay.com podrás ver un badge confirmando que has completado el curso en cuestión.
</p>

<p>
	Enlace a la encuesta: [$TRAINING_SURVEY_URL$]
</p>

<p>
	Gracias de nuevo,<br />
	 El Equipo de Training de Liferay
</p>