<p>
	Guten Tag [$CUSTOMER_FULL_NAME$],
</p>

<p>
	herzlichen Glückwunsch! Sie haben den Kurs [$COURSE_NAME$] für Liferay Portal [$VERSION$] am [$CLASS_START_DATE$] erfolgreich abgeschlossen. Sie erhalten Ihr Trainingszertifikat im Anhang.
</p>

<p>
	Mit Ihrem Zertifikatschlüssel [$CERTIFICATE_KEY$] <a href="www.liferay.com/services/certification">können Sie Ihre Teilnahme bestätigen.</a>
</p>

<p>
	Mit freundlichen Grüßen<br />
	Ihr Liferay Training Team
</p>

<p>
	Haben Sie Interesse am Liferay Zertifizierungsprogramm? Weitere Trainings helfen Ihnen, Liferay noch besser zu nuten und kennen zu lernen.
</p>