<p>
	Dear [$PRIMARY_USER_FULL_NAME$],
</p>

<p>
	We're writing to let you know that we're working on your request to have all of your training and certification badges displayed on this account. The following email addresses will now be associated with your account:
</p>

<p>
	[$TRAINING_USER_EMAIL_ADDRESSES$]
</p>

<p>
	You'll be able to see your training and certification badges on this account after accepting the agreement on your other accounts. Let us know at <a href="mailto:training@liferay.com">training@liferay.com</a> if you have any questions. Thank you and we appreciate your investment in Liferay Training and Certification.
</p>

<p>
	Sincerely,<br />
	The Liferay Training Team
</p>