<p>
	Guten Tag [$CUSTOMER_FULL_NAME$],
</p>

<p>
	vielen Dank für Ihre Teilnahme am Training [$COURSE_NAME$]. Wir hoffen, dass Ihre Erwartungen erfüllt wurden.
</p>

<p>
	Wir würden uns freuen, wenn Sie sich ein paar Minuten Zeit nehmen, um unseren Online-Fragebogen zu beantworten. Die Beantwortung des Fragebogens ist Voraussetzung für den Erhalt Ihres Trainingszertifikats, das bestätigt, dass Sie ein offizielles Liferay Training besucht haben.
</p>

<p>
	Bitte beachten Sie, dass Sie hierfür in Ihr Liferay.com Benutzerkonto eingeloggt sein müssen. Falls Sie noch kein Benutzerkonto haben, registrieren Sie sich bitte mit der email-Adresse, mit der Sie sich für das Training angemeldet haben. Sobald Sie die Beantwortung des Fragebogens abgeschlossen haben, erhalten Sie Ihr Zertifikat in elektronischer Form per E-Mail und auf Ihrer Profilseite wird Ihre Trainingsteilnahme ausgezeichnet.
</p>

<p>
	Hier geht es zum Fragebogen: [$TRAINING_SURVEY_URL$]
</p>

<p>
	Mit freundlichen Grüßen,<br />
	Ihr Liferay Training Team
</p>