<p>
	Dear [$CUSTOMER_FULL_NAME$],
</p>

<p>
	Thank you for attending [$COURSE_NAME$].
</p>

<p>
	As one of the benefits of attending an official Liferay Training, you will receive a certificate of completion, along with a training badge that will be displayed on your Liferay.com profile.*
</p>

<p>
	To receive the certificate and badge, please log in or register for a Liferay.com account using the same e-mail address you used to register for the class and complete the Participant Form linked below. A digital certificate verifying that you have attended the training will be emailed to you and your training badge will appear on your profile page once you have completed the form.
</p>

<p>
	We would also like to encourage you to take a moment to fill out the optional survey at the end of this form to let us know about your training experience.
</p>

<p>
	<a href="[$TRAINING_SURVEY_URL$]">Click here to access the Participant Form.</a>
</p>

<p>
	Thanks in advance for your time and feedback!
</p>

<p>
	Sincerely,<br />
	The Liferay Training Team
</p>

<p>
	<em>* Participants must attend one of the <a href="http://www.liferay.com/services/training">standard courses</a>, attend all days of the training in full and complete the Participant Form to be eligible to receive a training certificate and badge.</em>
</p>