Hello [$TO_NAME$],

The following articles were renamed, were moved, or no longer exist on customer.liferay.com:
[$OLD_KNOWLEDGE_BASE_ARTICLES$]

The following articles were added to customer.liferay.com and do not have a category or tag. Please review and update the categories and tags:
[$NEW_KNOWLEDGE_BASE_ARTICLES$]

Thank you.