#change-log-menu h3, #change-log-wrapper .jira-component-name {
	-moz-border-radius: 2px 2px 0 0;
	-ms-border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	background-color: #939598;
	border-color: #939598;
	border-radius: 2px 2px 0 0;
	color: #FFF;
	padding: 9px 0 8px 19px;
}

#change-log-menu {
	border: 1px solid #D1D6DC;
	border-radius: 5px;
	float: right;
	width: 190px;
}

#change-log-menu a {
	color: #484B4C;
}

#change-log-menu a:hover {
	color: #2DABE2;
}

#change-log-menu h3 {
	background: #D1D6DC;
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 5px;
}

#change-log-menu ul {
	margin: 0 0 0 5px;
	padding: 5px;
}

#change-log-menu ul li {
	margin: 0 0 8px 9px;
}

#change-log-wrapper {
	float: left;
	width: 760px;
}

#change-log-wrapper .jira-component-name {
	background: #D1D6DC;
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 5px;
}

#change-log-wrapper .jira-component-wrapper {
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-ms-border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	border: 1px solid #D1D6DC;
	border-radius: 2px 2px 0 0;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
}

#change-log-wrapper .jira-issue-key {
	color: #2DABE2;
	cursor: pointer;
	float: none;
	padding: 0 0.7em 0 5px;
}

#change-log-wrapper .jira-issue-summary {
	float: left;
	margin: 3px 4px;
}

#change-log-wrapper .jira-issue-wrapper {
	background-color: transparent;
	background-repeat: no-repeat;
	margin: 9px 5px;
	overflow: hidden;
	padding-left: 16px;
}