.osb-documentation-display-portlet {
	.back-btn {
		background: url(../../images/arrow_left.png) no-repeat -10px center;
		background-size: 32px 16px;
		cursor: pointer;
		font-size: larger;
		font-weight: bold;
		padding-left: 15px;
	}
}