.incidents-admin {
	.text {
		@include input-text;

		margin-top: 15px;
	}

	.content-container {
		.content {
			display: block;
			margin-top: 15px;

			.metal-uploader-wrapper {
				display: flex;
				flex-direction: column;
				max-width: 270px;
				width: 100%;

				.alert {
					margin: 0 0 2px;
					max-width: 480px;
				}

				.helper-message {
					@include input-text;

					font-size: 14px;
					margin-top: 3px;
					text-align: center;
				}

				.metal-react-container {
					.metal-file-uploader {
						border: 1px solid $neutralMedium;
						border-radius: 4px;
						cursor: pointer;
						height: 57px;
						max-width: 270px;
						width: 100%;

						.uploader-label {
							color: $neutralLighter;
							display: block;
							font-family: $primaryFontStack;
							font-size: 14px;
							letter-spacing: 0.2em;
							margin: 1.1em 0 0;
							text-align: center;
						}
					}

					.accept {
						border: 2px solid $positiveMedium;
						border-radius: 4px;
						height: 57px;
						max-width: 270px;
						width: 100%;
					}

					.reject {
						border: 2px solid $negativeMedium;
						border-radius: 4px;
						height: 57px;
						max-width: 270px;
						width: 100%;
					}
				}
			}
		}

		.watson-button.primary, .watson-button {
			height: 57px;
			width: 253px;
		}
	}
}