.react-bootstrap-table {
	table {
		border-collapse: collapse;
		border-spacing: 0;
		table-layout: fixed;
	}

	tbody {
		tr.row-padding {
			td:first-child {
				padding-left: 4%;
			}
		}
	}

	th.sortable {
		cursor: pointer;
	}

	th .order > .dropdown > .caret {
		color: $neutralLighter;
		margin: 10px 0 10px 5px;
	}

	th .order > .dropup > .caret {
		color: $neutralLighter;
		margin: 10px 0;
	}

	th > .react-bootstrap-table-sort-order > .caret {
		margin: 10px 6.5px;
	}

	th[data-row-selection] {
		width: 30px;
	}

	td.react-bs-table-no-data {
		text-align: center;
	}
}