// Function to replace characters in a string
// @param $string - the string to operate on
// @param $search - the character to replace
// @param $replace - the character to replace $search with

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) +
				$replace +
				str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// Function to encode SVG and provide back a data url
// @param $svg - The SVG markup to encode

@function svg-url($svg) {
	$encoded: '';
	$index: 0;
	$slice: 2000;

	$loops: ceil(str-length($svg) / $slice);

	@for $i from 1 through $loops {
		$chunk: str-slice($svg, $index, $index + $slice - 1);

		$chunk: str-replace($chunk, '"', '\'');
		$chunk: str-replace($chunk, ' ', '%20');
		$chunk: str-replace($chunk, '<', '%3C');
		$chunk: str-replace($chunk, '>', '%3E');
		$chunk: str-replace($chunk, '&', '%26');
		$chunk: str-replace($chunk, '#', '%23');

		$encoded: #{$encoded}#{$chunk};

		$index: $index + $slice;
	}

	@return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}