.content-container {
	box-sizing: content-box;
	display: inline-block;
	margin: 60px 0 0 300px;
	max-width: calc(100% - #{$sidebarWidth} - 65px);
	min-width: 65%;
	padding-left: 5%;
	width: 71%;

	.content-header {
		border-bottom: 1px solid $neutralLighter;
		display: flex;
		justify-content: space-between;

		@include content-header;

		margin: 40px 0 0;
		padding: 0 0 10px;

		.header-main {
			display: flex;
			flex-grow: 1;
			justify-content: flex-end;

			.header-left {
				flex-grow: 1;
				margin-right: auto;
			}

			.header-right {
				align-self: flex-end;
				font-size: 13px;
			}
		}

		.select-wrapper {
			.metal-react-container {
				height: 25px;
				width: 175px;

				.Select {
					line-height: 1em;

					.Select-control {
						border-width: 0;
						height: 25px;
						width: 100%;

						.Select-arrow-zone:before {
							padding-top: 0;
						}

						.Select-input {
							padding: 0;
							position: absolute;
							top: 1px;

							input {
								background-color: transparent;
							}

							.input {
								padding: 0 1px;
							}
						}

						.Select-value {
							left: auto;
							padding: 0 0 0 7px;
							top: 4px;
							width: 145px;
						}
					}

					.Select-menu-outer {
						margin-top: 15px;
					}
				}
			}
		}

		.top-bar {
			display: flex;
		}
	}

	.content {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		min-height: calc(100vh - 140px);
		overflow: auto;
		position: relative;

		.sub-header {
			color: $neutralLight;
			position: absolute;
			top: 10px;

			.sub-header-text {
				color: $neutralLight;
			}
		}
	}

	.relationships-view {
		height: 100%;
		width: 100%;

		.network-container {
			height: 100%;
			min-height: 700px;
			min-width: 600px;
			width: 100%;

			.vis-network {
				height: 100%;
				min-height: 300px;
				min-width: 300px;
				width: 100%;
			}

			canvas {
				height: 100%;
				min-height: 700px;
				min-width: 300px;
				width: 100%;
			}
		}
	}
}

.dynamic-select-input {
	.dynamic-select-input-group {
		margin: 0 0 34px;
		position: relative;

		.metal-react-container {
			padding: 0 0 10px;
		}

		.watson-button.remove-button {
			height: 34px;
			left: calc(30% - -10px);
			position: absolute;
			width: 34px;

			&:after {
				content: '\f00d';

				@include fontAwesomeIcon;

				font-size: 14px;
				left: calc(50% - 5px);
				position: absolute;
				top: calc(50% - 10px);
			}

			&:hover:after {
				color: $neutralDark;
			}
		}
	}
}

.incidents-edit.page-container .sidebar button {
	font-size: 16px;
	height: 40px;
	margin: 20px 0;
	width: 100%;
}

.label {
	border-width: 0;
	color: $neutralDark;
	font-weight: normal;
	padding: 0;
	text-align: left;
	vertical-align: baseline;
}

.page-container, .content-container, .sidebar {
	vertical-align: top;
}

.page-container {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	max-width: $contentWidth;
	width: 100%;
}

.page-container.incidents-create .content-container .content-header {
	margin-top: 52px;
}

.print-helper-message {
	display: none;
}

.tooltip-wrapper {
	.metal-react-container {
		height: 100%;
		width: 100%;

		.__react_component_tooltip.place-right {
			max-width: 250px;
		}

		.stayOpen {
			pointer-events: auto !important;

			&:hover {
				opacity: 1 !important;
				visibility: visible !important;
			}
		}
	}
}

.watson-input {
	align-items: center;
	background-color: $lightest;
	border: 1px solid $neutralLight;
	border-radius: $standardBorderRadius;
	color: $neutralLight;
	display: flex;
	height: 57px;
	justify-content: center;
	margin-bottom: 5px;
	max-width: 270px;
	width: 100%;

	&:focus, &:hover {
		border-color: $neutralDarker;
		box-shadow: none;
		color: $neutralDarker;
		outline: none;
		text-decoration: none;
	}

	&.select-input {
		@include appearance(none);

		cursor: pointer;
		margin-bottom: 0;
	}
}

textarea.watson-input {
	height: 290px;

	@include input-text();

	max-width: 600px;
	min-width: 270px;
	padding: 10px;
	width: 100%;
}

.watson-button {
	@include default-button;

	&.dropdown {
		border-width: 0;
	}

	&.primary {
		font-size: 16px;
		padding: 5px 15px;
	}

	&:focus {
		box-shadow: none;
		outline: none;
	}

	.icon {
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		height: 30px;
		width: 30px;

		&.print-icon {
			background-image: url(../images/print.svg);
		}
	}

	&:focus .icon.print-icon, &:hover .icon.print-icon {
		background-image: url(../images/print-focus.svg);
	}
}