.history-view-container {
	margin: 20px 0 80px;
	width: 100%;

	.history-view {
		display: flex;
		flex-direction: column;

		.date-view-wrapper {
			.date-view {
				color: $neutralLighter;
				display: flex;
				font-family: $primaryFontStack;
				font-size: 18px;
				font-weight: 500;
				margin: 10px 0 6px;
				width: 100%;
				word-wrap: break-word;
			}
		}

		.watson-history-row {
			color: $neutralLighter;
			display: flex;
			font-family: $primaryFontStack;
			font-size: 16px;
			height: 100%;
			margin: 5px 0;
			width: 100%;
			word-wrap: break-word;

			.action-by {
				width: 21%;
			}

			.model-icons {
				background-color: $lightest;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 50%;
				box-shadow: 0 2px 4px 0 $neutralSubtle;
				height: 24px;
				margin: 0 8px;
				width: 24px;

				&.activities {
					background-image: url(../images/svg/activity.svg);
				}

				&.addresses {
					background-image: url(../images/svg/address.svg);
				}

				&.incidents {
					background-image: url(../images/svg/incidents.svg);
				}

				&.people {
					background-image: url(../images/svg/people.svg);
				}

				&.resources {
					background-image: url(../images/svg/resource.svg);
				}

				&.vehicles {
					background-image: url(../images/svg/vehicles.svg);
				}
			}

			.timestamp {
				margin-left: 40px;
				width: 16%;
			}

			.watson-model {
				margin-right: 2px;
				width: 53%;
			}
		}
	}

	.no-entries {
		@include important-text;

		margin-left: 35%;
		margin-top: 5%;
	}
}