.page-container.incident-report {
	display: block;
	margin-top: 60px;

	.incident-detail, .entity-detail {
		width: 100%;

		.header {
			margin: 20px 0;
			position: relative;
			width: 100%;

			.logo {
				position: absolute;
				right: 0;
				top: 0;
			}

			.child-subtitle {
				color: $neutralDarker;
				font-size: 12px;
			}

			.parent-subtitle {
				color: $neutralDark;
				font-size: 20px;
			}

			.title {
				color: $neutralDarker;
				font-size: 44px;
				line-height: 1.2em;
			}
		}

		.body {
			width: 100%;

			.body-header {
				border-bottom: 1px solid $neutralDarker;
				color: $neutralDarker;
				margin: 30px 0 20px;
				width: 100%;
			}

			.content {
				width: 100%;

				.field {
					display: flex;
					margin-bottom: 10px;
					min-height: 20px;
					width: 100%;

					.label {
						color: $neutralDark;
						font-weight: normal;
						line-height: 1.67;
						margin-right: 2px;
						text-align: left;
						width: 10%;
					}

					.value {
						width: 90%;

						.image {
							background-position: center;
							background-size: cover;
							border: 3px solid $lightest;
							border-radius: 50%;
							box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.08);
							display: inline-block;
							height: 110px;
							vertical-align: middle;
							width: 110px;
						}
					}
				}
			}
		}
	}

	.top-buttons {
		align-items: center;
		display: flex;
		font-size: 20px;
		height: 40px;
		margin: 20px 0;
		padding: 5px 10px;

		button {
			margin-right: 10px;
		}
	}
}

@media print {
	.print-helper-message {
		@include center(both);
		@include row-header-text;

		display: block;
	}

	.page-container.incident-report {
		margin-top: 0;

		& > div:nth-child(n + 3) {
			page-break-before: always;
		}

		.top-buttons {
			display: none;
		}
	}
}