.landing-page {
	display: flex;
	flex-direction: column;
	padding-top: 4.5%;

	.arrow-container {
		display: flex;
		padding-left: 10%;
		padding-top: 5%;

		.arrow {
			background: url(../images/svg/arrow.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 48px;
			margin-top: 2.5px;
			width: 48px;
		}

		.bounce {
			@include experimental(animation, bounce 2s infinite);
		}

		.landing-text {
			@include row-header-text;
		}
	}

	.authentication-content {
		padding-top: 5%;
		width: 100%;

		.input-container {
			display: flex;
			margin-top: 3%;

			button {
				margin-left: 25px;
			}
		}

		.login-label {
			@include row-header-text;
		}

		.small-label-container {
			bottom: 3%;
			position: fixed;

			.login-small-label {
				@include important-text;
			}

			div {
				padding-top: 1.5%;
			}
		}

		.watson-button {
			height: 57px;
			width: 270px;
		}
	}

	.welcome-landing-text {
		@include row-header-text;

		text-align: center;
	}
}