.loading-ui-outer {
	.loading-ui-inner {
		display: block;
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 999;

		.loading-overlay {
			@include overlay();
		}

		.loading-spinner {
			left: calc(50% - 30px);
			position: absolute;
			top: 45%;
			z-index: 1001;
		}

		.request-failure-error {
			background-color: $lightest;
			border: solid 3px $darkest;
			cursor: pointer;
			height: 100px;
			left: 32.5%;
			position: absolute;
			top: 44%;
			width: 735px;
			z-index: 1001;

			.failure-text {
				color: $negativeMedium;
				display: flex;
				font-size: 22px;
				margin: 4% 0 0 3%;
			}

			.retry {
				color: $negativeMedium;
				display: flex;
				font-size: 12px;
				margin-left: 41%;
			}
		}

		.request-forbidden-error {
			background-color: $lightest;
			border: solid 3px $darkest;
			cursor: pointer;
			height: 100px;
			left: 32.5%;
			position: absolute;
			top: 44%;
			width: 735px;
			z-index: 1001;

			.failure-text {
				color: $negativeMedium;
				display: flex;
				font-size: 22px;
				margin: 3.5% 0 0 6%;
			}

			.retry {
				color: $negativeMedium;
				display: flex;
				font-size: 12px;
				margin-left: 41%;
			}
		}
	}
}

.spinner-container .spinner {
	@include spinner(20px, 3px);

	&.large {
		@include spinner(100px, 5px);
	}

	&.medium {
		@include spinner(60px, 6px);
	}

	&.small {
		@include spinner(10px, 2px);
	}
}