.portlet-login {
	font-family: $primaryFontStack;
	padding-bottom: 30px;

	.portlet {
		box-shadow: $mediumShadow;
		margin: calc(50vh - 325px) auto 0;
		max-width: 512px;
		min-width: 320px;
		padding: 50px 0;

		.portlet-topper {
			display: none;
		}

		.portlet-body {
			display: block;
			margin: 0 auto;
			width: 285px;

			a, label {
				color: $neutralLight;
				font-size: 12px;
				font-weight: 500;
				letter-spacing: 0.15em;
				margin-bottom: 14px;
			}

			.btn {
				padding: 14px 90px 16px;

				@include default-button;
			}

			.button-holder {
				display: flex;
				justify-content: center;
				margin: 30px 0 20px;
			}

			.form-control {
				border-color: $neutralLight;
				border-radius: $standardBorderRadius;
				color: $neutralLight;
				font-size: 18px;
				height: auto;
				padding: 14px 18px;

				&:focus {
					border-color: $neutralDarker;
					box-shadow: none;
					color: $neutralDarker;
				}

				.has-error &, .has-success & {
					box-shadow: none;
				}
			}

			.has-error {
				.control-label, .help-block {
					color: $negativeMedium;
				}

				.form-control {
					border-color: $negativeMedium;
					box-shadow: none;
				}
			}

			.help-block {
				font-size: 12px;
				font-weight: 500;
			}

			.lfr-alert-container {
				position: relative;

				.lfr-alert-wrapper {
					height: auto !important;
				}
			}

			.navigation {
				align-items: center;
				display: flex;
				flex-direction: column;
				margin-top: 10px;

				i {
					display: none;
				}
			}

			a.taglib-icon:hover .taglib-text {
				color: $neutralDarker;
				text-decoration: none;
			}

			.taglib-captcha {
				align-content: space-around;
				align-items: baseline;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				.captcha {
					margin-bottom: 0;
				}

				.form-group {
					display: block;
					margin-bottom: 16px;
					width: 100%;
				}

				.refresh {
					padding: 5px;
				}
			}

			.text-warning {
				display: none;
			}
		}
	}
}