.incidents-metrics {
	height: 100%;
	width: 100%;

	.metrics-content {
		height: 100%;
		width: 100%;

		.content {
			display: block;
			margin-top: 15px;

			.datatable-type {
				display: none;
			}

			.map-wrapper {
				float: right;
				height: 600px;
				max-height: 900px;
				max-width: 900px;
				min-height: 200px;
				min-width: 200px;
				width: 100%;

				.map-container {
					box-shadow: $mapShadow;
					height: 100%;
					width: 100%;

					.metal-react-container {
						height: 100%;
						width: 100%;

						.infoWindow {
							a {
								color: $neutralDark;
								font-size: 17px;
							}
						}
					}
				}
			}

			.tabs-wrapper {
				margin-bottom: 3%;

				.nav-tabs {
					border-bottom-width: 0;
					margin-bottom: 0;

					li {
						margin-right: 10px;

						button {
							@include default-button;

							height: 57px;
							justify-content: center;
							max-width: 270px;
							width: 100%;
						}
					}
				}
			}
		}

		.text {
			@include input-text;

			margin: 60px 0 0 300px;
		}
	}

	.navigation-sidebar {
		.filter-header {
			align-items: center;
			color: $neutralMedium;
			display: flex;
			font-family: $primaryFontStack;
			font-size: 15px;
			font-weight: 200;
			height: 40px;
			justify-content: flex-start;
			letter-spacing: 0.07em;
			line-height: 1.6em;
			margin: 40px 0 0;
			max-width: 256px;
			width: 100%;
		}

		.filter-input {
			padding: 0 0 20px;

			.dynamic-select-input-group {
				.metal-react-container {
					max-width: 180px;
					width: 100%;

					&:nth-child(2) .Select-control {
						height: 48px;
						width: 164px;

						.Select-arrow-zone:before {
							padding-top: 2px;
						}

						.Select-input {
							padding: 3px 0;
						}

						.Select-value {
							padding: 7px 15px;
						}
					}
				}

				.watson-button.remove-button {
					left: unset;
					right: 16px;
					top: 6px;
				}
			}
		}

		.metal-react-container .Select-control, input {
			width: 100%;
		}

		.watson-button.primary, .watson-button {
			height: 57px;
			max-width: 270px;
			width: 100%;
		}
	}
}