.micro-form {
	margin: 0;
	max-height: 600px;
	overflow: hidden;
	width: 475px;

	.bottom-bar {
		bottom: 1px;
		left: 3%;
		width: 95%;
	}

	textarea {
		height: 225px;
	}

	.input {
		margin: 15px 0;

		.input-label {
			width: 175px;
		}

		&.changed, &.error, &.changed.error {
			.validation-message {
				padding-left: 150px;
			}

			&:after {
				left: 450px;
			}
		}
	}

	.textarea {
		margin-bottom: 25px;
		margin-top: -20px;

		.input-label {
			width: 50px;
		}
	}
}