.modal {
	display: block;
	font-size: 16px;

	@include overlay();

	.modal-dialog {
		left: 50%;
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		width: auto;

		.modal-content {
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
			justify-content: space-between;
			text-align: center;
		}
	}

	.modal-body {
		color: $neutralMedium;
		font-family: $primaryFontStack;
		max-height: 650px;
		max-width: 560px;

		.image-cropper {
			max-height: 550px;
		}
	}

	.modal-footer {
		border-top-width: 0;
		display: flex;
		justify-content: space-between;

		button.modal-button {
			display: inline-block;
			font-size: 14px;
			height: 30px;
			width: 100px;
		}
	}

	.modal-header {
		border-bottom-width: 0;

		@include input-text;

		button.close {
			span {
				color: $neutralMedium;
				opacity: 1;
			}

			&, &:focus, &:hover {
				font-size: 16px;
				height: 20px;
				margin: 0;
				position: absolute;
				right: 4px;
				top: 4px;
				width: 20px;
			}

			&:focus span, &:hover span {
				border-color: $neutralDarker;

				span {
					color: $neutralDarker;
				}
			}
		}
	}
}