.watson-sidebar-toolbar {
	background-color: $lightest;
	border-right: 1px solid $neutralLighter;
	height: 100%;
	position: fixed;
	width: $sidebarToolbarWidth;
	z-index: 1002;

	.lower {
		align-items: center;
		bottom: 0;
		display: flex;
		flex-direction: column;
		height: 21%;
		justify-content: space-between;
		margin-bottom: 30%;
		position: absolute;
		width: 100%;

		#language-toggle {
			background: url(../images/svg/language-toggle.svg) no-repeat;
			background-size: cover;
			content: '';
			cursor: pointer;
			height: 30px;
			width: 30px;
		}

		#admin {
			background: url(../images/svg/settings.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 30px;
			width: 30px;
		}

		#admin.selected {
			background: url(../images/svg/settings-selected.svg) no-repeat;
			background-size: cover;
		}

		#logout {
			background: url(../images/svg/logout.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 30px;
			width: 30px;
		}
	}

	.metal-dropdown-menu {
		color: $neutralMedium;
		font-family: $primaryFontStack;
		font-size: 15px;
		max-height: 55px;
		transition: color 0.2s $transitionSoft;

		.dropright {
			color: $neutralMedium;

			.caret {
				margin-left: 4px;
			}

			&:focus, &:hover {
				color: $neutralDark;
				text-decoration: none;
			}

			.dropdown-menu {
				min-width: 80px;
				position: fixed;
			}

			li {
				border: 1px solid $neutralLighter;
				text-align: center;

				a {
					color: $neutralDarker;
					cursor: pointer;
					font-size: 18px;
					font-weight: normal;

					&:focus, &:hover {
						color: $neutralDark;
					}
				}
			}
		}
	}

	.upper {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 42%;
		justify-content: space-between;
		margin-top: 20%;
		width: 100%;

		#children {
			background: url(../images/svg/children.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 30px;
			width: 30px;
		}

		#children.selected {
			background: url(../images/svg/children-selected.svg) no-repeat;
			background-size: cover;
		}

		#incidents {
			background: url(../images/svg/incidents-report.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 30px;
			width: 30px;
		}

		#incidents.selected {
			background: url(../images/svg/incidents-report-selected.svg) no-repeat;
			background-size: cover;
		}

		#heatmap {
			background: url(../images/svg/heatmap.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 30px;
			width: 30px;
		}

		#heatmap.selected {
			background: url(../images/svg/heatmap-selected.svg) no-repeat;
			background-size: cover;
		}

		#reports {
			background: url(../images/svg/reports.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 30px;
			width: 30px;
		}

		#reports.selected {
			background: url(../images/svg/reports-selected.svg) no-repeat;
			background-size: cover;
		}

		#watson-logo-link {
			background: url(../images/zoe_logo.png) no-repeat;
			background-size: cover;
			content: '';
			height: 21px;
			margin-bottom: -10px;
			width: 46px;
		}
	}
}

@media print {
	.watson-sidebar-toolbar {
		display: none;
	}
}