.watson-sidebar-toolbar {
	background-color: $lightest;
	border-right: 1px solid $neutralLighter;
	height: 100%;
	position: fixed;
	width: $sidebarToolbarWidth;
	z-index: 1002;

	.lower {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 21%;
		justify-content: space-between;
		width: 100%;
		bottom: 0;
		margin-bottom: 30%;
		position: absolute;

		#admin {
			background: url(../images/svg/settings.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}

		#language-toggle {
			background: url(../images/svg/language-toggle.svg) no-repeat;
			background-size: cover;
			content: '';
			cursor: pointer;
			height: 24px;
			width: 24px;
		}

		#logout {
			background: url(../images/svg/logout.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}
	}

	.metal-dropdown-menu {
		color: $neutralMedium;
		font-family: $primaryFontStack;
		font-size: 15px;
		max-height: 55px;
		transition: color 0.2s $transitionSoft;

		.dropdown {
			color: $neutralMedium;

			.caret {
				margin-left: 4px;
			}

			&:focus, &:hover {
				color: $neutralDark;
				text-decoration: none;
			}

			.dropdown-menu {
				position: fixed;
				min-width: 80px;
			}

			li {
				text-align: center;

				a {
					color: $neutralMedium;
					cursor: pointer;
					font-size: 18px;
   					font-weight: 400;

					&:focus, &:hover {
						color: $neutralDark;
					}
				}
			}
		}
	}

	.selected {
		background-color: gray;
	}

	.upper {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 42%;
		justify-content: space-between;
		margin-top: 20%;
		width: 100%;

		#children-home {
			background: url(../images/svg/children.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}

		#incidents-report {
			background: url(../images/svg/incidents-report.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}

		#map {
			background: url(../images/svg/heatmap.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}

		#reports {
			background: url(../images/svg/reports.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}

		.watson-logo-link {
			background: url(../images/zoe_logo.png) no-repeat;
			background-size: cover;
			content: '';
			height: 21px;
			margin-bottom: -10px;
			width: 46px;
		}
	}

	svg:hover #admin:hover #children-home:hover #incidents-report:hover #language-toggle:hover #logout:hover #map:hover #reports:hover {
		background-color: $neutralDark;
		fill: $darkest;
	}
}

@media print {
	.watson-sidebar-toolbar {
		display: none;
	}
}