.watson-sidebar-toolbar {
	background-color: $lightest;
	border-right: 1px solid $neutralLighter;
	height: 100%;
	position: fixed;
	width: 60px;

	.watson-sidebar-toolbar-content {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		margin-top: 20%;
		width: 100%;

		.watson-logo-link {
			.watson-logo {
				background: url(../images/zoe_logo.png) no-repeat;
				background-size: cover;
				content: '';
				height: 21px;
				width: 46px;
			}
		}
		
		#incidents-report {
			background: url(../images/svg/incidents-report.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}
		
		#children-home {
			background: url(../images/svg/children.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}
		
		#map {
			background: url(../images/svg/heatmap.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}
		
		#reports {
			background: url(../images/svg/reports.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}
		
		#admin {
			background: url(../images/svg/settings.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}
		
		#logout {
			background: url(../images/svg/logout.svg) no-repeat;
			background-size: cover;
			content: '';
			height: 24px;
			width: 24px;
		}
	}

	.watson-toggle {
		&.language-toggle {
			border-left: 1px solid $neutralLighter;
			border-right: 1px solid $neutralLighter;
			margin-right: 15px;
		}
	}
}

@media print {
	.watson-sidebar-toolbar {
		display: none;
	}
}