.translation-form-container {
	margin: 20px 0 80px;
	width: 100%;

	.bottom-bar {
		align-items: center;
		background-color: $lightest;
		border-left: 1px solid $neutralLighter;
		border-radius: 2px;
		border-right: 1px solid $neutralLighter;
		border-top: 1px solid $neutralLighter;
		bottom: 0;
		display: flex;
		height: 70px;
		justify-content: space-between;
		left: calc(((100% - 1260px) / 2) + 350px);
		max-width: 895px;
		padding: 0 45px;
		position: fixed;
		width: 100%;

		.buttons {
			display: flex;
			justify-content: space-around;

			button {
				border-radius: 6px;

				@include default-button;

				font-size: 18px;
				height: 44px;
				margin: 0 15px;
				width: 130px;

				&.disabled, &.disabled:focus, &.disabled:hover {
					border-color: $neutralLighter;
					border-style: dotted;
					color: $neutralLighter;
				}
			}
		}

		.bottom-bar-message {
			color: $neutralMedium;
			font-size: 18px;

			&.failure {
				color: $negativeMedium;
			}

			&.success {
				color: $positiveMedium;
			}
		}
	}

	.file-viewer-container {
		.file-viewer-small-wrapper {
			.file-viewer-small {
				background-position: center;
				background-size: cover;
				border: solid 3px #FFF;
				border-radius: 50%;
				box-shadow: 0 7px 29px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.15);
				content: '';
				cursor: pointer;
				display: block;
				height: 118px;
				overflow: hidden;
				width: 118px;
			}
		}

		.file-viewer-maximized-wrapper {
			background-color: $neutralLightOverlay;
			height: 100%;
			left: 0;
			margin: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 3000;

			.file {
				@include center(both);

				animation: fade-in 0.4s ease-out;
				display: inline-block;
				max-height: inherit;
			}

			.view-port {
				cursor: default;
				display: inline-block;
				height: 100%;
				max-height: 100%;
				max-width: 100%;
				min-height: 250px;
				position: relative;
				text-align: center;
				width: 100%;
			}

			.viewer-close {
				cursor: pointer;
				position: fixed;
				right: 55px;
				top: 10px;
				z-index: 3000;

				.watson-button.close-button {
					background-color: transparent;
					height: 34px;
					position: absolute;
					top: 11px;
					width: 34px;

					&:after {
						content: '\f00d';

						@include fontAwesomeIcon;

						font-size: 14px;
						left: calc(50% - 5px);
						position: absolute;
						top: calc(50% - 10px);
					}

					&:hover:after {
						color: $neutralDark;
					}
				}
			}
		}
	}

	.input {
		display: flex;
		font-size: 16px;
		max-width: 450px;
		padding-bottom: 5px;
		padding-left: 4%;
		position: relative;
		width: 100%;

		&.changed:after {
			background-image: url(../images/svg/input-changed.svg);
		}

		&.error, &.changed.error {
			&:after {
				background-image: url(../images/svg/input-changed-error.svg);
			}
		}

		&.changed, &.error, &.changed.error {
			&:after {
				background-repeat: no-repeat;
				content: '';
				height: 20px;
				width: 20px;
			}

			&.dynamic-select:after {
				left: 520px;
				top: 26px;
			}

			&.textarea:after {
				left: calc(100% - 50px);
			}
		}

		textarea {
			max-width: 350px;
			min-height: 150px;
		}
	}

	.top-bar {
		justify-content: space-around;
		margin-bottom: 10px;

		@include important-text;

		.language-key {
			margin-right: 52%;
		}
	}

	.translation-fields {
		display: flex;
		flex-direction: row;

		&.rich-editor {
			display: block;

			&.input.changed, &.after {
				left: 432px;
			}
		}

		.input-label {
			@include input-label;

			display: block;
			font-size: 16px;
			margin: 5px 0 3px;
			max-width: 200px;
			width: 27%;

			.tooltip-icon {
				background: url(../images/help.png) no-repeat;
				background-size: cover;
				display: inline-flex;
				height: 16px;
				width: 16px;
			}
		}

		.input-data {
			display: flex;
			width: 100%;

			.input-value {
				color: $neutralLighter;
				display: block;
				flex: 1;
				flex-basis: 275px;
				font-family: $primaryFontStack;
				font-size: 16px;
				margin: 3px 0 5px;
				max-width: 275px;
				min-width: 100px;
				width: 100%;
				word-wrap: break-word;
			}

			&.rich-editor {
				.input-value {
					margin-top: 10px;
					max-width: 400px;
					width: 100%;
				}

				&.input.changed, &.after {
					left: 432px;
				}
			}
		}
	}

	.watson-button.primary {
		font-size: inherit;
		height: 57px;
		margin: 10px 0;
		padding: 5px 10px;
		width: 250px;
	}

	.watson-input {
		&.rich-editor {
			@include input-text();

			color: $darkest;
			flex-direction: column;
			justify-content: flex-start;
			max-width: 430px;
			min-height: 520px;
			min-width: 150px;
			padding: 10px;
			width: 100%;
			word-wrap: break-word;

			.ql-snow {
				&.ql-container {
					border-width: 0;
					flex-grow: 1;
					font-size: 14px;
					height: calc(100% - 65px);
					width: 100%;

					.ql-editor {
						padding: 12px 0 0;
					}
				}

				&.ql-toolbar {
					display: flex;
					flex-direction: row;
					max-height: 95px;
					min-height: 65px;
					width: 100%;

					.ql-formats {
						margin-right: 10px;
					}
				}
			}
		}
	}

	p {
		margin: 0;
	}
}