/* ---------- Watson colors ---------- */

$darkest: #000;
$lightest: #FFF;

$neutralDark: #6C7982;
$neutralDarker: #303A40;
$neutralMedium: #93A8AC;
$neutralMediumLighter: #DCDCDC;
$neutralLightOverlay: rgba(165, 178, 183, 0.7);
$neutralLighter: #A0ACB2;
$neutralSubtle: #F5F6F7;

$positiveLight: #A8F9D7;
$positiveMedium: #3FE49F;

$negativeLight: #FFC4C4;
$negativeMedium: #FF7474;

$warningMedium: #FFD700;

$disabledInput: #CCC;
$disabledInputText: #333;

/* ---------- Bezier curves ---------- */

$transitionSoft: cubic-bezier(0.65, 0.42, 0.29, 1.13);

/* ---------- Box shadows ---------- */

$imageViewerShadow: 0 7px 29px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.15);
$mapShadow: 0 7px 49px 0 rgba(0, 0, 0, 0.08), 0 3px 15px 0 rgba(0, 0, 0, 0.07);
$mediumShadow: 0 5px 36px rgba(0, 0, 0, 0.05), 0 5px 23px rgba(0, 0, 0, 0.05);

/* ---------- Font stacks ---------- */

$fontAwesome: FontAwesome-Alloy;
$primaryFontStack: Sans-Serif;

/* ---------- Global sizes ---------- */

$contentHeaderHeight: 163px;

$contentWidth: 1260px;

$horizontalMargin: 84px;

$headerHeight: 80px;

$sidebarWidth: 300px;

$standardBorderRadius: 4px;

/* ---------- Icons ---------- */

$downCaret: '\f0d7';
$leftCaret: '\f0d9';

/* ---------- Z-Index ---------- */

$zIndexHighest: 1000;