@mixin center($direction) {
	display: block;

	@if $direction == vertical or $direction == both {
		position: absolute;
		top: 50%;
	}

	@if $direction == horizontal and $direction != both {
		margin-left: auto;
		margin-right: auto;
	}

	@if $direction == both {
		left: 50%;
		margin-right: -50%;

		@include translate(-50%, -50%);
	}
	@else if $direction == vertical {
		@include translate(0, -50%);
	}
}

/* ---------- Animations ---------- */

@mixin keyframes($name) {
	@-moz-keyframes #{$name} {
		@content;
	}

	@-o-keyframes #{$name} {
		@content;
	}

	@-webkit-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}

@include keyframes(spin-right) {
	100% {
		@include rotate(360deg);
	}
}

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
		transform: translateX(0);
	}

	40% {
		transform: translateX(-30px);
	}

	60% {
		transform: translateX(-15px);
	}
}

/* ---------- Button style ---------- */

@mixin default-button {
	align-items: center;
	background-color: $lightest;
	border: 1px solid $neutralMedium;
	border-radius: $standardBorderRadius;
	color: $neutralMedium;
	display: flex;
	justify-content: center;

	&:focus, &:hover {
		border-color: $neutralDarker;
		color: $neutralDarker;
		text-decoration: none;
	}
}

/* ---------- Overlay style ---------- */

@mixin overlay {
	background-color: $neutralLightOverlay;
	height: 100%;
	width: 100%;
	z-index: 1000;
}

/* ---------- Spinner ---------- */

@mixin spinner($size, $borderWidth) {
	border: $borderWidth solid $neutralLighter;
	border-left-color: $neutralDarker;
	border-radius: 50%;
	height: $size;
	width: $size;

	@include experimental(animation, spin-right 1.5s linear infinite);
}

/* ---------- Text styles ---------- */

@mixin fontAwesomeIcon {
	color: $neutralLighter;
	font-family: $fontAwesome;
	font-size: 15px;
}

@mixin main-header {
	color: $neutralDark;
	font-family: $primaryFontStack;
	font-size: 44px;
	font-weight: 100;
	letter-spacing: 0.12em;
	line-height: 1em;
}

@mixin meta-header {
	color: $neutralMedium;
	font-family: $primaryFontStack;
	font-size: 12px;
	font-weight: 200;
	line-height: 1em;
}

@mixin content-header {
	color: $neutralDarker;
	font-family: $primaryFontStack;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 0.07em;
	line-height: 1.6em;
}

@mixin important-text {
	color: $neutralMedium;
	font-family: $primaryFontStack;
	font-size: 20px;
	font-weight: normal;
}

@mixin input-label {
	color: $neutralLighter;
	font-family: $primaryFontStack;
	font-size: 14px;
	letter-spacing: 0.1em;
}

@mixin input-text {
	color: $neutralMedium;
	font-family: $primaryFontStack;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 0.15em;
	line-height: 1em;
}

@mixin row-header-text {
	color: $neutralDarker;
	font-family: $primaryFontStack;
	font-size: 28px;
	font-weight: 100;
	letter-spacing: 0.1em;
	line-height: 1em;
}

@mixin row-sub-header-text {
	color: $neutralDark;
	font-family: $primaryFontStack;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 0.05em;
	line-height: 1em;
}

@mixin small-info-text {
	color: $neutralMedium;
	font-family: $primaryFontStack;
	font-size: 12px;
	font-weight: 200;
}

@mixin sub-header {
	color: $neutralMedium;
	font-family: $primaryFontStack;
	font-size: 20px;
	font-weight: 200;
	line-height: 1em;
}

/* ---------- Transitions fade in & out ---------- */

.transition-appear {
	opacity: 0;
}

.transition-appear.transition-appear-active {
	opacity: 1;
	transition: opacity 250ms;
}

.transition-enter {
	opacity: 0;
}

.transition-enter.transition-enter-active {
	opacity: 1;
	transition: opacity 250ms;
}

.transition-leave {
	opacity: 1;
}

.transition-leave.transition-leave-active {
	opacity: 0;
	transition: opacity 250ms;
}