<style>
	.page-title-subscribe {
		background: #EEEFEF;
		color: #404040;
		padding: 24px 0;
		text-align: center;
	}

	.page-title-subscribe h2 {
		display: inline-block;
		font-size: 1.1em;
		margin: 0;
		padding: 0 15px 0 0;
	}

	.page-title-subscribe .subscribe-button {
		background: transparent;
		border: 1px solid #404040;
		border-radius: 2px;
		color: #404040;
		display: inline-block;
		font-weight: bold;
		height: auto;
		line-height: 1.5em;
		padding: 5px 15px;
	}

	.page-title-subscribe .subscribe-button:hover {
		background: #404040;
		color: #EEEFEF;
	}
</style>

<div class="page-title-subscribe">
	<div class="max-960">
		<h2 class="subscribe-title">
			$title.data
		</h2>

		<a class="subscribe-button" href="$linkDisplay.linkUrl.data" target="_blank">$linkDisplay.data</a>
	</div>
</div>