$control-menu-level-1-active-border: #1764A8 !default;
$control-menu-level-1-bg: #1764A8 !default;
$control-menu-level-2-bg: #008282 !default;
$control-menu-level-2-label-color: #869CAD !default;
$product-menu-panel-title-active-bg: #E6F2FC !default;