.markdown-content-card-container {
	.content {
		padding: 16px;
	}

	.edit {
		margin-left: 4px;
	}

	.loop-icon-label-container {
		color: $theme;
	}

	.see-more {
		font-size: 13px;
		padding-top: 16px;
	}
}