.post-content-container {
	margin: 36px 0 20px;
	padding: 0 28px;

	.image-viewer-container, .link-preview-container {
		margin-top: 20px;
	}

	.markdown-content-container {
		font-size: 15px;
	}

	.see-more-container {
		display: block;
		margin-top: 12px;
	}
}