<style>
	@media all and (max-width: 720px) {
		.legacy .page-heading p {
			width: 99%;
		}
	}
</style>

<div class="page-heading">
	<h1>
		$headingText.data
	</h1>

	#if ($abstractText.data != "")
		<p>
			$abstractText.data
		</p>
	#end
</div>