.customer-info-label {
	font-size: 18px;
}

.head {
	margin: 0 0 20px 0;

	.buttons {
		position: fixed;
		right: 3%;
	}

	.page-heading {
		font-size: 24px;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		.account-code, .display-id, .partner-code {
			margin-right: 5%;
		}

		.subject {
			font-size: 20px;
			margin-bottom: 10px;
			width: 700px;
		}
	}

	.ticket-severity {
		height: 60px;
		margin-right: 20px;
		width: 8px;
	}
}

.support-phase-label {
	color: #EF000B;
	font-weight: bold;
	text-transform: uppercase;
}