.account-environment-dialog {
	padding: 2em;

	.edit-account-environment {
		input[type=text], select {
			width: calc(100% - 100px);
		}

		select {
			border-radius: 5px;
		}

		.foot-details {
			float: left;
			margin: 20px 0;
			width: 100%;
		}

		.single-line {
			padding: 5px 0;
			width: 100%;
		}

		.txt-b {
			color: $medium-gray;
		}
	}

	.portlet-msg-error, .portlet-msg-info {
		position: inherit;
	}
}

.bulk-edit-dialog {
	.lfr-input-time {
		display: inline-block;
		padding-left: 5px;
	}

	.portlet-msg-error {
		position: inherit;
	}
}

.edit-account-dialog {
	position: fixed;

	.aui-dialog-iframe-bd {
		height: 73vh;
		max-height: 703px;
	}
}

.edit-liferay-ticket-feedback-dialog {
	position: fixed;

	input[type=button] {
		margin-top: 30px;
	}

	input[type=radio] {
		margin-left: 20px;
	}

	.content {
		overflow: auto;
		padding: 0;
		width: 50vw;

		.edit-liferay-ticket-feedback-container {
			margin: 20px;

			textarea {
				padding: 0;
				resize: none;
				width: 100%;

				&.textarea-comments {
					height: 100px;
				}
			}

			.center {
				text-align: center;
			}

			.margin-top-10 {
				margin-top: 10px;
			}

			.margin-top-30 {
				margin-top: 30px;
			}
		}
	}
}

.edit-ticket-dialog {
	position: fixed;

	&.visible {
		transition: opacity 0.5s;
	}

	.content {
		height: 88vh;
		max-height: 874px;
	}
}

.forward-popup {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 11;
}

.forward-popup-wrapper {
	background-color: white;
	border-radius: 4px;
	display: block;
	margin: 0 auto;
	overflow-y: auto;
	padding: 15px;
	position: relative;
	text-align: left;
	top: 120px;
	width: 700px;

	& textarea.body {
		height: 100px;
	}
}

.login-dialog {
	position: fixed;

	.aui-dialog-iframe-bd {
		height: 50vh;
		max-height: 500px;
	}

	.aui-panel-hd {
		display: none;
	}
}

.login-info-dialog {
	left: calc(50vw - 385px);
	margin: 0;
	text-align: center;
	top: 97px;

	.aui-panel-hd {
		display: none;
	}
}

.page-pop-up {
	background: rgba(255, 255, 255, 0.95);
	border: 1px solid $border-color;
	position: fixed;
	text-align: center;
	width: 760px;
	z-index: 2000;

	&.info {
		border: 1px solid $text-color;
	}

	&.urgent {
		border: 1px solid $urgent-border;
	}

	&.warning {
		border: 1px solid $warning-border;
	}

	.close-pop-up {
		background: url(../images/close_pop_up.png) no-repeat center;
		cursor: pointer;
		float: right;
		height: 44px;
		width: 44px;
	}

	.pop-up-content {
		padding: 50px 35px 30px;
	}
}

.solutions-confirm-dialog {
	position: fixed;

	.aui-dialog-content {
		padding: 1.333em;

		.solution-confirm-container {
			.attachments-title {
				display: block;
				width: 100px;
			}

			.solution-confirm-btn {
				font-size: 13px;
			}

			.solution-confirm-btn.btn-no {
				border-color: $urgent;
				color: $urgent;

				&:hover {
					background: $urgent;
					color: #FFF;
				}
			}

			.solution-confirm-comment, .solution-issue-summary {
				background: #FFF;
				border: 1px solid $medium-gray;
				max-height: 250px;
				overflow: auto;

				pre {
					background-color: transparent;
					border-width: 0;
					color: inherit;
					font-family: "Avenir Book";
					white-space: pre-wrap;
				}

				.code {
					background: none repeat scroll 0 0 #FFF;
					border: 1px solid $medium-gray;
					font-family: monospace;
					max-height: 180px;
					overflow-x: auto;
					white-space: pre;
				}

				.code-lines {
					border-right: 1px solid $border-color;
					color: #000;
					margin-right: 5px;
					padding: 0 5px;
				}

				.quote {
					background: url(@theme_image_path@/message_boards/quoteleft.png) no-repeat scroll left top #FFF;
					border: 1px solid $medium-gray;
					padding: 5px 0 0 5px;
				}

				.quote-content {
					background: url(@theme_image_path@/message_boards/quoteright.png) no-repeat scroll right bottom;
					padding: 5px 30px 10px;
				}
			}

			.solution-confirm-message {
				margin-top: 10px;

				.solution-confirm-answer {
					padding-bottom: 1em;

					input.style-a {
						border-color: $hover-blue;
						color: $hover-blue;

						&:hover {
							color: #FFF;
						}
					}
				}

				.solution-confirm-question {
					font-weight: bold;
					padding-bottom: 1em;
				}
			}
		}
	}
}

.tab-view-dialog {
	margin: 20px 20px 0 20px;
	padding-bottom: 10px;

	.details {
		padding-bottom: 50px;
	}

	.portlet-msg-error, .portlet-msg-success {
		display: inherit;
		position: inherit;
	}

	.tab-content {
		padding-top: 15px;
	}

	.tabs {
		border-bottom: 2px solid $medium-gray;
		height: 22px;
		position: relative;

		div {
			height: 100%;
			position: absolute;
			width: 100%;

			span {
				border-bottom: 3px solid transparent;
				color: $medium-gray;
				cursor: pointer;
				display: inline-block;
				font-size: 15px;
				margin: 0 25px 0 0;

				&.first {
					margin: 0 25px 0 0;
				}

				&.selected {
					border-bottom: 3px solid $primary-blue;
					color: $text-color;
				}
			}
		}
	}
}