.lfr-dynamic-uploader {
	.lfr-message-container {
		margin-bottom: 10px;

		.message {
			border: 1px solid;
			border-radius: 5px;
			display: block;
			font-weight: normal;
			padding: 5px 25px;
			text-shadow: 1px 1px #FFF;

			&.error-message {
				background: url(/html/themes/classic/images/messages/error.png) no-repeat 5px $error;
				border-color: $urgent-border;
				color: $urgent-border;
			}

			&.progress-message {
				background: url(@theme_image_path@/application/loading_indicator.gif) no-repeat 5px $dynamic-upload-bg;
				border-color: $text-color;
				color: $text-color;
			}

			&.success-message {
				background: url(/html/themes/classic/images/messages/success.png) no-repeat 5px $dynamic-upload-bg;
				border-color: $text-color;
				color: $pref-toggler;
			}

			&.warn-message {
				background: url(/html/themes/classic/images/messages/info.png) no-repeat 5px $dynamic-upload-bg;
				border-color: $text-color;
				color: $text-color;
			}
		}
	}

	.lfr-upload-container {
		margin-bottom: 0;

		.toolbar {
			.cancel-button {
				background-image: url(@theme_image_path@/common/delete.png);
				display: block;
				height: 16px;
				width: 16px;
			}

			.pause-button {
				background-image: url(@theme_image_path@/aui/pause.png);
				display: block;
				height: 18px;
				width: 18px;
			}

			.progress {
				background: $progress-bg;
				display: block;
				height: 15px;
				width: 0;
			}

			.progress-bar {
				background: #FFF;
				border: 1px solid $progress-border;
				display: block;
				height: 15px;
			}

			.resume-button {
				background-image: url(@theme_image_path@/aui/play.png);
				display: block;
				height: 18px;
				width: 18px;
			}
		}

		.upload-area {
			border: 3px dashed $light-bg;
			margin: 10px 0;
			padding: 5px 0;
			text-align: center;

			&.dragging {
				background-color: $dynamic-upload-bg;
				transform: scale(0.9);
			}

			.drop-file-text {
				font-size: 17.5px;
				font-weight: normal;
			}
		}
	}
}