.canned-response-results .taglib-search-iterator td a {
	color: $error;
}

.component-details {
	input, select {
		margin-bottom: 5px;
		vertical-align: middle;
	}
}

.component-link {
	background-image: url(@theme_image_path@/common/page.png);
	background-repeat: no-repeat;
	margin-left: 10px;
	padding-bottom: 1px;
	padding-left: 20px;

	a {
		font-weight: bold;
		text-decoration: none;
	}
}

.component-message {
	margin: 10px 0;
}

.field-group {
	display: block;
	margin: 1px 0;
	overflow: hidden;
	padding: 4px 0;

	label {
		color: $medium-gray;
		float: left;
		padding: 5px 15px 0 0;
		text-align: right;
		width: 135px;
		word-wrap: break-word;
	}

	textarea {
		margin-top: 5px;
		max-width: 500px;
		width: 100%;
	}

	.field-align {
		margin-left: 150px;
	}

	.field-input-align {
		padding-top: 5px;
	}

	.field-modified {
		color: $text-color;
		font-weight: bold;
	}

	.long-field {
		max-width: 500px;
		width: 100%;

		.aui-field-input-text {
			width: 100%;
		}
	}

	.portlet-msg-error {
		margin: 0 0 5px;
	}
}

.file-list {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	zoom: 1;

	li {
		padding: 0 0 0 3px;

		&.error {
			background: url(@theme_image_path@/images/messages/error.png) no-repeat scroll 6px 50% $error;
			border: 1px solid $error;
			margin-left: 10px;
			padding: 6px 6px 6px 30px;
		}

		&.uploading {
			background: url(../images/uploading.gif) no-repeat 0 3px;
			padding: 0 8px 0 20px;
		}

		.actions {
			float: right;
			padding-left: 1em;
			padding-right: 20px;

			.msg {
				color: $medium-gray;
			}
		}
	}
}

.footnote {
	color: #000;
	float: right;
	font-size: 10px;
}

.ignore-due-date {
	font-weight: bold;
}

.link-type {
	border: 2px solid $hover-blue;
	border-radius: 2px;
	color: $hover-blue;
	font-weight: bold;
	margin-left: 5px;
}

.results-header {
	background: transparent;
	color: $text-color;

	.thread-heading {
		background-color: $text-color;
		color: #FFF;
		font-weight: bold;
		padding: 10px 19px;
	}
}

.results-row a {
	color: $text-color;
}

.ticket-exceptions {
	.portlet-msg-error {
		height: auto;
		white-space: normal;
	}
}

.user-display {
	display: inline-block;
	vertical-align: top;
}