.environment-configurations {
	margin: 0 auto;

	select {
		width: 100%;
	}

	.field-label {
		color: $medium-gray;
	}

	.panel-group {
		margin: 0;
	}

	.portlet-msg-info {
		margin-bottom: 15px;
	}
}