.environment-configurations {
	margin: 0 auto;

	select {
		width: 100%;
	}

	.create-env-button {
		padding-top: 15px;
	}

	.environment {
		border: 1px solid $medium-gray;
		margin-bottom: 20px;
		padding: 15px 15px 40px 15px;

		.configuration {
			margin: 0 5px 5px 5px;
			padding: 0 5px 5px 5px;
		}

		.env-button {
			padding-top: 15px;
		}

		.portlet-msg-info {
			margin-bottom: 15px;
		}
	}

	.field-label {
		color: $medium-gray;
	}

	.product-heading {
		background: #FFF;
		color: $text-color;
		font-size: 1.5em;
		font-weight: bold;
		padding: 20px 0 10px 0;
	}

	.project-heading {
		font-size: 1em;
		font-weight: bold;
		line-height: 1em;
	}
}