.export-menu {
	padding-right: 5px;

	.aui-button-input-export:after {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid $blue;
		content: '';
		display: inline-block;
		height: 0;
		margin-left: 5px;
		vertical-align: middle;
		width: 0;
	}

	.aui-button-input-export:hover:after, .aui-button-input-export:active:after {
		border-top: 4px solid #FFF;
	}

	.disabled {
		text-decoration: none;
	}

	.drop-down-menu {
		display: none;
	}
}

.export-menu.open-drop-down {
	display: inline-block;
	float: right;
	position: relative;

	.drop-down-menu {
		background-color: #FFF;
		border: 1px solid #D0D1D3;
		display: block;
		left: -66px;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 31px;
		width: 150px;
		z-index: 3;

		li a {
			color: #000;
			display: block;
			padding: 5px 10px;
			text-decoration: none;

			&:hover {
				background-color: #00579F;
				color: #FFF;
			}
		}
	}
}