.ticket-filter, .account-filter, .partner-filter {
	background: #FFF;
	height: 230px;
	left: calc(2vw - -80px);
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;

	&.pinned {
		height: 317px;
	}

	.ticket-fade, .account-fade, .partner-fade {
		background: linear-gradient(to bottom, white 2%, rgba(255, 255, 255, 0) 100%);
		height: 20px;
		left: inherit;
		position: inherit;
		right: inherit;
		top: 230px;

		&.pinned {
			height: 10px;
			top: 317px;
		}
	}
}

.ticket-header, .account-header, .partner-header {
	left: calc(2vw - -80px);
	max-height: 120px;
	position: fixed;
	right: calc(23vw - -20px);
	z-index: 3;

	.taglib-icon-help {
		vertical-align: middle;

		img {
			vertical-align: baseline;
		}
	}
}