.manager-dashboard {
	&:after {
		clear: both;
		content: "";
		display: block;
	}

	td.manager-dashboard-col {
		background-color: $manager-dashboard-bg;
		border: 1px solid $hover-blue;
		padding: 0;
		vertical-align: top;

		&.empty {
			background-color: transparent;
			border-width: 0;
		}
	}

	.manager-dashboard-team {
		border-bottom: 1px solid $hover-blue;
		clear: none;
		padding: 12px 12px 24px !important;
		vertical-align: middle;
		width: 214px;

		&.last {
			border-bottom-width: 0;
		}

		.role-icon {
			border-radius: 50%;
			color: #FFF;
			font-size: 9px;
			font-weight: bold;
			padding: 2px 4px;
			padding: auto 7px;

			.developer {
				background-color: $primary-blue;
			}

			.manager {
				background-color: $manager-dashboard-manager;
				padding: 2px 3px 2px 4px;
			}

			.watcher {
				background-color: $manager-dashboard-watcher;
				padding: 2px 3px;
			}
		}

		.switch {
			margin: 8px 0;
			padding: 0;
		}

		.team-title {
			font-size: 14px;
			font-weight: bold;
		}

		.user-name {
			font-size: 13px;
			margin: 0;
			padding: 0;
			text-align: left;
		}
	}
}