.lesa-feedback-modal {
	.lesa-feedback-container {
		margin: 20px;

		textarea {
			resize: none;

			&.comments {
				height: 100px;
			}
		}

		.feedback-msg-error {
			color: $urgent;
			visibility: hidden;

			&.visible {
				visibility: visible;
			}
		}

		.margin-top-30 {
			margin-top: 30px;
		}

		.radio-button {
			margin-left: 20px;
		}
	}

	.modal-body {
		bottom: auto;
		overflow: initial;
	}

	.modal-header {
		border-width: 0;
	}
}