#mainSearchContent input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;

	&::-webkit-search-cancel-button, &::-webkit-search-decoration, &::-webkit-search-results-button, &::-webkit-search-results-decoration {
		-webkit-appearance: none;
	}
}

#toggle_id_account_entry_searchadvanced, #toggle_id_ticket_entry_searchadvanced {
	padding-top: 10px;
}

#toggle_id_account_entry_searchbasic, #toggle_id_partner_entry_searchbasic, #toggle_id_ticket_entry_searchbasic, #toggle_id_ticket_feedback_searchbasic {
	input {
		font: 18px/1.33 Arial;
		height: 32px;
		padding: 1px;

		&.aui-button-input-submit {
			height: 34px;
			width: 160px;
		}

		&.aui-field-input {
			border: 1px solid $border-color;
			margin: 0 20px 0 0;
			width: auto;
		}
	}
}

.advanced-search {
	&.keywords {
		border: 1px solid $border-color;
		border-radius: 0;
		font-size: 18px;
		width: 100%;
	}

	.checkbox, .radio {
		display: inline-table;
		width: 18%;

		label, span {
			cursor: pointer;

			&.active {
				color: $primary-blue;
			}
		}
	}

	.header-checkbox {
		display: inline-table;

		input, label {
			cursor: pointer;
		}
	}

	.search-param {
		color: $medium-gray;
		cursor: pointer;
		margin-right: 20px;

		svg {
			fill: none;
			stroke: $medium-gray;
			stroke-width: 1.5;
		}

		&.active, &.selected {
			color: $primary-blue;

			svg {
				stroke: $primary-blue;
			}
		}
	}

	.search-param-config {
		.search-param-dropdown {
			max-height: 0;
			overflow: hidden;

			&.shown {
				border-bottom: 1px solid $medium-gray;
				max-height: 200px;
				overflow: auto;
				padding: 25px 5px;

				&.account, &.assignee {
					.list {
						float: left;
						margin-top: 5px;

						span {
							background-color: $light-bg;
							border: 1px solid $medium-gray;
							border-radius: 2px;
							cursor: pointer;
							display: inline-block;
							margin: 2px;
							padding: 2px;
							position: relative;

							&:after {
								content: "x";
								line-height: 12px;
								margin-top: -6px;
								position: absolute;
								right: 5px;
								top: 50%;
							}

							&.single {
								cursor: default;

								&:after {
									content: "";
								}
							}
						}
					}
				}

				&.account .list {
					width: calc(100% - 90px);

					span {
						width: 30%;
					}
				}

				&.assignee .list {
					margin: 5px 10px 0 0;
					width: calc(25% - 90px);

					span {
						width: 100%;
					}
				}
			}

			.check-all {
				display: inline-block;
				margin: 0 0 15px;

				input[type="button"] {
					background: none;
					border-width: 0;
					padding: 0 0.5em 0 0;
					text-transform: none;
					vertical-align: baseline;

					&:active, &:focus {
						background: none;
						color: $hover-blue;
						cursor: pointer;
					}

					&:hover {
						background: none;
						color: $hover-blue;
						cursor: pointer;
					}
				}

				&.heading {
					padding: 0 0 0 0.5em;
				}
			}

			.checkbox-text {
				vertical-align: middle;
			}

			.section {
				margin-top: 30px;

				&.first {
					margin-top: 0;
				}
			}
		}
	}

	.tabs div span .count {
		border-bottom-width: 0;
		color: inherit;
		display: inline;
		margin: 0 0 0 5px;
		padding: 0;
		text-transform: none;
	}
}

.auto-complete-container #trigger {
	display: none;
}

.search-results {
	padding-top: 35px;

	.account-column {
		&.code {
			padding-left: 1.5%;
			width: 15%;
		}

		&.partner {
			width: 15%;
		}

		&.project-name {
			width: 25%;
		}

		&.status {
			width: 10%;
		}

		&.support-end-date {
			width: 20%;
		}

		&.tier {
			width: 15%;
		}
	}

	.account-support-end-date, .ticket-created-date, .ticket-due-date, .ticket-last-updated-date {
		color: $text-color;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.detail-view-fade {
		background: linear-gradient(to bottom, white 2%, rgba(255, 255, 255, 0) 100%);
		height: 20px;
		position: absolute;
		width: 100%;
	}

	.partner-column {
		&.first-line-support {
			width: 30%;
		}

		&.name {
			padding-left: 1.5%;
			width: 30%;
		}

		&.status {
			width: 10%;
		}

		&.support-region {
			width: 30%;
		}
	}

	.portlet-msg-info {
		margin-top: 25px;

		&.top {
			margin-top: 66px;
		}
	}

	.results-table {
		margin-top: 20px;
		padding-top: 0;

		&.top {
			margin-top: 78px;
		}
	}

	.search-detail {
		color: $text-color;
		overflow: hidden;
		padding-bottom: 15px;
		padding-top: 15px;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: calc(100% - 10px);
	}

	.search-results-header {
		background: #FFF;
		font-size: 15px;
		font-weight: bold;
	}

	.search-row {
		border: 1px solid $border-color;
		color: $medium-gray;
	}

	.search-title {
		color: $text-color;
		float: left;
		font-weight: bold;
		overflow: hidden;
		padding-bottom: 15px;
		padding-top: 15px;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}

	.taglib-page-iterator .page-links, .taglib-page-iterator .search-results {
		padding-top: 20px;
	}

	.ticket-assignee {
		color: $text-color;
		display: inline-block;
		float: right;
		overflow: hidden;
		padding-bottom: 10px;
		padding-top: 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: calc(100% - 50px);
	}

	.ticket-assignee-wrapper {
		vertical-align: middle;
	}

	.ticket-column {
		&.assignee {
			width: 20%;
		}

		&.created, &.last-updated {
			width: 7%;
		}

		&.files {
			padding-right: 1.5%;
			text-align: right;
			width: 5%;

			img {
				vertical-align: middle;
			}
		}

		&.img {
			text-align: center;
			width: 5%;

			img {
				vertical-align: middle;
			}
		}

		&.number {
			width: 18%;
		}

		&.severity {
			width: 0.5%;
		}

		&.status {
			width: 12%;
		}

		&.subject {
			width: 25.5%;
		}
	}

	.ticket-feedback-column {
		&.assignee {
			width: 12%;
		}

		&.average {
			width: 5%;
		}

		&.created {
			width: 12%;
		}

		&.final-resolution {
			width: 12%;
		}

		&.professionalism {
			width: 12%;
		}

		&.response-time {
			width: 12%;
		}

		&.satisfied {
			width: 7%;
		}

		&.severity {
			width: 0.5%;
		}

		&.technical-knowledge {
			width: 12%;
		}

		&.ticket-number {
			padding-left: 1.5%;
			width: 14%;
		}
	}

	.ticket-img {
		padding: 0;
	}

	.ticket-row {
		border: 1px solid $border-color;
		color: $medium-gray;

		.no-response-needed {
			background-color: $light-bg;
		}

		&.selected {
			background-color: $dynamic-upload-bg;
		}
	}

	.ticket-severity {
		padding: 4px;
		text-align: center;
	}

	.ticket-status {
		color: $text-color;
		overflow: hidden;
		padding-bottom: 15px;
		padding-top: 15px;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
}

.taglib-search-iterator {
	background: none;
	border-width: 0;

	a {
		color: $text-color;
		text-decoration: none;
	}

	td {
		padding: 8px 10px;
	}

	th {
		border-bottom: 1px solid $border-color;
		font-weight: bold;
	}

	.collapsed .col {
		border-bottom: 1px solid $border-color;
	}

	.results-header th.first {
		padding-right: 5px;
	}
}

.taglib-search-toggle {
	padding: 0 10px;
}

.view-liferay {
	.ticket-column {
		&.assignee, &.number {
			width: 18%;

			&.bulk-edit {
				width: 16.5%;
			}
		}

		&.created, &.due-date, &.last-updated {
			width: 7%;
		}

		&.select {
			text-align: center;
			width: 3%;
		}

		&.status {
			width: 10%;
		}

		&.subject {
			width: 22.5%;
		}
	}
}