.solution-confirm {
	font-size: 1.5em;
	font-weight: bold;
	padding: 3px 0;
}

.solution-confirm-btn {
	background: #FFF;
	font-size: 16px;
	margin-right: 5px;
}

.solution-details {
	.file-container {
		border: 1px solid #C5E1EB;
		margin: 5px;
		padding: 5px;

		.hotfix {
			clear: both;
		}
	}

	.link-container {
		margin: 5px;
		padding: 5px;
	}

	.solution-details-comments-container {
		margin-bottom: 15px;
	}
}

.solution-flag {
	display: none;
}