.lfr-panel {
	background-color: $dashboard-bg;
	border-width: 0;
	margin-top: 20px;

	&.lfr-collapsed {
		background-color: transparent;
		border-width: 0;
	}

	&.lfr-collapsible {
		&.info {
			background-color: $info;
			border-bottom: 1px solid $text-color;
		}

		&.urgent {
			background-color: $urgent;
			border-bottom: 1px solid $urgent-border;
		}

		&.warning {
			background-color: $warning;
			border-bottom: 1px solid $warning-border;
		}
	}

	.lfr-panel-button {
		float: none;
		margin-top: 1px;
	}

	.lfr-panel-title {
		margin-left: 25px;
	}

	.lfr-panel-titlebar {
		background: none;
		border-width: 0;
	}

	.support-input-heading {
		padding-top: 20px;
	}
}

.lfr-panel-container {
	border-width: 0;
}

.subscription-messages {
	.lfr-collapsed .lfr-panel-title:after {
		@include transform(rotate(-90deg));
	}

	.lfr-panel, .lfr-panel-title {
		margin: 0;
	}

	.lfr-panel-content {
		padding: 0 2em 1em;
	}

	.lfr-panel-title {
		overflow: hidden;
		padding: 0.5em 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: calc(100% - 2.5em);

		&:after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='512'%20height='512'%20viewBox='0%200%20512%20512'%3E%3Cpath%20d='M256%20384a28.207%2028.207%200%200%200%2019.111-8.272l227.221-227.221c11.058-11.026%2011.058-28.941%200-39.999-11.026-11.058-28.94-11.058-39.999%200L256%20314.841%2049.667%20108.508c-11.059-11.058-28.973-11.058-39.999%200-11.059%2011.058-11.059%2028.972%200%2039.999l227.221%20227.221A28.194%2028.194%200%200%200%20256%20384z'%20fill='currentColor'/%3E%3C/svg%3E");
			background-size: contain;
			content: '';
			height: 8px;
			position: absolute;
			right: 1em;
			top: 50%;

			@include transform(rotate(0));

			width: 8px;
		}
	}

	.lfr-panel-titlebar {
		position: relative;
	}

	.portlet-msg-info {
		display: block;
		margin-top: 2em;
	}

	.section-title {
		padding: 2em 0 1.25em;
	}
}