/* ---------- Banners ---------- */

$error: #FCC;
$info: #A4A4A4;
$urgent: #FF5454;
$urgent-border: #980000;
$warning: #FFC;
$warning-border: #FC0;

/* ---------- Components ---------- */

$comment-type-bg: #98FB98;
$dashboard-bg: #F3FBFE;
$dynamic-upload-bg: #A7CEDF;
$game-plan-comment: #FAEBC8;
$pref-toggler: #1B3A6A;
$progress-bg: #8DB2E3;
$progress-border: #83A8D9;

/* ---------- Main ---------- */

$hover-blue: #2B8CDE;
$light-bg: #E3E4E5;
$medium-gray: #909295;
$primary-blue: #005B96;

$border-color: #D0D1D3;
$text-color: #474A4B;