@import "compass";
@import url(../../../common/css/dialog.css);

$blue: #005B96;
$light-bg: #E3E4E5;
$medium-gray: #909295;
$text-color: #474A4B;

div.table {
	border-collapse: collapse;
	display: table;
	table-layout: fixed;
	width: 100%;

	.row-url, div.row {
		display: table-row;
		width: 100%;
	}

	div.column {
		display: table-cell;
		vertical-align: middle;
	}
}

.aui-tooltip {
	word-wrap: break-word;
}

.osb-portlet-support {
	a.disabled {
		color: #333;
		text-decoration: line-through;
	}

	a.help-link img {
		padding-top: 3px;
	}

	input[readonly="readonly"] {
		border: 2px solid #DFDFDF;
	}

	input[type=button]:disabled {
		background: none repeat scroll 0 0 #EEE;
		border: 1px solid #CCC;
		color: #CCC;
		cursor: default;
	}

	input[type=checkbox] {
		vertical-align: middle;
	}

	pre {
		background-color: transparent;
		border-width: 0;
		color: inherit;
		font-family: "Avenir Book";
		white-space: pre-wrap;
	}

	strong, b, .txt-b {
		font-family: "Avenir Medium";
		font-weight: bold;
	}

	table .inactive td {
		background-color: #FCC;
	}

	textarea {
		margin-top: 10px;
	}

	#toggle_id_account_entry_searchadvanced, #toggle_id_ticket_entry_searchadvanced {
		padding-top: 10px;
	}

	#toggle_id_account_entry_searchbasic, #toggle_id_partner_entry_searchbasic, #toggle_id_ticket_entry_searchbasic, #toggle_id_ticket_feedback_searchbasic {
		input {
			font: 18px/1.33 Arial;
			height: 32px;
			padding: 1px;

			&.aui-button-input-submit {
				height: 34px;
				width: 160px;
			}

			&.aui-field-input {
				border: 1px solid #BBB;
				margin: 0 20px 0 0;
				width: auto;
			}
		}
	}

	.account-additional-info {
		margin: 0 2vw;

		.tabs-details {
			&.pinned {
				left: calc(2vw - -80px);
				margin: 0;
				position: fixed;
				right: calc(2vw - -20px);
				top: 235px;
				z-index: 2;
			}

			span {
				margin: 0 5px;

				.first {
					margin: 0 5px 0 0;
				}
			}
		}

		.tab-content {
			margin-bottom: 20px;

			.tab-content-tab {
				margin-top: 20px;

				&.pinned {
					margin-top: 142px;
				}

				.tab-section {
					border: 1px solid #D0D1D3;
					border-radius: 2px;
					padding: 17px;
				}
			}

			.customer-info {
				.customer-info-display {
					max-width: 100%;
				}

				.customer-info-label {
					color: $medium-gray;
					font-size: 15px;
				}
			}
		}
	}

	.account-calls, .account-projects, .offering-entries {
		.actions {
			border-bottom-width: 0;
			float: right;
		}

		.collapsed.account-environments, .collapsed.account-calls, .collapsed.account-projects {
			display: none;
		}

		.collapsed {
			.down {
				display: block;
			}

			.up {
				display: none;
			}
		}

		.down {
			display: none;
		}

		.empty-environments-message {
			font-style: italic;
			vertical-align: middle;
		}

		.results-header th {
			padding: 0 10px;
		}

		.up {
			display: block;
		}
	}

	.account-environment {
		td {
			padding: 5px;
		}

		.edit-button {
			float: right;
			margin-top: 10px;
		}
	}

	.add-ticket {
		text-align: center;

		.btn {
			line-height: 0.75;
		}
	}

	.arrow-down, .arrow-up {
		&:after {
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			content: '';
			display: inline-block;
			height: 0;
			position: relative;
			vertical-align: middle;
			width: 0;
		}
	}

	.arrow-down:after {
		border-top: 4px solid $text-color;
	}

	.arrow-up:after {
		border-bottom: 4px solid $text-color;
	}

	.attachment .footnote {
		float: none;
	}

	.attachment-text {
		margin: 5px 0;

		input[type='checkbox'] {
			margin: 2px 10px 2px 2px;
		}
	}

	.attachment-download-server {
		float: left;
		text-align: center;
	}

	.attachment-syncing {
		border: 1px solid #F49B45;
	}

	.aui-button-input-reset {
		float: right;
		margin-right: 10px;
	}

	.aui-tabview-list .aui-tab {
		background-color: #FFF;

		& a, & a * {
			color: #383838;
		}

		&.aui-tab-active {
			background-color: $blue;

			& a, & a * {
				color: #FFF;
			}
		}
	}

	.auto-complete-container #trigger {
		display: none;
	}

	.away-message {
		textarea {
			height: 250px;
			width: 500px;
		}
	}

	.away-message-checkbox {
		padding-bottom: 25px;
	}

	.away-message-end-date {
		display: block;
		float: right;
	}

	.away-message-header {
		display: inline;
	}

	.away-message-start-date {
		display: block;
		float: left;
	}

	.away-message-text-area {
		padding-bottom: 25px;
		padding-top: 25px;
	}

	.back-link {
		margin: 10px 0;
	}

	.block {
		display: block;
	}

	.canned-response-results .taglib-search-iterator td a {
		color: #CD171D;
	}

	.child-partners {
		.col-2 {
			width: 30%;
		}

		.results-grid {
			padding-left: 25px;
		}
	}

	.component-details {
		input, select {
			margin-bottom: 5px;
			vertical-align: middle;
		}
	}

	.component-link {
		background-image: url(@theme_image_path@/common/page.png);
		background-repeat: no-repeat;
		margin-left: 10px;
		padding-bottom: 1px;
		padding-left: 20px;

		a {
			font-weight: bold;
			text-decoration: none;
		}
	}

	.component-message {
		margin: 10px 0;
	}

	.create-date {
		float: right;
	}

	.create-ticket {
		color: $medium-gray;
		margin: 0 auto;

		input[type=text], textarea {
			color: #3A3A3A;
			width: calc(100% - 12px);
		}

		select {
			color: #3A3A3A;
			width: 100%;
		}

		span.portlet-msg-info, span.portlet-msg-error {
			position: inherit;
		}

		.btn {
			display: block;
			margin: 0 auto;
		}

		.create-env-button {
			padding-top: 15px;
		}

		.foot-details {
			float: left;
			margin: 20px 0;
			width: 100%;

			.aui-button-input {
				text-transform: none;
			}
		}

		.component-detail-environment {
			padding: 10px;

			.attachment-text .txt-sb {
				color: $medium-gray;
			}

			.environment-detail {
				.env {
					position: relative;

					select {
						margin-left: 50px;
						width: calc(100% - 80px);
					}

					span {
						text-align: right;
					}

					.field-label {
						max-width: 80px;
						position: absolute;
						top: calc(50% - 0.75em);
						width: 45px;
					}
				}
			}
		}

		.dxp-message {
			color: $blue;
			cursor: pointer;
			display: inline-block;
			padding-top: 15px;
		}

		.portlet-msg-error {
			height: auto;
			position: inherit;
			white-space: normal;
		}

		.portlet-msg-info {
			color: $text-color;
		}

		.section-heading {
			color: #3A3A3A;
			font-size: 1em;
			font-weight: bold;
			line-height: 1em;
			padding-top: 15px;

			&.create-ticket-title {
				font-size: 2em;
				text-align: center;
			}
		}

		.ticket-detail {
			.attachment-text .txt-sb {
				color: $medium-gray;
			}

			.common-textarea {
				textarea {
					margin-bottom: 0;
					margin-top: 0;
				}
			}

			.component-details {
				.component-title {
					font-size: 1.5em;
				}

				.file-container {
					padding: 5px 0;
				}
			}
		}

		.txt-sb {
			color: #3A3A3A;
		}
	}

	.customer-info {
		.customer-info-display {
			border: 1px solid #777;
			margin-bottom: 10px;
			max-height: 300px;
			max-width: 730px;
			min-height: 50px;
			overflow: auto;
			word-wrap: break-word;
		}

		input {
			margin-bottom: 10px;
			width: 100%;
		}

		textarea {
			height: 50px;
			margin-bottom: 10px;
			margin-top: 0;
			width: 100%;
			wrap: soft;
		}
	}

	.customer-info-label {
		font-size: 18px;
	}

	.disabled {
		background-color: #CCC;
	}

	.discussion {
		margin: 0 23vw 0 2vw;

		.tab-container {
			display: block;
			height: 35px;
			margin: 45px 0 25px;
			padding: 0;

			.tabs {
				&.pinned {
					left: calc(2vw - -80px);
					margin: 0;
					position: fixed;
					right: calc(23vw - -20px);
					top: 235px;
					z-index: 2;
				}

				span {
					margin: 0 20px;

					.first {
						margin-left: 0;
					}
				}
			}
		}

		.tab-content {
			margin-bottom: 20px;

			.expand-collapse {
				text-align: right;
			}

			.portlet-msg-error {
				height: auto;
				white-space: normal;
			}

			.tab-content-tab {
				margin-top: 20px;
			}
		}
	}

	.double-indent {
		padding-left: 50px;
	}

	.dropdown {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
	}

	.drop-down-arrow {
		display: none;
	}

	.drop-down-menu {
		display: none;
	}

	.dropdown ul a {
		color: #333;
		display: block;
		font-size: 12px;
		font-weight: 700;
		line-height: 32px;
		padding: 0 15px;
		text-decoration: none;
	}

	.dropdown ul li {
		float: left;
		margin: 0;
		padding: 0;
		position: relative;
	}

	.editor {
		margin-top: 10px;

		.body {
			box-sizing: border-box;
		}

		&.edit {
			.edit-icon, .preview-container {
				display: none;
			}
		}

		&.loading .preview-container {
			background-image: url(@theme_image_path@/application/loading_indicator.gif);
			background-position: center center;
			background-repeat: no-repeat;
		}

		&.preview {
			.bb-code-icons {
				a {
					filter: alpha(opacity=40);
					opacity: 0.4;
					pointer-events: none;
				}

				.edit-icon a {
					filter: none;
					opacity: 1;
					pointer-events: auto;
				}
			}

			.body, .preview-icon {
				display: none;
			}
		}

		textarea {
			border: 1px solid #CCC;
			border-radius: 0;
			height: 250px;
			margin-top: 0;
			padding: 5px 10px;
			width: 100%;
		}

		.lfr-toolbar {
			background: transparent;
			position: relative;

			.bb-code-icons {
				position: absolute;
				top: 5px;

				.lfr-button {
					float: none;
				}
			}

			.lfr-button {
				border: 1px solid transparent;
			}
		}

		.preview-container {
			background-color: $light-bg;
			border: 1px solid $medium-gray;
			margin-top: 0;
			padding: 10px;
		}
	}

	.environment-configurations {
		margin: 0 auto;

		select {
			width: 100%;
		}

		.create-env-button {
			padding-top: 15px;
		}

		.environment {
			border: 1px solid $medium-gray;
			margin-bottom: 20px;
			padding: 15px 15px 40px 15px;

			.configuration {
				margin: 0 5px 5px 5px;
				padding: 0 5px 5px 5px;
			}

			.env-button {
				padding-top: 15px;
			}

			.portlet-msg-info {
				margin-bottom: 15px;
			}
		}

		.field-label {
			color: $medium-gray;
		}

		.product-heading {
			background: #FFF;
			color: $text-color;
			font-size: 1.5em;
			font-weight: bold;
			padding: 20px 0 10px 0;
		}

		.project-heading {
			font-size: 1em;
			font-weight: bold;
			line-height: 1em;
		}
	}

	.expired-text {
		color: #EF000B;
		font-weight: bold;
		text-transform: uppercase;
	}

	.export-menu {
		padding-right: 5px;

		.aui-button-input-export:after {
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid $blue;
			content: '';
			display: inline-block;
			height: 0;
			margin-left: 5px;
			vertical-align: middle;
			width: 0;
		}

		.aui-button-input-export:hover:after, .aui-button-input-export:active:after {
			border-top: 4px solid #FFF;
		}

		.disabled {
			text-decoration: none;
		}

		.drop-down-menu {
			display: none;
		}
	}

	.export-menu.open-drop-down {
		display: inline-block;
		float: right;
		position: relative;

		.drop-down-menu {
			background-color: #FFF;
			border: 1px solid #D0D1D3;
			display: block;
			left: -66px;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 31px;
			width: 150px;
			z-index: 3;

			li a {
				color: #000;
				display: block;
				padding: 5px 10px;
				text-decoration: none;

				&:hover {
					background-color: #00579F;
					color: #FFF;
				}
			}
		}
	}

	.field-group {
		display: block;
		margin: 1px 0;
		overflow: hidden;
		padding: 4px 0;

		label {
			color: $medium-gray;
			float: left;
			padding: 5px 15px 0 0;
			text-align: right;
			width: 135px;
			word-wrap: break-word;
		}

		textarea {
			margin-top: 5px;
			max-width: 500px;
			width: 100%;
		}

		.field-align {
			margin-left: 150px;
		}

		.field-input-align {
			padding-top: 5px;
		}

		.field-modified {
			color: #383838;
			font-weight: bold;
		}

		.inline {
			display: inline-block;
		}

		.long-field {
			max-width: 500px;
			width: 100%;

			.aui-field-input-text {
				width: 100%;
			}
		}

		.portlet-msg-error {
			margin: 0 0 5px 0;
		}
	}

	.file-list {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		zoom: 1;

		li {
			padding: 0 0 0 3px;

			&.error {
				background: url(@theme_image_path@/images/messages/error.png) no-repeat scroll 6px 50% #FDD;
				border: 1px solid #F00;
				margin-left: 10px;
				padding: 6px 6px 6px 30px;
			}

			&.uploading {
				background: url(../images/uploading.gif) no-repeat 0 3px;
				padding: 0 8px 0 20px;
			}

			.actions {
				float: right;
				padding-left: 1em;
				padding-right: 20px;

				.msg {
					color: #999;
				}
			}
		}
	}

	.footnote {
		color: #000;
		float: right;
		font-size: 10px;
	}

	.fr {
		.buttons {
			height: 24px;
			position: relative;
			width: 110px;

			a {
				&.btn {
					height: 24px;
					left: 0;
					position: absolute;
					top: 0;
					width: 87px;
					z-index: 1;
				}

				&.hover {
					background: none repeat scroll 0 0 $blue;
					color: #FFF;
				}
			}

			input.upload {
				cursor: pointer;
				filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
				height: 34px;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				width: 110px;
				z-index: 99;
			}
		}
	}

	.head {
		margin: 0 0 20px 0;

		.buttons {
			position: fixed;
			right: 3%;
		}

		.page-heading {
			font-size: 24px;
			margin: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			.account-code, .display-id, .partner-code {
				margin-right: 5%;
			}

			.subject {
				font-size: 20px;
				margin-bottom: 10px;
				width: 700px;
			}
		}

		.ticket-severity {
			height: 60px;
			margin-right: 20px;
			width: 8px;
		}
	}

	.help-edit-display {
		textarea {
			height: 200px;
			overflow: auto;
			resize: none;
			width: 100%;
		}
	}

	.highlight-red {
		color: #F00;
		font-weight: bold;
	}

	.highlighted-flag {
		color: #F00;
		position: relative;
		top: 4px;
	}

	.history {
		a {
			text-decoration: none;
		}

		pre {
			margin: 0;
			padding: 0;
		}

		.audit-entry-set {
			margin: 15px 0;
			overflow: hidden;

			.content {
				margin: 5px;
			}

			.create-date {
				color: #AAA;
				font-size: 12px;
			}

			.summary {
				font-style: italic;
			}

			.user-name {
				float: left;
				margin: 0 0 0 5px;
			}

			.user-profile-image {
				margin-right: 0;

				img {
					height: 20px;
					width: 20px;
				}
			}
		}
	}

	.home-page {
		padding-top: 20px;

		.home-page-topper {
			background: #FFF;
			height: 197px;
			left: 60px;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 1;
		}
	}

	.home-page-banner-margin {
		margin: 30px;
	}

	.home-page-margin {
		margin: 0 30px;
	}

	.hr {
		margin: 18px 0;

		&.pad {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	.icon {
		margin-right: 15px;
	}

	.ignore-due-date {
		font-weight: bold;
	}

	.indent {
		padding-left: 25px;
	}

	.inline {
		display: inline;
	}

	.inline-block {
		display: inline-block;
	}

	.instructions {
		background-color: #FFFFBF;
	}

	.lesa-nav {
		bottom: 0;
		left: 0;
		position: fixed;
		text-align: center;
		top: 60px;
		width: 60px;
		z-index: 12;

		.nav-icon {
			cursor: pointer;
			height: 27px;
			margin: 30px auto;
			position: relative;
			width: 27px;

			&:hover:not(.clicked) .nav-label {
				display: block;
			}

			&:hover svg, &.active svg, &.active.unread svg, &.clicked svg {
				stroke: $blue;
			}

			&.bottom {
				bottom: 0;
				left: 16px;
				margin: 0 0 35px;
				position: absolute;

				&.help-icon {
					margin: 0 0 155px;
				}

				&.lesa-feedback-icon {
					margin: 0 0 92px;
				}

				&.messages-icon {
					margin: 0 0 218px;
				}
			}

			&.unread svg {
				stroke: #F00;
			}

			svg {
				fill: none;
				stroke: $medium-gray;
				stroke-width: 1.5;
			}

			.nav-label {
				background-color: rgba(0, 0, 0, 0.8);
				border-radius: 3px;
				color: #FFF;
				display: none;
				font-size: 16px;
				left: 100%;
				margin-left: 10px;
				margin-top: -13px;
				padding: 3px;
				position: absolute;
				top: 50%;
				white-space: nowrap;
				z-index: 13;

				&:before {
					border-bottom: 3px solid transparent;
					border-right: 4px solid rgba(0, 0, 0, 0.8);
					border-top: 3px solid transparent;
					content: "";
					height: 0;
					left: -4px;
					margin: 0;
					padding: 0;
					position: absolute;
					top: 12px;
					width: 0;
				}
			}

			.nav-submenu {
				background-color: #FFF;
				border: 1px solid $medium-gray;
				cursor: default;
				display: block;
				left: 52px;
				max-height: 80vh;
				outline: none;
				overflow: auto;
				padding: 10px;
				position: absolute;
				top: -22px;
				z-index: 14;

				.arrow {
					border-bottom: 9px solid transparent;
					border-right: 9px solid $medium-gray;
					border-top: 9px solid transparent;
					content: "";
					height: 0;
					left: -9px;
					margin: 0;
					padding: 0;
					position: absolute;
					top: 12px;
					width: 0;
					z-index: 15;

					&:before {
						border-bottom: 8px solid transparent;
						border-right: 8px solid #FFF;
						border-top: 8px solid transparent;
						content: "";
						height: 0;
						left: 1px;
						margin: 0;
						padding: 0;
						position: absolute;
						top: -8px;
						width: 0;
						z-index: 16;
					}
				}

				li {
					color: $medium-gray;
					font-family: "Avenir Medium";
					font-size: 16px;
					list-style-type: none;
					padding: 10px;
					white-space: nowrap;

					a {
						color: $medium-gray;
						display: block;
						text-decoration: none;

						&.active, &:hover {
							color: $text-color;
						}
					}
				}
			}
		}
	}

	.lfr-panel {
		background-color: #D5EFF9;
		border-width: 0;
		margin-top: 20px;

		&.lfr-collapsed {
			background-color: transparent;
			border-width: 0;
		}

		&.lfr-collapsible {
			&.info {
				background-color: #A4A4A4;
				border-bottom: 1px solid #565656;
			}

			&.urgent {
				background-color: #FF5454;
				border-bottom: 1px solid #980000;
			}

			&.warning {
				background-color: #FFC;
				border-bottom: 1px solid #FC0;
			}
		}

		.lfr-panel-button {
			float: none;
			margin-top: 1px;
		}

		.lfr-panel-title {
			margin-left: 25px;
		}

		.lfr-panel-titlebar {
			background: none;
			border-width: 0;
		}

		.support-input-heading {
			padding-top: 20px;
		}
	}

	.lfr-panel-container {
		border-width: 0;
	}

	.lfr-table {
		width: auto;

		tr td, tr th {
			word-break: normal;
		}
	}

	.lfr-toolbar {
		padding: 1px;
		width: 99%;

		.edit-icon a, .preview-icon a {
			float: right;
		}
	}

	.link-type {
		border: 2px solid #00ADEF;
		border-radius: 2px;
		color: #00ADEF;
		font-weight: bold;
		margin-left: 5px;
	}

	.managed-services {
		text-align: center;
	}

	.manager-dashboard {
		&:after {
			clear: both;
			content: "";
			display: block;
		}

		& td.manager-dashboard-col {
			background-color: #F3FBFE;
			border: 1px solid #1BADF2;
			padding: 0;
			vertical-align: top;

			&.empty {
				background-color: transparent;
				border-width: 0;
			}
		}

		& .manager-dashboard-team {
			border-bottom: 1px solid #1BADF2;
			clear: none;
			padding: 12px 12px 24px !important;
			width: 214px;

			&.last {
				border-bottom-width: 0;
			}

			& * {
				vertical-align: middle;
			}

			& .role-icon {
				padding: auto 7px;

				& * {
					border-radius: 50%;
					color: #FFF;
					font-size: 9px;
					font-weight: bold;
					padding: 2px 4px;
				}

				& .d {
					background-color: #0658BA;
				}

				& .m {
					background-color: #0B447C;
					padding: 2px 3px 2px 4px;
				}

				& .w {
					background-color: #3A0092;
					padding: 2px 3px;
				}
			}

			& .switch {
				margin: 8px 0;
				padding: 0;
			}

			& .team-title {
				font-size: 14px;
				font-weight: bold;
			}

			& .user-name {
				font-size: 13px;
				margin: 0;
				padding: 0;
				text-align: left;
			}
		}
	}

	.margin-container {
		margin: 0 30px;
	}

	.multiple-select {
		height: 100px;
	}

	.multiple-ticket-select {
		border: 1px solid #096ABC;
		cursor: pointer;
		display: inline-block;
		height: 30px;
		width: 50px;

		&.open-multiple-ticket-select-menu {
			.multiple-ticket-select-menu {
				background-color: #FFF;
				border: 1px solid #096ABC;
				display: block;
				list-style: none;
				margin: -8px 0 0 -1px;
				padding: 0;
				position: absolute;
				z-index: 3;

				li {
					padding: 5px;

					&:hover {
						background-color: $blue;
						color: #FFF;
					}
				}
			}
		}

		div {
			display: inline-block;
		}

		.multiple-ticket-checkbox {
			border: 1px solid #096ABC;
			height: 10px;
			margin: 10px 5px 10px 10px;
			width: 10px;
		}

		.multiple-ticket-checkmark {
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			display: inline-block;
			height: 21px;
			transform: rotate(45deg);
			width: 21px;

			.checkmark-kick {
				background-color: #096ABC;
				height: 3px;
				left: 0;
				position: absolute;
				top: 12px;
				width: 3px;
			}

			.checkmark-stem {
				background-color: #096ABC;
				height: 9px;
				left: 2px;
				position: absolute;
				top: 6px;
				width: 3px;
			}
		}

		.multiple-ticket-select-menu {
			display: none;
		}

		.multiple-ticket-triangle {
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 10px solid #096ABC;
			height: 0;
			margin: 0 0 11px 0;
			width: 0;
		}
	}

	.open-drop-down {
		display: inline-block;

		.drop-down-arrow {
			background-color: transparent;
			border: 14px solid #D0D1D3;
			border-left: 18px dashed transparent;
			border-right-width: 0;
			border-top-width: 0;
			display: block;
			height: 0;
			line-height: 0;
			padding: 0;
			position: absolute;
			right: -1px;
			top: -14px;
			width: 0;

			div {
				background-color: transparent;
				border-bottom: 12px solid #FFF;
				border-left: 16px dashed transparent;
				bottom: -14px;
				height: 0;
				line-height: 0;
				margin: 0;
				padding: 0;
				position: absolute;
				right: 1px;
				width: 0;
			}
		}

		.drop-down-menu {
			background-color: #FFF;
			border: 1px solid #D0D1D3;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
			display: block;
			list-style: none;
			margin: 16px 0 0 0;
			padding: 0;
			position: absolute;
			right: 15px;
			top: 100%;
			white-space: nowrap;
			z-index: 1;

			ul {
				margin: 0;
				padding: 0;

				li {
					list-style: none;

					a {
						color: #000;
						display: block;
						font-family: "Avenir Book";
						padding: 5px 10px;
						text-decoration: none;

						&:hover {
							background-color: $blue;
							color: #FFF;
						}
					}
				}
			}

			&.ticket-search {
				z-index: 3;
			}
		}
	}

	.open-ticket {
		background-color: #F6F6F6;
		color: #818386;

		.ticket-title a {
			color: #818386;
		}
	}

	.overlay {
		background-color: #333;
		display: block;
		opacity: 0.3;
		pointer-events: none;
		position: absolute;
		z-index: 10;

		& div {
			color: #FFF;
			display: block;
			font-size: 16px;
			font-style: italic;
			font-weight: bold;
			margin: 0 auto;
			text-align: center;
			width: 470px;
		}
	}

	.page-title {
		background: #FFF;
		color: $text-color;
		font-size: 2em;
		font-weight: bold;
		line-height: 1em;
		margin-top: 20px;
		padding-bottom: 10px;
		text-align: center;
		width: 100%;
		z-index: 2;

		&.fixed {
			margin-top: 0;
			position: fixed;
			width: calc(100% - 160px);
		}
	}

	.partner-entry-row {
		padding-bottom: 20px;
	}

	.pending {
		line-height: 36px;
	}

	.portlet-section-header {
		color: $text-color;
		text-decoration: none;
	}

	.results-header {
		background: transparent;
		color: $text-color;

		.thread-heading {
			background-color: $text-color;
			color: #FFF;
			font-weight: bold;
			padding: 10px 19px;
		}
	}

	.results-row a {
		&, & * {
			color: #383838;
		}
	}

	.screen-share-mode-description {
		margin-bottom: 3px;

		td {
			border: 1px solid #D0D1D3;
			font-size: 13px;
		}
	}

	.section-heading {
		color: #3A3A3A;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5em;
		padding-top: 15px;

		&.steps {
			font-size: 24px;
		}
	}

	.section-title {
		background: #FFF;
		font-size: 18px;
		font-weight: bold;
		position: relative;

		a {
			color: $text-color;
		}

		&.other {
			z-index: 2;
		}

		&.pinned, &.top {
			left: 0;
			margin-left: 110px;
			margin-right: 50px;
			margin-top: 0 !important;
			position: fixed;
			right: 0;
		}

		&.top {
			padding-top: 70px;
			z-index: 1;

			&.banner-top {
				top: 105px;
			}

			&.normal-top {
				top: 70px;
			}
		}
	}

	.separator {
		border-top: 1px dotted #BFBFBF;
		clear: both;
	}

	.show-more-button {
		margin-left: 2vw;
		padding-top: 20px;
	}

	.sidebar {
		background-color: $light-bg;
		height: 60%;
		overflow: auto;
		padding: 20px;
		position: fixed;
		right: 3%;
		top: 230px;
		width: 15%;
		z-index: 2;

		.section {
			margin: 0 0 30px;

			&.last {
				margin: 0;
			}

			select {
				font-size: 11px;
			}

			.heading {
				font-family: "Avenir Medium";
				font-size: 18px;
				margin: 0 0 15px;
			}

			.sub-section {
				color: $medium-gray;
				margin: 0 0 15px;

				&.last {
					margin: 0;
				}

				.footnote {
					color: #999;
				}

				.txt-sb {
					color: $text-color;
				}
			}
		}
	}

	.single-line {
		clear: both;
		display: block;
		padding: 5px 0;
		width: 100%;
	}

	.solution-confirm {
		font-size: 1.5em;
		font-weight: bold;
		padding: 3px 0;
	}

	.solution-confirm-btn {
		background: #FFF;
		font-size: 16px;
		margin-right: 5px;
	}

	.solution-details {
		.file-container {
			border: 1px solid #C5E1EB;
			margin: 5px;
			padding: 5px;

			.hotfix {
				clear: both;
			}
		}

		.link-container {
			margin: 5px;
			padding: 5px;
		}

		.solution-details-comments-container {
			margin-bottom: 15px;
		}
	}

	.solution-flag {
		display: none;
	}

	.sub-header {
		margin-right: -20px;

		div {
			display: inline-block;
		}

		.segment {
			color: $medium-gray;
			margin: 0 10px;

			&.first {
				margin-left: 0;
			}

			&.last {
				margin-right: 0;
			}

			select {
				font-size: 11px;
			}

			.ticket-img {
				vertical-align: middle;
			}

			.txt-sb {
				color: $text-color;
			}
		}

		.spacer {
			background: $medium-gray;
			border-radius: 2.5px;
			display: inline-block;
			height: 5px;
			vertical-align: middle;
			width: 5px;
		}
	}

	.support-phase-label {
		color: #EF000B;
		font-weight: bold;
		text-transform: uppercase;
	}

	.tab-view {
		&.details {
			margin: 0 23vw 0 2vw;
			padding-top: 175px;
			word-break: break-all;

			&.account, &.partner {
				margin: 0 2vw;

				.tabs {
					right: calc(2vw - -20px);
				}
			}

			.tabs {
				left: calc(2vw - -80px);
				position: fixed;
				right: calc(23vw - -20px);
				top: 150px;
				z-index: 2;
			}

			.tab-content {
				padding: 0;
				width: 100%;
				word-break: normal;
				word-wrap: break-word;

				&.truncated {
					height: 500px;
					overflow: hidden;
				}

				.attachments, .links {
					border: 1px solid;
					border-color: #D0D1D3;
					border-radius: 2px;
					margin: 0 0 20px 0;
					padding: 10px;

					td {
						border: none !important;
					}

					.aui-button-input, .btn {
						text-transform: none;
					}

					.download-all {
						padding: 10px;
						text-align: right;
					}
				}

				.lfr-search-container {
					td {
						border-bottom: 1px solid #BABEC1;
						padding-left: 0;
					}
				}

				.solution-confirm-container {
					.attachments-title {
						display: block;
						width: 100px;
					}

					.solution-confirm-btn {
						font-size: 13px;
					}

					.solution-confirm-btn.btn-no {
						border-color: #EF000B;
						color: #EF000B;

						&:hover {
							background: #EF000B;
							color: #FFF;
						}
					}

					.solution-confirm-comment, .solution-issue-summary {
						background: #F9F9F9;
						border: 1px solid #777;
						max-height: 250px;
						overflow: auto;

						pre {
							background-color: transparent;
							border-width: 0;
							color: inherit;
							font-family: "Avenir Book";
							white-space: pre-wrap;
						}

						.code {
							background: none repeat scroll 0 0 #FFF;
							border: 1px solid #777;
							font-family: monospace;
							max-height: 180px;
							overflow-x: auto;
							white-space: pre;
						}

						.code-lines {
							border-right: 1px solid #CCC;
							color: #000;
							margin-right: 5px;
							padding: 0 5px;
						}

						.quote {
							background: url(@theme_image_path@/message_boards/quoteleft.png) no-repeat scroll left top white;
							border: 1px solid #777;
							padding: 5px 0 0 5px;
						}

						.quote-content {
							background: url(@theme_image_path@/message_boards/quoteright.png) no-repeat scroll right bottom;
							padding: 5px 30px 10px;
						}
					}

					.solution-confirm-message {
						margin-top: 10px;
						text-align: center;

						.solution-confirm-question {
							font-weight: bold;
							padding-bottom: 1em;
						}

						.solution-confirm-answer {
							padding-bottom: 1em;

							input.style-a {
								border-color: #1BAAE1;
								color: #1BAAE1;

								&:hover {
									color: #FFF;
								}
							}
						}
					}
				}
			}
		}

		.portlet-msg-error, .portlet-msg-info, .portlet-msg-success {
			display: inherit;
			position: inherit;
		}

		.tabs {
			border-bottom: 2px solid $medium-gray;
			height: 35px;
			margin: 45px 0 25px 0;
			padding: 0;
			position: relative;

			div {
				bottom: -3px;
				height: 100%;
				margin: 0;
				padding: 0;
				position: absolute;
				width: 100%;

				span {
					border-bottom: 3px solid transparent;
					color: $medium-gray;
					cursor: pointer;
					display: inline-block;
					font-size: 16px;
					margin: 0 20px;
					padding: 4px 2px;

					&.first {
						margin: 0 20px 0 0;
					}

					&.notification {
						background-color: $blue;
						border-radius: 50%;
						border-width: 0;
						bottom: 3px;
						display: inline-block;
						height: 7px;
						margin: 0;
						padding: 0;
						position: relative;
						width: 7px;
					}

					&.selected {
						border-bottom: 3px solid $blue;
						color: #383838;
					}

					&.selected.highlight-red {
						color: #F00;
					}
				}

				.bulk-edit-toggle {
					right: 0;
					width: auto;

					span {
						margin: 0;
					}
				}
			}
		}

		.tabs-details {
			position: fixed;
			top: 150px;
			z-index: 2;
		}
	}

	.three-dot {
		display: inline-block;
		height: 32px;
		position: relative;
		text-align: right;
		vertical-align: middle;
		width: 30px;

		.three-dot-icon {
			cursor: pointer;
			display: block;
			height: 32px;
			position: absolute;
			right: 0;
			width: 30px;

			span {
				border: 2px solid #383838;
				border-radius: 50%;
				height: 0;
				position: absolute;
				right: 13px;
				width: 0;
			}
		}

		&.attachment-link, &.comment-menu {
			float: right;
			font-size: 14px !important;
			height: 21px;

			.three-dot-icon {
				height: 21px;

				span {
					border: 1px solid #383838;
					right: 14px;
				}
			}
		}
	}

	.ticket-comment {
		clear: both;
		padding: 10px 5px;

		&.comment-scroll {
			background-color: #EEF7FF;
			border-radius: 3px;
		}

		.comment-text-container {
			float: left;
			width: calc(100% - 70px);

			.comment-body {
				margin: 10px 0;
			}

			.permalink {
				float: right;
			}

			.post-date {
				color: #8D9093;
				font-family: "Avenir Medium";
			}

			.user-name span {
				color: $blue;
				font-family: "Avenir Medium";
				font-size: 16px;
			}
		}
	}

	.ticket-exceptions {
		.portlet-msg-error {
			height: auto;
			white-space: normal;
		}
	}

	.ticket-feedback {
		textarea {
			height: 150px;
			width: 99%;
		}
	}

	.ticket-filter, .account-filter, .partner-filter {
		background: #FFF;
		height: 230px;
		left: calc(2vw - -80px);
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;

		&.pinned {
			height: 317px;
		}

		.ticket-fade, .account-fade, .partner-fade {
			background: linear-gradient(to bottom, white 2%, rgba(255, 255, 255, 0) 100%);
			height: 20px;
			left: inherit;
			position: inherit;
			right: inherit;
			top: 230px;

			&.pinned {
				height: 10px;
				top: 317px;
			}
		}
	}

	.ticket-header, .account-header, .partner-header {
		left: calc(2vw - -80px);
		max-height: 120px;
		position: fixed;
		right: calc(23vw - -20px);
		z-index: 3;

		.taglib-icon-help {
			vertical-align: middle;

			img {
				vertical-align: baseline;
			}
		}
	}

	.toggle-on-off-switch {
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		position: relative;
		text-align: center;
		width: 50px;

		.toggle-on-off-switch-ctrl {
			border-radius: 2px;
			cursor: pointer;
			display: block;
			overflow: hidden;
			transition: border 0.3s ease-in 0s;

			&.on {
				border: 1px solid #1BADF2;
			}

			&.off {
				border: 1px solid #1B3A6A;
			}

			&:hover.on {
				border: 1px solid #1B3A6A;
			}

			&:hover.off {
				border: 1px solid #1BADF2;
			}

			&:hover.on .toggle-on-off-switch-inner {
				margin-left: -100%;
			}

			&:hover.off .toggle-on-off-switch-inner {
				margin-left: 0;
			}

			&.on .toggle-on-off-switch-inner {
				margin-left: 0;
			}
		}

		.toggle-on-off-switch-inner {
			-moz-transition: margin 0.3s ease-in 0s;
			-o-transition: margin 0.3s ease-in 0s;
			-webkit-transition: margin 0.3s ease-in 0s;
			display: block;
			font-size: 11px;
			line-height: 10px;
			margin-left: -100%;
			transition: margin 0.3s ease-in 0s;
			width: 200%;

			& * {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				display: block;
				float: left;
				padding: 3px 6px;
				text-align: center;
				width: 50%;
			}

			& .toggle-on-off-switch-on {
				background-color: #1BADF2;
				border-right: 8px solid #FFF;
				color: #FFF;
				text-transform: uppercase;
			}

			& .toggle-on-off-switch-off, & .toggle-on-off-switch-on-pto {
				background-color: #FFF;
				border-left: 8px solid #1B3A6A;
				color: #1B3A6A;
				padding-left: 2px;
				padding-right: 2px;
				text-transform: uppercase;
			}

			& .toggle-on-off-switch-off {
				font-size: 9px;
			}

			& .toggle-on-off-switch-on-pto {
				font-size: 8px;
			}
		}
	}

	.txt-sb, .txt-sb * {
		font-family: "Avenir Medium";
	}

	.type-solution {
		background-color: #98FB98;

		.solution-flag {
			display: block;
		}
	}

	.user-avatar {
		background: no-repeat center;
		background-size: cover;

		@include border-radius(50%);

		display: inline-block;
		height: 50px;
		margin: 0 8px;
		padding: 0;
		vertical-align: middle;
		width: 50px;

		&.assignee {
			height: 30px;
			margin: 5.5px 8px;
			width: 30px;
		}

		&.audit {
			display: inline-block;
			height: 20px;
			margin: 0;
			width: 20px;
		}
	}

	.user-display {
		display: inline-block;
		vertical-align: top;

		* {
			vertical-align: top;
		}
	}

	.view-liferay {
		.ticket-column {
			&.assignee, &.number {
				width: 18%;

				&.bulk-edit {
					width: 16.5%;
				}
			}

			&.created, &.due-date, &.last-updated {
				width: 7%;
			}

			&.select {
				text-align: center;
				width: 3%;
			}

			&.status {
				width: 10%;
			}

			&.subject {
				width: 22.5%;
			}
		}
	}

	.visibility-liferay {
		background-color: #E0F8F7;
	}

	.visibility-workers {
		background-color: #FFC;
	}
}

.portal-popup .portlet-msg-info {
	top: inherit;
}

.info {
	background-color: #A4A4A4;
	color: #FFF;
}

.urgent {
	background-color: #FF5454;
	color: #FFF;
}

.warning {
	background-color: #FFC;
	color: #000;
}

/* ---------- Media queries ---------- */

@media all and (max-width: 965px) {
	.responsive {
		#main-content {
			padding: 20px 0 0 0;
		}
	}
}

@media all and (max-width: 720px) {
	.osb-portlet-support .ticket-results .support-input-column {
		display: block;
		float: left;
		width: 100%;
	}
}

/* ---------- IE ---------- */

.ie7, .ie8 {
	.osb-portlet-support .ticket-results {
		.support-input-column, .ticket-description {
			display: block;
			float: left;
		}

		.ticket-information {
			float: none;
		}
	}
}

/* ---------- Extras ---------- */

.osb-portlet-support {
	#toggle_id_account_entry_searchbasic, #toggle_id_partner_entry_searchbasic, #toggle_id_ticket_entry_searchbasic, #toggle_id_ticket_feedback_searchbasic input, .temp-flag {
		@include border-radius(2px);
	}

	.unselectable {
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
	}
}