[$USER_FULL_NAME$] has requested an extension of their DXP trial access.

<h2>User Information</h2>
Email Address: [$USER_EMAIL_ADDRESS$]<br />
Company: [$ACCOUNT_ENTRY_NAME$]<br />
Country: [$USER_COUNTRY$]<br /><br />

To view more information about this user's trial dates, go to <a href="[$LICENSE_URL$]">this page</a>. You can approve their trial extension request by navigating to the activation key page and clicking on the "Renew" button. Upon renewal, [$USER_FULL_NAME$] will receive an email with the extended activation key.<br /><br />

If you do not have the required permissions to view this page, please contact your manager.<br /><br />

Sincerely,<br />
The Liferay Team