<h2>Activate Your Trial Now!</h2>

Thanks for your interest in Liferay. We are excited to help you get started.<br /><br />

First, in order to start your Liferay Digital Experience Platform (DXP) trial, be sure you're running a Liferay instance on your machine. If you haven't already, <a href="https://web.liferay.com/digital-experience-platform/30-day-trial" />download a bundle now</a>.<br /><br />

Once you've initialized your Liferay instance, you'll need your activation key (attached). The trial activation is limited to 5 concurrent sessions and is intended for use on a local developer workstation.<br /><br />

To install, place the attached activation XML file in the Liferay deploy directory and allow the server to auto-deploy it.<br /><br />

<a href="https://www.liferay.com/resource?title=how-to-deploy-a-dxp-activation-key">Watch a video tutorial now.</a><br /><br />

Enjoy the trial, and reach out to <a href="mailto:hello@liferay.com">hello@liferay.com</a> if you have any questions.<br /><br />

Sincerely,<br />
The Liferay Team