/* ---------- Global ---------- */

/* ---------- General ---------- */

.marketplace-transactions {
	margin-bottom: 20px;

	.taglib-header {
		border: none;

		.header-title {
			color: #3A3A3A;
			font-size: 36px;
			font-weight: normal;
			margin: 0;
		}
	}

	h2 {
		color: #3A3A3A;
		font-size: 22px;
		font-weight: normal;
		margin: 1em 0 .5em;
	}
}

/* ---------- App entry icon ---------- */

.marketplace-transactions .app-details {
	margin: 0;
	width: 100%;

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		.title {
			font-weight: bold;
		}
	}

	.icon, .info {
		display: inline-block;
		vertical-align: top;

		img.small {
			display: block;
			height: 70px;
			margin-right: 5px;
			width: 70px;
		}
	}
}

/* ---------- Table ---------- */

.marketplace-transactions table {
	thead tr, .results-header {
		background: transparent;
		border-bottom: 1px solid #CCC;
		border-top: 1px solid #CCC;

		&:hover {
			background: transparent;
		}
	}

	th {
		color: #7B7C7F;
		font-weight: bold;
	}

	tr:hover {
		background: #F9FAFA;
	}

	td, th {
		padding: 5px 10px;
	}

	.results-header {
		background: none;
	}

	.results-row a {
		text-decoration: none;
	}
}

/* ---------- Page ---------- */

/* ---------- View ---------- */

.marketplace-transactions.view {
	.icon {
		display: inline-block;

		img {
			height: 18px;
			width: 18px;
		}
	}

	.results-grid {
		font-size: .9em;
	}
}

/* ---------- Export ECDocumentEntry ---------- */

.marketplace-transaction.export-ec-document-entry {
	.button-row {
		padding-top: 20px;
	}
}

/* ---------- View ECDocumentEntry ---------- */

.marketplace-transactions.view-ec-document-entry {
	table {
		.col-1 {
			width: 75px;

			input {
				width: 45px;
			}
		}

		.col-3, .col-4 {
			width: 125px;
		}

		&.totals .col-3 {
			color: #7B7C7F;
			font-weight: bold;
		}
	}

	.app-details {
		margin-bottom: 3em;
	}

	.document-details {
		font-size: .9em;
		margin: 1em 0;

		strong {
			color: #7B7C7F;
		}

		span {
			margin-right: 1em;
		}
	}
}