$product-menu-collapse-icon-bg: #1764A8;
$product-menu-header-bg: #1764A8;
$product-menu-header-border: #E4E9ED;
$product-menu-list-group-heading-color: #1764A8;
$product-menu-nav-link-active-color: #1764A8;
$product-menu-nav-link-color: #1764A8;
$product-menu-panel-body-bg: #F4F9FD;
$product-menu-panel-sticker-bg: #D4E7F9;
$product-menu-panel-sticker-color: #145691;
$product-menu-panel-title-active-bg: #E6F2FC;
$product-menu-panel-title-active-border: #1764A8;
$product-menu-panel-title-color: #1764A8;
$product-menu-site-administration-color: #1764A8;
$product-menu-tree-active-border: #1764A8;
$product-menu-tree-active-color: #1764A8;
$product-menu-tree-active-hitarea-bg: #1764A8;
$product-menu-tree-border: #1764A8;
$product-menu-tree-border-width: 2px;
$product-menu-tree-child-border: #1764A8;
$product-menu-tree-color: #1764A8;
$product-menu-tree-hitarea-bg: #1764A8;