@import "compass";

$appEntryPadding: 1.4em;
$carouselHeight: 475px;
$carouselWidth: 760px;
$sideMargins: 2.85em;
$viewAppEntryListMarginTopBottom: 5px;
$viewAppEntryMarginTopBottom: 15px;
$viewAppEntryVersionHistoryWidth: 18%;

$carouselRatio: $carouselHeight / $carouselWidth;
$viewAppEntryListButtonMarginTopBottom: $viewAppEntryListMarginTopBottom + 4;

/* ---------- Mixins ---------- */

@mixin shared-app-entry-style() {
	.app-heading {
		margin-bottom: $viewAppEntryMarginTopBottom;
		min-height: 90px;

		.icon {
			float: left;
			margin: 0 20px $viewAppEntryMarginTopBottom 0;
			width: 90px;
		}

		.title {
			word-break: break-word;

			h1 {
				font-size: 2.5em;
				font-weight: bold;
				margin: 0;
			}

			.owner {
				font-size: 1.2em;
			}

			.owner a {
				font-size: 1.2em;
				text-decoration: none;
			}
		}
	}

	.app-footer {
		clear: both;

		.app-footer-content.loading-animation {
			padding-bottom: 1em;
		}

		.customer {
			.heading {
				font-size: 1.2em;
				font-weight: bold;
			}

			.my-review {
				.entry .post {
					border-bottom: 1px solid #CCC;
					margin: .75em 0;

					.content p {
						word-wrap: break-word;
					}
				}

				.form {
					textarea {
						height: 100px;
						width: 100%;
					}

					.asset {
						display: inline-block;
						float: left;
					}

					.aui-legend {
						font-size: .85em;
						margin-bottom: .75em;
					}

					.aui-field-content {
						margin-bottom: 9px;
					}

					.content {
						float: left;
						margin-right: .7em;
					}
				}
			}
		}
	}
}

@mixin responsive-carousel-height($height) {
	@media (max-width: $height) {
		.marketplace .view-app-entry {
			.asset-carousel .aui-carousel-item, .carousel-container {
				height: $carouselRatio * $height;

				img {
					max-height: $carouselRatio * $height;
				}
			}
		}
	}
}

/* ---------- Global ---------- */

body .marketplace {
	font-size: 14px;
}

.ltr.responsive .portlet-column .portlet-column-content {
	padding: 0 !important;
}

/* ---------- General ---------- */

.marketplace {
	h3 {
		font-size: 1em;
		font-weight: bold;
		margin: 10px 0 0;
	}

	table {
		thead tr, .results-header {
			background: transparent;
			border-bottom: 1px solid #CCC;
			border-top: 1px solid #CCC;

			&:hover {
				background: transparent;
			}
		}

		th {
			color: #7B7C7F;
			font-weight: bold;
		}

		tr:hover {
			background: #F9FAFA;
		}

		td, th {
			padding: 5px 10px;
		}

		.results-header {
			background: none;
		}
	}

	.actions .taglib-flags .icon {
		vertical-align: top;
	}

	.asset, .featured {
		ul {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}

	.asset {
		margin: 0;

		ul {
			position: absolute;

			.btn {
				font-size: .7em;
				margin-top: 2px;
				padding: 1px 5px;
			}

			.title {
				font-weight: bold;
				word-wrap: break-word;
			}
		}

		.item {
			display: inline-block;
			margin: 0 15px;
			width: 195px;
		}
	}

	.aui-button-input, .marketplace .btn {
		padding: 5px 10px;

		&.disabled, &.price {
			background: none;
			border: 1px solid #939598;
			color: #939598;

			&:hover {
				background: #939598;
				color: #FFF;
			}
		}
	}

	.callout-b-head {
		zoom: 1;

		a {
			font-size: .85em;
			text-decoration: none;
		}

		.title {
			display: block;
			font-size: 1em;
			line-height: 1.5em;
			margin: 0;
		}
	}

	.callout-e {
		border: 1px solid #D0D1D3;
		border-radius: 0 0 2px 2px;
		border-top-width: 0;
	}

	.container {
		padding-bottom: .75em;
	}

	.featured, .item {
		.icon img {
			height: 90px;
			width: 90px;
		}
	}

	.featured {
		display: inline;
		margin: 0 auto;

		img {
			margin-bottom: 9px;
		}

		.info {
			text-align: center;
			width: 135px;
		}
	}

	.item .icon {
		display: inline-block;

		img.small {
			display: block;
			height: 70px;
			margin-right: 5px;
			width: 70px;
		}
	}

	.info {
		color: #908E91;
	}

	.lfr-panel-container {
		border: none;
	}

	.loading-animation {
		background: transparent url(@theme_image_path@/application/loading_indicator.gif) no-repeat 50% 50%;
		min-height: 16px;
	}

	.pseudo-portlet-content {
		clear: right;
		padding: 17px;
		zoom: 1;

		&:after {
			clear: both;
			content: "";
			display: block;
			height: 0;
		}
	}

	.required .aui-field-label:after, .purchase-type .aui-legend:after, .legal-name label .taglib-icon-help:before {
		content: " * ";
	}
}

/* ---------- Page ---------- */

/* ---------- App entries display ---------- */

.app-entries-display {
	margin: 0 auto;
	max-width: 960px;
	padding-top: 2.14em;

	.app-entries-display-header {
		margin: 0 0 20px 0;

		a {
			text-decoration: none;

			h2 {
				&:hover {
					color: #DD5F13;
				}
			}
		}

		h2 {
			color: #257;
			font-size: 1.5em;
			font-weight: normal;
		}

		.see-all a {
			float: right;
			padding-top: 5px;
			text-decoration: none;
		}
	}
}

/* ---------- App entry display ---------- */

.app-entry-display {
	display: inline-block;
	vertical-align: top;

	.app-entry {
		box-sizing: border-box;
		display: inline-block;
		height: 15em;
		vertical-align: top;
		width: 185px;

		&.app-entry-featured {
			height: 290px;
			margin-bottom: 20px;
			width: 475px;

			.description {
				height: 70px;
				margin: 10px 0;
				overflow-y: hidden;
				width: 440px;
			}

			.icon img {
				height: 90px;
				width: 90px;
			}
		}

		&.app-entry-list {
			height: 100px;
			margin: 0 0 2em;
			width: 960px;

			.images, .info, .description {
				display: inline-block;
				vertical-align: top;
			}

			.images img {
				height: 90px;
				margin-right: 10px;
				width: 90px;
			}

			.info {
				margin-right: 10px;
				margin-top: 0;
				width: 190px;
			}

			.description {
				height: 90px;
				margin: 0;
				overflow: hidden;
				width: 650px;
			}
		}

		&.app-entry-tile {
			height: 100%;
			padding-right: $appEntryPadding;

			.description {
				height: 70px;
				margin: 10px 0;
				overflow: hidden;
			}
		}

		&.app-entry-featured-theme, &.app-entry-tile-theme {
			height: 100%;
			margin-bottom: 25px;
			width: 475px;

			.images {
				border: 1px solid #E7E7E7;
				height: 272px;
				position: relative;
				width: 435px;

				.screen-capture img {
					max-height: 272px;
					max-width: 435px;
				}

				.icon {
					border: 2px solid #E7E7E7;
					bottom: 10px;
					left: 10px;
					position: absolute;
				}
			}
		}

		.icon {
			display: block;

			img {
				display: block;
				height: 70px;
				width: 70px;
			}
		}

		&.app-entry-tile-theme .icon img {
			background: #FFF;
		}

		.info {
			color: #908E91;
			list-style: none;
			margin: 5px 0 0 0;
			padding: 0;

			.title {
				font-weight: bold;
				max-height: none;
			}

			.category {
				font-style: italic;
			}
		}

		.btn.price {
			font-size: .7em;
			padding: 1px 5px;
		}
	}
}

/* ---------- App entry review ---------- */

.marketplace.app-entry-reviews {
	.rating .aui-rating-element {
		display: inline-block;
		float: none;
		margin-right: -3px;
	}

	.user-review-action {
		float: right;

		&.active {
			background: #F49B45;
			color: #FFF;
		}
	}

	.average-score {
		margin-bottom: 17px;
	}

	.user-review {
		background: #EEE;
		margin: 0 -17px 17px;
		padding: 17px;

		textarea {
			height: 100px;
			width: 99.9%;
		}

		.aui-button-holder {
			margin-top: 1em;
		}
	}

	.reviews {
		.post {
			margin-bottom: 2em;
		}
	}
}

/* ---------- App entry search ---------- */

.marketplace.app-entry-search-results {
	margin: 0 auto;
	max-width: 960px;
	padding: 30px 0;

	.display-controls {
		margin-bottom: 20px;

		.display-control-tile, .display-control-list {
			display: inline-block;
			height: 30px;
			margin-right: 10px;
			width: 30px;
		}

		.display-control-tile {
			background: url('../images/tile_icon.png') no-repeat top left;

			&:hover, &.selected {
				background: url('../images/tile_icon_selected.png') no-repeat top left;
			}
		}

		.display-control-list {
			background: url('../images/list_icon.png') no-repeat top left;

			&:hover, &.selected {
				background: url('../images/list_icon_selected.png') no-repeat top left;
			}
		}
	}

	.taglib-search-iterator-page-iterator-bottom {
		margin: 0 auto;
		max-width: 960px;
	}
}

/* ---------- App entry TCO ---------- */

.marketplace .app-entry-tco {
	margin: 0 auto;
	padding: 1em 0;
	width: 750px;

	.chart, .legend {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
	}

	.chart {
		height: 270px;
		max-width: 800px;
		width: 270px;

		svg {
			overflow: visible !important;

			text {
				font-size: .8em;
			}

			.renewal-cost {
				fill: #1B3A6A !important;
			}

			.three-year-total-cost {
				fill: #F5A11D !important;
			}
		}

		.yui3-categoryaxis svg, .yui3-numericaxis {
			display: none;
		}

		.yui3-categoryaxis {
			border-top: 2px solid #E3E4E5;
			margin-top: 1em;
		}
	}

	.legend {
		padding: 0 1em;
		width: 475px;

		.keys ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li span {
				vertical-align: middle;

				&.key {
					display: inline-block;
					height: 15px;
					width: 15px;

					&.perpetual {
						background-color: #3C90CE;
					}

					&.subscription {
						background-color: #1B3A6A;
					}
				}
			}
		}

		.description ul {
			padding: 0 0 0 1.5em;
		}
	}
}

/* ---------- Change country ---------- */

.marketplace.change-country {
	padding: 50px 0 30px;
	text-align: center;

	a {
		font-weight: bold;
	}

	.country {
		color: #939598;
		font-weight: bold;
	}
}

/* ---------- Error ---------- */

.marketplace.error {
	margin: 0 auto;
	width: 960px;

	h1 {
		color: #223156;
		font-size: 2.28em;
	}

	p {
		color: #41444F;
		font-size: 1.14em;
	}

	.comic {
		text-align: center;
	}
}

/* ---------- Purchase app entry ---------- */

.marketplace.purchase-app-entry {
	margin: 0 auto;
	width: 960px;

	.purchase-heading {
		margin-bottom: 20px;

		.purchase-title {
			font-size: 2.5em;
			font-weight: normal;
			margin: 0 0 .5em;
		}

		.purchase-breadcrumbs {
			border-bottom: 1px solid #BABEC2;
			display: block;
			list-style: none;
			margin: 0 0 20px 0;
			padding: 0 0 10px 0;
			text-align: left;
			vertical-align: top;

			li {
				display: inline-block;
				vertical-align: middle;

				.purchase-breadcrumb {
					display: block;
					font-size: .7em;
					font-weight: bold;
					text-align: center;
					text-decoration: none;
					width: 50px;
				}

				.sprite {
					background: url('../../images/marketplace_breadcrumbs_sprite.png') no-repeat top left;
					height: 32px;
					margin: 0 auto;
					width: 32px;

					&.arrow {
						background-position: 0 -192px;
						height: 7px;
						width: 20px;
					}
				}

				.purchase-breadcrumb {
					&.active {
						color: #828383;

						.license {
							background-position: 0 -199px;
						}

						.project {
							background-position: 0 0;
						}

						.destination {
							background-position: 0 -487px;
						}

						.summary {
							background-position: 0 -583px;
						}
					}

					&.current {
						color: #1F2020;

						.account {
							background-position: 0 -32px;
						}

						.license {
							background-position: 0 -231px;
						}

						.project {
							background-position: 0 -32px;
						}

						.destination {
							background-position: 0 -519px;
						}

						.summary {
							background-position: 0 -615px;
						}
					}

					&.inactive {
						color: #BABEC2;
						cursor: default;

						.license {
							background-position: 0 -263px;
						}

						.project {
							background-position: 0 -64px;
						}

						.destination {
							background-position: 0 -551px;
						}

						.summary {
							background-position: 0 -647px;
						}
					}
				}
			}
		}

		.license-terms {
			margin: 0;
		}

		.asset .item {
			margin: 0;
		}
	}

	.purchase-body {
		input[type='text'] {
			border: 1px solid #BABEC2;
			border-radius: 2px;
			padding: 0 2px;
		}

		.accept-contract .aui-field-content {
			display: table;

			.aui-field-element {
				display: table-cell;
				width: 20px;
			}
		}

		.aui-button-holder {
			margin-top: 20px;
		}

		.card-container {
			margin: 1em -1em 1em 0;

			.card {
				display: inline-block;
				margin: 0 10px 40px 0;
				vertical-align: top;
				width: 170px;

				.aui-button .aui-button-input, .card-action .btn {
					box-sizing: border-box;
					width: 100%;
				}

				.aui-button {
					display: block;
					padding-bottom: .75em;
				}

				.card-body {
					border: 1px solid #D1D2D4;
					border-radius: 3px;
					height: 230px;
					margin-bottom: 1em;
					overflow: hidden;
					padding: 5px 10px;

					.name {
						font-weight: bold;
					}
				}

				&.selected .card-action .btn {
					background: #F4F4F4 url(../images/check.png) no-repeat 10px 50%;
					border: 1px solid #CECED0;
					color: #6D6E71;
				}
			}
		}

		.cart {
			display: inline-block;
			width: 700px;

			.aui-button-holder {
				margin: 0 15px;
				text-align: center;

				.aui-button-input-submit {
					border: 1px solid #BABEC2;
					color: #908E91;
					font-size: 13px;
					padding: 4px 8px;

					&:hover {
						background-color: #BABEC2;
						color: #FFF;
					}
				}
			}

			.cart-title {
				font-weight: bold;
				margin-bottom: .5em;

				img {
					margin-right: 5px;
				}
			}

			.fr {
				padding-right: 1em;
			}

			table {
				td {
					vertical-align: top;
				}

				.col-1 .description {
					color: #908E91;
					font-size: 12px;
				}

				.col-2 {
					width: 75px;

					input {
						width: 25px;
					}

					.quantity {
						display: inline-block;
						width: 33px;
					}
				}

				.col-3, .col-4 {
					width: 125px;
				}

				&.totals {
					background: #F7F7F7;
					border-radius: 2px;
					margin: 1.5em 0;

					.col-3 {
						color: #7B7C7F;
						font-weight: bold;
					}
				}
			}

			.results-row {
				&:hover .remove-item {
					visibility: visible;
				}

				.remove-item {
					background: url(../images/remove.png) no-repeat 50% 50%;
					padding-left: 25px;
					text-decoration: none;
					visibility: hidden;
					white-space: nowrap;
				}
			}

			.vat-number {
				display: block;
				font-size: .85em;
				font-weight: normal;
			}
		}

		.payment-options {
			background: #EEF8FD;
			border-radius: 2px;
			display: inline-block;
			margin: 27px 0 0 10px;
			padding: 10px 20px;
			vertical-align: top;
			width: 205px;

			.payment-method-radio .aui-choice-label {
				color: #7B7C7F;
				font-weight: normal;
			}

			.aui-field-text {
				.aui-field-content {
					margin: 3px 0 0 22px;

					.disabled {
						background: #F8F8F8;
						color: #BBB;
					}
				}

				.aui-field-label {
					color: #908E91;
					font-size: 10px;
				}
			}

			.payment-method-paypal-icon {
				margin-left: 20px;
				width: 175px;
			}

			.contract-entries {
				border-top: 1px solid #CCC;
				margin: 20px 0;
			}

			.aui-button-submit {
				display: block;
				text-align: center;

				.aui-button-input {
					padding: 5px 75px;
				}
			}
		}

		.asset-receipt-license-table {
			thead {
				border-bottom: 1px solid #BABEC2;
				border-top: 1px solid #BABEC2;
			}

			th, td {
				padding: 2px 0;
			}

			.first {
				padding-left: 15px;
			}

			.license-expiration, .license-type-allotment, .support-expiration {
				text-align: center;
			}

			.usage-type {
				text-align: left;
			}
		}

		.aui-choice-label, .owner-radio {
			font-weight: bold;
		}

		.aui-field-content {
			margin: 10px 0 0 0;
		}

		.aui-field-disabled label, .aui-field-help, .aui-select-note {
			color: #908E91;
		}

		.aui-select-note {
			display: block;
			margin-left: 21px;

			.lfr-table {
				margin-top: 5px;
			}
		}
	}

	.purchase-type .aui-field-input-select {
		min-width: 66%;
	}
}

/* ---------- Purchase app entry license ---------- */

.marketplace.purchase-app-entry .purchase-app-entry-license {
	h3 {
		margin-bottom: 10px;
	}

	.add-license-btn {
		margin: 2px;
	}

	.asset-receipt-license-table {
		margin-bottom: 30px;
	}

	.inventory-message {
		margin-bottom: 20px;
	}

	.purchase-type-radio {
		font-weight: bold;
	}

	.aui-select-note {
		margin-bottom: 20px;
	}

	.license-table-container {
		table {
			.col-1 {
				color: #4C4C4E;
				font-weight: bold;
				width: 150px;
			}

			.col-2 {
				width: 75px;

				input {
					width: 45px;
				}
			}

			.col-3 {
				width: 120px;
			}
		}
	}
}

/* ---------- Purchase app entry project ---------- */

.marketplace.purchase-app-entry .purchase-app-entry-project {
	.resale-checkbox label {
		font-weight: normal;
	}

	.card {
		&.new-project .card-body {
			background: url(../images/circle_plus.png) no-repeat 50% 50%;
		}

		&.user .card-body {
			background: #F0F9FE;
		}

		&.disabled.user .card-body {
			background: #EEE;
			cursor: auto;
		}

		.card-body {
			cursor: pointer;

			.licenses {
				color: #908E91;
				font-size: .85em;
				margin: 1em 0;

				.type {
					color: #000;
				}
			}
		}
	}

	.contract-entries {
		margin: 1em 0;

		.accept-contract .aui-choice-label {
			font-weight: normal;
		}
	}
}

/* ---------- Purchase app entry destination ---------- */

.marketplace.purchase-app-entry .purchase-app-entry-destination {
	.edit-address-fields {
		display: table;
		width: 100%;

		.edit-address-field-column {
			display: table-cell;
			width: 50%;

			input, select {
				width: 250px;
			}

			.aui-field-element {
				display: block;
				height: 20px;
			}
		}
	}

	.card {
		&.new-address .card-body {
			background: url(../images/circle_plus.png) no-repeat 50% 50%;
		}

		.card-body {
			cursor: pointer;
			position: relative;

			.edit {
				bottom: 5px;
				position: absolute;
				text-decoration: none;
			}
		}
	}
}

/* ---------- Purchase app entry end user ---------- */

.marketplace.purchase-app-entry .purchase-app-entry-end-user {
	h3 {
		color: #257;
		font-size: 1.1em;
	}

	.end-user-contact-information {
		display: inline-block;
		vertical-align: top;

		input[type='text'] {
			width: 250px;
		}

		.aui-field-choice label {
			font-weight: normal;
		}
	}
}

/* ---------- Purchase app entry summary ---------- */

.marketplace.purchase-app-entry .purchase-app-entry-summary {
	.accept-contract .aui-choice-label {
		font-weight: normal;
	}

	.card {
		margin: 0 2em 0 0;
		width: 210px;

		.card-heading {
			font-weight: bold;
			margin-bottom: 5px;

			span {
				font-size: .7em;
				font-weight: normal;
				margin-left: .5em;

				a {
					text-decoration: none;
				}
			}
		}

		.card-body {
			.address-content, .licenses {
				margin: 1em 0;
			}

			.licenses {
				color: #908E91;
				font-size: .85em;

				.type {
					color: #000;
				}

				.license span, .support span {
					font-weight: bold;
				}
			}
		}
	}

	.contract-entries .legal-entity-name .aui-field-content {
		margin-left: 20px;
	}
}

/* ---------- Purchase app entry social office EE purchase form ---------- */

.marketplace.purchase-app-entry .so-ee-license-fields {
	table {
		width: 100%;
	}

	tr {
		&.results-row {
			border: none;
			font: 11px/1.5 Arial,Helvetica,sans-serif;
		}

		.aui-field-content {
			margin: 0;
		}

		.aui-field-input-choice {
			margin-right: 1em;
		}
	}
	.email, .address {
		.aui-field-content .aui-field-input-text {
			width: 100%;
		}
	}

	.city-postal .aui-field-content .aui-field-input-text, .country-state .aui-field-content .aui-field-input-menu, .name .aui-field-content .aui-field-input-text {
		width: 99%;

		@include box-sizing(border-box);
	}
}

/* ---------- Report abuse ---------- */

.marketplace.report-abuse {
	margin: 0px;

	.aui-button-holder {
		margin-top: 15px;
	}
}

/* ---------- Search ---------- */

.marketplace.search {
	.search-header {
		border-bottom: 1px solid #EEE;
		text-align: center;

		h1 {
			color: #257;
			font: 2.5em/1.5 Arial, Helvetica, sans-serif normal;
			padding: 20px 0;
		}

		.category, .license-type, .liferay-version {
			display: inline-block;
			padding: 0 30px 30px;

			h3 {
				color: #257;
				font: 1.5em/1.5 Arial, Helvetica, sans-serif normal;
			}
		}
	}

	.doc-search-input {
		width: 180px;
	}

	.taglib-search-iterator-page-iterator-bottom {
		margin: 0 auto;
		max-width: 960px;
	}
}

/* ---------- Search form ---------- */

.marketplace.search-form {
	margin: 30px auto;
	max-width: 960px;

	.category, .liferay-version {
		.aui-field-input-select {
			width: 175px;
		}
	}

	.keywords, .category, .liferay-version, .license-type, .search-button {
		display: inline-block;
		padding: 10px 10px 10px 0;
		vertical-align: bottom;

		label {
			font-size: .7em;
			font-weight: normal;
		}
	}

	.search-button {
		padding-right: 0;
	}

	.keywords input {
		background: url(../images/search_icon.png) no-repeat 1px 50%;
		border-color: #AAA;
		border-style: solid;
		border-width: 0 0 2px 0;
		font-size: 1.5em;
		padding: 0 0 0 25px;
		width: 380px;
	}
}

/* ---------- View ---------- */

.marketplace.view {
	.banner {
		height: 190px;
		margin: 0 auto;
		max-width: 960px;
		padding-bottom: 0;

		.banner-carousel {
			.aui-carousel-item a {
				display: block;
				height: 175px;
				width: 960px;

				@include border-radius(5px);
			}

			menu {
				bottom: 9px;
			}
		}
	}

	.new-and-interesting {
		background: #EEE;
	}

	.asset-category {
		border-top: 1px solid #EEE;
	}

	.weekly-stats {
		background: #EEF8FD;
		padding: $sideMargins;

		.app-entries-weekly-stats {
			margin: 0 auto;
			max-width: 960px;
			padding: 30px 0;

			.weekly-stats-head {
				margin: 0 0 20px 0;

				h2 {
					color: #257;
					font-size: 1.5em;
					font-weight: normal;
				}

				.btn {
					background: url(../images/twitter.png) no-repeat 5px;
					border-color: #009AD6;
					color: #009AD6;
					float: right;
					font-size: .7em;
					padding: 3px 3px 3px 20px;

					&:hover {
						background-color: #009AD6;
						color: #FFF;
					}
				}
			}

			.weekly-stats-body {
				.new-apps, .updated-apps {
					display: inline-block;
					vertical-align: top;
					width: 270px;

					h3 {
						margin: 0;
					}

					ul {
						list-style: none;
						margin: 0 0 1em;
						padding: 0;

						.title {
							display: block;
							font-weight: bold;
						}
					}
				}

				.weekly-stats-graph {
					display: inline-block;

					.metric-graph {
						height: 70px;
						margin-top: 20px;
						width: 300px;

						.yui3-axis {
							display: none;
						}
					}

					.weekly-stats-graph-info {
						font-size: .7em;
						margin-bottom: 15px;
					}

					.weekly-stats-info {
						text-align: center;

						.weekly-downloads, .weekly-views {
							display: inline-block;
							text-align: center;
							width: 45%;

							.callout-f, .callout-f-head {
								border: 1px solid #31A837;
							}

							.callout-f {
								@include border-radius(0 0 2px 2px);

								border-top-width: 0;
							}

							.callout-f-head {
								@include border-radius(2px 2px 0 0);

								color: #31A837;
							}
						}

						.weekly-views {
							.callout-f, .callout-f-head {
								border-color: #F5A11D;
								margin-left: 10px;
							}

							.callout-f-head {
								color: #F5A11D;
							}
						}
					}
				}
			}
		}
	}
}

/* ---------- View app entry ---------- */

.marketplace.view-app-entry {
	margin: 0 auto;
	width: 960px;

	.app-body {
		clear: both;
		margin-bottom: $viewAppEntryMarginTopBottom;

		.side-bar {
			float: right;
			margin-bottom: 20px;
			width: 180px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			li {
				margin-bottom: $viewAppEntryListMarginTopBottom;
			}

			.purchase .btn {
				margin-bottom: $viewAppEntryListButtonMarginTopBottom;
				width: 100px;
			}

			.app-links, .app-meta-data {
				a {
					text-decoration: none;
				}
			}

			.app-links {
				li div {
					padding-left: 22px;
				}

				.developer-website {
					background: url(../../images/website.png) no-repeat scroll 2px;
				}

				.demo-website {
					background: url(../../images/demo.png) no-repeat scroll 2px;
				}

				.documentation-website {
					background: url(../../images/documentation.png) no-repeat scroll 2px;
				}

				.license-agreement {
					background: url(../../images/license.png) no-repeat scroll 2px;
				}

				.reference-website {
					background: url(../../images/documentation.png) no-repeat scroll 2px;
				}

				.report-abuse {
					background: url(../../images/report.png) no-repeat scroll 2px;
				}

				.source-code {
					background: url(../../images/source_code.png) no-repeat scroll 2px;
				}

				.support {
					background: url(../../images/support.png) no-repeat scroll 2px;
				}
			}

			.side-bar-heading {
				margin-top: $viewAppEntryMarginTopBottom;
			}

			.pricing {
				span {
					display: block;
				}

				.price {
					color: #888;
				}
			}
		}

		.details {
			margin-right: 200px;

			.app-disclaimers {
				border-bottom: 1px solid #BABEC2;
				border-top: 1px solid #BABEC2;
				margin-bottom: $viewAppEntryMarginTopBottom;
				padding: .75em .5em 0;

				.info-item {
					list-style: none;
					margin-bottom: .75em;
					padding: 2px 1px 0 24px;

					&.deprecated {
						background: url(../images/deprecated.svg) no-repeat;
						background-size: 2.5%;
					}

					&.ee-only {
						background: url(../images/ee_only.png) no-repeat 0 2px;
					}

					&.employee-disclaimer {
						background: url(../images/disclaimer.png) no-repeat 0 2px;
					}

					&.labs {
						background: url(../images/labs.png) no-repeat 0 2px;
					}

					&.security {
						background: url(../images/security.png) no-repeat 0 2px;
					}

					&.security-disabled {
						background: url(../images/security_disabled.png) no-repeat 0 2px;
					}

					&.support {
						background: url(../images/support.png) no-repeat 0 2px;
					}
				}
			}

			.carousel-container {
				height: $carouselHeight + 16px;

				.asset-carousel {
					.aui-carousel-item {
						background: #FFF;
						height: $carouselHeight;
						text-align: center;
						width: 100%;

						img {
							margin: 0 auto;
							max-height: $carouselHeight;
							max-width: $carouselWidth;
							text-align: center;
						}
					}
				}
			}

			.changelog, .description {
				margin-bottom: 2em;

				ul {
					padding: 0 0 0 2em;
				}

				.jira-issue {
					overflow: hidden;
					white-space: nowrap;
				}
			}

			.changelog ul {
				list-style: none;
				padding: 0;
			}
		}

		.rating {
			display: inline-block;
			margin-bottom: 23px;
		}

		.tab-nav.container {
			margin: 8px 0 18px;
		}
	}

	@include shared-app-entry-style();
}

.marketplace.aui-image-viewer-arrow {
	top: 450px !important;
}

.marketplace.view-app-entry-image-viewer {
	top: 150px !important;
}

/* ---------- View app entry security manager ---------- */

.marketplace .pacl .aui-field-content {
	margin-bottom: 18px;
}

/* ---------- View app entry receipt ---------- */

.marketplace.view-app-entry-receipt {
	margin: 0 auto;
	width: 960px;

	.button-container {
		margin-top: 25px;
	}

	.receipt-title {
		border-bottom: 1px solid #BABEC2;
		color: #1A4265;
		font-family: "CartoGothicStd", Arial, sans-serif;
		font-size: 2.5em;
		font-weight: normal;
		margin: 0 0 20px 0;
		padding: 8px 0;
	}

	.section-title {
		color: #1A4265;
		font-family: Gothic,Arial,Helvetica,sans-serif;
		font-size: 1.4em;
		font-weight: normal;
		margin: 0;
		padding: 8px 0;
	}
}

/* ---------- View app entry version history ---------- */

.marketplace .version-history {
	.body {
		ul {
			list-style: none outside none;
			padding: 0;
		}

		li {
			border-bottom: 1px solid #CCC;
		}

		.change-log a {
			color: #444;
		}
	}

	.change-log, .date-added, .supported-framework-versions, .version-name {
		display: inline-block;
		padding: 5px 0;
		vertical-align: top;
	}

	.change-log, .date-added {
		width: $viewAppEntryVersionHistoryWidth;
	}

	.change-log-content {
		margin-left: 10px;
		padding-left: $viewAppEntryVersionHistoryWidth;

		li {
			border: none;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	.heading {
		border-bottom: 1px solid #CCC;
		color: #7B7C7F;
	}

	.supported-framework-versions {
		width: ($viewAppEntryVersionHistoryWidth * 2);
	}

	.version-name {
		margin-left: 10px;
		width: $viewAppEntryVersionHistoryWidth;
	}
}

/* ---------- View category ---------- */

.marketplace.view-category {
	.featured-apps {
		background: #EEE;
		padding: $sideMargins;
	}

	.image-banner {
		text-align: center;
	}
}

/* ---------- View resale project options ---------- */

.marketplace.view-resale-project-options {
	.header-title {
		color: #257;
		font-size: 1.5em;
		font-weight: normal;
		margin: 20px 5px 10px;
	}

	.resale-option {
		border: 1px solid #D1D2D4;
		border-radius: 3px;
		color: #6D6E71;
		display: inline-block;
		font-weight: bold;
		height: 230px;
		padding: 5px 10px;
		text-decoration: none;
		width: 170px;

		&.new-project {
			background: url(../images/circle_plus.png) no-repeat 50% 60%;
			margin: 0 0 0 20px;
		}

		&.existing-project {
			background: url(../images/circle_continue.png) no-repeat 50% 60%;
		}

		&:hover {
			background-color: #D1D2D4;
			color: #000;
		}
	}

	.resale-options {
		margin-top: 30px;
		text-align: center;
	}
}

/* ---------- Edit app entry review ---------- */

.marketplace.edit-app-entry-review {
	margin: 0 auto;
	width: 960px;

	@include shared-app-entry-style();
}

/* ---------- Browser ---------- */

/* ---------- IE ---------- */

.ie6 .marketplace #asset-carousel .carousel-container {
	height: 300px;
}

.ie7, .ie8 {
	.featured, .item, .item .icon {
		float: left;
	}

	.featured .icon {
		float: none;
	}
}

.ie8 .marketplace .app-entry-search-results .app-entry-display {
	display: block;
	float: left;
}

.ie {
	.marketplace .company-name, .marketplace .legal-name, .public-page .marketplace .legal-name, .public-page .marketplace .company-name {
		input:disabled, select:disabled {
			background-color: #CCC;
			border-color: #EEE;
		}
	}

	.public-page .marketplace {
		.company-name select:disabled, .legal-name input:disabled {
			background-image: none;
		}
	}
}

/* ---------- Mobile ---------- */

@media (max-width: 960px) {
	.marketplace {
		margin: 0 $sideMargins;

		.featured-apps, .most-viewed-in-the-past-month, .new-and-interesting {
			padding: $sideMargins;
		}
	}
}

/* ---------- App entry search ---------- */

@media (max-width: 960px) {
	.marketplace.app-entry-search-results .app-entry-display .app-entry-list {
		padding-bottom: $appEntryPadding;
		width: 100%;

		.description {
			width: 50%;
		}
	}
}

@media (max-width: 670px) {
	.marketplace.app-entry-search-results .app-entry-display {
		.app-entry {
			margin: 0;

			&.app-entry-list {
				height: 100%;

				.description {
					display: block;
					margin-top: 1em;
					width: 100%;
				}
			}
		}
	}
}

/* ---------- Front page ---------- */

@media (max-width: 960px) {
	.marketplace.view {
		menu {
			display: none;
		}

		.app-entries-display .app-entry {
			height: 100%;
			padding-bottom: $appEntryPadding;
		}

		.app-entries-weekly-stats-chart {
			margin: 0 -45px;

			.yui3-cartesianchart {
				left: 0;
				margin: auto;
				right: 0;
			}
		}

		.banner {
			height: 100%;

			.aui-carousel {
				width: 100% !important;

				.aui-carousel-item a {
					height: 100%;
					width: 100%;

					img {
						width: 100%;
					}
				}
			}
		}

		.view-app-entry, .weekly-stats {
			box-sizing: border-box;
			padding: $sideMargins;
			width: 100%;
		}

		.weekly-stats .app-entries-weekly-stats .weekly-stats-body .weekly-stats-graph {
			display: block;
		}
	}
}

@media (max-width: 640px) {
	.marketplace.view .banner.container {
		height: 100px;
	}
}

@media (max-width: 480px) {
	.marketplace.view .banner.container {
		height: 60px;
	}
}

/* ---------- Pop up carousel ---------- */

@media (max-width: 960px) {
	.aui-image-viewer {
		box-sizing: border-box;
		left: auto !important;
		position: fixed;
		width: 100%;

		.aui-image-viewer-bd, .aui-image-viewer-image {
			height: auto !important;
			width: 100% !important;
		}

		.aui-image-viewer-bd {
			padding: 0 0 10px;
		}
	}

	.aui-image-viewer-bd, .yui3-widget-ft {
		width: 100%;
	}

	.aui-image-viewer-arrow {
		display: none;
	}
}

/* ---------- Purchase app entry ---------- */

@media (max-width: 960px) {
	.marketplace .purchase-app-entry {
		width: 100%;
	}
}

@media (max-width: 640px) {
	.marketplace .purchase-app-entry {
		.purchase-app-entry-destination form .edit-address-fields .edit-address-field-column {
			display: block;
			padding-bottom: 10px;
			width: 100%;

			input, select {
				width: 100%;
			}
		}

		.purchase-heading .aui-column {
			float: none;

			.license-terms {
				padding-left: 1em;
			}
		}

		.totals td:first-child {
			display: none;
		}
	}
}

/* ---------- Search form ---------- */

@media (max-width: 960px) {
	.marketplace.search-form .aui-field.keywords {
		display: block;

		input {
			width: 100%;
		}
	}
}

@media (max-width: 480px) {
	.marketplace.search-form .aui-field.category {
		display: block;

		.aui-field-input-select {
			width: 100%;
		}
	}
}

/* ---------- App entry TCO ---------- */

@media (max-width: 960px) {
	.app-entry-tco {
		.chart {
			margin-bottom: 1em;
		}

		.legend {
			width: 100%;
		}
	}
}

/* ---------- View app entry ---------- */

@media (max-width: 1040px) {
	.marketplace .view-category .featured-apps .app-entries-display {
		box-sizing: border-box;
		padding: $sideMargins;

		.app-entry.app-entry-featured {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}

@media (max-width: 960px) {
	.marketplace .view-app-entry {
		box-sizing: border-box;
		padding: $sideMargins;
		width: 100%;
	}
}

@media (max-width: 720px) {
	.marketplace .view-app-entry {
		menu {
			display: none;
		}

		.app-footer .marketplace {
			margin: auto;
		}

		.asset-carousel .aui-carousel-item {
			height: auto;
			width: 100%;
		}

		.app-body {
			.details {
				margin-right: 0;
			}

			.side-bar {
				float: none;
			}
		}

		.app-heading .icon {
			float: none;
			margin-right: 0;
			width: 100%;
		}

		.version-history {
			font-size: .9em;

			.change-log, .date-added, .supported-framework-versions, .version-name {
				display: inline-block;
				vertical-align: top;
				width: 23%;
			}
		}
	}
}

@include responsive-carousel-height(320px);
@include responsive-carousel-height(480px);
@include responsive-carousel-height(640px);
@include responsive-carousel-height(720px);

/* ---------- View app entry receipt ---------- */

@media (max-width: 960px) {
	.marketplace .view-app-entry-receipt {
		width: 100%;
	}
}

/* ---------- User verification popup ---------- */

.marketplace.user-verification-popup {
	p {
		margin-bottom: 0px;
		margin-top: 21px;
	}

	input {
		border: 0;
		padding: 0px 4px;
	}

	.send-verification-email-button {
		background: #4790CD;
		color: #FFF;
		float: left;
		font-weight: bold;
	}

	.not-right-now-button {
		background: #FFF;
		color: #BBB;
		float: right;
		font-weight: bold;
	}
}