.account-additional-info {
	margin: 0 2vw;

	.tabs-details {
		&.pinned {
			left: calc(2vw - -80px);
			margin: 0;
			position: fixed;
			right: calc(2vw - -20px);
			top: 235px;
			z-index: 2;
		}

		span {
			margin: 0 5px;

			.first {
				margin: 0 5px 0 0;
			}
		}
	}

	.tab-content {
		margin-bottom: 20px;

		.tab-content-tab {
			margin-top: 20px;

			&.pinned {
				margin-top: 142px;
			}

			.tab-section {
				border: 1px solid #D0D1D3;
				border-radius: 2px;
				padding: 17px;
			}
		}

		.customer-info {
			.customer-info-display {
				max-width: 100%;
			}

			.customer-info-label {
				color: $medium-gray;
				font-size: 15px;
			}
		}
	}
}

.account-calls, .account-projects, .offering-entries {
	.actions {
		border-bottom-width: 0;
		float: right;
	}

	.collapsed.account-environments, .collapsed.account-calls, .collapsed.account-projects {
		display: none;
	}

	.collapsed {
		.down {
			display: block;
		}

		.up {
			display: none;
		}
	}

	.down {
		display: none;
	}

	.empty-environments-message {
		font-style: italic;
		vertical-align: middle;
	}

	.results-header th {
		padding: 0 10px;
	}

	.up {
		display: block;
	}
}

.account-environment {
	td {
		padding: 5px;
	}

	.edit-button {
		float: right;
		margin-top: 10px;
	}
}

.customer-info {
	.customer-info-display {
		border: 1px solid #777;
		margin-bottom: 10px;
		max-height: 300px;
		max-width: 730px;
		min-height: 50px;
		overflow: auto;
		word-wrap: break-word;
	}

	input {
		margin-bottom: 10px;
		width: 100%;
	}

	textarea {
		height: 50px;
		margin-bottom: 10px;
		margin-top: 0;
		width: 100%;
		wrap: soft;
	}
}