/* ---------- Application nav ---------- */

.lesa-nav {
	display: none;

	@include sm() {
		background-color: $light-bg;
		bottom: 0;
		display: block;
		left: 0;
		margin-top: $banner-height;
		position: fixed;
		top: 0;
		width: $lesa-nav-width;

		.nav-icon {
			cursor: pointer;
			margin: 30px auto;
			position: relative;
			width: 27px;

			&:hover:not(.clicked) .nav-tooltip {
				display: block;
			}

			&:hover, &.active, &.active.unread {
				svg {
					stroke: $primary-blue;
				}
			}

			&.bottom {
				bottom: 0;
				left: 16px;
				position: absolute;

				&.help-icon {
					margin: 0 0 155px;
				}

				&.lesa-feedback-icon {
					margin: 0 0 92px;
				}

				&.messages-icon {
					margin: 0 0 218px;
				}

				&.preferences-icon {
					margin: 0 0 35px;
				}
			}

			&.unread svg {
				stroke: $error;
			}

			svg {
				fill: none;
				stroke: $medium-gray;
				stroke-width: 1.5;
			}

			.nav-tooltip {
				background-color: rgba(0, 0, 0, 0.8);
				border-radius: 3px;
				color: #FFF;
				display: none;
				font-size: 16px;
				left: 140%;
				padding: 3px;
				position: absolute;
				top: 0;
				white-space: nowrap;
				z-index: 10000;

				&:before {
					border-bottom: 3px solid transparent;
					border-right: 4px solid rgba(0, 0, 0, 0.8);
					border-top: 3px solid transparent;
					content: "";
					left: -4px;
					margin: 0;
					padding: 0;
					position: absolute;
					top: 40%;
				}
			}
		}

		.nav-submenu {
			color: $medium-gray;
			cursor: default;
			left: 52px;
			max-height: 80vh;
			overflow: auto;
			padding: 1em;
			top: -22px;
			z-index: 2;

			li {
				font-family: "Avenir Medium";
				font-size: 16px;
				padding: 10px;
			}
		}
	}
}

.nav-submenu {
	background-color: #FFF;
	border: 1px solid $medium-gray;
	display: none;
	position: absolute;

	&.show {
		display: block;
	}

	a {
		color: $medium-gray;
		text-decoration: none;

		&.active, &:hover {
			color: $text-color;
		}
	}

	li {
		display: block;
		white-space: nowrap;
	}
}

/* ---------- Application mobile nav ---------- */

.lesa-mobile-nav-wrapper {
	height: $lesa-mobile-nav-height;
	left: 0;
	position: fixed;
	top: $banner-height;
	user-select: none;
	width: 100%;

	&.overflow {
		.mobile-nav-scroll-arrow {
			display: block;
		}
	}

	nav {
		background-color: $light-bg;
		margin-bottom: -1em;
		overflow-x: scroll;
		overflow-y: hidden;

		a {
			color: $text-color;
			text-decoration: none;
		}

		li, ul {
			display: inline-block;
		}

		li {
			list-style: none;
			padding: 1em;
		}

		ul {
			margin: 0;
			padding: 0;
			white-space: nowrap;
		}

		.active a {
			color: $primary-blue;
		}
	}

	.lesa-mobile-nav {
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	.mobile-nav-scroll-arrow {
		background: linear-gradient(to right, rgba(227, 228, 229, 0.5) 0%, rgba(227, 228, 229, 0.75) 25%, rgba(227, 228, 229, 1) 100%);
		display: none;
		height: $lesa-mobile-nav-height;
		padding: 1.125em 0.5em;
		position: absolute;
		right: 0;
		top: 0;
		width: 2em;
		z-index: 2;
	}

	.nav-submenu {
		margin-left: 0.25em;
		padding: 0;

		li {
			padding: 1em;
		}
	}

	@include sm() {
		display: none;
	}
}

/* ---------- Banner ---------- */

#banner {
	background: $primary-blue;
	border-bottom: 1px solid $border-color;
	height: $banner-height;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	a {
		color: $text-color;
		text-decoration: none;

		&:hover {
			color: $primary-blue;
		}
	}

	.logo {
		margin: 10px;

		img {
			height: 36px;
		}
	}
}

#banner .logo, #mainMenu, #mainSearch, #navigationContainer {
	display: inline-block;
}

#navigationContainer {
	margin: 0 10px;
	position: absolute;
	right: 0;
	top: 0;

	#mainMenu, #mainSearch, #mainSearchContent {
		height: $banner-height;
		width: 50px;
	}

	#mainMenu {
		background: url(../images/custom/menu_icon.svg) no-repeat center;

		&.class-toggle-off-click-active {
			.drop-down-menu {
				display: block;
			}
		}

		ul {
			list-style: none;
			padding: 0;
		}

		#userAvatar {
			background: no-repeat center;
			background-size: cover;
			border-radius: 50%;
			height: 40px;
			margin: 8px auto;
			width: 40px;
		}

		.class-toggle-active {
			.language-toggle-caret:before {
				border-bottom-color: $medium-gray;
				border-top-width: 0;
			}

			.portlet-language {
				display: block;
			}
		}

		.drop-down-menu {
			background: #FFF;
			border: 1px solid $border-color;
			display: none;
			padding: 5px 10px;
			position: absolute;
			right: 0;

			a, .language-entry-long-text {
				display: block;
				padding: 3px 5px 3px 20px;
				white-space: nowrap;
			}
		}

		.language-toggle {
			position: relative;
		}

		.language-toggle-caret {
			padding: 10px;
			position: absolute;
			right: 0;

			&:before {
				border: 4px solid transparent;
				border-top-color: $medium-gray;
				content: "";
				display: block;
			}
		}

		.portlet-language {
			display: none;

			span.language-entry-long-text {
				background-color: $light-bg;
			}

			.portlet-content {
				border-color: transparent;
				padding: 0;
			}
		}
	}

	#mainSearch {
		position: relative;

		&.class-toggle-off-click-active {
			#mainSearchContent {
				background-position: right bottom;
				width: 280px;
			}

			.doc-search-input {
				background-color: #FFF;
				border: 1px solid $border-color;
				color: $text-color;
				cursor: text;
			}
		}

		#mainSearchContent {
			background: url(../images/custom/search_icons.svg) no-repeat right top;
			position: absolute;
			right: 0;
			transition: background-position 0.5s, width 0.5s;
		}

		.class-toggle-off-click-content {
			display: inline-block;
			padding: 10px 5px;
			position: relative;
			width: 80%;
		}

		.doc-search-input {
			background-color: transparent;
			border-width: 0;
			box-sizing: border-box;
			color: transparent;
			font-size: 1.3em;
			height: 35px;
			padding-left: 8px;
			transition: background-color 0.5s, border-color 0.5s;
			width: 100%;
		}
	}

	.sign-in-button {
		border-radius: 2px;
		border-top: 1px solid $border-color;
	}
}

/* ---------- Dropdown nav ---------- */

.three-dot {
	display: inline-block;
	height: 32px;
	position: relative;
	text-align: right;
	vertical-align: middle;
	width: 30px;

	&.attachment-link, &.comment-menu {
		float: right;
		font-size: 14px !important;
		height: 21px;

		.three-dot-icon {
			height: 21px;

			span {
				border: 1px solid $text-color;
				right: 14px;
			}
		}
	}

	.three-dot-icon {
		cursor: pointer;
		display: block;
		height: 32px;
		position: absolute;
		right: 0;
		width: 30px;

		span {
			border: 2px solid $text-color;
			border-radius: 50%;
			height: 0;
			position: absolute;
			right: 13px;
			width: 0;
		}
	}
}

/* ---------- Ticket sidebar ---------- */

.ticket-sidebar {
	background-color: $light-bg;
	height: 60%;
	overflow: auto;
	padding: 20px;
	position: fixed;
	right: 3%;
	top: $banner-height + $ticket-view-header-height + $ticket-view-tab-height + $standard-spacing;
	width: 15%;
	z-index: 2;

	.section {
		margin: 0 0 30px;

		&.last {
			margin: 0;
		}

		select {
			font-size: 11px;
		}

		.heading {
			font-family: "Avenir Medium";
			font-size: 18px;
			margin: 0 0 15px;
		}

		.sub-section {
			color: $medium-gray;
			margin: 0 0 15px;

			&.last {
				margin: 0;
			}

			.footnote {
				color: $medium-gray;
			}

			.txt-sb {
				color: $text-color;
			}
		}
	}
}