@font-face {
	font-family: "Avenir Book";
	src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
	font-family: "Avenir Medium";
	src: url(../fonts/Avenir-Medium.ttf);
}

html {
	overflow-x: auto;

	> .lfr-dockbar-pinned:not(.aui-dialog-iframe-popup) {
		padding-top: 56px;
	}
}

body {
	min-width: 965px;

	&.html-editor, &.portal-popup {
		min-width: 0;
	}
}

body, input, legend, select, textarea {
	color: $text-color;
	font: 100 15px/1.5 "Avenir Book", myriad-pro, Arial, Helvetica, sans-serif;
}

a {
	color: $primary-blue;
	cursor: pointer;
	text-decoration: none;

	&:active, &:focus, &:hover {
		color: $hover-blue;
	}
}

a {
	&.disabled {
		color: #333;
		text-decoration: line-through;
	}

	&.help-link img {
		padding-top: 3px;
	}
}

b, strong, .txt-b {
	font-family: "Avenir Medium";
}

blockquote, h2, h3 {
	line-height: 1.125;
	margin: 0 0 0.5625em;
}

div {
	&.table {
		border-collapse: collapse;
		display: table;
		margin-bottom: 0;
		table-layout: fixed;
		width: 100%;

		div.column {
			display: table-cell;
			float: none;
			vertical-align: middle;
		}

		div.row, .row-url {
			display: table-row;
			width: 100%;

			&:before {
				content: none;
			}
		}
	}
}

input.form-control, select.form-control, textarea.form-control {
	background-color: #FFF;
	border: 1px solid $text-color;
	border-radius: 3px;
	padding: 5px;
}

input[readonly="readonly"] {
	border: 2px solid $border-color;
}

input[type=button]:disabled {
	background: none repeat scroll 0 0 $text-color;
	border: 1px solid $border-color;
	color: $border-color;
	cursor: default;
}

input[type=checkbox] {
	vertical-align: middle;
}

pre {
	background-color: transparent;
	border-width: 0;
	color: inherit;
	font-family: "Avenir Book";
	white-space: pre-wrap;
}

table {
	border-collapse: collapse;
	width: 100%;

	.inactive td {
		background-color: $error;
	}
}

textarea {
	margin-top: 10px;
}

#wrapper {
	min-width: 320px;
	padding: 0;

	.centered {
		text-align: center;
	}

	.default-text {
		font-size: 15px;
	}
}

.common-textarea textarea {
	resize: vertical;
	width: 100%;
}

.field-wrapper .btn {
	margin-top: 0;
}

.info {
	background-color: $info;
	color: #FFF;
}

.navigation {
	font-size: 16px;
	list-style: none;
	margin-left: 10px;
}

.portal-popup .portlet-msg-info {
	top: inherit;
}

.portlet-msg-error, .portlet-msg-success {
	overflow: hidden;
	position: fixed;
	top: 55px;
	transition: top 1s ease;
	white-space: nowrap;
}

.portlet-msg-error, .portlet-msg-info, .portlet-msg-success {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	left: 25%;
	margin: 1em;
	padding: 5px;
	right: 25%;
	text-align: center;
	z-index: 430;
}

.portlet-msg-error {
	background-color: rgba(255, 221, 221, 0.96);
	border-color: $urgent;
	color: $urgent;
}

.portlet-msg-info {
	background-color: rgba(204, 233, 255, 0.96);
	border-color: $medium-gray;
	display: inline-block;
}

.portlet-msg-success {
	background-color: rgba(204, 255, 204, 0.96);
	border-color: $minor;
}

.txt-sb {
	font-weight: bold;
}

.urgent {
	background-color: $urgent;
	color: #FFF;
}

.warning {
	background-color: $warning;
	color: #000;
}