@font-face {
	font-family: "Avenir Book";
	src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
	font-family: "Avenir Medium";
	src: url(../fonts/Avenir-Medium.ttf);
}

html {
	overflow-x: auto;

	> .lfr-dockbar-pinned:not(.aui-dialog-iframe-popup) {
		padding-top: 56px;
	}
}

body {
	min-width: 965px;

	&.html-editor, &.portal-popup {
		min-width: 0;
	}
}

body, input, legend, select, textarea {
	color: $text-color;
	font: 100 15px/1.5 "Avenir Book", myriad-pro, Arial, Helvetica, sans-serif;
}

a {
	color: $blue;
	cursor: pointer;
	text-decoration: none;

	&:active, &:focus, &:hover {
		color: $hover-blue;
	}
}

a.disabled {
	color: #333;
	text-decoration: line-through;
}

a.help-link img {
	padding-top: 3px;
}

b, strong, .txt-b {
	font-family: "Avenir Medium";
	font-weight: bold;
}

blockquote, h2, h3 {
	line-height: 1.125;
	margin: 0 0 0.5625em;
}

div.table {
	border-collapse: collapse;
	display: table;
	table-layout: fixed;
	width: 100%;

	.row-url, div.row {
		display: table-row;
		width: 100%;
	}

	div.column {
		display: table-cell;
		vertical-align: middle;
	}
}

input, select, textarea {
	background-color: #FFF;
	border: 1px solid $text-color;
	border-radius: 3px;
	padding: 5px;
}

input[readonly="readonly"] {
	border: 2px solid #DFDFDF;
}

input[type=button]:disabled {
	background: none repeat scroll 0 0 #EEE;
	border: 1px solid #CCC;
	color: #CCC;
	cursor: default;
}

input[type=checkbox] {
	vertical-align: middle;
}

pre {
	background-color: transparent;
	border-width: 0;
	color: inherit;
	font-family: "Avenir Book";
	white-space: pre-wrap;
}

table {
	border-collapse: collapse;
	width: 100%;

	.inactive td {
		background-color: #FCC;
	}
}

textarea {
	margin-top: 10px;
}

#dockbar {
	.pin-dockbar, .user-toolbar {
		display: none;
	}
}

#wrapper {
	min-width: 320px;

	.centered {
		text-align: center;
	}

	.default-text {
		font-size: 15px;
	}
}

div.portlet-msg-error, div.portlet-msg-success {
	height: 22px;
	left: calc(25vw - -60px);
	overflow: hidden;
	position: fixed;
	right: 25vw;
	top: 55px;
	transition: top 1s ease;
	white-space: nowrap;
}

.info {
	background-color: #A4A4A4;
	color: #FFF;
}

.navigation {
	font-size: 16px;
	list-style: none;
	margin-left: 10px;
}

.portal-popup .portlet-msg-info {
	top: inherit;
}

.portlet-msg-error, .portlet-msg-info, .portlet-msg-success {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	left: 25%;
	margin: 5px;
	padding: 5px;
	right: 25%;
	text-align: center;
	z-index: 101;
}

.portlet-msg-error {
	background-color: rgba(255, 221, 221, 0.96);
	border-color: #F00;
	color: #D00;
}

.portlet-msg-info {
	background-color: rgba(204, 233, 255, 0.96);
	border-color: #89A;
	display: inline-block;
}

.portlet-msg-success {
	background-color: rgba(204, 255, 204, 0.96);
	border-color: #8B8;
}

.txt-sb, .txt-sb * {
	font-family: "Avenir Medium";
}

.urgent {
	background-color: #FF5454;
	color: #FFF;
}

.warning {
	background-color: #FFC;
	color: #000;
}