.has-control-menu {
	&.open {
		.detail-view-filter, .detail-view-header, .discussion .tabs.pinned, .tab-view.details .tabs {
			left: $sidenav-width + $lesa-nav-width + $standard-spacing;
		}

		.discussion {
			margin-left: 0;
		}

		.lesa-nav, .lesa-mobile-nav-wrapper {
			left: $sidenav-width;
		}
	}

	#banner, .lesa-nav {
		top: $has-control-menu-top-mobile;

		@include sm() {
			top: $has-control-menu-top-desktop;
		}
	}

	#contentWrapper {
		margin-top: $has-control-menu-top-mobile + $banner-height + $lesa-mobile-nav-height;

		@include sm() {
			margin-top: $has-control-menu-top-desktop + $banner-height;
		}
	}

	#wrapper.wrapper {
		margin-top: $banner-height;
	}

	.details.tab-view .tabs {
		top: $has-control-menu-top-mobile + $banner-height + $ticket-view-heading-height + $standard-spacing;

		@include sm() {
			top: $has-control-menu-top-desktop + $banner-height + $ticket-view-heading-height + $standard-spacing;
		}
	}

	.detail-view-fade, .discussion .tabs.pinned, .ticket-sidebar {
		top: $has-control-menu-top-mobile + $banner-height + $ticket-view-header-height;

		@include sm() {
			top: $has-control-menu-top-desktop + $banner-height + $ticket-view-header-height;
		}
	}

	.detail-view-fade.pinned {
		top: $has-control-menu-top-mobile + $banner-height + $ticket-view-heading-height + (2 * $ticket-view-tab-height) + $standard-spacing;

		@include sm() {
			top: $has-control-menu-top-desktop + $banner-height + $ticket-view-heading-height + (2 * $ticket-view-tab-height) + $standard-spacing;
		}
	}

	.detail-view-filter {
		height: $has-control-menu-top-mobile + $banner-height + $ticket-view-header-height;

		@include sm() {
			height: $has-control-menu-top-desktop + $banner-height + $ticket-view-header-height;
		}

		&.pinned {
			height: $has-control-menu-top-mobile + $banner-height + $ticket-view-heading-height + (2 * $ticket-view-tab-height) + $standard-spacing;

			@include sm() {
				height: $has-control-menu-top-desktop + $banner-height + $ticket-view-heading-height + (2 * $ticket-view-tab-height) + $standard-spacing;
			}
		}
	}

	.detail-view-filter, .detail-view-header, .lesa-nav, .lesa-mobile-nav-wrapper, .tab-view.details .tabs {
		transition: $sidenav-transition;
	}

	.discussion .tabs.pinned {
		transition: left 0.5s ease;
	}

	.lesa-announcements-notification {
		top: $has-control-menu-top-mobile + $banner-height + $standard-spacing;

		@include sm() {
			top: $has-control-menu-top-desktop + $banner-height + $standard-spacing;
		}
	}

	.lesa-mobile-nav-wrapper {
		top: $has-control-menu-top-mobile + $banner-height;
	}
}