.has-control-menu {
	&.open {
		.lesa-nav, .lesa-mobile-nav-wrapper {
			left: $sidenav-width;
		}
	}

	#banner, .lesa-nav {
		top: $has-control-menu-top-mobile;

		@include sm() {
			top: $has-control-menu-top-desktop;
		}
	}

	#contentWrapper {
		margin-top: $has-control-menu-top-mobile + $banner-height + $lesa-mobile-nav-height;

		@include sm() {
			margin-top: $has-control-menu-top-desktop + $banner-height;
		}
	}

	#wrapper.wrapper {
		margin-top: $banner-height;
	}

	.details.tab-view .tabs {
		top: $has-control-menu-top-mobile + $banner-height + $ticket-view-header-height + $standard-spacing;

		@include sm() {
			top: $has-control-menu-top-desktop + $banner-height + $ticket-view-header-height + $standard-spacing;
		}
	}

	.account-fade, .partner-fade, .ticket-fade  {
		top: $has-control-menu-top-mobile + $banner-height + $ticket-view-header-height + $ticket-view-tab-height + $standard-spacing;

		@include sm() {
			top: $has-control-menu-top-desktop + $banner-height + $ticket-view-header-height + $ticket-view-tab-height + $standard-spacing;
		}

		&.pinned {
			top: $has-control-menu-top-mobile + $banner-height + $ticket-view-header-height + 2 * $ticket-view-tab-height + $standard-spacing;

			@include sm() {
				top: $has-control-menu-top-desktop + $banner-height + $ticket-view-header-height + 2 * $ticket-view-tab-height + $standard-spacing;
			}
		}
	}

	.account-filter, .partner-filter, .ticket-filter {
		height: $has-control-menu-top-mobile + $banner-height + $ticket-view-header-height + $ticket-view-tab-height + $standard-spacing;

		@include sm() {
			height: $has-control-menu-top-desktop + $banner-height + $ticket-view-header-height + $ticket-view-tab-height + $standard-spacing;
		}

		&.pinned {
			height: $has-control-menu-top-mobile + $banner-height + $ticket-view-header-height + 2 * $ticket-view-tab-height + $standard-spacing;

			@include sm() {
				height: $has-control-menu-top-desktop + $banner-height + $ticket-view-header-height + 2 * $ticket-view-tab-height + $standard-spacing;
			}
		}
	}

	.discussion .tabs.pinned {
		top: $has-control-menu-top-mobile + $banner-height + $ticket-view-header-height + $ticket-view-tab-height + $standard-spacing;

		@include sm() {
			top: $has-control-menu-top-desktop + $banner-height + $ticket-view-header-height + $ticket-view-tab-height + $standard-spacing;
		}
	}

	.lesa-announcements-notification {
		top: $has-control-menu-top-mobile + $banner-height + $standard-spacing;

		@include sm() {
			top: $has-control-menu-top-desktop + $banner-height + $standard-spacing;
		}
	}

	.lesa-mobile-nav-wrapper {
		top: $has-control-menu-top-mobile + $banner-height;
	}

	.lesa-nav, .lesa-mobile-nav-wrapper {
		transition: $sidenav-transition;
	}
}