.has-control-menu {
	&.open {
		.lesa-nav, .lesa-mobile-nav-wrapper {
			left: $sidenav-width;
		}
	}

	#banner, .lesa-nav {
		top: $has-control-menu-top-mobile;

		@include sm() {
			top: $has-control-menu-top-desktop;
		}
	}

	#contentWrapper {
		margin-top: $has-control-menu-top-mobile + $banner-height + $lesa-mobile-nav-height;

		@include sm() {
			margin-top: $has-control-menu-top-desktop + $banner-height;
		}
	}

	#wrapper.wrapper {
		margin-top: $banner-height;
	}

	.lesa-announcements-notification {
		top: $has-control-menu-top-mobile + $banner-height + 15px;

		@include sm() {
			top: $has-control-menu-top-desktop + $banner-height + 15px;
		}
	}

	.lesa-nav, .lesa-mobile-nav-wrapper {
		transition: $sidenav-transition;
	}

	.lesa-mobile-nav-wrapper {
		top: $has-control-menu-top-mobile + $banner-height;
	}
}