#contentWrapper {
	margin: 0;
	padding: 0;
	width: 100%;

	#leftNav {
		background-color: $light-bg;
		height: 100%;
		margin: 0;
		padding: 0;
		position: fixed;
		width: 60px;
	}

	#mainContent {
		margin: 0;
		margin-left: 60px;
		padding: 0;
	}
}

#main-content {
	margin: 0 20px;
	padding-top: 20px;

	&.full-screen-layout {
		max-width: none;

		.portlet-boundary {
			margin: 0 auto;
		}
	}
}

.auto-complete-container #trigger {
	display: none;
}

.aui-tooltip {
	word-wrap: break-word;
}

.aui-overlay-content {
	&.aui-tooltip-content {
		background: #FFF;
		border: 1px solid $border-color;
		box-shadow: none;
	}
}

.aui-overlay-content.aui-tooltip-content, .btn, .sign-in-button a {
	border-radius: 2px;
}

.aui-overlaycontextpanel-arrow-bl .aui-overlaycontextpanel-pointer .aui-overlaycontextpanel-pointer-inner {
	border-right: 16px dashed transparent;
	border-top: 12px solid #FFF !important;
	left: 1px;
}

.aui-overlaycontextpanel-arrow-tr .aui-overlaycontextpanel-pointer-inner {
	border-bottom-width: 12px;
	border-left-width: 16px;
	right: 1px;
}

.aui-tabview-list .aui-tab {
	background-color: #FFF;

	& a, & a * {
		color: $text-color;
	}

	&.aui-tab-active {
		background-color: $primary-blue;

		& a, & a * {
			color: #FFF;
		}
	}
}

.aui-tooltip-content div {
	color: $medium-gray;
}

.children-marker {
	padding: 10px;
	position: absolute;
	right: 0;

	&:before {
		border: 4px solid transparent;
		border-bottom-width: 0;
		border-top-color: $medium-gray;
		content: "";
		display: block;
		height: 0;
		width: 0;
	}
}

.class-toggle {
	cursor: pointer;
}

.class-toggle-active.nav-item, .class-toggle-active.parent-item, .class-toggle-off-click-active.parent-item {
	> .children-marker:before {
		border-bottom-color: $medium-gray;
		border-bottom-width: 4px;
		border-top-color: transparent;
		border-top-width: 0;
	}
}

.class-toggle-off-click {
	cursor: pointer;
	position: relative;
}

.content-column, .portlet-column {
	float: left;

	&.portlet-column-only {
		float: none;
	}

	.left-column {
		padding-right: 10px;
	}

	.middle-column {
		padding: 0 10px;
	}

	.right-column {
		padding-left: 10px;
	}
}

.external-link:after {
	background: url(../images/custom/external_link_icon.svg) no-repeat;
	content: "";
	display: inline-block;
	height: 11px;
	margin: 0 5px;
	width: 11px;
}

.home-page {
	padding-top: 20px;

	.home-page-topper {
		background: #FFF;
		height: 197px;
		left: 60px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}

.home-page-banner-margin {
	margin: 30px;
}

.home-page-margin {
	margin: 0 30px;
}

.margin-container {
	margin: 0 30px;
}

.opens-new-window-accessible {
	display: none;
}

.parent-item {
	position: relative;
}

.portlet {
	.portlet-content {
		background-color: transparent;
		border-bottom-radius: 2px;
		border-color: $border-color;
		padding: 10px 20px;
	}

	.portlet-topper {
		background: $text-color;
		border-color: $text-color;
		border-top-radius: 2px;
		padding: 12px 0;

		.portlet-title {
			padding: 0 20px;
		}

		.portlet-title-text {
			font-size: 1.5em;
			font-weight: normal;
		}
	}
}

.portlet-column-only .portlet-login {
	.aui-fieldset-content .aui-field-choice {
		left: 0;
		margin-top: 2px;
		position: relative;
	}
}

.portlet-login .navigation {
	background: transparent;
}

.portlet-navigation .nav-menu {
	a {
		color: inherit;
		display: block;
		font-weight: normal;
		padding: 4px 20px;
		text-decoration: none;

		&:active, &:focus, &:hover {
			color: $hover-blue;
		}
	}

	li {
		border-bottom: 1px solid $border-color;
		list-style: none;

		&:last-child {
			border-width: 0;
		}
	}

	ul {
		padding: 0;
	}

	.selected a {
		color: $hover-blue;
	}
}

.portlet-section-header {
	color: $text-color;
	text-decoration: none;
}

.sub-grid {
	clear: both;
	margin: 0 auto;
}

.v1 {
	background: $minor;
}

.v2 {
	background: $major;
}

.v3 {
	background: $critical;
}