#contentWrapper {
	margin-top: $banner-height + $lesa-mobile-nav-height;
	width: 100%;

	@include sm() {
		margin-top: $banner-height;
		padding-left: $lesa-nav-width;
	}
}

#main-content {
	padding: $standard-spacing;

	&.full-screen-layout {
		max-width: none;

		.portlet-boundary {
			margin: 0 auto;
		}
	}
}

.class-toggle, .class-toggle-off-click {
	cursor: pointer;
}

.class-toggle-off-click {
	position: relative;
}

.content-column, .portlet-column {
	float: left;

	&.portlet-column-only {
		float: none;
	}

	.left-column {
		padding-right: 10px;
	}

	.middle-column {
		padding: 0 10px;
	}

	.right-column {
		padding-left: 10px;
	}
}

.critical {
	background-color: $critical;
}

.home-page {
	margin: 20px 30px 0;

	&.has-notification {
		margin-top: 60px;
	}
}

.major {
	background-color: $major;
}

.margin-container {
	margin: 0 30px;
}

.minor {
	background-color: $minor;
}

.portlet-column-only .portlet-login {
	.aui-fieldset-content .aui-field-choice {
		left: 0;
		margin-top: 2px;
		position: relative;
	}
}

.portlet-content {
	padding: 0;
}

.portlet-navigation .nav-menu {
	a {
		color: inherit;
		display: block;
		font-weight: normal;
		padding: 4px 20px;
		text-decoration: none;

		&:active, &:focus, &:hover {
			color: $hover-blue;
		}
	}

	li {
		border-bottom: 1px solid $border-color;
		list-style: none;

		&:last-child {
			border-width: 0;
		}
	}

	ul {
		padding: 0;
	}

	.selected a {
		color: $hover-blue;
	}
}

.portlet-section-header {
	color: $text-color;
	text-decoration: none;
}