.add-ticket {
	text-align: center;

	.btn {
		line-height: 0.75;
	}
}

.create-date {
	float: right;
}

.create-ticket {
	display: none;

	@include sm() {
		display: block;
		margin: 0 auto;

		span {
			&.portlet-msg-error, &.portlet-msg-info {
				position: inherit;
			}
		}

		.create-env-button {
			padding-top: 15px;
		}

		.component-description {
			margin-bottom: 1em;
		}

		.component-detail-environment {
			padding: 10px;

			.attachment-text .txt-sb {
				color: $medium-gray;
			}

			.environment-detail {
				.env {
					position: relative;

					select {
						margin-left: 50px;
						width: calc(100% - 80px);
					}

					span {
						text-align: right;
					}

					.field-label {
						max-width: 80px;
						position: absolute;
						width: 45px;
					}
				}
			}
		}

		.dxp-message {
			color: $primary-blue;
			cursor: pointer;
			display: inline-block;
			padding-top: 1em;
		}

		.foot-details {
			float: left;
			margin: 20px 0;
			width: 100%;

			.aui-button-input {
				text-transform: none;
			}
		}

		.portlet-msg-error {
			display: block;
			height: auto;
			position: inherit;
		}

		.portlet-msg-info {
			color: $text-color;
		}

		.section-heading {
			font-weight: bold;
			padding: 0;

			&.create-ticket-title {
				font-size: 2em;
				text-align: center;
			}
		}

		.ticket-detail {
			.attachment-text .txt-sb {
				color: $medium-gray;
			}

			.component-details {
				.component-title {
					font-size: 1.5em;
				}

				.file-container {
					padding: 5px 0;
				}
			}
		}

		.txt-sb {
			color: $text-color;
		}
	}
}

.create-ticket-mobile {
	background: $maintenance;
	color: #FFF;
	padding: 5em;

	@include sm() {
		display: none;
	}
}