#toggle_id_account_entry_searchbasic, #toggle_id_partner_entry_searchbasic, #toggle_id_ticket_entry_searchbasic, #toggle_id_ticket_feedback_searchbasic input, .temp-flag {
	border-radius: 2px;
}

.portlet > .portlet-topper {
	@include media-query(sm) {
		z-index: 5000;
	}
}

.webkit {
	.w33 {
		width: 33.325%;
	}
}