#mainSearchContent input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;

	&::-webkit-search-cancel-button, &::-webkit-search-decoration, &::-webkit-search-results-button, &::-webkit-search-results-decoration {
		-webkit-appearance: none;
	}
}

.aui-overlay-content.aui-tooltip-content {
	@include box-shadow(none);
}

.aui-overlay-content.aui-tooltip-content, .btn, .sign-in-button a {
	@include border-radius(2px);
}

.circle-image {
	@include border-radius(50%);
}

.cleared {
	clear: both;

	&:before, &:after {
		clear: both;
		content: '.';
		display: block;
		height: 0;
		visibility: hidden;
	}
}

.portlet {
	.portlet-content {
		@include border-bottom-radius(2px);
	}

	.portlet-topper {
		@include border-top-radius(2px);
	}
}

.webkit {
	#navigationContainer #mainNavigation .root-item {
		padding: 19px 0;
	}

	.aui-w33 {
		width: 33.325%;
	}
}

@media (max-width: 720px) {
	.doc-sub-nav {
		line-height: 3em;
		margin: 0 auto;
		max-width: 480px;

		h1 {
			border-bottom-width: 0;
			display: inline;
			padding-bottom: 9px;
			text-align: center;
		}

		li {
			border-bottom-width: 0;
			border-top: 1px solid #CCC;
		}

		#osbSideNav.class-toggle-active, .children-marker, .regular-heading {
			display: none;
		}

		.has-sub-nav .sub-nav, .mobile-heading, .side-nav-item {
			display: block;
		}
	}
}