#lesaBanner {
	bottom: 0;
	display: none;
	left: 60px;
	position: fixed;
	right: 0;
	z-index: 2;

	@include sm() {
		display: block;
	}

	.announcement {
		color: #FFF;
		padding: 10px 5px;
		text-align: center;

		&.info {
			border-top: 1px solid $text-color;

			.btn {
				background-color: $info;

				&:hover {
					color: $info;
				}
			}
		}

		&.maintenance {
			background-color: $maintenance;
			border-top: 1px solid $maintenance-border;

			.btn {
				background-color: $maintenance;

				&:hover {
					color: $maintenance;
				}
			}
		}

		.announcement-text {
			line-height: 2;
			padding: 0 20px;
			vertical-align: middle;
		}

		.btn {
			border: 1px solid #FFF;
			color: #FFF;

			&:hover {
				background-color: #FFF;
			}

			&.close-announcement {
				background: url(@theme_image_path@/custom/close_icon_white.png) no-repeat center;
				border-width: 0;
				cursor: pointer;
				float: right;
				width: 20px;

				&:hover {
					background-color: $medium-gray;
				}
			}
		}
	}
}

.lesa-announcements-notification {
	background-color: $light-bg;
	display: none;
	left: 50%;
	padding: 5px;
	position: fixed;
	text-align: center;
	top: $banner-height + $standard-spacing;

	@include transform(translateX(-50%));

	width: 750px;
	z-index: 2;

	@include sm() {
		display: block;
	}

	span {
		vertical-align: middle;
	}

	.notification-btn {
		background-color: $light-bg;
		margin-left: $standard-spacing;

		&:hover {
			background-color: $primary-blue;
		}
	}
}