.away-message {
	textarea {
		height: 250px;
		width: 500px;
	}
}

.away-message-checkbox {
	padding-bottom: 25px;
}

.away-message-end-date, .away-message-start-date {
	display: block;
}

.away-message-end-date {
	float: right;
}

.away-message-header {
	display: inline;
}

.away-message-start-date {
	float: left;
}

.away-message-text-area {
	padding: 25px 0;
}

.manager-dashboard {
	td.manager-dashboard-col {
		background-color: $dashboard-bg;
		border: 1px solid $hover-blue;
		padding: 0;
		vertical-align: top;

		&.empty {
			background-color: transparent;
			border-width: 0;
		}
	}

	.manager-dashboard-team {
		border-bottom: 1px solid $hover-blue;
		clear: none;
		padding: 12px 12px 24px !important;
		vertical-align: middle;
		width: 214px;

		&.last {
			border-bottom-width: 0;
		}

		.role-icon {
			border-radius: 50%;
			color: #FFF;
			font-size: 9px;
			font-weight: bold;
			padding: 2px 4px;

			.developer {
				background-color: $primary-blue;
			}

			.manager {
				background-color: $manager-dashboard-manager;
				padding: 2px 3px 2px 4px;
			}

			.watcher {
				background-color: $manager-dashboard-watcher;
				padding: 2px 3px;
			}
		}

		.switch {
			margin: 8px 0;
			padding: 0;
		}

		.team-title {
			font-size: 14px;
			font-weight: bold;
		}

		.user-name {
			font-size: 13px;
			margin: 0;
			padding: 0;
			text-align: left;
		}
	}
}

.notification-preference {
	margin-bottom: 10px;
}

.preference-tabs {
	li {
		display: none;

		@include sm() {
			display: block;
		}

		&:first-child {
			display: block;
		}
	}
}

.screen-share-mode {
	ul {
		display: block;
		font-size: 13px;
		margin: 0;
		padding: 2em 2em 2em 4em;
		vertical-align: top;
		width: 100%;

		@include xs() {
			display: inline-block;
			width: 45%;
		}

		&:last-child {
			border-top: 1px solid $border-color;

			@include xs() {
				border-left: 1px solid $border-color;
				border-top-width: 0;
			}
		}
	}

	.screen-share-mode-description {
		border: 1px solid $border-color;
		margin: $standard-spacing;
	}
}

.toggle-on-off-switch {
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	transition: border 0.3s ease-in 0s;
	vertical-align: middle;
	width: 50px;

	&:hover.off, &.on {
		border: 1px solid $hover-blue;

		.toggle-on-off-switch-inner {
			margin-left: 0;
		}
	}

	&:hover.on, &.off {
		border: 1px solid $pref-toggler;

		.toggle-on-off-switch-inner {
			margin-left: -100%;
		}
	}

	.toggle-on-off-switch-inner {
		display: block;
		font-size: 11px;
		line-height: 10px;
		margin-left: -100%;
		transition: margin 0.3s ease-in 0s;
		width: 200%;

		.toggle-on-off-switch-on, .toggle-on-off-switch-off {
			box-sizing: border-box;
			float: left;
			padding: 3px 6px;
			text-align: center;
			text-transform: uppercase;
			width: 50%;
		}

		.toggle-on-off-switch-on {
			background-color: $hover-blue;
			border-right: 8px solid #FFF;
			color: #FFF;
		}

		.toggle-on-off-switch-off {
			background-color: #FFF;
			border-left: 8px solid $pref-toggler;
			color: $pref-toggler;
		}
	}
}