@media all and (max-width: 965px) {
	.responsive {
		overflow-x: hidden;

		body {
			min-width: 200px;
		}

		img {
			max-width: 100% !important;
		}

		#main-content, .banner-content {
			padding: 0 10px;
		}

		#main-content {
			padding-top: 20px;
		}

		.responsive720-hidden {
			display: none !important;
		}

		.responsive720-w50 {
			width: 50% !important;
		}

		.responsive720-w100 {
			width: 100% !important;
		}
	}
}

@media all and (max-width: 720px) {
	.responsive {
		body, input, legend, select, textarea {
			line-height: 1.375em;
		}

		#main-content {
			padding: 20px 0 0 0;
		}

		.column, .content-column, .portlet-column {
			display: block !important;
			width: 100% !important;

			.content-column-content, .portlet-column-content {
				padding: 15px !important;
			}
		}

		.responsive-only {
			display: block !important;
		}

		.unit {
			margin: 0 !important;
			width: 100% !important;
		}
	}

	.ticket-results .support-input-column {
		display: block;
		float: left;
		width: 100%;
	}
}

@media all and (max-width: 480px) {
	.responsive {
		.feedback-form {
			width: 210px;
		}

		.responsive480-hidden {
			display: none !important;
		}

		.social-media-panel {
			display: none;
		}
	}
}