ul.aui-tabview-list {
	background: none;
	border-radius: 0;
	border-width: 0 0 1px;
	padding: 0;
	text-align: center;
	vertical-align: bottom;

	.aui-tab {
		border: 1px solid $border-color;
		display: inline-block;
		float: none;
		margin: -1px -2px;
		vertical-align: bottom;

		&.aui-tab-active {
			background-color: #F49B45;

			.aui-tab-content {
				border-color: transparent;

				a {
					&:hover, &:focus {
						color: #FFF;
					}
				}
			}

			.aui-tab-label {
				text-shadow: none;
			}
		}

		a {
			&.aui-tab-label, &.aui-tab-label:hover, &.aui-tab-label:selected {
				background: none;
				border: 1px solid $border-color;
				color: $text-color;
				text-decoration: none;
				text-shadow: none;
			}

			strong {
				font-weight: normal;
			}
		}

		.aui-tab-content {
			background: none;
			border-width: 0;
			box-shadow: none;

			a {
				&:hover, &:focus {
					color: $text-color;
				}
			}
		}
	}

	.last {
		border-right-color: $border-color !important;
	}
}

.aui-menu {
	position: absolute;
	width: auto;

	.notice-message {
		background-image: none;
		margin: 3px;
		padding: 6px;
	}
}

.aui-menu-content {
	background: #FFF none no-repeat 0 0;
	border: 1px solid $medium-gray;
	min-width: 150px;

	ul {
		list-style: none;

		li {
			margin: 0;
			padding: 0;

			a {
				color: $medium-gray;
				outline: none;
				text-decoration: none;

				&:hover, &.aui-focus {
					background-color: transparent;
					color: $text-color;
					text-shadow: none;
				}
			}

			.disabled {
				color: $medium-gray;
			}
		}
	}
}

.aui-overlay-content {
	background: #D8D8D8 none no-repeat 0 0;
	border: 1px solid $medium-gray;
	padding: 5px;
}

.aui-panel {
	.aui-icon-closethick {
		background: url(../images/custom/close_icon_white.png) no-repeat center;
	}

	.aui-panel-content .aui-panel-hd {
		background: #939598;
		border-width: 0;
		color: #FFF;
		padding: 5px 5px 5px 10px;
	}

	.aui-panel-hd {
		text-shadow: none;
	}
}

.aui-toolbar {
	list-style: none;

	li {
		display: inline;
		margin: 0 5px;
	}
}

.lfr-actions {
	&, ul {
		background: #FFF url(../images/forms/button.png) repeat-x 0 100%;
		border: 1px solid;
		border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	}

	.lfr-trigger {
		&, strong {
			background: none;
		}
	}
}

.lfr-menu-list {
	z-index: 450;
}

.lfr-panel-content {
	padding: 10px;
}