/* ---------- Dropdown menu ---------- */

.jira-issue-modal {
	.btn {
		margin: $standard-spacing auto;
	}
}

.log-call-form {
	.call-info {
		.form-control {
			width: 80%;
		}
	}

	.call-times {
		.input-select-wrapper {
			display: inline-block;
		}

		.lfr-input-date, .lfr-input-time {
			margin-bottom: 0.5em;
		}
	}
}

.solution-details {
	.link-container {
		.form-group {
			display: inline-block;
		}
	}
}

/* ---------- Edit ticket dialog ---------- */

.tab-view-dialog {
	padding: 1em;

	.details {
		padding-bottom: 1em;
	}

	.form-field-wrapper {
		width: 100%;

		.common-textarea, .control-label, .form-control {
			display: inline-block;
			vertical-align: middle;
		}

		.common-textarea, .form-control {
			width: 75%;

			textarea {
				width: 100%;
			}
		}

		.control-label {
			font-weight: normal;
			padding-right: 1.5em;
			text-align: right;
			width: 20%;
		}

		.help-block, .no-label {
			margin-left: 140px;
		}
	}

	.portlet-msg-error, .portlet-msg-success {
		display: inherit;
		position: inherit;
	}

	.tab-content {
		padding: 1em;
	}

	.tabs {
		border-bottom: 2px solid $medium-gray;
		height: 22px;
		position: relative;

		div {
			height: 100%;
			position: absolute;
			width: 100%;

			span {
				border-bottom: 3px solid transparent;
				color: $medium-gray;
				cursor: pointer;
				display: inline-block;
				font-size: 15px;
				margin: 0 25px 0 0;

				&.first {
					margin: 0 25px 0 0;
				}

				&.selected {
					border-bottom: 3px solid $primary-blue;
					color: $text-color;
				}
			}
		}
	}
}

/* ---------- Heading ---------- */

.detail-view-header {
	left: calc(2vw + 80px);
	max-height: 120px;
	position: fixed;
	right: calc(23vw + 20px);
	z-index: 13;
}

.header {
	margin: 0 0 20px 0;

	.buttons {
		position: fixed;
		right: 3%;
	}

	.page-heading {
		font-size: 24px;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		.account-code, .display-id, .partner-code {
			margin-right: 5%;
		}

		.subject {
			font-size: 20px;
			margin-bottom: 10px;
			width: 700px;
		}
	}

	.ticket-severity {
		height: 60px;
		margin-right: 20px;
		width: 8px;
	}
}

/* ---------- Tab navigation ---------- */

.detail-view-fade {
	background: linear-gradient(to bottom, white 2%, rgba(255, 255, 255, 0) 100%);
	height: 20px;
	left: inherit;
	position: inherit;
	right: inherit;
	top: $banner-height + $ticket-view-header-height;

	&.pinned {
		height: 10px;
		top: $banner-height + $ticket-view-heading-height + (2 * $ticket-view-tab-height) + $standard-spacing;
	}
}

.detail-view-filter {
	background: #FFF;
	height: $banner-height + $ticket-view-header-height;
	left: calc(2vw + 80px);
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;

	&.pinned {
		height: $banner-height + $ticket-view-heading-height + (2 * $ticket-view-tab-height) + $standard-spacing;
	}
}

.discussion {
	margin: 0 23vw 0 2vw;

	.tabs {
		&.pinned {
			left: calc(2vw + 80px);
			margin: 0;
			position: fixed;
			right: calc(23vw + 20px);
			top: $banner-height + $ticket-view-header-height;
			z-index: 11;
		}

		span {
			margin: 0 20px;

			.first {
				margin-left: 0;
			}
		}
	}

	.tab-container {
		display: block;
		height: 35px;
		margin: 45px 0 25px;
		padding: 0;
	}

	.tab-content {
		margin-bottom: 20px;

		.expand-collapse {
			text-align: right;

			a {
				padding: $standard-spacing;
			}
		}

		.portlet-msg-error {
			height: auto;
			white-space: normal;
		}

		.tab-content-tab {
			margin-top: 20px;
		}
	}
}

.tab-view {
	&.details {
		margin: 0 23vw 0 2vw;
		padding-top: 175px;
		word-break: break-all;

		&.account, &.partner {
			margin: 0 2vw;

			.tabs {
				right: calc(2vw + 20px);
			}
		}

		.tabs {
			left: calc(2vw + 80px);
			margin: 0;
			position: fixed;
			right: calc(23vw + 20px);
			top: $banner-height + $ticket-view-heading-height;
			z-index: 11;
		}

		.tab-content {
			padding: 0;
			width: 100%;
			word-break: normal;
			word-wrap: break-word;

			&.truncated {
				height: 500px;
				overflow: hidden;
			}

			.attachments, .links {
				border: 1px solid;
				border-color: $border-color;
				border-radius: 2px;
				margin: 0 0 20px 0;
				padding: 10px;

				td {
					border: none !important;
				}

				.aui-button-input, .btn {
					text-transform: none;
				}

				.download-all {
					padding: 10px;
					text-align: right;
				}
			}

			.lfr-search-container {
				td {
					border-bottom: 1px solid $border-color;
				}
			}

			.solution-confirm-container {
				.attachments-title {
					display: block;
					width: 100px;
				}

				.solution-confirm-btn {
					font-size: 13px;

					&.btn-no {
						border-color: $urgent;
						color: $urgent;

						&:hover {
							background: $urgent;
							color: #FFF;
						}
					}
				}

				.solution-confirm-comment, .solution-issue-summary {
					background: #FFF;
					border: 1px solid $medium-gray;
					max-height: 250px;
					overflow: auto;

					pre {
						background-color: transparent;
						border-width: 0;
						color: inherit;
						font-family: "Avenir Book";
						white-space: pre-wrap;
					}

					.code {
						background: none repeat scroll 0 0 #FFF;
						border: 1px solid $medium-gray;
						font-family: monospace;
						max-height: 180px;
						overflow-x: auto;
						white-space: pre;
					}

					.code-lines {
						border-right: 1px solid $border-color;
						color: #000;
						margin-right: 5px;
						padding: 0 5px;
					}

					.quote {
						background: url(@theme_image_path@/message_boards/quoteleft.png) no-repeat scroll left top #FFF;
						border: 1px solid $medium-gray;
						padding: 5px 0 0 5px;
					}

					.quote-content {
						background: url(@theme_image_path@/message_boards/quoteright.png) no-repeat scroll right bottom;
						padding: 5px 30px 10px;
					}
				}

				.solution-confirm-message {
					margin-top: 10px;
					text-align: center;

					.solution-confirm-answer {
						padding-bottom: $standard-spacing;

						input.style-a {
							border-color: $hover-blue;
							color: $hover-blue;

							&:hover {
								color: #FFF;
							}
						}
					}

					.solution-confirm-question {
						font-weight: bold;
						padding-bottom: $standard-spacing;
					}
				}
			}
		}
	}

	.portlet-msg-error, .portlet-msg-info, .portlet-msg-success {
		display: inherit;
		position: inherit;
	}

	.tabs {
		border-bottom: 2px solid $medium-gray;
		height: 35px;
		margin: 45px 0 25px 0;
		padding: 0;
		position: relative;

		div {
			bottom: -3px;
			height: 100%;
			position: absolute;

			span {
				border-bottom: 3px solid transparent;
				color: $medium-gray;
				cursor: pointer;
				display: inline-block;
				font-size: 16px;
				margin: 0 20px;
				padding: 4px 2px;

				&.first {
					margin: 0 20px 0 0;
				}

				&.notification {
					background-color: $primary-blue;
					border-radius: 50%;
					border-width: 0;
					bottom: 3px;
					display: inline-block;
					height: 7px;
					margin: 0;
					padding: 0;
					position: relative;
					width: 7px;
				}

				&.selected {
					border-bottom: 3px solid $primary-blue;
					color: $text-color;

					&.highlight-red {
						color: $error;
					}
				}
			}

			.bulk-edit-toggle {
				right: 0;
				width: auto;

				span {
					margin: 0;
				}
			}
		}
	}
}