.arrow-down, .arrow-up {
	&:after {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		content: "";
		display: inline-block;
		height: 0;
		position: relative;
		vertical-align: middle;
		width: 0;
	}
}

.arrow-down:after {
	border-top: 4px solid $text-color;
}

.arrow-up:after {
	border-bottom: 4px solid $text-color;
}

.back-link {
	margin: 10px 0;
}

.circle-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;

	&.large {
		height: 100px;
		width: 100px;
	}

	&.medium {
		height: 60px;
		width: 60px;
	}

	&.small {
		height: 45px;
		width: 45px;
	}
}

.disabled {
	background-color: $border-color;
}

.double-indent {
	padding-left: 50px;
}

.element-has-error {
	.control-label, .help-block {
		color: $has-error-color;
	}

	.form-control {
		border-color: $has-error-color;
	}
}

.expired-text {
	color: $urgent;
	font-weight: bold;
	text-transform: uppercase;
}

.full-screen {
	max-width: none !important;

	.portlet-column {
		max-width: none;
	}
}

.icon {
	margin-right: $standard-spacing;
}

.indent {
	padding-left: 25px;
}

.highlight-red {
	color: #F00;
	font-weight: bold;
}

.highlighted-flag {
	color: #F00;
	position: relative;
	top: 4px;
}

.pending {
	line-height: 36px;
}

.separator {
	border-top: 1px dotted $medium-gray;
	clear: both;
}

.single-line {
	clear: both;
	display: block;
	padding: 5px 0;
	width: 100%;
}

.unit {
	display: block;
	float: left;
	margin: 0 10px;
	min-height: 9px;
}

.unselectable {
	user-select: none;
}

.user-avatar {
	background: no-repeat center;
	background-size: cover;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	margin: 0 8px;
	padding: 0;
	vertical-align: middle;
	width: 50px;

	&.assignee {
		height: 30px;
		margin: 5.5px 8px;
		width: 30px;
	}

	&.audit {
		display: inline-block;
		height: 20px;
		margin: 0;
		width: 20px;
	}
}

.visibility-liferay {
	background-color: #E0F8F7;
}

.visibility-workers {
	background-color: $error;
}

/* ---------- Display ---------- */

.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

/* ---------- Spacing ---------- */

.margin-top {
	margin-top: 2em;
}

.section-vertical-spacing {
	padding-bottom: $standard-spacing;
	padding-top: $standard-spacing;
}