/* ---------- Banners ---------- */

$error: #FCC;
$info: #A4A4A4;
$urgent: #FF5454;
$warning: #FFC;

/* ---------- Main ---------- */

$hover-blue: #2B8CDE;
$light-bg: #E3E4E5;
$medium-gray: #909295;
$primary-blue: #005B96;

$border-color: #D0D1D3;
$text-color: #474A4B;

/* ---------- Severity ---------- */

$critical: #EA5B60;
$major: #F9D35F;
$minor: #66BC58;