/* ---------- Banners ---------- */

$error: #FCC;
$info: #A4A4A4;
$maintenance: #DBA901;
$maintenance-border: #A08116;
$urgent: #FF5454;
$urgent-border: #980000;
$warning: #FFC;
$warning-border: #FC0;

/* ---------- Components ---------- */

$dynamic-upload-bg: #A7CEDF;

/* ---------- Main ---------- */

$hover-blue: #2B8CDE;
$light-bg: #E3E4E5;
$medium-gray: #909295;
$primary-blue: #005B96;

$border-color: #D0D1D3;
$text-color: #474A4B;

/* ---------- Navigation ---------- */

$banner-height: 56px;

$has-control-menu-top-desktop: 66px;
$has-control-menu-top-mobile: 48px;

$lesa-mobile-nav-height: 52px;
$lesa-nav-width: 60px;

$standard-spacing: 15px;

$ticket-view-heading-height: 120px;
$ticket-view-tab-height: 35px;

$ticket-view-header-height: $ticket-view-heading-height + $ticket-view-tab-height + $standard-spacing;

/* ---------- Preferences ---------- */

$dashboard-bg: #F3FBFE;
$manager-dashboard-manager: #0B447C;
$manager-dashboard-watcher: #3A0092;
$pref-toggler: #1B3A6A;
$progress-bg: #8DB2E3;
$progress-border: #83A8D9;

/* ---------- Severity ---------- */

$critical: #EA5B60;
$major: #F9D35F;
$minor: #66BC58;