#if ("$container.data" == "")
	#set($containerClass = "some_name_space")
#else
	#set($containerClass = $container.data)
#end

<style>
	svg#Layer_1 {
		min-height: 430px;
	}

	#countriesToggle .arrow {
		border: 6px solid transparent;
		display: inline-block;
		vertical-align: top;
	}

	#countriesToggle .aui-toggler-header-collapsed .arrow {
		border-left-color: #777;
		border-right-width: 0;
		margin: 3px 14px 0 0;
	}

	#countriesToggle .aui-toggler-header-expanded .arrow {
		border-bottom-width: 0;
		border-top-color: #777;
		margin: 5px 8px 0 0;
	}

	#countriesToggle .contact-country {
		color: #000;
		cursor: pointer;
		padding: 10px 0;
	}

	#countriesToggle .contact-info {
		color: #474A4B;
		padding: 0 0 10px 30px;
	}

	.always-hidden {
		display: none;
	}

	.contact-country {
		font-weight: bold;
	}

	.country {
		cursor: pointer;
	}

	.desktop-show {
		border: 1px solid #519AD6;
	}

	.sub-map-info {
		background: #519AD6;
		color: #FFF;
		font-size: 1.2em;
		padding: 5px 12px;
	}

	.svg-dialog .close {
		background: url("/documents/$groupId/98401a14-9fcf-4f9a-8f1d-4fdcb7ff0207") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-size: cover;
		cursor: pointer;
		height: 30px;
		margin: 1px;
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
	}

	.svg-dialog .content {
		clear: both;
	}

	.svg-dialog .yui3-widget-hd, .desktop-hidden, .mobile-hidden {
		display: none;
	}

	@media all and (max-width: 720px) {
		.desktop-hidden {
			display: block;
		}

		.desktop-show {
			display: none;
		}
	}

	$style.data
</style>

<script>
	AUI().ready(
		'aui-base',
		'aui-dialog',
		'aui-io',
		function(A) {
			var container = A.one('.$containerClass');

			var dataURL = '$ajaxurl.data';

			var SVGDialog = function() {
				var prototype = {
					createDialog: function(eventObj, content, dialogClass) {
						var instance = this;

						var xyPosition = instance._getXY(eventObj);

						return new A.Dialog(
							{
								bodyContent: content,
								constrain2view: true,
								cssClass: dialogClass + ' svg-dialog',
								destroyOnClose: true,
								resizable: false,
								constrain: xyPosition,
								xy: xyPosition
							}
						);
					},

					_getXY: function(eventObj) {
						var domNodeBoundingBox = eventObj.currentTarget.getDOM().getBoundingClientRect();

						var xPosition = domNodeBoundingBox.left;
						var yPosition = domNodeBoundingBox.bottom + window.pageYOffset;

						return [xPosition, yPosition];
					}
				};

				return prototype;
			};

			A.io.request(
				dataURL,
				{
					on: {
						failure: function(request) {
							var statusRequest = request.details[1].status;

							var failureMessage = '<div class="portlet-msg-error">Resource has failed to load. ('+ statusRequest + ')</div>';

							container.appendChild(failureMessage);
						},
						success: function() {
							var instance = this;
							var payload = instance.get('responseData');

							container.appendChild(payload);

							A.one(container).delegate(
								'click',
								function(event) {
									var instance = this;

									var popup = new SVGDialog();

									var countryIdentifier = instance.attr('data-country-attr');

									var svgDialogClassName = 'svg-dialog-' + countryIdentifier;

									var svgDialogClassNameDOM = A.one('.' + svgDialogClassName);

									var dialogContentDOM = A.one('.dialog-hidden-content').one('.' + countryIdentifier);

									if (dialogContentDOM && !svgDialogClassNameDOM) {
										var checkDialog = A.all('.svg-dialog');

										if (checkDialog.getDOM().length > 0) {
											checkDialog.each(
												function(node) {
													node.remove(true);
												}
											);
										}

										var htmlContent = dialogContentDOM.cloneNode(true);

										var dialog = popup.createDialog(event, htmlContent, svgDialogClassName);

										dialog.render();

										// Attach events for closing dialog
										A.one('.svg-dialog .close').on(
											'click',
											function() {
												dialog.destroy(true);
											}
										);
									}
								},
								'.country'
							);
						}
					}
				}
			);

			Window.test = A;
		}
	);

	AUI().use(
		'aui-base',
		'aui-toggler',
		function(A) {
			new A.TogglerDelegate(
				{
					closeAllOnExpand: false,
					container: '#countriesToggle',
					content: '.contact-info',
					expanded: false,
					header: '.contact-country'
				}
			);
		}
	);
</script>

<div class="$containerClass desktop-show"></div>

<div class="desktop-show sub-map-info">
	$mapDirections.data
</div>

<div class="always-hidden">
	<div class="dialog-hidden-content">
		#foreach ($country in $countryClass.getSiblings())
			<div class="$country.data">
				<div class="close"></div>

				<div class="content">
					<strong>$country.locationName.data</strong>

					$country.locationInfo.data
				</div>
			</div>
		#end
	</div>
</div>

<div class="desktop-hidden toggleable-list">
	<div id="countriesToggle">
		#foreach ($country in $countryClass.getSiblings())
			<div class="$country.data">
				<div>
					<div class="aui-toggler-header-collapsed contact-country">
						<span class="arrow"></span>

						$country.locationName.data
					</div>

					<div class="aui-toggler-content-collapsed contact-info">
						$country.locationInfo.data
					</div>
				</div>
			</div>
		#end
	</div>
</div>