#set ($assetEntryLocalService = $serviceLocator.findService("com.liferay.asset.kernel.service.AssetEntryLocalService"))
#set ($assetLinkLocalService = $serviceLocator.findService("com.liferay.asset.kernel.service.AssetLinkLocalService"))
#set ($classNameLocalService = $serviceLocator.findService("com.liferay.portal.kernel.service.ClassNameLocalService"))
#set ($journalArticleLocalService = $serviceLocator.findService("com.liferay.journal.service.JournalArticleLocalService"))
#set ($kBArticleLocalService = $serviceLocator.findService("com.liferay.knowledge.base.service.KBArticleLocalService"))
#set ($subscriptionLocalService = $serviceLocator.findService("com.liferay.portal.kernel.service.SubscriptionLocalService"))

#set ($kbArticleUtil = $serviceLocator.findService("com.liferay.osb.customer.web.internal.util.KBArticleUtil"))
#set ($osbTemplateUtil = $serviceLocator.findService("com.liferay.osb.customer.web.internal.util.OSBTemplateUtil"))

#set ($journalArticleClassName = "com.liferay.journal.model.JournalArticle")
#set ($kbArticleClassName = "com.liferay.knowledge.base.model.KBArticle")

#set ($journalArticleClassNameId = $classNameLocalService.getClassNameId($journalArticleClassName))
#set ($kbArticleClassNameId = $classNameLocalService.getClassNameId($kbArticleClassName))

#set ($journalArticle = $journalArticleLocalService.getArticle($groupId, $reserved-article-id.getData()))
#set ($oldestArticle = $journalArticleLocalService.getArticle($groupId, $reserved-article-id.getData(), 1.0))

#set ($assetEntry = $assetEntryLocalService.getEntry($journalArticleClassName, $journalArticle.getResourcePrimKey()))

#set ($assetLinks = $assetLinkLocalService.getDirectLinks($assetEntry.getEntryId(), 0))

#set ($isSubscribed = $subscriptionLocalService.isSubscribed($journalArticle.getCompanyId(), $permissionChecker.getUserId(), $journalArticleClassName, $journalArticle.getResourcePrimKey()))

#set ($actionBaseURL = $request.attributes.get("_3_WAR_osbknowledgebaseportlet_actionURL"))
#set ($editJournalArticleURL = $request.attributes.get("_3_WAR_osbknowledgebaseportlet_editJournalArticleURL"))
#set ($renderBaseURL = $request.attributes.get("_3_WAR_osbknowledgebaseportlet_renderURL"))

#set ($dateFormat = "MMMMM d, yyyy")

<div class="container-fluid">
	<div class="article-wrapper row">
		#set ($articleContentCssClass = "col-md-6 col-md-offset-3")

		#if (!$assetLinks.isEmpty())
			#set ($articleContentCssClass = "col-md-5 col-md-offset-2")
		#end

		<div class="article-content ${articleContentCssClass}">
			<div class="header">
				<h1 class="header-title">$reserved-article-title.getData()</h1>

				<div class="metadata">
					$osbTemplateUtil.renderAssetCategories($locale, $journalArticleClassName, $journalArticle.getResourcePrimKey())
				</div>

				#set ($portraitURL = $osbTemplateUtil.getPortraitURL("@image_path@", $oldestArticle.getUserId()))

				#if ($validator.isNotNull($portraitURL))
					<div class="user-profile-image">
						<img alt="$htmlUtil.escape($oldestArticle.getUserName())" class="avatar" src="$portraitURL" />
					</div>
				#end

				<div class="author">
					$htmlUtil.escape($oldestArticle.getUserName())
				</div>

				<div class="modified-date">
					$dateTool.format($dateFormat, $journalArticle.getModifiedDate(), $locale, $dateTool.getTimeZone())
				</div>
			</div>

			<div class="separator"><!-- --></div>

			<div class="disclaimer">
				#if ($validator.isNotNull($disclaimers.getData().trim()))
					<div class="portlet-msg-alert">
						$disclaimers.getData()
					</div>
				#else
					#foreach ($options in ${disclaimers.getOptions()})
						#if ($validator.isNotNull($options.trim()))
							<div class="portlet-msg-alert">
								$options

								<br />
							</div>
						#end
					#end
				#end
			</div>

			#if ($validator.isNotNull($description.getData().trim()))
				<section class="description">
					$description.getData()
				</section>
			#end

			#if ($validator.isNotNull($resolution.getData().trim()))
				<section class="resolution">
					<h2>$languageUtil.get($locale, "resolution")</h2>

					<div>
						$resolution.getData()
					</div>
				</section>
			#end

			#if ($validator.isNotNull($additionalInformation.getData().trim()))
				<section class="additional-info">
					<h2>$languageUtil.get($locale, "additional-information")</h2>

					<div>
						$additionalInformation.getData()
					</div>
				</section>
			#end

			#if ($permissionChecker.isSignedIn() && $validator.equals($request.window-state.toString(), "normal"))
				<h4 class="notification">
					#if (!$isSubscribed)
						<i class="icon-bell"></i> $languageUtil.format($locale, "notify-me-when-this-article-is-updated", "javascript:${randomNamespace}updateSubscribeURL('true');")
					#else
						<i class="icon-bell"></i> $languageUtil.format($locale, "do-not-notify-me-when-this-article-is-updated", "javascript:${randomNamespace}updateSubscribeURL('false');")
					#end

					#if ($permissionChecker.hasPermission($groupId, $journalArticleClassName, $journalArticle.getResourcePrimKey(), "UPDATE"))
						<a class="suggest-edit" href="$editJournalArticleURL">
							<i class="icon-lightbulb"></i> $languageUtil.get($locale, "suggest-an-edit")
						</a>
					#end
				</h4>
			#end
		</div>

		#if (!$assetLinks.isEmpty())
			<div class="col-md-3 col-md-offset-1 related-articles">
				<h3>$languageUtil.format($locale, "related-articles")</h3>

				#foreach ($assetLink in $assetLinks)
					#set ($articleURL = "")
					#set ($articleTitle = "")

					#set ($relatedAssetEntry = $assetEntryLocalService.getEntry($assetLink.getEntryId2()))

					#if ($relatedAssetEntry.getClassNameId() == $journalArticleClassNameId)
						#set ($relatedJournalArticle = $journalArticleLocalService.getLatestArticle($relatedAssetEntry.getClassPK(), 0))

						#set ($articleURL = $osbTemplateUtil.getJournalArticleURL($groupId, $relatedJournalArticle))
						#set ($articleTitle = $relatedJournalArticle.getTitle($locale))
					#elseif ($relatedAssetEntry.getClassNameId() == $kbArticleClassNameId)
						#set ($relatedKBArticle = $kBArticleLocalService.getLatestKBArticle($relatedAssetEntry.getClassPK(), 0))

						#set ($articleURL = $kbArticleUtil.getKBArticleURL($relatedKBArticle))
						#set ($articleTitle = $relatedKBArticle.getTitle())
					#end

					#if ($validator.isNotNull($articleURL))
						<a href="${articleURL}">
							$stringUtil.shorten($articleTitle, 83, "...")
						</a>
					#end
				#end
			</div>
		#end

		<form action="#" id="${randomNamespace}hrefFm" method="post" name="${randomNamespace}hrefFm"></form>
	</div>
</div>

<script type="text/javascript">
	AUI().ready(
		'aui-image-viewer',
		function(A) {
			var images = A.all(".article-content img");

			images.each(
				function(image, index) {
					image.setAttribute('href', image.get('src'));
				}
			);

			var imageViewer = new A.ImageViewer(
				{
					links: '.article-content img',
					playing: false,
					zIndex: 1
				}
			);

			imageViewer.render();

			A.one('.image-viewer-base-image-list').on(
				'click',
				function(event) {
					event.stopPropagation();

					imageViewer.hide();
				}
			);
		}
	);

	#if ($permissionChecker.isSignedIn())
		function ${randomNamespace}submitForm(url) {
			var fm = document.getElementById('${randomNamespace}hrefFm');

			fm.action = url;
			fm.submit();
		}

		function ${randomNamespace}updateSubscribeURL(subscribe) {
			AUI().ready(
				'liferay-portlet-url',
				function(A) {
					var actionURL = Liferay.PortletURL.createURL('$actionBaseURL');

					actionURL.setParameter('javax.portlet.action', 'subscribe');
					actionURL.setParameter('redirect', '$request.attributes.CURRENT_URL');
					actionURL.setParameter('resourcePrimKey', $journalArticle.getResourcePrimKey());
					actionURL.setParameter('subscribe', subscribe);

					${randomNamespace}submitForm(actionURL.toString());
				}
			);
		}
	#end
</script>