<style>
	.cp-navigation {
		float: right;
		margin: 3px 0;
	}

	.cp-navigation .nav-item {
		float: left;
		list-style: none;
	}

	.cp-navigation .nav-item a {
		padding: 0 10px;
	}

	.cp-navigation-wrapper {
		padding-bottom: 10px;
	}

	.cp-navigation-wrapper .nav-item a {
		color: #404040;
		text-decoration: none;
	}

	.cp-navigation-wrapper .nav-item:hover a, .cp-navigation-wrapper .nav-item.selected a {
		color: #F49B45;
	}

	.cp-navigation-wrapper .nav-item.parent-item {
		font-size: 1.5em;
	}
</style>

#set ($layout_id = $request.get("theme-display").get("plid"))
#set ($layout_service = $serviceLocator.findService("com.liferay.portal.kernel.service.LayoutLocalService"))
#set ($layout = $layout_service.getLayout($getterUtil.getLong($layout_id)))
#set ($parent_id = $getterUtil.getLong($layout.getParentPlid()))
#set ($parent_layout = $layout_service.getLayout($parent_id))

#set ($page_title = $parent_layout.getTitle($locale))

#if ($page_title == "")
	#set ($page_title = $parent_layout.getName($locale))
#end

<div class="cp-navigation-wrapper">
	<span class="nav-item parent-item"><a href="/group/customer$parent_layout.getFriendlyURL()">$page_title</a></span>

	<ul class="cp-navigation">
		#foreach ($child_layout in $parent_layout.getChildren($permissionChecker))
			#set ($child_page_title = $child_layout.getTitle($locale))

			#if ($child_page_title == "")
				#set ($child_page_title = $child_layout.getName($locale))
			#end

			#set ($child_layout_css_class = "nav-item")

			#if ($child_layout.getPlid() == $layout_id)
				#set ($child_layout_css_class = "$child_layout_css_class selected")
			#end

			<li class="$child_layout_css_class">
				<a href="/group/customer$child_layout.getFriendlyURL()">$child_page_title</a>
			</li>
		#end
	</ul>
</div>