<style>
	.legacy .callout-table-a tr th.first {
		border-right-width: 0;
	}
</style>

#if ($heading.data != "")
	<h1 class="section-heading">
		$heading.data
	</h1>
#end

<table class="callout-table-a callout-table-downloads">

	<!-- col supports borders, backgrounds, width and visibility -->
	<col style="width: 40%;" />
	<col style="width: 20%;" />
	<col style="width: 20%;" />
	<col style="width: 20%;" />

	<thead>
		<tr class="first">
			<th class="col-1 first">
			</th>
			<th class="col-2">
				#if ($column1Heading.data != "")
					$column1Heading.data
				#end
			</th>
			<th class="col-3">
				#if ($column2Heading.data != "")
					$column2Heading.data
				#end
			</th>
			<th class="col-4 last">
				#if ($column3Heading.data != "")
					$column3Heading.data
				#end
			</th>
		</tr>
	</thead>

	<tbody>
		#set ($row-size = $rowHeading.siblings.size())
		#set ($row-count = 1)

		#foreach ($eachRowHeading in $rowHeading.siblings)
			#if ($row-count == $row-size)
				#set ($row-class = "last")
			#else
				#set ($row-class = "")
			#end

			#if ($eachRowHeading.rowIsSubheading.data == true)
				<tr class="subheading">
					<th class="only" colspan="4">
						$eachRowHeading.data
					</th>
				</tr>
			#else
				<tr class="$row-class">
					<th class="col-1 first">
						$eachRowHeading.data
					</th>
					<td class="col-2">
						#if ($eachRowHeading.column1IsChecked.data == true)
							<img alt="Yes" height="27" src="https://web.liferay.com/image/image_gallery?uuid=d1053865-b217-46f4-87c0-1f085db439ba&groupId=14&t=1304188046726" width="25" />
						#else
							$eachRowHeading.column1Content.data
						#end
					</td>
					<td class="col-3">
						#if ($eachRowHeading.column2IsChecked.data == true)
							<img alt="Yes" height="27" src="https://web.liferay.com/image/image_gallery?uuid=d1053865-b217-46f4-87c0-1f085db439ba&groupId=14&t=1304188046726" width="25" />
						#else
							$eachRowHeading.column2Content.data
						#end
					</td>
					<td class="col-4 last">
						#if ($eachRowHeading.column3IsChecked.data == true)
							<img alt="Yes" height="27" src="https://web.liferay.com/image/image_gallery?uuid=d1053865-b217-46f4-87c0-1f085db439ba&groupId=14&t=1304188046726" width="25" />
						#else
							$eachRowHeading.column3Content.data
						#end
					</td>
				</tr>
			#end

			#set ($row-count = $row-count + 1)
		#end
	</tbody>
</table>