.osb-portlet-training-certificate-verification .aui-field-input {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #BBB;
	border-radius: 2px;
	height: 25px;
	margin-bottom: 10px;
	padding: 1px;
	width: 200px;
}