<style>
	form div {
		margin-top: 10px;
	}

	form div, form div select, form div textarea {
		display: inline-block;
		width: 100%;
	}

	form div input {
		width: 99.55%;
	}

	form div input, form div select, form div textarea {
		outline: none;
	}

	form div select {
		background-color: #FFF;
		height: 22px;
	}

	form div textarea {
		height: 100px;
		resize: none;
	}

	optgroup {
		color: #CCC;
	}

	option {
		color: #000;
	}

	#comments {
		height: 80px;
	}

	.aui-button-input {
		margin-top: 20px;
	}

	.description {
		max-width: 620px;
	}

	.required:after {
		color: #FF0000;
		content: "*";
	}

	@media (min-width: 530px) {
		form div textarea {
			width: 98.5%;
		}

		.col-item:nth-child(odd) {
			width: 53%;
		}

		.col-item:nth-child(odd) input {
			width: 84.55%;
		}

		.col-item:nth-child(odd) select {
			width: 42.3%;
		}

		.col-item:nth-child(even) {
			width: 45.2%;
		}

		.col-item:nth-child(even) input {
			width: 100%;
		}

		.col-item:nth-child(even) select {
			width: 50%;
		}
	}
</style>

#set ($namespace = $request.portlet-namespace)

#if ($request.lifecycle == 'RENDER_PHASE')
	<script type="text/javascript">
		function search () {
			AUI().use(
				'aui-base',
				'aui-io-plugin',
				'aui-io-request',
				function(A) {
					var comments = A.one('#${namespace}comments').val();
					var company = A.one('#${namespace}company').val();
					var emailAddress = A.one('#${namespace}email').val();
					var hostnames = A.one('#${namespace}hostnames').val();
					var ipaddresses = A.one('#${namespace}ipaddresses').val();
					var keyType = A.one('#${namespace}keytype').val();
					var name = A.one('#${namespace}name').val();
					var portalVersion = A.one('#${namespace}version').val();
					var purpose = A.one('#${namespace}purpose').val();
					var region = A.one('#${namespace}region').val();
					var serverIDS = A.one('#${namespace}serverids').val();
					var serverType = A.one('#${namespace}servertype').val();

					A.io.request(
						'${request.resource-url}',
						{
							data: {
								${namespace}comments: comments,
								${namespace}company: company,
								${namespace}emailAddress: emailAddress,
								${namespace}hostnames: hostnames,
								${namespace}ipaddresses: ipaddresses,
								${namespace}keyType: keyType,
								${namespace}name: name,
								${namespace}portalVersion: portalVersion,
								${namespace}purpose: purpose,
								${namespace}region: region,
								${namespace}serverIDS: serverIDS,
								${namespace}serverType: serverType
							},
							dataType: 'json',
							on: {
								failure: function(event, id, obj) {
									var form = A.one('#${namespace}licenseFM');

									form.empty().append('<div class="portlet-msg-error">Your request failed to complete.</div>');
								},
								success: function(event, id, obj) {
									var form = A.one('#${namespace}licenseFM');

									form.empty().append('<div class="portlet-msg-success">Your request completed successfully.</div>');
								}
							}
						}
					);
				}
			);
		}
	</script>

	<h1>
		$header.data
	</h1>

	<p class="description">$description.data</p>

	<form id="${namespace}licenseFM" onsubmit="search(); return false;">
		#foreach ($formLabel in $formLabel.siblings)
			#set ($field = $formLabel.data)
			#set ($id = "${namespace}" + "$formLabel.id.data")
			#set ($required = $formLabel.required.data)
			#set ($selectOptions = $formLabel.selectOption.siblings)
			#set ($tag = $formLabel.formTag.data)

			#if ($tag == "select")
				<div class="col-item">
					<label class="required" for="$id"><strong>$field</strong></label>

					<br />

					<select id="$id" required>
						<option selected disabled hidden value="" />

						#foreach ($selectOption in $selectOptions)
							#set ($selectChildOptions = $selectOption.child.siblings)

							#if ($selectChildOptions.size() > 1)
								<optgroup label="$selectOption.data">

								#foreach ($selectChildOption in $selectChildOptions)
									<option value="$selectChildOption.data">$selectChildOption.data</option>
								#end

								</optgroup>
							#else
								<option value="$selectOption.data">$selectOption.data</option>
							#end
						#end
					</select>
				</div>
			#else
				#set ($cssClass = "")

				#if ($tag == 'input')
					#set ($cssClass = "col-item")
				#end

				<div class="$cssClass">
					#set ($labelCssClass = "")

					#if ($required == true)
						#set ($labelCssClass = "required")
					#end

					<label class="$labelCssClass" for="$id"><strong>$field</strong></label>

					<br />

					#set ($requiredAttribute = "")

					#if ($required == true)
						#set ($requiredAttribute = "required")
					#end

					#set ($type = "")

					#if ($id == "${namespace}email")
						#set ($type = "email")
					#else
						#set ($type = "text")
					#end

					<$tag id="$id" name="$id" $requiredAttribute $type></$tag>
				</div>
			#end
		#end

		<input class="aui-button-input" id="${namespace}licenseFMSubmit" type="submit" value="Submit" />
	</form>
#elseif ($request.lifecycle == 'RESOURCE_PHASE')
	#set ($company= $request.parameters.company)
	#set ($comments = $request.parameters.comments)
	#set ($emailAddress = $request.parameters.emailAddress)
	#set ($hostnames = $request.parameters.hostnames)
	#set ($ipaddresses = $request.parameters.ipaddresses)
	#set ($keyType= $request.parameters.keyType)
	#set ($name= $request.parameters.name)
	#set ($portalVersion = $request.parameters.portalVersion)
	#set ($purpose = $request.parameters.purpose)
	#set ($region = $request.parameters.region)
	#set ($serverIDS = $request.parameters.serverIDS)
	#set ($serverType= $request.parameters.serverType)
	#set ($topic = "License Key Request")

	#set ($portalClass = $portal.getClass())

	#set ($from = $portalClass.forName('javax.mail.internet.InternetAddress').newInstance())

	#set ($VOID = $from.setAddress($emailAddress))
	#set ($VOID = $from.setPersonal($name))

	#set ($to = $portalClass.forName('javax.mail.internet.InternetAddress').newInstance())

	#if (($region == 'APAC') || ($region == 'AU/NZ'))
		#set ($VOID = $to.setAddress("provisioning-apac@liferay.com"))
	#elseif ($region == 'Europe and Middle East')
		#set ($VOID = $to.setAddress("provisioning-emea@liferay.com"))
	#elseif ($region == 'South Asia')
		#set ($VOID = $to.setAddress("provisioning-in@liferay.com"))
	#elseif ($region == 'Latin America')
		#set ($VOID = $to.setAddress("provisioning-br@liferay.com"))
	#elseif ($region == 'Spain/Portugal')
		#set ($VOID = $to.setAddress("provisioning-es@liferay.com"))
	#elseif ($region == 'US/Canada')
		#set ($VOID = $to.setAddress("provisioning-na@liferay.com"))
	#end

	#set ($mailMessage = $portalClass.forName('com.liferay.portal.kernel.mail.MailMessage').newInstance())

	#set ($bodyHeader = "License Form submission from $name containing the following info:")
	#set ($bodyContent = "

Company: $company
Email: $emailAddress
Purpose: $purpose
Liferay Support Region: $region
Type of Key: $keyType
Version of Liferay: $portalVersion
Type of Server: $serverType
")

	#if ($serverIDS != "")
		#set ($bodyContent = $bodyContent + "Server IDs: $serverIDS
")
	#end

	#if ($ipaddresses != "")
		#set ($bodyContent = $bodyContent + "IP Addresses: $ipaddresses
")
	#end

	#if ($hostnames != "")
		#set ($bodyContent = $bodyContent + "Host Names: $hostnames
")
	#end

	#if ($comments != "")
		#set ($bodyContent = $bodyContent + "Additional Comments: $comments
")
	#end

	#set ($body = $bodyHeader + $bodyContent)

	#set ($VOID = $mailMessage.setBody($body))
	#set ($VOID = $mailMessage.setHTMLFormat('true'))
	#set ($VOID = $mailMessage.setFrom($from))
	#set ($VOID = $mailMessage.setSubject($topic))
	#set ($VOID = $mailMessage.setTo($to))

	#set ($mailService = $serviceLocator.findService('com.liferay.mail.service.MailService'))

	#set ($VOID = $mailService.sendEmail($mailMessage))
#end