.modal-content {
	border-radius: $border-radius;
	border-width: 0;
	box-shadow: $box-shadow;
}

.testray-modal-content {
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;

	&.spacing-footer {
		bottom: 80px;
	}

	&.spacing-toolbar {
		top: 80px;
	}
}

.testray-modal-footer, .testray-modal-toolbar {
	background-color: $background-color;
	height: 80px;
	left: 0;
	padding: 15px 20px;
	width: 100%;
}

.testray-modal-footer {
	border-top: 1px solid $border-color;
	bottom: 0;
	margin: 0;
	position: fixed;
}

.testray-modal-toolbar {
	border-bottom: 1px solid $border-color;
	position: absolute;
	right: 0;
	top: 0;
}