<style>
	.lego-image {
		max-height: 100%;
		max-width: 100%;
	}

	.max-960 {
		margin: 0 auto;
		max-width: 960px;
	}

	.no-max .max-960 {
		max-width: none;
	}

	$legoCss.data

	#foreach ($mediaQuery in $legoMediaQuery.siblings)
		#set ($mediaQueryText = "@media all")

		#if ($mediaQuery.mediaQueryMax.data != "")
			#set ($mediaQueryText = $mediaQueryText + " and (max-width: $mediaQuery.mediaQueryMax.data)")
		#end

		#if ($mediaQuery.mediaQueryMin.data != "")
			#set ($mediaQueryText = $mediaQueryText + " and (min-width: $mediaQuery.mediaQueryMin.data)")
		#end

		#if ($mediaQuery.data != "")
			$mediaQueryText {
				$mediaQuery.data
			}
		#end
	#end
</style>

#set ($articleCssClass = "lego-article")

#if ($legoCssClass.data != "")
	#set ($articleCssClass = $articleCssClass + " $legoCssClass.data")
#end

<div class="$articleCssClass" id="article-${reserved-article-id.data}">
	<div class="lego-article-content max-960">
		#foreach ($section in $legoSectionAttr.siblings)
			#set ($sectionCount = $velocityCount)
			#set ($sectionCssClass = "aui-helper-clearfix lego-section section-${sectionCount}")

			#if ($section.sectionCssClass.data != "")
				#set ($sectionCssClass = $sectionCssClass + " $section.sectionCssClass.data" )
			#end

			<div class="$sectionCssClass" $section.data>
				#foreach ($block in $section.legoBlockAttr.siblings)
					#set ($blockCount = $velocityCount)
					#set ($blockCssClass = "aui-w${block.width.data} block-${blockCount} content-column lego-block")

					#if ($block.blockCssClass.data != "")
						#set ($blockCssClass = $blockCssClass + " $block.blockCssClass.data" )
					#end

					<div class="$blockCssClass" $block.data>
						<div class="content-column-content ${block.columnPosition.data}-column">
							#foreach ($element in $block.legoElementAttr.siblings)
								#set ($elementCssClass = "lego-element")

								#if ($element.elementCssClass.data != "")
									#set ($elementCssClass = $elementCssClass + " $element.elementCssClass.data" )
								#end

								#if ($element.elementType.data == "button")
									<a class="btn $elementCssClass" id="button-${reserved-article-id.data}${sectionCount}${blockCount}$velocityCount" $element.data>$element.elementContent.data</a>
								#elseif ($element.elementType.data == "heading")
									<h2 class="redesign heading $elementCssClass" $element.data>
										$element.elementContent.data
									</h2>
								#elseif ($element.elementType.data == "image")
									<img class="lego-img $elementCssClass" $element.data src="$element.elementContent.data" />
								#elseif ($element.elementType.data == "sub_heading")
									<p class="redesign sub-heading $elementCssClass" $element.data>
										$element.elementContent.data
									</p>
								#else
									<$element.elementType.data class="$elementCssClass" $element.data>
										$element.elementContent.data
									</$element.elementType.data>
								#end
							#end
						</div>
					</div>
				#end

				#if ($section.customContent.data != "")
					$section.customContent.data
				#end
			</div>
		#end
	</div>
</div>