#set ($render_default = true)

#if ($targetUser && ($targetUser.getData() != ""))
	#parse("$journalTemplatesPath/43631786")

	#foreach ($targets in $targetUser.siblings)
		#set ($articleId = $targets.articleId.data)

		#foreach ($target in $stringUtil.split($targets.data))
			#set ($portlet_embedded = false)

			#if (($target == "random") || ($target == $target_country) || ($target == $target_industry) || ($target == $target_persona) || (($target == "hubspot") && $hs_contact))
				#set ($portlet_embedded = true)

				#if ($articleId == "default")
					#break
				#end

				#set ($render_default = false)
				#set ($namespace = "${reserved-article-id.data}-${velocityCount}")

				#if ($target == "random")
					#set ($articles = $stringUtil.split($articleId))
					#set ($namespace = $articles.get($mathTool.random(0, $articles.size())))
				#elseif ($articleId != "")
					#set ($namespace = $articleId)
				#end

				<div id="embedded-targeted-article-$namespace">
					<runtime-portlet name="56" instance="targeted_$namespace" queryString="" />
				</div>

				#break
			#end
		#end

		#if ($portlet_embedded)
			#break
		#end
	#end
#end

#if ($render_default && (!$displayLocales || ($displayLocales.getData() == "") || $displayLocales.getData().contains($locale.toString())))
	#if (($legoCss.data != "") || ($legoMediaQuery.data != ""))
		<style type="text/css">
			.lego-image {
				max-height: 100%;
				max-width: 100%;
			}

			.max-960 {
				margin: 0 auto;
				max-width: 960px;
			}

			.no-max .max-960 {
				max-width: none;
			}

			$legoCss.data

			#foreach ($media_query in $legoMediaQuery.siblings)
				#set ($media_query_text = "@media all")

				#if ($media_query.mediaQueryMax.data != "")
					#set ($media_query_text = $media_query_text + " and (max-width: $media_query.mediaQueryMax.data)")
				#end

				#if ($media_query.mediaQueryMin.data != "")
					#set ($media_query_text = $media_query_text + " and (min-width: $media_query.mediaQueryMin.data)")
				#end

				#if ($media_query.data != "")
					$media_query_text {
						$media_query.data
					}
				#end
			#end
		</style>
	#end

	#set ($article_css_class = "lego-article")

	#if ($legoCssClass.data != "")
		#set ($article_css_class = $article_css_class + " $legoCssClass.data")
	#end

	<div class="$article_css_class" id="article-${reserved-article-id.data}">
		<div class="lego-article-content max-960">
			#foreach ($section in $legoSectionAttr.siblings)
				#set ($section_count = $velocityCount)
				#set ($sectionCssClass = "aui-helper-clearfix lego-section section-${section_count}")

				#if ($section.sectionCssClass.data != "")
					#set ($sectionCssClass = $sectionCssClass + " $section.sectionCssClass.data")
				#end

				<div class="$sectionCssClass" $section.data>
					#foreach ($block in $section.legoBlockAttr.siblings)
						#set ($block_count = $velocityCount)
						#set ($blockCssClass = "aui-w${block.width.data} block-${block_count} content-column lego-block")

						#if ($block.blockCssClass.data != "")
							#set ($blockCssClass = $blockCssClass + " $block.blockCssClass.data")
						#end

						<div class="$blockCssClass" $block.data>
							<div class="content-column-content ${block.columnPosition.data}-column">
								#foreach ($element in $block.legoElementAttr.siblings)
									#set ($elementCssClass = "lego-element")

									#if ($element.elementCssClass.data != "")
										#set ($elementCssClass = $elementCssClass + " $element.elementCssClass.data")
									#end

									#if ($element.elementType.data == "button")
										<a class="btn $elementCssClass" id="button-${reserved-article-id.data}${section_count}${block_count}$velocityCount" $element.data>$element.elementContent.data</a>
									#elseif ($element.elementType.data == "heading")
										<h2 class="redesign heading $elementCssClass" $element.data>
											$element.elementContent.data
										</h2>
									#elseif ($element.elementType.data == "image")
										<img class="lego-img $elementCssClass" $element.data src="$element.elementContent.data" />
									#elseif ($element.elementType.data == "sub_heading")
										<p class="redesign sub-heading $elementCssClass" $element.data>
											$element.elementContent.data
										</p>
									#else
										<$element.elementType.data class="$elementCssClass" $element.data>
											$element.elementContent.data
										</$element.elementType.data>
									#end
								#end
							</div>
						</div>
					#end

					#if ($section.customContent.data != "")
						$section.customContent.data
					#end
				</div>
			#end
		</div>
	</div>
#end