.osb-portlet-training-survey {
	color: #787D82;
	font-size: 1.2em;
	margin: 65px auto !important;
	max-width: 745px !important;

	.aui-button.aui-button-submit {
		float: right;
	}

	.aui-button-holder {
		padding-top: 20px;
	}

	.aui-button-input.aui-button-input-cancel {
		border: 1px solid #787D82;
		color: #787D82;
		margin: 0 12px 10px 0;

		&:focus, &:hover {
			background: #787D82;
			color: #FFF;
		}
	}

	.aui-field-select {
		display: block;
		padding: 20px 0;
	}

	.aui-field-wrapper, .aui-field-wrapper-content {
		padding: 20px 0;
	}

	.aui-form {
		clear: both;
		padding: 40px 80px 85px;
		text-align: left;

		.aui-field-text.participant-name .aui-field-input {
			float: none;
			max-width: 210px !important;
		}
	}

	.aui-form-validator-error-container .aui-field-element {
		padding: 0;
	}

	.btn {
		border-radius: 2px;
		font-weight: normal;
		padding: 5px 15px;
	}

	.form-header {
		padding-left: 95px;
	}

	.header-back {
		float: left;
		margin-right: 10px;
	}

	.header-certify {
		color: #1C75B9;
		font-size: 26px;
		font-weight: normal;
		padding-top: 40px;
		vertical-align: top;
	}

	.header-date {
		color: #909295;
		font-size: 19px;
	}

	.header-learn {
		color: #474A4B;
		font-size: 22px;
		padding-top: 25px;
	}

	.header-title {
		color: #005B96;
		font-size: 32px;
		font-weight: normal;
		line-height: 40px;
		vertical-align: top;
	}

	.heading-msg {
		&.portlet-msg-error, &.portlet-msg-success {
			background-image: none;
			border: 0;
			color: #FFF;
			font-size: 2em;
			font-weight: normal;
			line-height: 1.25em;
			margin: 0 auto 50px 45px;
			padding: 25px 10px;
			text-align: center;

			.error-icon, .success-icon {
				display: inline-block;
				height: 40px;
				margin-right: 10px;
				vertical-align: middle;
				width: 40px;
			}
		}

		&.portlet-msg-error {
			background-color: #F5A11D;

			.error-icon {
				background: url(../images/fail_icon.png) center center no-repeat;
			}
		}

		&.portlet-msg-success {
			background-color: #9CCC52;

			.success-icon {
				background: url(../images/success_check.png) center center no-repeat;
			}
		}
	}

	.participant-name {
		.aui-field-content {
			padding-top: 20px;
		}

		.aui-field-input {
			float: none;
			max-width: 210px;
		}

		.aui-field-label {
			font-weight: bold;
		}

		.aui-label-required {
			font-weight: normal;
		}
	}

	.portlet-icon-check {
		background: url(../images/check_icon.png) no-repeat top right;
		display: inline-block;
		height: 35px;
		width: 35px;
	}

	.portlet-icon-gear {
		background: url(../images/gear_icon.png) no-repeat top right;
		display: inline-block;
		height: 40px;
		width: 40px;
	}

	.provide-feedback {
		.aui-field.aui-field-choice {
			width: 30%;
		}

		.aui-field-label {
			padding-bottom: 3px;
			width: 65%;
		}
	}

	.survey-body .aui-field-input.aui-field-input-text {
		min-height: 85px;
	}

	.survey-message {
		margin-left: 45px;

		a {
			text-decoration: none;
		}
	}

	.taglib-header {
		border: 0;
	}

	@media all and (max-width: 767px) {
		.aui-button.aui-button-submit {
			float: none;
		}

		.aui-button-holder, .aui-form {
			padding: 0;
		}

		.aui-field-choice, .aui-field-label, .aui-form .aui-field-text .aui-field-input {
			float: none;
			max-width: 100%;
			width: 100%;
		}

		.survey-body .aui-field-input.aui-field-input-text {
			min-height: 0;
		}

		.aui-field-label {
			padding-bottom: 3px;
			width: 100%;
		}

		.participant-name .aui-field-label {
			padding: 0;
			width: 100%;
		}
	}
}