<style>
	.legacy .callout-table-a td.first, .legacy .callout-table-a tr th.first {
		border-right-width: 0;
		vertical-align: middle;
	}
</style>

<table class="callout-table-a callout-table-downloads">

	<!-- col supports borders, backgrounds, width and visibility -->
	<col style="width: 33.333%;" />
	<col style="width: 33.333%;" />
	<col style="width: 33.333%;" />

	<thead>
		<tr class="first">
			<th class="col-1 first">
				&nbsp;
			</th>
			<th class="col-2">
				#if ($column1ImageLarge.data != "")
					<div class="ha-c x-4 x-6 x-9">
						<img src="$column1ImageLarge.data" />
					</div>
				#end

				#if ($column1Heading.data != "")
					$column1Heading.data
				#end
			</th>
			<th class="col-3 last">
				#if ($column2ImageLarge.data != "")
					<div class="ha-c x-4 x-6 x-9">
						<img src="$column2ImageLarge.data" />
					</div>
				#end

				#if ($column2Heading.data != "")
					$column2Heading.data
				#end
			</th>
		</tr>
	</thead>

	<tbody>
		#set ($row-size = $rowHeading.siblings.size())
		#set ($row-count = 1)

		#foreach ($eachRowHeading in $rowHeading.siblings)
			#if ($row-count == $row-size)
				#set ($row-class = "last")
			#else
				#set ($row-class = "")
			#end

			#if ($eachRowHeading.rowIsSubheading.data == true)
				<tr class="subheading">
					<th class="only" colspan="3">
						$eachRowHeading.data
					</th>
				</tr>
			#else
				<tr class="$row-class">
					<td class="col-1 first">
						#if ($eachRowHeading.data != "")
							$eachRowHeading.data
						#else
							&nbsp;
						#end
					</td>
					<td class="col-2">
						#if ($eachRowHeading.column1IsChecked.data == true)
							<img alt="Yes" height="27" src="https://web.liferay.com/image/image_gallery?uuid=d1053865-b217-46f4-87c0-1f085db439ba&groupId=14&t=1304188046269" width="25" />
						#else
							#if ($eachRowHeading.column1Content.data != "")
								$eachRowHeading.column1Content.data
							#else
								&nbsp;
							#end
						#end
					</td>
					<td class="col-3 last">
						#if ($eachRowHeading.column2IsChecked.data == true)
							<img alt="Yes" height="27" src="https://web.liferay.com/image/image_gallery?uuid=d1053865-b217-46f4-87c0-1f085db439ba&groupId=14&t=1304188046269" width="25" />
						#else
							#if ($eachRowHeading.column2Content.data != "")
								$eachRowHeading.column2Content.data
							#else
								&nbsp;
							#end
						#end
					</td>
				</tr>
			#end

			#set ($row-count = $row-count + 1)
		#end
	</tbody>
</table>