<style>
	h2 {
		font-weight: normal;
	}

	strong {
		font-weight: normal;
	}

	.security-heading {
		border-bottom: 1px solid #CCC;
		font-size: 2.5em;
		margin: 0 0 18px;
		padding: 0 0 8px;
	}
</style>

<div class="security-vulnerabilities">
	<h2 class="security-heading">
		$title.data
	</h2>

	<h2>
		$titleSub.data
	</h2>

	<div class="section sub-text">
		$titleDescription.data
	</div>

	<div class="generalInformation section">
		$generalInformation.data
	</div>

	#if ($affectedSoftware.data != "")
		$affectedSoftware.data

		<div class="affectedSoftware section">
			<h2>
				Affected Software Versions
			</h2>

			<ul class="versions">
				#foreach ($selection in $affectedSoftware.options)
					<li>$selection</li>
				#end
			</ul>
		</div>
	#end

	<div class="section vulnerability">
		$vulnerabilityInformation.data
	</div>

	<div class="section workaround">
		$workaround.data
	</div>

	<div class="notes section">
		$notes.data
	</div>

	<div class="references section">
		$references.data
	</div>

	<div class="installationInstructions section">
		$installationInstructions.data
	</div>
</div>