<style>
	.column-content .right-column {
		padding-left: 0px;
	}

	.legacy .mobile-top {
		padding-top: 30px;
	}
</style>

<article class="column-content mobile-top">
	#foreach ($each-heading in $heading.siblings)
		<div class="article cleared">
			<div class="aui-w20 fl left-column">
				#if ($each-heading.imageCallout.data == true)
					<img class="callout-image" src="$each-heading.image.data" width="100%" />
				#else
					<img src="$each-heading.image.data" width="100%" />
				#end
			</div>

			<div class="aui-w80 right-column">
				<h1 class="section-heading">
					$each-heading.data
				</h1>

				$each-heading.content.data
			</div>
		</div>
	#end
</article>