.osb-documentation-side-navigation-portlet {
	.portlet-borderless-container {
		min-height: 0;
	}

	.side-nav-wrapper {
		.related-articles {
			&.expanded ul {
				display: none;
			}
		}

		.side-nav-content {
			select {
				width: auto;
			}
		}

		.side-nav-toggle {
			cursor: pointer;
			font: 1.2em 'fontawesome-alloy';

			&:before {
				content: '\f0da';
			}

			&.expanded {
				float: right;

				&:before {
					content: '\f0d9';
				}
			}
		}

		.side-nav-tree {
			margin: 0;

			.selected {
				color: #4C4C4E;
			}

			.tree-node-content {
				&.tree-node-leaf {
					&:before {
						content: '\25AA';
					}
				}
			}
		}

		.version-selector {
			margin: 0;
		}
	}
}