#set ($portlet_display = $portletDisplay)

#set ($portlet_id = $htmlUtil.escapeAttribute($portlet_display.getId()))
#set ($portlet_title = $portlet_display.getTitle())

<div data-role="page" class="portlet" id="portlet_$portlet_id">
	<div data-role="header" data-position="fixed">
		<h1>
			$portlet_title
		</h1>
	</div>

	<div data-role="content">
		$portlet_display.writeContent($writer)
	</div>
</div>
