.dialog {
	background: #FFF;
	display: none;
	margin: 5vh 0 5vh;
	position: fixed;
	z-index: -1;

	&.border {
		border: 1px solid #999;
		padding: 5px;
	}

	&.center {
		left: 50vw;
		top: 50vh;
	}

	&.shadow {
		box-shadow: 4px 4px 14px #777;
	}

	&.visible {
		display: block;
		z-index: 1001;
	}

	.close-button {
		cursor: pointer;
		display: inline-block;
		font: normal 4em/normal Arial;
		height: 0.75em;
		position: absolute;
		right: 0;
		top: 0;
		width: 0.75em;

		&:after {
			background: #FFF;
			content: "";
			height: 0.05em;
			left: 0.15em;
			position: absolute;
			top: 0.3em;
			transform: rotateZ(-45deg);
			width: 0.4em;
		}

		&:before {
			background: #FFF;
			content: "";
			height: 0.05em;
			left: 0.15em;
			position: absolute;
			top: 0.3em;
			transform: rotateZ(45deg);
			width: 0.4em;
		}
	}

	.content {
		max-height: 90vh;
		overflow-y: auto;
	}

	.titlebar {
		background: #005B96;
		color: #FFF;
		min-height: 30px;
		padding: 5px 5px 5px 10px;
		position: relative;

		.title {
			font-weight: bold;
			line-height: 2;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&.dragging {
			cursor: pointer;
		}
	}
}

.dialog-overlay {
	background: #D8D8D8;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	&.visible {
		display: inline;
		opacity: 0.5;
		z-index: 1000;
	}
}