.osb-portlet-security-patch {
	.callout-download {
		.u-img img {
			height: 139px;
			width: 200px;
		}

		.u-nfo {
			width: 200px;
		}

		.u-dld select {
			width: 250px;
		}
	}

	.note {
		margin: 0 0 1.5em;
	}

	.url {
		font-size: 11px;
	}
}

.portlet-configuration {
	.security-patch-configuration {
		input[type=text] {
			width: 100%;
		}

		textarea {
			height: 100px;
			width: 100%;
		}
	}
}