.osb-portlet-page-feedback {
	.aui-choice-label {
		vertical-align: middle;
	}

	.aui-field-inline .aui-field-label {
		vertical-align: inherit;
	}

	.aui-field-input-choice {
		margin: 0 0 0 .5em;
	}

	.feedback-container {
		padding: 0 10px;

		textarea {
			box-sizing: border-box;
			height: 100px;
			resize: none;
			width: 100%;
		}

		.button-container {
			float: right;
			margin-top: 10px;
		}
	}
}

.page-feedback-dialog {
	position: fixed;

	.aui-panel-hd {
		display: none;
	}
}