@import "compass/css3";

.osb-portlet-marketing-events .jsp-view {
	select {
		border-color: #DDD;
		padding: 4px;
	}

	.content {
		margin: 0 auto;
		max-width: 1200px;
		text-align: center;

		.date, .location {
			font-size: 1em;
		}

		.loading-animation {
			background: url(@theme_image_path@/progress_bar/loading_animation.gif) no-repeat top center;
			margin-top: 10px;
			padding-top: 40px;
			text-align: left;
		}

		.marketing-event {
			border: 1px solid #E5E5E5;
			cursor: pointer;
			display: inline-block;
			margin: 0 5px 12px;
			min-height: 260px;
			padding: 20px 10px 15px;
			text-align: center;
			vertical-align: top;
			width: 205px;
		}

		.marketing-event:hover {
			border: 1px solid #1BAAE1;
		}

		.marketing-event img {
			max-height: 110px;
			max-width: 184px;
			vertical-align: middle;
		}

		.marketing-event-header {
			line-height: 90px;
			min-height: 130px;
			text-align: center;
		}

		.marketing-event-content {
			height: 170px;
		}

		.title {
			font-size: 1em;
			font-weight: normal;
			max-height: 3em;
			overflow: hidden;
		}
	}

	.header {
		padding-bottom: 10px;
		text-align: center;

		.highlighted-option {
			background-color: #C4DAE9;
			color: #4A6B82;
		}
	}

	.header-content {
		margin-bottom: 25px;
		text-align: left;
	}

	.navigation {
		padding-bottom: 10px;

		.container {
			display: inline;
			padding-right: 5px;
			white-space: nowrap;

			.label {
				display: inline-block;
				margin: 6px 3px;

				.remove, .text {
					background-color: #E0EAF1;
					border-bottom: 1px solid #B3CEE1;
					border-right: 1px solid #B3CEE1;
					color: #4A6B82;
					margin: 0;
					padding: 4px 8px;
					text-decoration: none;
				}

				.remove:hover, .text:hover {
					background-color: #C4DAE9;
				}
			}

			.title {
				font-weight: bold;
			}
		}
	}

	.search-box input {
		background: #FFF url(../images/search.png) no-repeat 10px 50%;
		border: 1px solid #AAA;
		display: block;
		font-size: 1.4em;
		height: 35px;
		margin: 0 0 20px;
		text-indent: 50px;
		width: 100%;
	}
}

.osb-portlet-marketing-events-popup.aui-panel {
	.aui-icon-closethick {
		background: url(../images/close_pop_up.png) no-repeat center;
	}

	.aui-loadingmask-content {
		background: none;
	}

	.aui-panel-content .aui-panel-hd {
		background: none;
	}

	.jsp-view-marketing-event {
		text-align: center;

		.marketing-event-content {
			margin: 20px 0;

			.date, .host, .location {
				font-size: 1em;
			}

			.summary {
				margin: 20px 10px;
				text-align: left;
			}

			.title {
				font-size: 1.25em;
				font-weight: normal;

				a {
					text-decoration: none;
				}
			}
		}

		.marketing-event-footer {
			padding-bottom: 10px;
			text-transform: uppercase;

			.downloads {
				padding-bottom: 10px;
			}

			.share-icon {
				display: inline;
				margin: 0 5px 20px;

				img {
					cursor: pointer;
					padding-left: 5px;
					vertical-align: middle;
					width: 13px;
				}
			}

			.share-link input[type="text"] {
				margin: 10px 0;
				min-width: 375px;
			}
		}

		.marketing-event-header {
			.marketing-event-image {
				margin-top: 30px;
				max-height: 200px;
				max-width: 584px;
				min-width: 0;
			}

			.video-content {
				width: 100%;

				.aui-video-node {
					width: 90%;
				}
			}
		}
	}
}