<p>
	Dear [$ADMIN_FULL_NAME$],
</p>

<p>
	[$USER_FULL_NAME$], with the email address of [$USER_EMAIL_ADDRESS$], asked to join "[$CORP_NAME$]". As an admin, you can approve this request. Note that another admin of your company may have already processed this request.
</p>

<p>
	To approve this request, follow the link below:
</p>

<p>
	[$CORP_MEMBERS_URL$]
</p>

<p>
	Thank You,<br />
	The Liferay Marketplace Team
</p>