<p>
	Dear [$USER_FULL_NAME$],
</p>

<p>
	Your request to join "[$CORP_NAME$]" has been approved by the admin. To verify your email address, please click the following link below:
</p>

<p>
	[$CORP_VALIDATE_URL$]
</p>

<p>
	Thank You,<br />
	The Liferay Team
</p>