.changelog-filter {
	.filter-header,
	.text-filter {
		flex-shrink: 0;
	}

	.jira-components {
		flex-grow: 1;
		margin-right: -24px;
		overflow: auto;
		padding-right: $padding-default;

		&.filter-subsection {
			margin-bottom: 32px;
		}
	}

	.more-options {
		bottom: 24px;
		position: absolute;
	}

	.sidebar-filters {
		display: flex;
		flex-direction: column;
		max-height: 50vh;
	}
}

.changelog-table {
	> tbody > tr > td.lfr-summary-column {
		font-size: $font-size-md;
	}

	.lfr-component-column {
		width: 20%;
	}

	.lfr-key-column,
	.lfr-release-column {
		width: 13%;
	}
}

.lfr-summary-column {
	button {
		font-size: $font-size-md;
		font-weight: $font-weight-normal;
		text-align: left;
		white-space: normal;
	}

	h3 {
		margin-bottom: 8px;
		margin-top: $margin-default;
	}

	.modal.show {
		background-color: transparent;
		left: initial;
		top: $header-height;
		width: 600px;
	}

	.modal-body {
		max-height: 100%;
		padding: $padding-default $padding-default 48px;
	}

	.modal-content {
		border-radius: 0;
		box-shadow: none;
		overflow: hidden;
	}

	.modal-dialog {
		background-color: $color-white;
		border-left: 1px solid $color-divider;
		border-top: 1px solid $color-divider;
		height: 100%;
		margin: 0;
		overflow: auto;
		position: absolute;
	}

	@include media-breakpoint-down(sm) {
		.modal.show {
			top: 112px;
			width: 100%;
		}

		.modal-body {
			bottom: 0;
		}
	}
}

.slide-enter {
	.modal-dialog {
		right: -600px;
	}
}

.slide-enter-done {
	.modal-dialog {
		right: 0;
		transition: right 300ms ease-in;
	}
}