.main-heading {
	background: linear-gradient(119.51deg, #113B87 0.45%, #123C8A 28.91%, #103880 100%);
	color: $color-white;
	padding: 32px 0 44px;
}

.pagination {
	margin: 32px 0 64px;
}

.results-count {
	padding-bottom: $padding-md;
}

.section-subtitle {
	padding-bottom: $padding-sm;
}

.sidebar-filters {
	background-color: $color-grey;
	border: $border-radius;
	margin: 0 48px 0 -12px;
	padding: $padding-default;

	button {
		font-size: $font-size-md;
		padding: 0;
	}

	h3 {
		margin: 0;
	}

	select,
	.text-filter {
		background-color: $color-white;
		border: 1px solid $input-border-color;
	}

	.filter-checkbox {
		margin-right: 8px;
	}

	.filter-checkbox-container {
		padding-top: $padding-md;

		label {
			display: flex;
			margin-bottom: 0;
		}
	}

	.filter-header {
		display: flex;
		justify-content: space-between;
	}

	.filter-subsection {
		margin-bottom: 8px;
		margin-top: $margin-default;

		.filter-checkbox-container:first-child {
			padding-top: $padding-default;
		}
	}

	.text-filter {
		height: 32px;
		margin-top: $margin-sm;
	}

	@include media-breakpoint-down(md) {
		margin-right: -$margin-sm;
	}
}

.sorting-indicator {
	margin-left: 8px;

	&:hover {
		cursor: pointer;
	}

	&.arrow-down.desc,
	&.arrow-up.asc {
		transform: rotate(180deg);
	}
}

.tab-description {
	width: 80%;

	h4 {
		margin: $margin-default 0 8px;
	}

	li {
		margin-bottom: 8px;
	}

	ul {
		margin: $margin-default 0;
		padding-left: $padding-md;
	}

	.alert {
		display: flex;
		font-size: $font-size-md;

		.alert-indicator {
			align-items: center;
			display: flex;
			padding-right: $padding-sm;
		}
	}
}

.table {
	table-layout: auto;

	> thead > tr > th {
		font-weight: $font-weight-semi-bold;
	}

	> tbody > tr > td:first-child {
		font-weight: $font-weight-normal;
	}
}

.table-list a {
	color: $color-primary;
	font-size: $font-size-md;
	font-weight: $font-weight-semi-bold;
}