.module-changes-sidebar {
	form .filter {
		margin-top: $margin-default;
	}

	.sidebar-filters {
		margin-bottom: $margin-default;
	}
}

.module-changes-table {
	color: $secondary-text-color;

	.lfr-from-version-column,
	.lfr-to-version-column {
		width: 18%;
	}

	.lfr-group-column {
		width: 30%;
	}

	.lfr-name-column {
		padding-left: $padding-sm;
	}

	.module-changed {
		color: $color-default;
	}
}

.module-changes-toggle {
	.toggle {
		align-items: center;
		display: flex;
		font-size: $font-size-md;
		margin: $margin-default 0 0;
	}
}

.table > tbody > tr.module-changed > td:first-child {
	font-weight: $font-weight-semi-bold;
}

.upgrade-module-changes-container {
	margin-top: 70px;
}