@import "custom-variables";

@import "base-variables";

header:not(.has-control-panel) + main {
	.lfr-summary-column .modal.show {
		top: 64px;

		@include media-breakpoint-down(md) {
			top: 48px;
		}
	}
}

.osb-release-tool-portlet {
	@import "_changelog";
	@import "_fixpack-filters";
	@import "_highlights";

	.main-heading {
		background-color: $color-grey;
		padding: 80px 0 84px;
	}

	.pagination {
		margin: 32px 0 64px;
	}

	.refinement-filters {
		background-color: $color-grey;
		border: $border-radius;
		margin: 0 48px 0 -12px;
		padding: $padding-default;

		.refinement-checkbox {
			margin-right: 8px;
		}

		.refine-by {
			margin: 0 0 8px;
		}
	}

	.results-count {
		padding: $padding-default 0;
	}

	.sorting-indicator {
		margin-left: 8px;

		&:hover {
			cursor: pointer;
		}

		&.asc {
			transform: rotate(180deg);
		}
	}

	.table {
		table-layout: auto;

		> thead > tr > th {
			font-weight: $font-weight-semi-bold;
		}

		> tbody > tr > td:first-child {
			font-weight: $font-weight-normal;
		}
	}

	.table-list a {
		color: $color-primary;
	}
}