<div style="border-bottom: 1px solid #FFFFFF; border-top: 1px solid #BABEC2; font-size: 0; margin: 18px 0; position: relative; text-indent: -9999em;"></div>

<div style="clear: both; margin-left: -10px; margin-right: -10px;">
	<div style="font-size: 11px; font-weight: bold; margin: 0 10px 0 10px;">
		[$ACTION_INFORMATION$]
	</div>
</div>