[b]Is production still down/impacted?[/b]
[$IMPACTED$]

[b]What is the main goal?[/b]
[$MAIN_GOAL$]

[b]What work have you done so far?[/b]
[$WORK_DONE$]

[b]What does the customer still need to do?[/b]
[$CUSTOMER_NEXT_STEPS$]

[b]What does the next region need to do?[/b]
[$NEXT_REGION_NEXT_STEPS$]