[b]Call Type[/b]: [$TYPE$]
[b]Call Date[/b]: [$CALL_DATE$]

[b]Customer Confirmation[/b]: [$CONFIRMATION$]

[b]Internal Instructions[/b]: [$INSTRUCTIONS$]

[b]Call Length[/b]: [$CALL_LENGTH$]    [b]Customer Name[/b]: [$CUSTOMER_NAME$]    [b]Contact Info[/b]: [$CUSTOMER_CONTACT$]