[$CUSTOMER_NAME$] 様、<br /><br />

このたびは、ライフレイサポートをご利用いただき誠にありがとうございました。弊社ではサポートの品質向上のための「お客様アンケート」を実施させていただいております。つきましては、<a href="[$TICKET_ENTRY_URL$]">[$TICKET_DISPLAY_ID$]</a>でのサポートサービスに関するお客様からの貴重なご意見を頂戴したくメールさせていただきました。<br /><br />

お手数をおかけいたしますが、下記のリンクからアンケートにご回答いただけますでしょうか？<br />
<a href="[$TICKET_ENTRY_URL$]">[$TICKET_DISPLAY_ID$]</a><br /><br />

お寄せいただいたご意見をもとに、お客様の信頼に応えられるサポートサービスとして、一段の品質向上に努めて参る所存でございます。<br /></br />

何卒よろしくお願い申し上げます。<br />
日本ライフレイサポートチーム