Dear Team,<br /><br />

The feedback for <a href="[$TICKET_ENTRY_URL$]">[$TICKET_DISPLAY_ID$]</a> has been updated.

Are you satisfied with the service on this ticket?<br />
[$FEEDBACK_SATISFIED$]<br /><br />

Additional Comments<br />
[$FEEDBACK_COMMENTS$]<br /><br />

Sincerely,<br />
Liferay Support Team