Dear [$EMPLOYEE_NAME$],<br /><br />

A ticket <a href="[$TICKET_ENTRY_URL$]">[$TICKET_DISPLAY_ID$]</a> was escalated [$ESCALATION_TIME$] to you by a partner. To better improve our partner interaction in the future, please fill out the following feedback form: <a href="[$TICKET_FEEDBACK_URL$]">[$TICKET_FEEDBACK_URL$]</a>.<br /><br />

Your experience and work is important to us. Thank you for your cooperation.<br /><br />

Sincerely,<br />
Liferay Support Team