Dear [$CUSTOMER_NAME$],<br /><br />

Your ticket <a href="[$TICKET_ENTRY_URL$]">[$TICKET_DISPLAY_ID$]</a> was closed [$CLOSE_TIME$]. To better improve your support experience in the future, we would like to ask you to fill out the feedback section on <a href="[$TICKET_ENTRY_URL$]">the ticket</a>.<br /><br />

Your opinion is important to us. Thank you for your cooperation.<br /><br />

Sincerely,<br />
Liferay Support Team