<div style="max-width: 960px;">
	<div style="background-color: #474A4B; border: 0 solid #BABEC2; color: #FFFFFF; font: 75%/1.5 Arial,Helvetica,sans-serif; font-size: 1em; font-weight: bold; height: 32px; line-height: 32px; padding: 0 18px;">
		Support
	</div>

	<div style="border-color: #BABEC2; border-style: solid; border-width: 0 1px 1px; color: #474A4B; font: 75%/1.5 Arial,Helvetica,sans-serif; padding: 18px;">
		<div style="color: #1A4265; font-size: 36px; font-weight: normal; line-height: 45px; margin: 0 0 18px; padding: 0 0 8px;">
			[$SUBJECT$]
		</div>

		<div style="clear: both; margin-left: -10px; margin-right: -10px; text-transform: uppercase;">
			<div style="margin: 0 10px 0 10px;">
				<div style="border: 1px solid #CCC; background-color: #FFFFFF; margin: 0 2px 9px 9px; padding: 10px 20px;">
					<div style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; z-index: 1;">
						Ticket Number
					</div>

					<div style="font-size: 30px; font-weight: bold; line-height: 36px;">
						<a href="[$TICKET_ENTRY_URL$]" style="color: #009AD6; text-decoration: none;">[$TICKET_DISPLAY_ID$]</a>
					</div>
				</div>
			</div>
		</div>

		<div style="clear: both; margin-left: -10px; margin-right: -10px; text-transform: uppercase;">
			<div style="float: left; width: 50%;">
				<div style="margin: 0 10px 0 10px;">
					<div style="border: 1px solid #CCC; background-color: #FFFFFF; margin: 0 2px 9px 9px; overflow: hidden; padding: 10px 20px;">
						<div style="float: left; font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; z-index: 1;">
							Status
						</div>

						<div style="font-size: 2em; font-weight: bold; line-height: 1.2; text-align: right;">
							[$STATUS$]
						</div>
					</div>

					<div style="border: 1px solid #CCC; background-color: #FFFFFF; margin: 0 2px 9px 9px; overflow: hidden; padding: 10px 20px;">
						<div style="float: left; font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; z-index: 1;">
							Resolution
						</div>

						<div style="font-size: 2em; font-weight: bold; line-height: 1.2; text-align: right;">
							[$RESOLUTION$]
						</div>
					</div>
				</div>
			</div>

			<div style="float: left; width: 50%;">
				<div style="margin: 0 10px 0 10px;">
					<div style="border: 1px solid #CCC; background-color: #FFFFFF; margin: 0 2px 9px 9px; overflow: hidden; padding: 10px 20px">
						<div style="float: left; font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; z-index: 1;">
							Severity
						</div>

						<div style="background-color: [$SEVERITY_COLOR$]; color: #FFFFFF; display: inline-block; font-size: 2em; font-weight: bold; line-height: 1.2; padding: 0 15px; float: right; vertical-align: bottom;">
							[$SEVERITY$]
						</div>
					</div>

					<div style="border: 1px solid #CCC; background-color: #FFFFFF; margin: 0 2px 9px 9px; overflow: hidden; padding: 10px 20px">
						<div style="float: left; font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; z-index: 1;">
							Escalation Level
						</div>

						<div style="background-color: [$ESCALATION_LEVEL_COLOR$]; color: #FFFFFF; display: inline-block; font-size: 2em; font-weight: bold; line-height: 1.2; padding: 0 15px; float: right; vertical-align: bottom;">
							[$ESCALATION_LEVEL$]
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="clear: both; margin-left: -10px; margin-right: -10px;">
			<div style="margin: 0 10px 0 10px;">
				<div style="color: #1D6799; font-size: 1.3em; font-weight: bold; line-height: 1.3; margin: 22px 22px 2px;">
					Ticket Info
				</div>

				<div style="border: 1px solid #CCC; font-size: 11px; margin: 0 2px 2px 9px; overflow: hidden; padding: 10px 20px;">
					<div style="clear: both; margin-left: -10px; margin-right: -10px;">
						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Reported By:
								</span>

								[$REPORTED_BY$]
							</div>
						</div>

						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Primary Assignee:
								</span>

								[$PRIMARY_ASSIGNEE$]
							</div>
						</div>

						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Other Assignees:
								</span>

								[$OTHER_ASSIGNEES$]
							</div>
						</div>
					</div>

					<div style="clear: both; margin-left: -10px; margin-right: -10px;">
						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									[$ACCOUNT_ENTRY_SPECIALISTS_LABEL$]
								</span>

								[$ACCOUNT_ENTRY_SPECIALISTS$]
							</div>
						</div>

						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									[$ACCOUNT_ENTRY_SALES_REPS_LABEL$]
								</span>

								[$ACCOUNT_ENTRY_SALES_REPS$]
							</div>
						</div>
					</div>

					<div style="border-top: 1px solid #CCC; margin: 20px;"></div>

					<div style="clear: both; margin-left: -10px; margin-right: -10px;">
						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Created:
								</span>

								[$CREATE_DATE$]
							</div>
						</div>

						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Updated:
								</span>

								[$MODIFIED_DATE$]
							</div>
						</div>

						[$DUE_DATE_TEMPLATE$]
					</div>

					<div style="clear: both; margin-left: -10px; margin-right: -10px;">
						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Account:
								</span>

								[$ACCOUNT_ENTRY_NAME$]
							</div>
						</div>

						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Product:
								</span>

								[$PRODUCT_ENTRY_NAME$]
							</div>
						</div>

						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Support:
								</span>

								[$SUPPORT_RESPONSE_NAME$] [$OFFERING_ENTRY_STATUS$]
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="clear: both; margin-left: -10px; margin-right: -10px;">
			<div style="margin: 0 10px 0 10px;">
				<div style="color: #1D6799; font-size: 1.3em; font-weight: bold; line-height: 1.3; margin: 22px 22px 2px;">
					Environment
				</div>

				<div style="border: 1px solid #CCC; font-size: 11px; margin: 0 2px 2px 9px; overflow: hidden; padding: 10px 20px;">
					<div style="clear: both; margin-left: -10px; margin-right: -10px;">
						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									[$VERSION_TYPE$]:
								</span>

								[$VERSION$]
							</div>
						</div>

						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Application Server:
								</span>

								[$APPLICATION_SERVER$]
							</div>
						</div>

						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Database:
								</span>

								[$DATABASE$]
							</div>
						</div>
					</div>

					<div style="clear: both; margin-left: -10px; margin-right: -10px;">
						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Operating System:
								</span>

								[$OPERATING_SYSTEM$]
							</div>
						</div>

						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Java Virtual Machine:
								</span>

								[$JAVA_VIRTUAL_MACHINE$]
							</div>
						</div>

						<div style="float: left; width: 33.334%;">
							<div style="margin: 0 10px 0 10px;">
								<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
									Primary Browser:
								</span>

								[$BROWSER$]
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="clear: both; margin-left: -10px; margin-right: -10px;">
			<div style="margin: 0 10px 0 10px;">
				<div style="color: #1D6799; font-size: 1.3em; font-weight: bold; line-height: 1.3; margin: 22px 22px 2px;">
					Description
				</div>

				<div style="border: 1px solid #CCC; font-size: 11px; margin: 0 2px 2px 9px; padding: 10px 20px;">
					<div style="margin-left: -10px; margin-right: -10px;">
						<div style="margin: 0 10px 0 10px;">
							<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
								Component:
							</span>

							[$COMPONENT$]

							<br /><br />

							[$DESCRIPTION$]
						</div>
					</div>
				</div>
			</div>
		</div>

		[$ACTION_INFORMATION_TEMPLATE$]

		[$COMMENT_TEMPLATE$]

		[$EMAIL_PREFERENCES_LINK$]
	</div>
</div>