<div style="border-bottom: 1px solid #FFFFFF; border-top: 1px solid #BABEC2; font-size: 0; margin: 18px 0; position: relative; text-indent: -9999em;"></div>

<table>
<tr>
	<td align="center" valign="top">
		<div>
			<img alt="[$USER_FULL_NAME$]" src="[$USER_PORTRAIT_URL$]" width="65" />
		</div>

		<div>
			[$USER_FULL_NAME$]
		</div>
	</td>
	<td style="width: 99%" valign="top">
		<div style="border: 1px solid #CCC; background-color: #FFFFFF; margin: 0 2px 9px 9px; overflow: hidden; padding: 10px 20px;">
			[$BODY$]
		</div>

		<div style="padding: 0px 10px;">
			Posted on [$CREATE_DATE$]
		</div>

		<div style="padding: 5px 10px 0 10px;">
			<a href="[$PERMALINK_URL$]">Permalink</a>
		</div>
	</td>
</tr>
</table>