<div style="float: left; width: 33.334%;">
	<div style="margin: 0 10px 0 10px;">
		<span style="font-weight: bold; line-height: 1.2; margin: 0 0 -0.6em; position: relative; text-transform: uppercase; z-index: 1;">
			Due:
		</span>

		[$DUE_DATE$]
	</div>
</div>