1. Brief summary of the issue and customer's claim.

2. Please list and explain all the relevant error logs/screenshots, both in the GUI and logs you have collected thus far.

3. Please detail the environments that you have tested this issue in (OS, database, theme, patches). Are you able to provide a copy of the environment (link or VM)?

4. Please provide steps to reproduce. If you did not reproduce, please provide details on what you've tested to this point.