<style>
	.legacy .callout-a .unit-content {
		padding-right: 20px;
	}

	.legacy .legacy-aui-w30 {
		width:29%;
	}

	.legacy .unit-table {
		display: inline-table;
		margin: 0 10px;
		min-height: 9px;
	}
</style>

<article>
	#if ($heading.data != "")
		<h1 class="section-heading">
			$heading.data
		</h1>
	#end

	<div class="callout-a">
		<div class="aui-helper-clearfix sub-grid">
			<div class="legacy-aui-w30 u-2-6 u-2-9 u-3-12 u-4-4 u-f-12 u-f-6 u-f-9 u-o-4 unit">
				<div class="unit-content">
					#foreach ($eachColumn1Heading in $column1Heading.siblings)
						#if ($eachColumn1Heading.data)
							<h3 class="section-heading">
								$eachColumn1Heading.data
							</h3>
						#end

						#if ($eachColumn1Heading.column1Content.data != "")
							$eachColumn1Heading.column1Content.data
						#end
					#end
				</div>
			</div>

			<div class="legacy-aui-w30 u-2-6 u-2-9 u-3-12 u-4-4 u-o-4 unit">
				<div class="unit-content">
					#foreach ($eachColumn2Heading in $column2Heading.siblings)
						#if ($eachColumn2Heading.data)
							<h3 class="section-heading">
								$eachColumn2Heading.data
							</h3>
						#end

						#if ($eachColumn2Heading.column2Content.data != "")
							$eachColumn2Heading.column2Content.data
						#end
					#end
				</div>
			</div>

			<div class="legacy-aui-w30 u-2-6 u-2-9 u-3-12 u-4-4 u-l-12 u-l-6 u-l-9 u-o-4 unit">
				<div class="unit-content">
					#foreach ($eachColumn3Heading in $column3Heading.siblings)
						#if ($eachColumn3Heading.data)
							<h3 class="section-heading">
								$eachColumn3Heading.data
							</h3>
						#end

						#if ($eachColumn3Heading.column3Content.data != "")
							$eachColumn3Heading.column3Content.data
						#end
					#end
				</div>
			</div>
		</div>
	</div>
</article>