<article>
	#if ($heading.data != "")
		<h1 class="section-heading">
			$heading.data
		</h1>
	#end

	<div class="callout-a">
		<div class="sub-grid">
			<div class="u-3-12 u-f-12 unit">
				<div class="unit-content">
					<div class="h-2">
						<div class="fl">
							<img height="32" src="$column1Image.data" width="32" />
						</div>

						<div class="indent-42">
							<header>
								<h1 class="nm section-terheading">
									$column1Heading.data
								</h1>

								<h2 class="nm section-quaheading">
									$column1Subheading.data
								</h2>
							</header>
						</div>
					</div>

					$column1Content.data
				</div>
			</div>

			<div class="u-3-12 unit">
				<div class="unit-content">
					<div class="h-2">
						<div class="fl">
							<img height="32" src="$column2Image.data" width="32" />
						</div>

						<div class="indent-42">
							<header>
								<h1 class="nm section-terheading">
									$column2Heading.data
								</h1>

								<h2 class="nm section-quaheading">
									$column2Subheading.data
								</h2>
							</header>
						</div>
					</div>

					$column2Content.data
				</div>
			</div>

			<div class="u-3-12 u-l-12 unit">
				<div class="unit-content">
					<div class="h-2">
						<div class="fl">
							#if ($column3Image.data != "")
								<img height="32" src="$column3Image.data" width="32" />
							#end
						</div>

						<div class="indent-42">
							<header>
								<h1 class="nm section-terheading">
									$column3Heading.data
								</h1>

								<h2 class="nm section-quaheading">
									$column3Subheading.data
								</h2>
							</header>
						</div>
					</div>

					$column3Content.data
				</div>
			</div>
		</div>
	</div>
</article>