<style>
	#CPHomeNav {
		margin: 0 auto;
		max-width: 960px;
		text-align: center;
	}

	#CPHomeNav ul {
		list-style: none;
		padding: 0;
	}

	.cp-columns a {
		display: block;
		padding-bottom: 5px;
	}
</style>

<div class="responsive-centered" id="CPHomeNav">
	#foreach ($sectionHeading in $sectionHeading.siblings)
		<div class="aui-w33 content-column cp-columns" style="width: 100%;">
			#set ($cssClass = "")

			#if ($velocityCount == "1")
				#set ($cssClass = "left-column")
			#elseif ($velocityCount == "2")
				#set ($cssClass = "middle-column")
			#elseif ($velocityCount == "3")
				#set ($cssClass = "right-column")
			#end

			<div class="content-column-content $cssClass">
				<h2 class="heading redesign">
					$sectionHeading.data
				</h2>

				<ul>
					#foreach ($linkText in $sectionHeading.linkText.siblings)
						<li class="link-size">
							<a href="$linkText.get("url").getData()">
								$linkText.data
							</a>
						</li>
					#end
				</ul>
			</div>
		</div>
	#end
</div>