@import "compass";

/* ---------- Global ---------- */

body {
	background-color: transparent !important;
}

.marketplace-server {
	margin: 0 auto;
	width: 960px;
}

/* ---------- Dialogs ---------- */

.aui-dialog {
	#main-content {
		padding: 0px;
	}

	.marketplace.portlet-boundary {
		margin: 0px;

		.marketplace-server.view {
			width: inherit;
		}
	}
}

/* ---------- Layouts ---------- */

.content-column {
	float: left;

	.left-column {
		padding-right: 10px;
	}

	.middle-column {
		padding: 0 10px;
	}

	.right-column {
		padding-left: 10px;
	}
}

.webkit .aui-w33 {
	width: 33.3%;
}

@media all and (max-width: 720px) {
	.content-column {
		display: block !important;
		width: 100% !important;

		.content-column-content {
			padding: 15px !important;
		}
	}
}

/* ---------- Page ---------- */

/* ---------- Accept contract entry ---------- */

.marketplace-server.accept-contract-entry {
	width: 100%;

	tr {
		padding: 10px;
		padding-left: 5px;
		border-bottom: 1px solid rgb(204, 204, 204);

		td {
			padding-bottom: 10px;
		}

		.item {
			margin-left: 0px;
		}
	}

	.aui-button-input:disabled {
		background: none;
		border: 1px solid #939598;
		color: #939598;

		&:hover {
			background: #939598;
			color: #FFF;
		}
	}

	.fit-width-to-content {
		width: 1px;
		padding-right: 10px;
	}

	.tos-textarea {
		padding-top: 10px;
	}

	.update-prepackaged {
		margin-right: 10px;
	}

	.tos-textarea textarea {
		width: 100%;
		height: 250px;
	}
}

/* ---------- App entry display ---------- */

.marketplace-server .app-entry-display {
	.app-entry-action {
		width: 200px;
	}

	.item.description {
		padding: 1em 0;
		position: relative;

		.icon {
			float: left;
			margin-right: 1em;
		}

		.info {
			display: inline-block;

			.fade-mask {
				@include background-image(linear-gradient(transparent 0%, #FFF 50%));

				bottom: 0;
				height: 40px;
				position: absolute;
				width: 100%;
			}

			.description {
				height: 81px;
				overflow: hidden;
			}

			.see-more {
				margin-top: 5px;
			}

			.version {
				font-size: 0.8em;
			}
		}
	}
}

.marketplace-server table tr:hover .item.description .info .fade-mask {
	@include background-image(linear-gradient(transparent 0%, #F9FAFA 50%));
}

/* ---------- Developer apps ---------- */

.marketplace-server .developer-apps .item.description .info {
	width: 400px;
}

/* ---------- Purchase app entry ---------- */

.marketplace-server.purchase-app-entry {
	width: 720px;
}

/* ---------- View ---------- */

.marketplace-server.view {
	.sign-out {
		margin: 50px 0 0;
		text-align: center;

		a {
			font-weight: bold;
		}
	}
}

/* ---------- View license keys ---------- */

.marketplace-server.view-license-keys {
	h2 {
		color: #555;
		margin-bottom: 0;
	}

	table {
		.col-2, .col-3, .col-5, .col-6 {
			width: 12%;
		}

		.col-4 {
			width: 30%;
		}
	}

	.app-heading {
		margin-bottom: 15px;
		min-height: 90px;
		position: relative;

		.icon {
			float: left;
			margin-right: 20px;
			width: 90px;
		}

		.title {
			padding-top: 10px;
			word-break: break-word;

			h1 {
				font-size: 36px;
				font-weight: bold;
				margin: 0;
			}

			.owner {
				font-size: 18px;
			}
		}
	}

	.header-message {
		padding-bottom: 2em;
	}
}

/* ---------- View purchased ---------- */

.marketplace-server.view-purchased {
	.all-purchased-apps, .purchased-apps {
		select.aui-field-input {
			max-width: 150px;
		}
	}

	.update-all-block {
		float: right;
	}

	.app-entry-action a[data-action=updateApp] {
		margin-bottom: 10px;
	}
}

/* ---------- View update apps ---------- */

.marketplace-server .view-update-apps {
	.marketplace-update {
		float: right;
		vertical-align: middle;
	}
}

/* ---------- Update ---------- */

.marketplace-server.update {
	h2 {
		font-size: 2em;
		margin: 1em 0;
	}

	p {
		margin: 1em 0;
	}

	.buttons {
		margin-top: 1em;
	}
}

/* ---------- Browser ---------- */

/* ---------- Internet explorer ---------- */

.ie {
	body {
		background: #EEF0F2 !important;
	}

	.marketplace {
		.grid, .sub-grid {
			zoom: 1;
		}
	}
}

.ie6 .marketplace .unit {
	word-wrap: break-word;
}

/* ---------- Marketplace portlet ---------- */

/* ---------- Global ---------- */

.marketplace {
	margin-top: 60px;

	.new-and-interesting, .weekly-stats {
		border-radius: 3px;
		margin: 0 -40px;
	}

	.invisible {
		border: 0 !important;
		clip: rect(0 0 0 0);
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
	}
}

/* ---------- Button ---------- */

.marketplace {
	.aui-button-submit.search, .aui-button-submit.sign-in {
		padding-top: 1em;
		position: absolute;
	}

	.btn.loading {
		background: #FFF url(@theme_image_path@/application/loading_indicator.gif) no-repeat 4px;
		background-size: 10px;
		text-align: right;
		width: 88px;

		&:hover {
			background-color: #f49b45;
		}
	}

	a.btn.disabled {
		background: #939598;
		color: #FFF;
		cursor: default;
	}
}

/* ---------- Purchase products ---------- */

.marketplace {
	.asset-information .item {
		margin: 0;
	}

	.bundled-list {
		margin-bottom: 2em;
	}

	.compatible-version, .security-disabled {
		margin-top: 0.5em;
	}

	.purchase-list .aui-field {
		display: inline-block;
		margin-right: 20px;
	}

	.taglib-header.first {
		border-bottom: none;
	}
}

/* ---------- Search ---------- */

.marketplace {
	.search-form {
		margin: 30px auto;
	}

	.app-entry-search-results {
		margin: 0 auto;
		max-width: 980px;
	}
}

/* ---------- Navigation ---------- */

.marketplace {
	.doc-sub-nav .has-sub-nav .sub-nav {
		display: block;
	}

	.marketplace-navigation.view {
		background: none;
		border-bottom: none;

		.banner-content {
			background: #4690CD;
			border-radius: 3px;
			padding: 0px 40px;

			.logo-marketplace {
				background: url(../../marketplace_navigation/images/marketplace_logo.png) left center no-repeat;
				background-size: contain;
				display: block;
				height: 50px;
				width: 200px;
			}

			.navigation-container {
				right: 80px;
			}
		}
	}
}

/* ---------- Page ---------- */

/* ---------- Report abuse ---------- */

.marketplace.report-abuse {
	margin: 0px;

	.aui-button-holder {
		margin-top: 15px;
	}
}

/* ---------- View ---------- */

.marketplace.view {
	.weekly-stats {
		padding: 20px;

		.weekly-stats-graph {
			margin: auto;

			.centered {
				text-align: center;
			}

			.portlet-boundary {
				margin: 0;
			}
		}

		.marketplace-server {
			width: auto;

			.app-entries-weekly-stats-chart {
				margin: 0;
			}
		}
	}
}

/* ---------- View category ---------- */

.marketplace.view-category {
	.featured-apps {
		border-radius: 3px;
	}

	.app-entry-featured {
		width: 430px;

		.description {
			width: 410px;
		}
	}
}

/* ---------- View contract entry ---------- */

.aui-dialog .marketplace-server.view .marketplace.view-contract-entry {
	margin: 0;
}