.bulk-input-option {
	.replace-append-toggle-box {
		display: table-row;

		div {
			display: table-cell;
		}

		input[type=radio] {
			display: none;
		}

		label {
			display: table-cell;
			padding: 0.25em 0;
			position: relative;
			text-align: center;
		}
	}
}