/* ---------- Metrics bar legend ---------- */

.legend-container {
	.legend-item {
		display: inline-block;
		vertical-align: top;

		.legend-item-key, .legend-item-value {
			display: inline-block;
			vertical-align: top;
		}
	}
}

.progress-bar-item {
	display: inline-block;
	vertical-align: middle;
}

.progress-new {
	background-color: #F5F5F5;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	height: 20px;
	margin-bottom: 20px;
	margin-top: 15%;
	overflow: hidden;
}

/* ---------- Status labels ---------- */

.status {
	a {
		display: inline-block;
		white-space: nowrap;
	}
}