/* ---------- Metrics bar legend ---------- */

.legend-container {
	.legend-item {
		display: inline-block;
		vertical-align: top;

		.legend-item-key, .legend-item-value {
			display: inline-block;
			vertical-align: top;
		}
	}
}

.progress-bar-item {
	display: inline-block;
	vertical-align: middle;
}

/* ---------- Status labels ---------- */

.status {
	a {
		display: inline-block;
		white-space: nowrap;
	}
}