/* ---------- Global ---------- */

#wrapper .osb-portlet-marketplace-admin {
	textarea[disabled] {
		background-image: none;
	}

	input:disabled {
		opacity: .3;
	}

	.aui-column {
		float: left;
	}

	.aui-w25 {
		width: 25%;
	}

	.aui-w45 {
		width: 45%;
	}

	.aui-w75 {
		width: 75%;
	}

	.cleared {
		clear: both;
	}

	.icon-45 {
		border-radius: 9px;
		width: 45px;
	}

	.panel-page-body {
		padding: 0;
	}
}

.osb-portlet-marketplace-admin .search-form-container {
	margin-bottom: 1em;

	.aui-button, .aui-field {
		display: table-cell;
		vertical-align: top;
	}

	.aui-button {
		padding: 15px 3px 0;
	}

	.aui-field-choice {
		padding: 21px 5px 0;
	}

	.aui-field-content {
		padding: 0 5px 0 0;
	}

	.aui-field-menu select {
		margin: 0;
		height: 26px;
	}
}

.osb-portlet-marketplace-admin .actions-container {
	margin-bottom: 1em;
}

/* ---------- Comments ---------- */

.osb-portlet-marketplace-admin .comments {
	.lfr-portlet-toolbar {
		.lfr-toolbar-button.subscribe-button a {
			background-image: url(@theme_image_path@/common/subscribe.png);
		}

		.lfr-toolbar-button.unsubscribe-button a {
			background-image: url(@theme_image_path@/common/unsubscribe.png);
		}
	}

	.discussion-form {
		hr {
			margin: 1em 0;
		}

		.aui-field-input-text {
			height: 100px;
			width: 100%;
		}
	}

	.discussion .message {
		margin-bottom: 1em;

		&.event .meta-data {
			background: #9CC0F8;
		}

		.meta-data, .body {
			padding: 5px 10px;
		}

		.meta-data {
			background: #DDD;
			font-weight: bold;

			.time {
				float: right;
			}
		}
	}
}

/* ---------- Pages ---------- */

/* ---------- Asset stats ---------- */

.osb-portlet-marketplace-admin .asset-stats {
	.aui-button {
		vertical-align: middle;
	}

	.aui-button, .aui-field {
		display: table-cell;
	}

	.total-downloads-and-views {
		padding-bottom: .75em;
		text-align: center;

		th, tr {
			padding: 0 1.5em;
		}
	}

	.search-inputs {
		display: flex;
	}
}

/* ---------- Dashboard ---------- */

.osb-portlet-marketplace-admin .dashboard {
	.row {
		clear: both;
		margin-bottom: 1em;
	}

	.status {
		float: left;
		margin: 0 .5em;
		min-width: 200px;

		&.actionable a {
			background: #EAA;
		}

		&.approved a {
			background: #AEA;
		}

		&.detail-container {
			&.actionable .status-heading {
				background-color: #EAA;
			}

			&.approved .status-heading {
				background-color: #AEA;
			}

			a {
				background: transparent;
				padding: 0;
			}

			.status-details {
				background-color: #DCE3EA;
				border-radius: 0 0 3px 3px;
				font-size: .85em;
				margin-top: 0;
				padding: .75em 1em 0.5em;

				.count {
					width: 5.3em;
				}

				.type {
					font-weight: normal;
					margin: 0 0 .5em 6.6em;
				}
			}

			.status-heading {
				background-color: #CCC;
				border-radius: 3px 3px 0 0;
				padding: 1em 1em .75em;
			}
		}

		a, .count {
			border-radius: 3px;
		}

		a {
			background: #CCC;
			color: #000;
			display: block;
			font-size: 1.2em;
			padding: 1em;
			text-decoration: none;
		}

		span {
			display: block;
			padding: .2em 0;
		}

		.count {
			background: #FFF;
			float: left;
			text-align: center;
			width: 4.5em;
		}

		.type {
			font-weight: bold;
			margin-left: 5.5em;
		}
	}
}

/* ---------- E-commerce document entries ---------- */

.osb-portlet-marketplace-admin .ec-document-entries {
	.lfr-table {
		border: 1px solid #CCC;
		margin-bottom: 10px;

		th {
			background: #9CB8C5;
			border: 1px solid #AAA;
			text-align: center;
		}

		td {
			background: #FFF;
			border: 1px solid #CCC;
		}

		th, td {
			padding: 0 2px;
		}
	}

	.developer-reports {
		background: #D7E2E6;
		margin-bottom: 20px;
		padding: 5px;
	}
}

/* ---------- Lists ---------- */

.osb-portlet-marketplace-admin .asset-lists {
	.asset-list {
		background: #F8F8F8;
		border: 1px solid #CCC;
		display: inline-block;
		margin: 0 0 1em 1em;
		vertical-align: top;
		width: 350px;

		.list {
			margin: 0;
			padding: 0;

			li {
				border-bottom: 1px solid #CCC;
				list-style: none;
				padding: 1em;

				&:hover {
					background-color: #CCC;
				}

				&:last-child {
					border-bottom: none;
				}

				.icon, .data, .action {
					display: inline-block;
					margin-right: 5px;
					vertical-align: middle;
				}

				.data {
					width: 240px;
				}

				.action a {
					background: url(@theme_image_path@/arrows/02_x.png) no-repeat 0 top;
					clip: rect(0, 0, 0, 0);
					display: block;
					height: 16px;
					overflow: hidden;
					text-indent: -999em;
					width: 16px;
				}

				.title {
					font-weight: bold;
				}

				.type, .id, .status {
					color: #AAA;
					margin-right: 5px;
				}
			}
		}

		.subheader {
			background: url(@theme_image_path@/application/subheader_bg.png) 0 0 repeat-x;
			color: #154B75;
			font-weight: bold;
			padding: 7px;

			a {
				display: block;
				float: right;
			}
		}
	}
}

/* ---------- Review ---------- */

.osb-portlet-marketplace-admin {
	.field, .field .field-input, .field .field-label {
		display: block;
	}

	.field {
		margin: 0 0 9px;
	}

	.field-header {
		border-bottom: 1px solid #C8C9CA;
		margin: 3em 0 1em;

		h3 {
			color: #555;
			font-size: 1.3em;
			margin: 0;
		}

		.field-header-action a {
			float: right;
			font-weight: bold;
			text-decoration: none;
		}
	}

	.field-horizontal {
		box-sizing: border-box;
		display: inline-block;
		padding-right: 2em;
		vertical-align: top;
	}

	.field-label {
		font-weight: bold;
		line-height: 18px;
	}

	.status-form {
		margin-top: 2em;

		.status-message-container textarea {
			height: 105px;
			width: 500px;
		}
	}

	.status-indicator {
		background: #CCC;
		border-radius: 3px;
		font-size: 1.3em;
		font-weight: bold;
		margin-bottom: 1em;
		padding: .5em;
		text-align: center;

		&.status-approved {
			background: #AEA;
		}

		&.status-pending, &.status-pending-auto-qa, &.status-pending-qa {
			background: #EAA;
		}
	}
}

/* ---------- App entry review ---------- */

.osb-portlet-marketplace-admin .review-app-entry {
	.details {
		.lfr-table {
			td {
				vertical-align: top;
				width: 350px;
			}

			td:first-child {
				color: #369;
				font-weight: bold;
				width: 175px !important;
			}

			.screenshot-image {
				max-width: 500px;
				width: 100%;
			}
		}

		.single-app-entry-review {
			td {
				width: 580px;
			}

			.approved {
				display: none;
			}
		}

		.updated {
			background: #DDD;
		}

		.pacl-properties {
			margin: 0 0 10px 10px;

			.pacl-properties-head {
				font-weight: bold;
			}
		}
	}

	.file-list {
		li.warn {
			background: url(@theme_image_path@/messages/alert.png) no-repeat 0 50%;
			padding-left: 20px;
		}

		span.actions {
			float: right;
		}
	}

	.preview {
		.app-heading {
			margin-bottom: 2em;
			min-height: 90px;

			.icon {
				float: left;
				margin-right: 20px;
				width: 90px;
			}

			.title {
				padding-top: 10px;
				word-break: break-word;

				h1 {
					font-size: 36px;
					font-weight: bold;
					margin: 0;
				}

				.owner a {
					font-size: 18px;
					text-decoration: none;
				}
			}
		}

		.app-body {
			clear: both;
			margin-bottom: 2em;

			.side-bar {
				float: left;
				width: 180px;

				ul {
					list-style: none;
					margin: 0;
					padding: 0;
				}

				li {
					margin-bottom: 3px;
				}

				.app-meta-data {
					margin-top: 1em;
				}

				.app-links {
					margin-bottom: 1em;

					a {
						text-decoration: none;
					}
				}
			}

			.details {
				margin-left: 185px;
				width: 500px;

				.carousel-container {
					min-height: 300px;
				}

				.aui-carousel-item {
					background: #FFF;
					height: 258px;
					width: 410px;

					img {
						display: block;
						margin: 0 auto;
						max-height: 258px;
						max-width: 410px;
						text-align: center;
					}
				}

				.changelog, .description {
					margin-bottom: 2em;

					ul {
						list-style: none;
						padding: 0;
					}
				}
			}
		}
	}

	.pricing {
		.pricing-display {
			background: #EFEFEF;
			border-radius: 3px;
			margin: 1em 0;
			padding: .8em 1em;
			width: 500px;

			.pricing-display-heading {
				border-bottom: 1px solid #CCC;
				display: block;
				font-weight: bold;
				margin-bottom: .5em;
				padding-bottom: .5em;
			}

			.pricing-display-body {
				.column {
					display: inline-block;
					margin-right: 10px;
					vertical-align: top;
					width: 33%;

					&.details {
						width: 24%;
					}
				}

				.license-type-allotment {
					float: left;
				}

				.price {
					padding-right: 1em;
					text-align: right;
				}
			}

			.currency, .prices, .support {
				margin-bottom: 1em;
			}

			.countries {
				list-style-type: none;
				margin: 2px 0;
				padding: 0;

				.country {
					display: inline-block;
					margin-right: 2em;
				}
			}
		}
	}
}

.osb-portlet-marketplace-admin .manage-asset-license {
	.license-id input, .name input {
		width: 300px;
	}
}

.osb-portlet-marketplace-admin .marketplace-uploader {
	.aui-field-help {
		display: none;
	}

	.liferay-version-container {
		margin-bottom: 2em;
		width: 60%;
	}

	.locked .liferay-version {
		background: url(@theme_image_path@/common/lock.png) no-repeat;
		display: block;
		height: 16px;
		padding-left: 20px;
	}
}

/* ---------- Edit app entry ---------- */

.osb-portlet-marketplace-admin .edit-app-entry {
	textarea {
		height: 105px;
		width: 90%;
	}

	.input-container {
		border: none;
		padding: 0;
	}

	.aui-field-content {
		margin-bottom: 9px;
	}

	.liferay-only .lfr-input-text {
		max-width: 90% !important;
	}
}

/* ---------- Edit asset receipt ---------- */

.osb-portlet-marketplace-admin .edit-asset-receipt {
	input[type="text"], select {
		width: 250px;
	}
}

/* ---------- Edit contract entry ---------- */

.osb-portlet-marketplace-admin .edit-contract-entry {
	textarea {
		height: 250px;
		resize: vertical;
		width: 90%;
	}

	.language-container {
		background-color: #CCC;
		margin: 10px 9.5% 10px 0;
		padding: 10px;

		.aui-field-label {
			padding-top: 0;
		}

		.lfr-token {
			margin: 3px;
			padding: 0.3em 0.5em 0.3em;
		}
	}
}

/* ---------- Edit corp entry ---------- */

.osb-portlet-marketplace-admin .edit-corp-entry {
	input[type='text'] {
		width: 90%;
	}

	textarea {
		height: 105px;
		resize: vertical;
		width: 90%;
	}

	.field-label {
		display: block;
		font-weight: bold;
	}

	.language-container {
		background-color: #CCC;
		margin: 0 37px 10px 0;
		padding: 10px;

		.aui-field-label {
			padding-top: 0;
		}

		.lfr-token {
			margin: 3px;
			padding: 0.3em 0.5em 0.3em;
		}
	}
}

/* ---------- Review e-commerce document entry ---------- */

.osb-portlet-marketplace-admin .review-ec-document-entry {
	.document-metadata, .document-users {
		margin: 2em 0;
		width: 100%;

		th {
			background: #D9D9D9 url(@theme_image_path@/application/subheader_bg.png) repeat-x;
		}

		th, td {
			background-color: #FFF;
			border: 1px solid #D7D7D7;
			padding: 5px 10px;
			vertical-align: top;
		}
	}

	.document-metadata td {
		width: 16.6%;
	}

	.document-users {
		td {
			width: 33%;
		}

		.address {
			margin-top: 1em;
		}
	}

	.document-items-wrapper {
		margin-top: 2em;
	}

	.document-items {
		.col-1 {
			text-align: center;
			width: 2%;
		}

		.col-2 {
			width: 66%;
		}

		.col-3 {
			text-align: center;
			width: 2%;
		}

		.col-4 {
			text-align: right;
			width: 15%;
		}
	}

	.totals {
		margin-top: 1em;
		width: 100%;

		td {
			background: #FFF;
			border: 1px solid #D7D7D7;
			padding: 5px 10px;
			text-align: right;

			&.amount {
				width: 17.5%;
			}
		}

		.total td {
			background: #F5F8FB;
			font-weight: bold;
		}
	}
}

/* ---------- User asset entries ---------- */

.osb-portlet-marketplace-admin .user-asset-entries {
	.projects .results-row .col-4 {
		width: 150px;
	}

	.purchased-apps {
		margin-bottom: 2em;

		.results-row {
			.col-2 {
				width: 30%;
			}

			.col-3 {
				width: 150px;
			}
		}
	}
}