*.iml
.classpath
.DS_Store
.gh.json
.gradle/
.idea/
.project
.sass-cache/
.settings/
bin/
build/
classes/
lib/
liferay-hook.xml.processed
node_modules/
npm-debug.log
test-classes/
test-coverage/
test-results/
tmp/

!/watson-portlet/docroot/WEB-INF/lib
!/watson-portlet/docroot/js/src/lib