<style>
	#callout-${reserved-article-id.data} h3 {
		padding: 10px 0 0;
	}

	#callout-${reserved-article-id.data}.cp-callout-border-box {
		border: 1px solid $boxColor.data;
	}

	#callout-${reserved-article-id.data}.cp-callout-border-box .btn {
		background: transparent;
		border: 1px solid $boxColor.data;
		color: $boxColor.data;
		margin-left: 10px;
		margin-top: 10px;
	}

	#callout-${reserved-article-id.data}.cp-callout-border-box .btn:hover {
		background: $boxColor.data;
		color: #FFF;
	}

	#callout-${reserved-article-id.data} .cp-callout-header {
		background-color: $boxColor.data;
	}

	#callout-${reserved-article-id.data} .cp-table-wrapper.show-borders .first-col {
		max-width: 190px;
	}

	.cp-callout-box {
		margin-bottom: 15px;
	}

	.cp-callout-box .btn {
		border: 1px solid #FFF;
		background: transparent;
		color: #FFF;
	}

	.cp-callout-box .cp-callout-heading {
		font-size: 1.7em;
	}

	.cp-callout-border-box .cp-callout-header {
		color: #FFF;
	}

	.cp-callout-border-box .cp-callout-header, .cp-callout-border-box .cp-callout-container {
		padding: 15px;
	}

	.cp-callout-border-box .cp-callout-heading {
		padding: 25px 0;
	}

	.cp-callout-container a {
		text-decoration: none;
	}

	.cp-callout-container .additional-link {
		border-right: 1px solid #58585A;
		padding-right: 5px;
	}

	.cp-callout-container .additional-link.last {
		border-right-width: 0;
		padding-right: 0;
	}

	.cp-callout-container .cp-callout-dl-all {
		text-align: center;
	}

	.cp-callout-container .cp-heading {
		font-size: 1.5em;
	}

	.cp-callout-container .cp-heading, .cp-callout-container .cp-table-heading {
		margin-left: 10px;
	}

	.cp-callout-container .cp-table-heading {
		font-weight: bold;
	}

	.cp-callout-container .cp-table-wrapper td {
		padding: 0 10px;
	}

	.cp-callout-container .cp-table-wrapper.show-borders, .cp-callout-container .cp-table-wrapper.show-borders table {
		margin: 5px 0;
	}

	.cp-callout-container .cp-table-wrapper.show-borders td {
		padding: 3px 10px;
	}

	.cp-callout-container .cp-table-wrapper.show-borders tr {
		border: 1px solid #CCC;
		border-width: 0 0 1px;
	}

	.cp-callout-container .cp-table-wrapper.show-borders .first-row {
		border-top-width: 1px;
	}

	.cp-callout-container .last-col {
		text-align: right;
	}

	@media (max-width: 720px) {
		.cp-callout-border-box .cp-callout-header .aui-w75 .right-column {
			padding: 0 !important;
		}

		.cp-callout-border-box .cp-callout-header .cp-callout-heading {
			padding: 0 10px;
		}
	}
</style>

<div class="aui-helper-clearfix cp-callout-border-box cp-callout-box" id="callout-$reserved-article-id.data">
	<div class="aui-helper-clearfix cp-callout-header">
		<div class="aui-w25 centered content-column icon-wrapper">
			<div class="content-column-content left-column">
				<img src="$icon.data" />
			</div>
		</div>

		<div class="aui-w75 content-column">
			<div class="content-column-content right-column">
				<h3 class="cp-callout-heading">
					$title.data
				</h3>

				<p>
					$subtitle.data
				</p>
			</div>
		</div>
	</div>

	<div class="cp-callout-container">
		<div class="cp-callout-content">
			#foreach ($section in $contentSectionHeading.siblings)
				#set ($section_css_class = "cp-table-wrapper")

				#if ($section.get("showBorders").data == "true")
					#set ($section_css_class = "$section_css_class show-borders")
				#end

				<div class="$section_css_class">
					<span class="cp-table-heading">$section.data</span>

					<table>
						#foreach ($link in $section.linkText.siblings)
							#set ($tr_css_class = "row")

							#if ($velocityCount == 1)
								#set ($tr_css_class = "$tr_css_class first-row")
							#elseif ($velocityCount == $section.linkText.siblings.size())
								#set ($tr_css_class = "$tr_css_class last-row")
							#end

							<tr class="$tr_css_class">
								<td class="first-col">
									<a href="$link.get("url").data">$link.data</a>
								</td>
								<td class="last-col">
									$link.get("date").data
								</td>
							</tr>
						#end
					</table>
				</div>
			#end
		</div>

		<a class="btn" href="$buttonText.href.data">$buttonText.data</a>
	</div>
</div>