$text-color: #272833;

$alert-border-width: 1px;
$alert-danger-bg: #FEEFEF;
$alert-danger-border: #F48989;
$alert-danger-text: #DA1414;
$alert-default-bg: #E7E7ED;
$alert-default-border: #A7A9BC;
$alert-default-text: #6B6C7E;
$alert-font-size: 14px;
$alert-info-bg: #EEF2FA;
$alert-info-border: #89A7E0;
$alert-info-text: #2E5AAC;
$alert-lead-font-size: 14px;
$alert-lead-font-weight: 600;
$alert-link-font-weight: 600;
$alert-padding: 17.5px 16px;
$alert-success-bg: #EDF9F0;
$alert-success-border: #5ACA76;
$alert-success-text: #287D3D;
$alert-warning-bg: #FFF4EC;
$alert-warning-border: #FF8F39;
$alert-warning-text: #B95000;

$badge-default-bg: #E7E7ED;
$badge-default-color: #272834;
$badge-font-size: 10px;
$badge-font-weight: 600;
$badge-lexicon-icon-height: 1em;
$badge-lexicon-icon-width: 1em;
$badge-lg-font-size: 14px;
$badge-lg-lexicon-icon-height: 0.95em;
$badge-lg-lexicon-icon-width: 0.95em;
$badge-lg-padding-bottom: 4.5px;
$badge-lg-padding-left: 10px;
$badge-lg-padding-right: 10px;
$badge-lg-padding-top: 4.5px;
$badge-line-height: 1.1;
$badge-link-hover-text-decoration: underline;
$badge-link-text-decoration: none;
$badge-padding-bottom: 2.5px;
$badge-padding-left: 8px;
$badge-padding-right: 8px;
$badge-padding-top: 2.5px;
$badge-sm-font-size: 8px;

$body-bg: #FFF;

$brand-danger: #DA1414;
$brand-default: #6B6C7E;
$brand-info: #2E5AAC;
$brand-primary: #0B5FFF;
$brand-success: #287D3D;
$brand-warning: #B95000;

$breadcrumb-active-color: #272833;
$breadcrumb-color: $brand-default;
$breadcrumb-font-size: 14px;
$breadcrumb-link-color: $brand-default;
$breadcrumb-link-hover-text-decoration: none;
$breadcrumb-padding-horizontal: 2px;
$breadcrumb-padding-vertical: 12px;

$btn-border-radius: 4px;
$btn-border-width: 1px;
$btn-danger-active-border: #B51111;
$btn-danger-active-color: #B51111;
$btn-danger-hover-bg: #C71212;
$btn-danger-hover-border: #C71212;
$btn-default-active-bg: #F1F2F5;
$btn-default-active-border: #CDCED9;
$btn-default-active-color: #272833;
$btn-default-bg: #FFF;
$btn-default-border: #CDCED9;
$btn-default-color: #6B6C7E;
$btn-default-hover-bg: #F7F8F9;
$btn-default-hover-border: #CDCED9;
$btn-default-hover-color: #272833;
$btn-disabled-opacity: 0.26;
$btn-font-size: 16px;
$btn-info-active-border: #25498C;
$btn-info-active-color: #25498C;
$btn-info-hover-bg: #2A529C;
$btn-info-hover-border: #2A529C;
$btn-lg-border-radius: 4px;
$btn-lg-font-size: 18px;
$btn-lg-padding-horizontal: 26px;
$btn-lg-padding-vertical: 14px;
$btn-line-height: 1.5;
$btn-padding-horizontal: 16px;
$btn-padding-vertical: 8px;
$btn-primary-active-bg: #004AD7;
$btn-primary-active-border: #004AD7;
$btn-primary-hover-bg: #0053F0;
$btn-primary-hover-border: #0053F0;
$btn-sm-border-radius: 3px;
$btn-sm-font-size: 14px;
$btn-sm-padding-horizontal: 10px;
$btn-sm-padding-vertical: 8px;
$btn-success-active-border: #1E5E2E;
$btn-success-active-color: #1E5E2E;
$btn-success-hover-bg: #236E35;
$btn-success-hover-border: #236E35;
$btn-warning-active-bg: #903E00;
$btn-warning-active-border: #903E00;
$btn-warning-hover-bg: #A54700;
$btn-warning-hover-border: #A54700;
$btn-xs-padding-horizontal: 8px;
$btn-xs-padding-vertical: 6px;

$card-border-radius: 4px;
$card-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
$card-divider-bg: #E8E8EC;

$dropdown-border-width: 0;
$dropdown-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3);
$dropdown-divider-bg: #E7E7ED;
$dropdown-font-size: 14px;
$dropdown-header-color: $brand-default;
$dropdown-header-font-size: 12px;
$dropdown-link-active-color: #272833;
$dropdown-link-disabled-color: #A7A9BB;
$dropdown-link-hover-bg: #F0F5FF;
$dropdown-link-hover-color: #272833;
$dropdown-link-padding: 8px 20px;
$dropdown-menu-min-width: 240px;

$font-family-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
$font-family-sans-serif: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: georgia, "Times New Roman", times, serif;
$font-size-base: 16px;
$font-size-desktop-base: 16px;
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 16px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-h6: 12px;

$form-group-margin-bottom: 24px;
$grid-gutter-width: 24px;

$input-bg: #F1F2F5;
$input-bg-disabled: #F1F2F5;
$input-bg-focus: #F0F5FF;
$input-border: #E7E7ED;
$input-border-bottom-width: 1px;
$input-border-disabled: #F1F2F5;
$input-border-focus: #80ACFF;
$input-border-left-width: 1px;
$input-border-radius: 4px;
$input-border-right-width: 1px;
$input-border-top-width: 1px;
$input-color: #272833;
$input-color-disabled: #A7A9BC;
$input-color-focus: #272833;
$input-color-placeholder-focus: #6B6C7E;
$input-color-placeholder: #6B6C7E;
$input-danger-bg-focus: #FEEFEF;
$input-danger-bg: #FEEFEF;
$input-danger-border-focus: #F48989;
$input-danger-border: #F48989;
$input-font-size: 16px;
$input-group-addon-bg: #E7E7ED;
$input-group-addon-border-color: #E7E7ED;
$input-group-addon-color: $brand-default;
$input-height-base: 40px;
$input-label-color: $text-color;
$input-label-font-size: 14px;
$input-label-font-weight: 600;
$input-label-margin-bottom: 4px;
$input-label-reference-mark-spacer: 1px;
$input-label-reference-mark-vertical-alignment: super;

$input-padding-horizontal: 16px;
$input-padding-vertical: 8px;
$input-readonly-bg: #E7E7ED;
$input-readonly-color: $text-color;
$input-readonly-cursor: text;
$input-select-bg-position: right 8px center;
$input-select-bg-size: 24px auto;
$input-select-icon-color: $brand-default;
$input-select-icon-focus-color: $brand-default;
$input-success-bg-focus: #EDF9F0;
$input-success-bg: #EDF9F0;
$input-success-border-focus: #5ACA76;
$input-success-border: #5ACA76;
$input-textarea-height: 150px;
$input-warning-bg-focus: #FFF4EC;
$input-warning-bg: #FFF4EC;
$input-warning-border-focus: #FF8F39;
$input-warning-border: #FF8F39;

$label-border-style: solid;
$label-border-width: 1px;
$label-color: $text-color;
$label-danger-bg: #FFF;
$label-danger-border: #F48989;
$label-danger-color: #DA1414;
$label-danger-hover-bg: #FFF;
$label-danger-hover-border: #F48989;
$label-danger-hover-color: #DA1414;
$label-default-bg: #FFF;
$label-default-border: #CDCED9;
$label-default-color: #6B6C7E;
$label-default-hover-bg: #FFF;
$label-default-hover-border: #CDCED9;
$label-default-hover-color: #6B6C7E;
$label-font-size: 10px;
$label-font-weight: 600;
$label-info-bg: #FFF;
$label-info-border: #89A7E0;
$label-info-color: #2E5AAC;
$label-info-hover-bg: #FFF;
$label-info-hover-border: #89A7E0;
$label-info-hover-color: #2E5AAC;
$label-lexicon-icon-height: 0.9em;
$label-lexicon-icon-width: 0.9em;
$label-lg-font-size: 12px;
$label-lg-lexicon-icon-height: 1em;
$label-lg-lexicon-icon-width: 1em;
$label-lg-padding-bottom: 5px;
$label-lg-padding-left: 10px;
$label-lg-padding-right: 10px;
$label-lg-padding-top: 5px;
$label-link-hover-text-decoration: underline;
$label-link-text-decoration: none;
$label-padding-bottom: 2px;
$label-padding-left: 8px;
$label-padding-right: 8px;
$label-padding-top: 2px;
$label-primary-bg: #FFF;
$label-primary-border: #80ACFF;
$label-primary-color: #0B5FFF;
$label-primary-hover-bg: #FFF;
$label-primary-hover-border: #80ACFF;
$label-primary-hover-color: #0B5FFF;
$label-sm-font-size: 8px;
$label-sm-lexicon-icon-height: 1em;
$label-sm-lexicon-icon-width: 1em;
$label-sm-padding-bottom: 1px;
$label-sm-padding-left: 4px;
$label-sm-padding-right: 4px;
$label-sm-padding-top: 1px;
$label-success-bg: #FFF;
$label-success-border: #5ACA76;
$label-success-color: #287D3D;
$label-success-hover-bg: #FFF;
$label-success-hover-border: #5ACA76;
$label-success-hover-color: #287D3D;
$label-warning-bg: #FFF;
$label-warning-border: #FF8F39;
$label-warning-color: #B95000;
$label-warning-hover-bg: #FFF;
$label-warning-hover-border: #FF8F39;
$label-warning-hover-color: #B95000;

$link-color: #0B5FFF;
$link-hover-color: #004EE1;

$list-group-active-bg: #F0F5FF;
$list-group-active-border: #E7E7ED;
$list-group-border-radius: 4px;
$list-group-border: #E7E7ED;
$list-group-header-bg: #F7F8F9;
$list-group-header-open-border-color: rgba(220, 220, 220, 0.5);
$list-group-header-open-border-width: 1px;

$management-bar-border-bottom-width: 1px;
$management-bar-default-bg: #FFF;
$management-bar-default-btn-default-active-bg: rgba(39, 40, 51, 0.06);
$management-bar-default-btn-default-border: transparent;
$management-bar-default-btn-default-hover-bg: rgba(39, 40, 51, 0.03);
$management-bar-default-link-active-bg: rgba(39, 40, 51, 0.06);
$management-bar-default-link-active-color: $text-color;
$management-bar-default-link-color: $brand-default;
$management-bar-default-link-disabled-color: #A7A9BC;
$management-bar-default-link-hover-bg: rgba(39, 40, 51, 0.03);
$management-bar-default-link-hover-color: $text-color;
$management-bar-desktop-height: 64px;
$management-bar-height: 48px;

$modal-body-bg: #FFF;
$modal-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
$modal-desktop-footer-bg: #FFF;
$modal-desktop-header-bg: #FFF;
$modal-desktop-header-close-color: $text-color;
$modal-footer-bg: #FFF;
$modal-footer-border-color: #E7E7ED;
$modal-footer-box-shadow: none;
$modal-header-bg: #FFF;
$modal-header-border-color: #E7E7ED;

$nameplate-label-danger-bg: $brand-danger;
$nameplate-label-danger-color: #FFF;
$nameplate-label-default-bg: #FFF;
$nameplate-label-default-color: $text-color;
$nameplate-label-height: 24px;
$nameplate-label-info-bg: $brand-info;
$nameplate-label-info-color: #FFF;
$nameplate-label-inverse-bg: #272834;
$nameplate-label-inverse-color: #FFF;
$nameplate-label-primary-bg: $brand-primary;
$nameplate-label-primary-color: #FFF;
$nameplate-label-success-bg: $brand-success;
$nameplate-label-success-color: #FFF;
$nameplate-label-warning-bg: $brand-warning;
$nameplate-label-warning-color: #FFF;

$nav-disabled-link-color: #A7A9BC;
$nav-link-color: $brand-default;
$nav-link-padding-horizontal: 16px;
$nav-link-padding-vertical: 10px;
$nav-nested-link-active-color: $text-color;
$nav-pills-active-link-hover-bg: $brand-primary;
$nav-pills-border-radius: 4px;
$nav-tabs-active-link-hover-bg: #FFF;
$nav-tabs-active-link-hover-color: $text-color;
$nav-tabs-border-color: #F1F2F5;
$nav-tabs-border-radius: 4px;
$nav-tabs-border-width: 1px;

$navbar-default-link-active-color: $text-color;
$navbar-default-link-active-highlight: #80ACFF;
$navbar-default-link-disabled-color: #A7A9BC;
$navbar-default-link-hover-color: $text-color;
$navbar-desktop-height: 48px;
$navbar-height: 56px;
$navbar-inverse-bg: #393A4A;
$navbar-inverse-link-active-color: #FFF;
$navbar-inverse-link-active-highlight: #80ACFF;
$navbar-inverse-link-color: #CDCED9;
$navbar-inverse-link-disabled-color: #A7A9BC;
$navbar-inverse-link-hover-color: #FFF;
$navbar-link-active-bottom-border-width: 4px;

$pagination-active-bg: rgba(0, 0, 0, 0.04);
$pagination-active-color: $text-color;
$pagination-border-radius: 4px;
$pagination-color: $brand-default;
$pagination-ellipsis-hover-bg: rgba(0, 0, 0, 0.02);
$pagination-ellipsis-hover-color: $text-color;
$pagination-hover-bg: rgba(0, 0, 0, 0.02);
$pagination-hover-color: $text-color;

$panel-border-bottom-width: 1px;
$panel-border-left-width: 1px;
$panel-border-radius: 0;
$panel-border-right-width: 1px;
$panel-border-top-width: 1px;
$panel-default-border: #E7E7ED;
$panel-default-footer-border: #E7E7ED;
$panel-default-heading-bg: #FFF;
$panel-default-text: $brand-default;
$panel-footer-border-top-width: 1px;
$panel-heading-border-bottom-width: 1px;

$popover-arrow-width: 6px;
$popover-border-color: #E7E7ED;
$popover-border-radius: 4px;
$popover-box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
$popover-content-padding: 12px 16px;
$popover-fallback-border-color: #E7E7ED;
$popover-max-width: 232px;
$popover-title-font-size: 14px;
$popover-title-padding: 12px 0;

$progress-bar-font-size: 9px;
$progress-bar-height: 8px;
$progress-bar-lg-border-radius: 100px;
$progress-bar-lg-font-size: 16px;
$progress-bar-lg-height: 16px;
$progress-bar-xl-border-radius: 100px;
$progress-bar-xl-height: 32px;
$progress-bar-xs-border-radius: 100px;
$progress-bar-xs-font-size: 6px;
$progress-bar-xs-height: 4px;
$progress-bg: #E9ECEF;
$progress-border-radius: 100px;
$progress-box-shadow: none;

$sidebar-default-bg: #FFF;
$sidebar-default-border: #E7E7ED;
$sidebar-default-header-actions-link-hover-color: $text-color;
$sidebar-inverse-bg: $text-color;
$sidebar-inverse-color: $brand-default;
$sidebar-inverse-header-actions-link-color: $brand-default;
$sidebar-inverse-header-actions-link-hover-color: #ACAEC7;
$sticker-border-radius: 4px;
$sticker-danger-bg: $brand-danger;
$sticker-danger-color: #FFF;
$sticker-default-bg: $brand-default;
$sticker-default-color: #FFF;
$sticker-font-size: 10px;
$sticker-info-bg: $brand-info;
$sticker-info-color: #FFF;
$sticker-lg-font-size: 15px;
$sticker-lg-monospaced-size: 40px;
$sticker-primary-bg: $brand-primary;
$sticker-primary-color: #FFF;
$sticker-sm-font-size: 9px;
$sticker-sm-monospaced-size: 24px;
$sticker-success-bg: $brand-success;
$sticker-success-color: #FFF;
$sticker-warning-bg: $brand-warning;
$sticker-warning-color: #FFF;

$table-bg-accent: #F7F8F9;
$table-bg-active: #F0F5FF;
$table-bg-hover: #F0F5FF;
$table-bg: #FFF;
$table-border-color: #E7E7ED;
$table-cell-padding: 12px;
$table-header-color: $brand-default;
$table-header-font-size: 14px;
$table-header-font-weight: 600;
$table-list-color: $text-color;
$table-list-font-size: 14px;
$table-list-header-border-bottom-width: 1px;
$table-list-header-font-size: 14px;
$table-list-header-font-weight: 600;
$table-list-header-min-height: 36px;
$table-list-row-active-border-bottom-width: 1px;
$table-list-row-active-border-color: #E7E7ED;
$table-list-row-height: 57px;
$tabular-list-group-active-border-bottom-width: 1px;

$text-muted: #A7A9BC;

$timeline-border: #272834;
$timeline-icon-border: $brand-default;

$toggle-card-bg: #FFF;
$toggle-card-border-radius: 4px;
$toggle-card-border-width: 1px;
$toggle-card-border: transparent;
$toggle-card-icon-font-size: 16px;
$toggle-card-on-bg: #F0F5FF;
$toggle-card-on-border-width: 1px;
$toggle-card-on-border: #80ACFF;
$toggle-card-on-text-color: $text-color;
$toggle-card-text-color: $text-color;
$toggle-switch-bar-bg: #A7A9BC;
$toggle-switch-bar-border-width: 0;
$toggle-switch-bar-focus-box-shadow: 0 0 0 1px #{$body-bg}, 0 0 0 2px #{$brand-primary};
$toggle-switch-bar-icon-color: #FFF;
$toggle-switch-bar-on-bg: $brand-primary;
$toggle-switch-button-bg: #FFF;
$toggle-switch-button-border-width: 0;
$toggle-switch-button-icon-color: $text-color;
$toggle-switch-button-on-icon-color: $text-color;

$tooltip-bg: #272833;
$tooltip-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
$tooltip-padding-horizontal: 12px;
$tooltip-padding-vertical: 12px;

$user-icon-font-size: 10px;
$user-icon-font-weight: 700;
$user-icon-lg-font-size: 15px;
$user-icon-lg-size: 40px;
$user-icon-size: 32px;
$user-icon-sm-font-size: 9px;
$user-icon-sm-size: 24px;
$user-icon-xl-font-size: 17px;
$user-icon-xl-size: 48px;
$user-icon-xs-font-size: 8px;
$user-icon-xs-size: 16px;
$user-icon-xxl-font-size: 21px;
$user-icon-xxl-size: 64px;