.autofit-col {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	min-height: 0;
	position: relative;
}

.autofit-col-expand {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: $autofit-col-expand-min-width;
	word-wrap: break-word;
}

.autofit-row {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}

.autofit-row-center {
	> .autofit-col {
		justify-content: center;
	}
}

.color-success {
	color: $color-success;
}

.secondary-font {
	font-size: $font-size-md;
	line-height: $secondary-text-line-height;
}

.secondary-text-color {
	color: $secondary-text-color;
}

.semi-bold {
	font-weight: $font-weight-semi-bold;
}

.small {
	line-height: $line-height-sm;
}

.small-title {
	font-size: $small-title-font-size;
	font-weight: $font-weight-semi-bold;
	line-height: 28px;
}