.search-filters {
	overflow: auto;

	.form-control {
		border-color: transparent;
		display: inline-block;
		padding-right: 40px;

		&:focus {
			border-color: $color-primary-focus-border;
		}

		@include media-breakpoint-up(md) {
			width: 70%;
		}
	}

	.search-filter-container {
		border: 1px solid rgba(9, 16, 29, 0.11);
		border-left-width: 0;
		box-shadow: 0 6px 15px -7px rgba(9, 16, 29, 0.05);
		float: left;
		margin-bottom: $margin-default;
		padding: 12px 10px 12px 24px;
		width: 50%;

		&:nth-child(1) {
			border-bottom-left-radius: $border-radius;
			border-left-width: 1px;
			border-top-left-radius: $border-radius;
		}

		&:nth-child(2) {
			border-bottom-right-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}

		.control-label,
		.prefix {
			color: $color-body;
			font-size: 16px;
			font-weight: $font-weight-semi-bold;
			line-height: 24px;
			vertical-align: baseline;
		}

		@include media-breakpoint-down(lg) {
			border-left-width: 1px;
			border-radius: $border-radius;
			width: 100%;
		}
	}
}