@mixin label-sm {
	border-width: 1px;
	font-size: 10px;
	height: auto;
	min-height: 16px;
	padding: 3.2px 6px;
}

@mixin label-lg {
	border-width: 1px;
	font-size: 14px;
	height: auto;
	padding: 6px 16px;
	text-transform: none;
}