.alert,
.portlet-msg-alert,
.portlet-msg-error,
.portlet-msg-help,
.portlet-msg-info,
.portlet-msg-progress,
.portlet-msg-success {
	padding: $padding-md;
	text-transform: initial;

	.close {
		right: 8px;
	}

	.lead {
		margin-right: $alert-lead-spacer-x;
	}

	.lexicon-icon {
		margin-right: 4px;
	}

	.urgent {
		font-weight: $font-weight-semi-bold;
	}
}

.alert-dismissible {
	padding-right: 40px;
	position: relative;

	.close {
		height: 32px;
		margin-top: -4px;
		padding: 0;
		position: absolute;
		top: 10px;
		width: 32px;
	}
}

.alert-fluid {
	border-radius: 0;
	border-width: $alert-fluid-border-width;
	padding: 0;

	.container,
	.container-fluid {
		padding: $padding-md;
	}
}

.alert-indicator {
	+ .lead {
		margin-left: $alert-lead-spacer-x;
	}

	.lexicon-icon {
		margin-top: -3px;
	}
}

.site-wide-notification {
	display: flex;
	justify-content: space-between;
	padding: $padding-md;

	.close {
		position: relative;
	}

	.lexicon-icon-exclamation-full {
		vertical-align: top;
	}

	.notification-content {
		display: inline-block;
		padding-left: $padding-default;
	}
}