.product-menu {
	.sidebar-body {
		top: $header-height + $navbar-height;

		a {
			&,
			&:focus,
			&:hover {
				color: $color-info;
			}
		}

		@include media-breakpoint-up(md) {
			top: $header-height + $navbar-desktop-height;
		}
	}
}