.footer {
	padding-top: 64px;

	h5 {
		margin: 0;
	}

	.liferay-logo {
		height: 64px;
		width: 118px;
	}

	.copyright {
		border-top: 1px solid $color-divider;
		margin-top: 64px;
		padding-bottom: 56px;
		padding-top: $padding-default;
		text-transform: uppercase;
	}

	.footer-links {
		list-style: none;
		margin: $margin-default 0 0 0;
		padding: 0;

		li {
			margin-bottom: $margin-md;

			a {
				color: $secondary-text-color;
			}
		}
	}

	.social-links {
		display: flex;
		justify-content: flex-end;

		@include media-breakpoint-down(sm) {
			justify-content: left;
		}

		.social-icon {
			align-items: center;
			background-color: $color-grey;
			border-radius: 50%;
			display: flex;
			flex-direction: row;
			height: 32px;
			justify-content: center;
			width: 32px;

			&:not(:first-child) {
				margin-left: $margin-default;
			}

			a {
				color: $color-default;

				.lexicon-icon {
					height: 12px;
					margin-top: -3px;
					width: 12px;
				}
			}
		}
	}
}