select.form-control {
	border: 1px solid $input-border-color;

	&,
	&:active,
	&:disabled,
	&:focus {
		background-color: $color-white;
	}
}

.borderless.form-control {
	border-color: transparent;

	&:active,
	&:focus {
		border: 1px solid $input-border-focus;
	}
}

.form-control {
	&:disabled {
		background-color: $color-divider;
		color: $color-default-disabled;
	}
}

.form-group {
	.control-label {
		color: $color-default;
		font-weight: $font-weight-normal;
		text-transform: initial;

		.lexicon-icon-asterisk {
			color: $color-warning;
			height: 4px;
			margin-left: 2px;
			margin-top: -10px;
			width: 4px;
		}
	}

	.form-control {
		background-color: $color-white;
		border-color: $color-border;
	}
}

.upload-dropzone {
	border: 1px solid $color-border;
	border-radius: $input-border-radius;
	line-height: $input-line-height;
	overflow: hidden;
	padding: 14px;
	position: relative;
	text-align: center;
	width: 100%;

	input[type="file"] {
		cursor: pointer;
		height: 100%;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	span {
		color: $color-primary;
		font-size: 14px;
		font-weight: $font-weight-semi-bold;
		text-decoration: none;
		text-transform: initial;
	}

	.lexicon-icon-paperclip {
		height: $lexicon-icon-width;
		margin-right: 4px;
		position: relative;
		top: -2px;
		vertical-align: middle;
		width: $lexicon-icon-width;
	}
}