a[role="button"],
input[type="submit"] {
	@include button-size(
		$btn-padding-y,
		$btn-padding-x,
		$font-size-base,
		$btn-line-height,
		$btn-border-radius
	);
}

a[role="button"],
button[type="button"] {
	display: inline-block;
	font-weight: $font-weight-semi-bold;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

input[type="submit"],
.btn-primary {
	background-color: $color-primary;
	border: $btn-border-width solid;
	color: $color-white;
	font-weight: $font-weight-semi-bold;

	&:focus {
		background-color: $color-primary-focus;
	}

	&:hover {
		background-color: $color-primary-hover;
		box-shadow: 0 2px 6px 0 rgba(2, 19, 51, 0.36);
	}

	&[disabled="true"] {
		background-color: $color-disabled;
	}
}

input[type="submit"] {
	border-color: transparent;
}

.btn-monospaced {
	border-radius: 4px;
	border-width: 0;
	font-size: 8px;

	.lexicon-icon {
		height: 100%;
		width: 100%;
	}

	&.btn-lg {
		height: 40px;
		padding: 10px;
		width: 40px;
	}

	&.btn-md {
		height: 32px;
		padding: 8px;
		width: 32px;
	}

	&.btn-sm {
		height: 24px;
		padding: 6px;
		width: 24px;
	}
}

.btn-link {
	font-weight: $font-weight-semi-bold;

	&:focus {
		color: $color-primary-focus;
	}

	&:hover {
		color: $color-primary-hover;
	}
}

.btn-outline {
	border-color: $btn-default-border;
	color: $secondary-text-color;
	font-weight: $font-weight-semi-bold;

	&[role="button"],
	&[type="button"] {
		background-color: transparent;
	}

	&:focus {
		background-color: $color-focus;
		color: $color-default;
	}

	&:hover {
		background-color: $color-active;
		color: $color-default;
	}
}

.btn-outline-primary {
	&,
	&:focus,
	&:hover {
		border-color: $color-primary;
		color: $color-primary;
		cursor: pointer;
		font-weight: $font-weight-semi-bold;
	}

	&[disabled="true"] {
		border-color: $color-default-disabled;
		color: $color-default-disabled;
	}

	&[role="button"],
	&[type="button"] {
		background-color: transparent;
	}

	&:focus {
		background-color: $color-focus;
		box-shadow: none;
	}

	&:hover {
		background-color: $color-active;
		box-shadow: 0 2px 6px 0 rgba(2, 19, 51, 0.15);
	}
}

.btn-row {
	display: flex;
	justify-content: flex-end;

	button:last-of-type {
		margin-left: 16px;
	}
}