.modal {
	&.show {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.lexicon-icon {
		height: 12px;
	}

	.modal-body {
		font-size: $font-size-default;
		max-height: 85vh;
	}

	.modal-footer {
		text-align: right;
	}

	.modal-header {
		color: $color-default;
		line-height: 10px;
		padding: 18px 24px;
		text-align: left;

		.close {
			color: $color-default;
			height: 24px;
			line-height: 24px;
			width: 16px;
		}
	}

	.modal-title {
		display: inline-block;
		font-size: $small-title-font-size;
		font-weight: $font-weight-semi-bold;
		line-height: 28px;
		text-align: left;
		text-transform: initial;
	}
}