.modal {
	&.show {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.modal-body {
		font-size: $normal-font-size;
		max-height: 85vh;
	}

	.modal-header {
		line-height: 10px;
		padding: 18px 24px;
		text-align: left;

		.close {
			height: 24px;
			line-height: 24px;
			width: 16px;
		}
	}

	.modal-title {
		display: inline-block;
	}
}