.basic-search.input-group {
	float: none;
	margin-bottom: 32px;
	max-width: 100%;
	padding: 0;

	.form-control.search-query {
		&:focus {
			border: 1px solid $input-border-focus;
		}
	}

	.input-group-btn .btn-default {
		background-color: $color-input-grey;
		border-width: 0;
		color: $color-primary;
		margin: 1px;
		padding: 6px $padding-md;

		&:focus,
		&:hover,
		&:active {
			background-color: $color-hover;
			color: $btn-primary-hover-bg;
		}
	}

	.input-group-input {
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	@include media-breakpoint-down(sm) {
		.basic-search-close {
			display: none;
		}

		.basic-search-slider {
			left: auto;
		}
	}
}

.taglib-empty-result-message {
	background: $color-grey;

	.taglib-empty-result-message-header,
	.taglib-empty-search-result-message-header {
		background-image: url(@theme_image_path@/custom/satellite.svg);
		height: 120px;
		padding-top: 180px;
		width: 120px;
	}

	.text-muted {
		color: $secondary-text-color;
		margin: 0 auto;
		width: 50%;
	}
}