.lfr-nav.nav.nav-tabs {
	line-height: 24px;
	margin-bottom: $margin-default;

	> li {
		> a {
			padding: 10px $padding-default 10px 0;
		}

		&.active {
			font-weight: $font-weight-semi-bold;

			a,
			a:focus,
			a:hover,
			a:active {
				background-color: transparent;
				border-bottom-color: $color-divider;
				border-width: 0;

				&:after {
					background-color: $color-primary;
					bottom: -1px;
					content: "";
					display: block;
					height: 1.4px;
					left: 0;
					position: absolute;
					right: 24px;
				}
			}
		}
	}
}