.details-table {
	> tbody {
		display: block;
		padding: $padding-sm $padding-default;

		> tr > td {
			padding: 8px 0;
			width: 50%;
		}
	}
}

.table {
	table-layout: fixed;

	> thead > tr > th {
		color: $secondary-text-color;

		&:first-child {
			padding-left: 0;
		}

		&.project-name {
			width: 8%;
		}

		&.lfr-product-column {
			width: 2%;
		}
	}

	> tbody > tr > td {
		font-size: $font-size-md;
		padding: 8px;

		&:first-child {
			font-weight: $font-weight-semi-bold;
			padding-left: 0;
		}

		> a {
			color: $link-color;
			font-size: $font-size-default;
			font-weight: $font-weight-normal;
			line-height: 24px;

			&:active,
			&:focus,
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}