.search-filters {
	margin-bottom: $margin-default;
	overflow: auto;

	.form-control {
		background-color: $color-white;
		display: inline-block;
		padding-right: 40px;

		&:focus {
			border-color: $color-primary-focus-border;
		}

		@include media-breakpoint-up(md) {
			width: auto;
		}
	}

	.search-filter-container {
		border: 1px solid rgba(9, 16, 29, 0.11);
		border-left-width: 0;
		box-shadow: 0 6px 15px -7px rgba(9, 16, 29, 0.05);
		float: left;
		padding: $padding-sm 10px $padding-sm $padding-default;
		width: 50%;

		&:first-child {
			border-bottom-left-radius: $border-radius;
			border-left-width: 1px;
			border-top-left-radius: $border-radius;
		}

		&:last-child {
			border-bottom-right-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}

		select {
			background-color: $color-white;
			border-width: 0;
		}

		.control-label {
			color: $color-body;
			font-size: $font-size-default;
			font-weight: $font-weight-semi-bold;
			line-height: 24px;
			vertical-align: baseline;
		}

		@include media-breakpoint-down(lg) {
			border-left-width: 1px;
			border-radius: $border-radius;
			width: 100%;
		}
	}
}