.alert,
.portlet-msg-alert,
.portlet-msg-error,
.portlet-msg-help,
.portlet-msg-info,
.portlet-msg-progress,
.portlet-msg-success {
	padding: 16px;

	.close {
		right: 8px;
	}

	.lead {
		margin-right: $alert-lead-spacer-x;
	}
}

.alert-dismissible {
    padding-right: 2.5rem;
}

.alert-fluid {
	border-radius: 0;
	border-width: $alert-fluid-border-width;
	padding: 0;

	.container,
	.container-fluid {
		padding: 16px;
	}
}

.alert-indicator {
	+ .lead {
		margin-left: $alert-lead-spacer-x;
	}

	.lexicon-icon {
		margin-top: -3px;
	}
}