.search-filters {
	display: flex;
	margin-bottom: $margin-default;

	.form-control {
		background-color: $color-white;
		display: inline-block;
		flex-grow: 1;
		padding-right: 40px;
		width: auto;

		&:focus {
			border-color: $color-primary-focus-border;
		}
	}

	.search-filter-container {
		align-items: center;
		border: 1px solid rgba(9, 16, 29, 0.11);
		border-left-width: 0;
		box-shadow: 0 6px 15px -7px rgba(9, 16, 29, 0.05);
		display: flex;
		padding: $padding-sm 10px $padding-sm $padding-default;
		width: 50%;

		&:first-child {
			border-bottom-left-radius: $border-radius;
			border-left-width: 1px;
			border-top-left-radius: $border-radius;
		}

		&:last-child {
			border-bottom-right-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}

		select {
			background-color: $color-white;
			border-width: 0;
			overflow: hidden;
		}

		.control-label {
			color: $color-body;
			font-size: $font-size-default;
			font-weight: $font-weight-semi-bold;
			line-height: 24px;
			vertical-align: baseline;
		}
	}
}