html body {
	color: $color-body;
}

h1 {
	font-size: $h1-font-size;

	&.display {
		font-size: $h1-display-font-size;
		line-height: 1.17;
	}
}

h1,
h2 {
	line-height: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-default;
	font-weight: $font-weight-semi-bold;
	margin-bottom: $margin-default;
}

h3,
h4 {
	line-height: 24px;
}

h3,
h6 {
	text-transform: uppercase;
}

h2 {
	font-size: $h2-font-size;
	margin-top: $margin-default;
}

h3 {
	font-size: $h3-font-size;
	margin-top: 12px;

	&.section-title {
		font-size: 20px;
		font-weight: $font-weight-semi-bold;
		line-height: 28px;
		margin: $margin-default;
		text-transform: initial;

		a {
			color: $color-default;
			text-decoration: none;
		}
	}
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
	line-height: 20px;

	&.section-subtitle {
		font-weight: $font-weight-normal;
	}
}

h6 {
	font-size: $h6-font-size;
	letter-spacing: 1px;
	line-height: $h6-line-height;
}

a {
	cursor: pointer;
}

code,
pre,
.code {
	font-family: "Roboto Mono", SFMono-Regular, monospace;
}

code,
pre {
	border-radius: $border-radius;
}

code {
	background-color: $code-text-background-color;
	padding: 4px;
}

pre {
	background-color: $color-body;
	color: $pre-text-color;
	padding: $padding-medium 20px;

	code {
		background-color: inherit;
		font-weight: $font-weight-light;
	}
}

dd,
p {
	margin-bottom: $margin-default;
}

input[type="search"] {
	box-sizing: border-box;
}

input:not([type="submit"]),
select,
textarea {
	background-clip: border-box;
	background-color: $input-bg;
	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;
	display: block;
	font-size: $font-size-base;
	line-height: $input-line-height;
	padding: $input-padding-y $input-padding-x;
	width: 100%;

	&[type="checkbox"] {
		display: inline-block;
		width: auto;
		vertical-align: sub;
	}

	&:disabled,
	&[readonly] {
		background-color: $input-disabled-bg;
		color: $color-default-disabled;
	}
}

input:not([type="submit"]),
select,
select.form-control,
textarea {
	color: $input-color;

	&:focus {
		border-color: $color-primary-focus-border;
		box-shadow: none;
	}
}

input:not([type="submit"]),
select {
	height: $input-height;

	&[type="checkbox"] {
		height: 16px;
	}
}

main {
	border-bottom: 1px solid $color-divider;
}

textarea {
	height: auto;
}

.form-field {
	margin-bottom: $form-group-margin-bottom;
}

.label-sm {
	@include label-sm;
}

.main-content {
	margin-top: $navbar-height;
}

.no-results {
	background-color: $color-grey;
	border-radius: $border-radius;
	font-size: $normal-font-size;
	margin: $margin-default;
	padding: 56px $padding-default;
	text-align: center;
}

.search-lg,
.search-nav {
	input[type="search"] {
		background-image: clay-icon(search, $color-primary);
		background-repeat: no-repeat;
		box-shadow: 0 8px 16px -8px rgba(39, 40, 51, 0.05);

		&:focus {
			background-image: clay-icon(times, $color-default);
			background-size: 10px;
		}
	}
}

.search-lg {
	input[type="search"] {
		background-position: right 24px center;
		background-size: 16px;
		height: $input-height-lg;
		padding-left: $padding-default;
		padding-right: 44.8px;
	}
}

.search-nav {
	max-width: 232px;

	input[type="search"] {
		background-position: right 11.2px center;
		background-size: 12px;
		font-size: $h5-font-size;
		height: 36px;
		padding-right: 20px;
	}
}

.secondary-font {
	font-size: $font-size-md;
	line-height: $secondary-text-line-height;
}

.secondary-text-color {
	color: $secondary-text-color;
}

.semibold {
	font-weight: $font-weight-semi-bold;
}

.small {
	line-height: $line-height-sm;
}