.modal {
	&.show {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.modal-body {
		font-size: $normal-font-size;
		max-height: 85vh;
	}

	.modal-header {
		padding: $padding-default;
		text-align: left;
	}

	.modal-title {
		display: inline-block;
	}
}