.lfr-nav.nav.nav-tabs {
	line-height: 24px;
	margin-bottom: 48px;

	> li {
		> a {
			padding: 10px 24px 10px 0;
		}

		&.active {
			a,
			a:focus,
			a:hover,
			a:active {
				border-bottom-color: $nav-tabs-border-color;
				border-width: 0;

				&:after {
					background-color: $color-primary;
					bottom: -1px;
					content: "";
					display: block;
					height: 1.4px;
					left: 0;
					position: absolute;
					right: 24px;
				}
			}
		}
	}
}