<section>
	<div class="callout-c-head">
		<h1 class="heading">
			$headerItemLabel.data
		</h1>
	</div>

	#set ($item = 1)
	#set ($last = $bodyItemLabel.siblings.size())

	#foreach ($eachBodyItemLabel in $bodyItemLabel.siblings)
		#if ($item == $last)
			<div class="callout-c-foot">
				<div class="callout-content">
					#if ($eachBodyItemLabel.bodyItemLink.data != "")
						<a href="$eachBodyItemLabel.bodyItemLink.data">$eachBodyItemLabel.data</a>
					#else
						$eachBodyItemLabel.data
					#end
				</div>
			</div>
		#else
			<div class="callout-c-body">
				<div class="callout-content">
					#if ($eachBodyItemLabel.bodyItemLink.data != "")
						<a href="$eachBodyItemLabel.bodyItemLink.data">$eachBodyItemLabel.data</a>
					#else
						$eachBodyItemLabel.data
					#end
				</div>
			</div>
		#end

		#set ($item = $item + 1)
	#end
</section>