.results {
	.additional-notes {
		color: $secondary-text-color;
		font-size: $font-size-md;
		line-height: 20px;
		margin: $margin-default;
	}

	.detail-label {
		font-weight: $font-weight-semi-bold;
	}

	.detail-label,
	.detail-value {
		color: $color-default;
	}

	.dropdown-row {
		display: flex;
		margin-bottom: $margin-default;

		.download-dropdown {
			height: 32px;
			margin-right: $margin-default;
		}

		.download-url {
			color: $color-white;

			&:active,
			&:focus,
			&:hover {
				text-decoration: none;
			}
		}
	}

	.middot-separator {
		font-size: 20px;
		font-weight: $font-weight-semi-bold;
		margin: 0 16px;
		vertical-align: middle;
	}

	.section-alert {
		margin: $margin-default;

		.alert-header {
			font-weight: $font-weight-semi-bold;
			padding-right: 4px;
		}

		.alert-message {
			display: inline-block;

			p {
				margin: 0;
			}
		}

		.lexicon-icon-info-circle {
			vertical-align: sub;
		}
	}

	.section-links {
		margin: $margin-default;

		a {
			border-right: 1px solid $color-border;
			padding: 0 12px;

			&:first-of-type {
				padding-left: 0;
			}

			&:last-of-type {
				border-width: 0;
			}
		}

		.link {
			color: $color-primary;
			font-size: $font-size-md;
			font-weight: $font-weight-semi-bold;
			line-height: 20px;
		}
	}

	.table-responsive .table {
		table-layout: auto;

		thead > tr > th {
			&:first-of-type {
				padding-right: $padding-default;
			}

			&:last-of-type {
				padding-left: $padding-default;
				width: 100%;
			}

			&:nth-of-type(2) {
				padding: 0;
				text-align: center;

				&:after {
					border-left: 1px solid $color-border;
					content: '',
				}
			}
		}

		.journal-article-row {
			td:last-of-type {
				padding: 0;
			}

			.downloads {
				margin: $margin-default;
			}

			.lfr-released-column {
				color: $color-default;
				font-size: 12px;
				font-weight: $font-weight-normal;
				padding-top: 30px;
				vertical-align: baseline;
			}
		}
	}
}