option_settings:
  - option_name: PULPO_ASSET_CONNECTOR_ENVIRONMENT_UNIQUENAME
    value: dev
  - option_name: PULPO_CONTACT_CONNECTOR_ENVIRONMENT_UNIQUENAME
    value: dev
  - option_name: LCS_PORTAL_HOST
    value: lcs-portal-pulpo
  - option_name: LCS_PORTAL_PORT
    value: 8080
  - option_name: LCS_PORTAL_EMAIL
    value: test@liferay.com
  - option_name: LCS_PORTAL_PWD
    value: r3m3mb3r