<tr>
	<td>
		<table
			border="0"
			cellpadding="0"
			cellspacing="0"
			class="attached-content-container"
			width="100%"
		>

			<tbody>
				<tr>
					<td
						align="center"
						class="attached-content-icon"
						valign="middle"
					>
						<img
							height="[$ICON_DIMENSIONS$]"
							src="[$ICON$]"
							width="[$ICON_DIMENSIONS$]"
						/>
					</td>
					<td
						align="center"
						class="attached-content"
						valign="middle"
					>
						[$CONTENT$]
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>