[$COMMENT_READ_MORE_LINK$]

<tr>
	<td
		align="middle"
		class="comment-container"
		valign="top"
	>
		<table
			border="0"
			cellpadding="0"
			cellspacing="0"
			class="comment"
			height="100%"
			width="100%"
		>
			<tbody>
				<tr>
					<td>
						<table
							border="0"
							cellpadding="0"
							cellspacing="0"
							height="100%"
							width="100%"
						>
							<tbody>
								<tr>
									<td
										align="left"
										class="comment-avatar-container"
										valign="top"
									>
										<a href="[$COMMENT_CREATOR_DISPLAY_URL$]">
											<img
												height="48px"
												src="[$COMMENT_CREATOR_PROFILE_IMAGE_URL$]"
												width="48px"
											>
										</a>
									</td>
									<td
										align="left"
										class="comment-content"
										valign="middle"
									>
										<table
											border="0"
											cellpadding="0"
											cellspacing="0"
											height="100%"
										>
											<tbody>
												<tr>
													<td
														align="left"
														class="comment-creator-name-container"
														valign="middle">
															<a
																class="comment-creator-name"
																href="[$COMMENT_CREATOR_DISPLAY_URL$]"
															>
																[$COMMENT_CREATOR_NAME$]
															</a>
													</td>
												</tr>
												<tr>
													<td
														align="left"
														class="comment-message message"
														valign="middle"
													>
														[$COMMENT_MESSAGE$]
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				[$COMMENT_ATTACHED_CONTENT$]
			</tbody>
		</table>
	</td>
</tr>