<tr>
	<td
		align="center"
		valign="middle"
	>
		<table
			border="0"
			cellpadding="0"
			cellspacing="0"
			class="container email-footer"
		>
			<tbody>
				<tr>
					<td
						align="center"
						class="feedback-description"
						valign="middle"
					>
						[$FEEDBACK_TEXT$]
					</td>
				</tr>
				<tr>
					<td
						align="center"
						class="feedback-btn-container"
						valign="middle"
					>
						<table
							border="0"
							cellpadding="0"
							cellspacing="0"
							class="btn btn-container feedback-btn"
						>
							<tbody>
								<tr>
									<td
										align="center"
										class="btn-cell"
										valign="middle"
									>
										<a
											class="btn-content"
											href="[$FEEDBACK_DISPLAY_URL$]"
										>
											[$FEEDBACK_BUTTON_TEXT$]
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>