<tr>
	<td
		align="left"
		class="read-more-comments-container"
		valign="top"
	>
		<a
			class="read-more-comments"
			href="[$NOTIFICATION_DISPLAY_URL$]"
		>
			[$READ_MORE_TEXT$]
		</a>
	</td>
</tr>