<p>
	[$NAME$],
</p>

<p>
	Here is the one-time authorization code you requested: <b>[$AUTHORIZATION_CODE$]</b>.
</p>

<p>
	This code expires in 30 minutes. If it expires before you can use it, you'll need to request a new one.
</p>