<p>
	Dear [$NAME$],
</p>

<p>
	[$SENDER_NAME$] has requested that you initiate the citizenship process for a child at ZOE's Children's Home. Please click on <a href=[$URL$]>this link</a> to view the child's information.
</p>

<p>
	Thank you
</p>