<p>
	คุณชายที่รัก [$NAME$],
</p>

<p>
	[$SENDER_NAME$] ได้ร้องขอให้คุณเริ่มต้นกระบวนการเป็นพลเมืองสำหรับเด็กที่ ZOE's Children's Home โปรดคลิกที่ <a href=[$URL$]>ลิงก์นี้</a> เพื่อดูข้อมูลของเด็ก

</p>

<p>
	ขอขอบคุณ
</p>