#if ($patchType.getData() == "Tool")
	#set ($iconUrl = "/image/image_gallery?uuid=29de8312-e4f7-4cf6-b635-75a20e3b2fdc&groupId=$groupId")
#elseif ($patchType.getData() == "Security")
	#set ($iconUrl = "/image/image_gallery?uuid=936d9ff7-b77f-4085-be33-916b592ac0bb&groupId=$groupId")
#elseif ($patchType.getData() == "Update")
	#set ($iconUrl = "/image/image_gallery?uuid=0589e374-02be-4163-9fd2-954742b70021&groupId=$groupId")
#elseif ($patchType.getData() == "Bundle")
	#set ($iconUrl = "/image/image_gallery?uuid=7434cffc-53b2-4139-bbfa-b276bc274c72&groupId=$groupId")
#elseif ($patchType.getData() == "For Developers")
	#set ($iconUrl = "/image/image_gallery?uuid=f98a22dd-c337-4230-8d05-83d074f2c857&groupId=$groupId")
#elseif ($patchType.getData() == "WAR")
	#set ($iconUrl = "/documents/$groupId/4b88c8dd-7abb-4d47-8ccf-60c0ddb7da39")
#elseif ($patchType.getData() == "Database")
	#set ($iconUrl = "/image/image_gallery?uuid=7cedcc11-36c4-4581-b5af-e106d97d347c&groupId=$groupId")
#elseif ($patchType.getData() == "Hook")
	#set ($iconUrl = "/image/image_gallery?uuid=7ff92890-2873-4e5d-9464-8489764245da&groupId=$groupId")
#elseif ($patchType.getData() == "Portlet")
	#set ($iconUrl = "/image/image_gallery?uuid=e7090c64-c2e6-409f-b10a-9caecea1c863&groupId=$groupId")
#elseif ($patchType.getData() == "Templateset")
	#set ($iconUrl = "/image/image_gallery?uuid=90199274-681b-4852-99fd-5ada40239354&groupId=$groupId")
#elseif ($patchType.getData() == "Web")
	#set ($iconUrl = "/image/image_gallery?uuid=cdcf7958-dfd2-4cb6-af26-435847d95eb3&groupId=$groupId")
#elseif ($patchType.getData() == "Document")
	#set ($iconUrl = "/image/image_gallery?uuid=8f8a6ce1-1925-40fd-a7a8-9d827424d879&groupId=$groupId")
#else
	#set ($iconUrl = "/image/image_gallery?uuid=7cedcc11-36c4-4581-b5af-e106d97d347c&groupId=$groupId")
#end

#set ($linkToArticle = "/group/customer/downloads/-/asset_publisher/YtYHVPRKNO6z/content/$reserved-article-url-title.data")

#set ($test = $request.get("attributes").get("CURRENT_URL"))

<style>
	.portlet-asset-publisher .asset-actions {
		margin-top: 25px;
	}

	sub-grid .asset-content {
		border-bottom: 1px solid #CCC;
		padding-bottom: 17px;
	}

	.sub-grid .read-more-wrapper {
		padding: 9px 0 0 82px;
	}

	.sub-grid .separator {
		padding: 0;
	}
</style>

<script type="text/javascript">
	AUI().ready(
		'aui-io',
		function(A) {
			A.one('body').delegate(
				'click',
				function(event) {
					var webContentId = event.currentTarget.getAttribute('webContentId');

					A.one('.short-body-' + webContentId).hide();
					A.one('.full-body-' + webContentId).show();

					return false;
				},
				'.show-full-body'
			);

			A.one('body').delegate(
				'click',
				function(event) {
					var webContentId = event.currentTarget.getAttribute('webContentId');

					A.one('.full-body-' + webContentId).hide();
					A.one('.short-body-' + webContentId).show();

					return false;
				},
				'.show-short-body'
			);
		}
	);
</script>

<div class="customer-downloads-template">
	<p>
		<a href="$linkToArticle">
			<img src="$iconUrl" style="margin-left: 9px; margin-right: 9px; margin-top: 5px; margin-bottom: 5px; float: left; width: 64px; height: 64px;" />
		</a>

		<a href="$linkToArticle">
			<strong>$patchTitle.getData()</strong>
		</a>
	</p>

	<div class="read-more-wrapper">
		<div>
			<strong>Type:</strong> $patchType.getData() &nbsp;<strong>Post Date:</strong> $patchDate.getData()
		</div>

		<div>
			<strong>Affected Versions:</strong>

			#foreach ($version in $affectedVersions.options)
				#if ($velocityCount != 1)
					-->,&nbsp;
				#end

				$version<!--
			#end
			-->
		</div>

		<div>
			<strong>Filesize:</strong> $fileSize.getData()
		</div>

		<div>
			<strong>MD5:</strong> $md5.getData()
		</div>

		#if ($alertContent.getData())
			<p>
				$alertContent.getData()
			</p>
		#end
	</div>

	#if ($test != $linkToArticle)
		#if ($readMoreContent.getData() != "")
			<div class="read-more-wrapper">
				<div class="full-body-$reserved-article-id.data aui-helper-hidden">
					<!-- $linkToArticle -->

					<p>
						$readMoreContent.getData()
					</p>

					#if ($displayFixpackLink.getData() == "true")
						<p>
							For installation instructions, please refer to the following Knowledge Base article:
						</p>

						<div>
							<p>
								<a href="https://www.liferay.com/group/customer/knowledge/kb/-/knowledge_base/article/14991389">Applying Fix Packs to the Liferay Portal</a>
							</p>
						</div>
					#end

					#if ($displayPatchLink.getData() == "true")
						<p>
							For installation instructions, please refer to the following Knowledge Base article:
						</p>

						<div>
							<p>
								<a href="https://www.liferay.com/group/customer/knowledge/kb/-/knowledge_base/article/14991389</a>
							</p>
						</div>
					#end

					<a class="show-short-body" href="javascript:;" webContentId="$reserved-article-id.data">Show Less</a>
				</div>

				<div class="short-body-$reserved-article-id.data">
					<a class="show-full-body" href="javascript:;" onclick="_gaq.push(['_trackEvent', 'Support Notes', 'Read More', '$patchTitle.getData()']);" webContentId="$reserved-article-id.data">Read More</a>
				</div>
			</div>
		#end
	#else
		<div class="read-more-wrapper">
			<p>
				$readMoreContent.getData()
			</p>

			#if ($displayFixpackLink.getData() == "true")
				<p>
					For installation instructions, please refer to the following Knowledge Base article:
				</p>

				<div>
					<p>
						<a href="https://www.liferay.com/group/customer/knowledge/kb/-/knowledge_base/article/14991389">Applying Fix Packs to the Liferay Portal</a>
					</p>
				</div>
			#end

			#if ($displayPatchLink.getData() == "true")
				<p>
					For installation instructions, please refer to the following Knowledge Base article:
				</p>

				<div>
					<p>
						<a href="https://www.liferay.com/group/customer/knowledge/kb/-/knowledge_base/article/14991389">Applying Patches to the Liferay Portal</a>
					</p>
				</div>
			#end
		</div>
	#end

	<div class="read-more-wrapper">
		<div>
			#if ($downloadLink.getData() != "")
				<a class="btn" href="$downloadLink.getData()" onclick="_gaq.push(['_trackEvent', 'Support Downloads', '$patchType.getData()', '$patchTitle.getData()']);">Download</a>
			#end

			#if ($linkLink.getData() != "")
				<a class="btn" href="$linkLink.getData()" onclick="_gaq.push(['_trackEvent', 'Support Notes', 'Link', '$patchTitle.getData()']);">Link</a>
			#end

			#if ($learnLink.getData() != "")
				<a class="btn" href="$learnLink.getData()" onclick="_gaq.push(['_trackEvent', 'Support Notes', 'Learn More', '$patchTitle.getData()']);">Learn More</a>
			#end

			#if ($sourceLink.getData() != "")
				<a class="btn" href="$sourceLink.getData()" onclick="_gaq.push(['_trackEvent', 'Support Notes', 'Source', '$patchTitle.getData()']);">Source</a>
			#end

			#if ($releaseNotesLink.getData() != "")
				<a class="btn" href="$releaseNotesLink.getData()" onclick="_gaq.push(['_trackEvent', 'Support Notes', 'Release Notes', '$patchTitle.getData()']);">Release Notes</a>
			#end

			#if ($releaseHighlightsLink.getData() != "")
				<a class="btn" href="$releaseHighlightsLink.getData()" onclick="_gaq.push(['_trackEvent', 'Support Notes', 'Release Highlights', '$patchTitle.getData()']);">Release Highlights</a>
			#end

			#if ($knownIssuesLink.getData() != "")
				<a class="btn" href="$knownIssuesLink.getData()" onclick="_gaq.push(['_trackEvent', 'Support Notes', 'Known Issues', '$patchTitle.getData()']);">Known Issues</a>
			#end
		</div>
	</div>
</div>