$medium-gray: #909295;
$text-color: #474A4B;

#wrapper .osb-portlet-admin .addresses .w50 {
	float: left;
	padding: 0;
	width: 50%;
}

.osb-portlet-admin {
	table {
		td {
			vertical-align: top;
		}

		.inactive td {
			background-color: #FCC;
		}

		.lfr-role-column {
			min-width: 0;
		}
	}

	.account-environment {
		.environment-detail {
			background: #F8F8F8;
			border: 1px solid #CCC;
			display: inline-block;
			margin: 0;
			vertical-align: top;
			width: 100%;

			.list {
				margin: 0;
				padding: 0;

				li {
					border-bottom: 1px solid #CCC;
					list-style: none;
					padding: 1em;

					&:hover {
						background-color: #CCC;
					}

					&:last-child {
						border-bottom-width: 0;
					}

					.data {
						font-weight: bold;
						text-transform: uppercase;
						width: 100%;
					}

					.data .lfr-table td {
						width: 10%;
					}

					.field {
						font-weight: normal;
						padding-left: 3px;
						text-transform: none;
					}
				}
			}

			.subheader {
				background: url(@theme_image_path@/application/subheader_bg.png) 0 0 repeat-x;
				color: #154B75;
				font-weight: bold;
				padding: 7px;
			}
		}

		.popup {
			.label {
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	.address .aui-field-input {
		width: 350px;
	}

	.addresses .aui-field {
		float: none;
	}

	.auto-complete-container #trigger {
		display: none;
	}

	.child-partners .col-2 {
		width: 30%;
	}

	.child-partners .results-grid {
		padding-left: 25px;
	}

	.collapse, .expand {
		.taglib-text {
			text-decoration: none;
		}
	}

	.history {
		a {
			text-decoration: none;
		}

		pre {
			margin: 0;
			padding: 0;
		}

		.audit-entry-set {
			margin: 15px 0;
			overflow: hidden;

			.content {
				margin: 5px;
			}

			.create-date {
				color: #AAA;
				float: right;
			}

			.header {
				border-bottom: 1px solid lightgray;
				font-size: 15px;

				span {
					vertical-align: top;
				}
			}

			.summary {
				font-style: italic;
			}

			.txt-sb {
				font-weight: bold;
			}

			.user-display {
				display: inline-block;
				vertical-align: top;

				.user-avatar {
					background-size: cover;
					display: inline-block;
					height: 20px;
					width: 20px;
				}
			}
		}
	}

	.lfr-search-container .comments textarea {
		height: 30px;
		width: 100%;
	}

	.lfr-textarea {
		width: 500px;
	}

	.manager-dashboard {
		&:after {
			clear: both;
			content: "";
			display: block;
		}

		td.manager-dashboard-col {
			background-color: #F3FBFE;
			border: 1px solid #1BADF2;
			padding: 0;

			&.empty {
				background-color: transparent;
				border-width: 0;
			}
		}

		.manager-dashboard-team {
			clear: none;
			padding: 12px 12px 24px !important;
			width: 100%;

			* {
				vertical-align: middle;
			}

			.role-icon {
				margin: 0 5px;
				padding: auto 7px;

				* {
					border-radius: 50%;
					color: #FFF;
					font-size: 9px;
					font-weight: bold;
					padding: 2px 4px;
				}

				.d {
					background-color: #0658BA;
				}

				.m {
					background-color: #0B447C;
					padding: 2px 3px 2px 4px;
				}

				.w {
					background-color: #3A0092;
					padding: 2px 3px;
				}
			}

			.support-worker {
				display: inline-block;
				margin: 3px 0;
				width: 240px;

				.switch {
					display: inline-block;
					height: 18px;
					margin: 8px 0;
					padding: 0;
				}

				.user-name {
					display: inline-block;
					font-size: 13px;
					margin: 0;
					padding: 0;
					text-align: left;
					width: 140px;
				}
			}

			.team-title {
				font-size: 14px;
				font-weight: bold;
			}
		}
	}

	.multiple-select {
		height: 80px;
	}

	.portlet-body {
		padding: 1em;
	}

	.show-in-ticket-view label {
		font-weight: bold;
	}

	.sub-header {
		.segment {
			color: $medium-gray;
			margin: 0 10px;

			.txt-sb {
				color: $text-color;
			}

			&.first {
				margin-left: 0;
			}

			&.last {
				margin-right: 0;
			}
		}

		.spacer {
			background: $medium-gray;
			border-radius: 2.5px;
			display: inline-block;
			height: 5px;
			vertical-align: middle;
			width: 5px;
		}
	}

	.toggle-on-off-switch {
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		float: left;
		position: relative;
		text-align: center;
		vertical-align: middle;
		width: 50px;

		.toggle-on-off-switch-ctrl {
			border-radius: 2px;
			cursor: pointer;
			display: block;
			overflow: hidden;
			transition: border 0.3s ease-in 0s;

			&.on {
				border: 1px solid #1BADF2;
			}

			&.off {
				border: 1px solid #1B3A6A;
			}

			&:hover.on.unlock {
				border: 1px solid #1B3A6A;
			}

			&:hover.off.unlock {
				border: 1px solid #1BADF2;
			}

			&:hover.on.unlock .toggle-on-off-switch-inner {
				margin-left: -100%;
			}

			&:hover.off.unlock .toggle-on-off-switch-inner {
				margin-left: 0;
			}

			&.on .toggle-on-off-switch-inner {
				margin-left: 0;
			}
		}

		.toggle-on-off-switch-inner {
			-moz-transition: margin 0.3s ease-in 0s;
			-o-transition: margin 0.3s ease-in 0s;
			-webkit-transition: margin 0.3s ease-in 0s;
			display: block;
			font-size: 11px;
			line-height: 10px;
			margin-left: -100%;
			transition: margin 0.3s ease-in 0s;
			width: 200%;

			& * {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				display: block;
				float: left;
				padding: 3px 6px;
				text-align: center;
				width: 50%;
			}

			& .toggle-on-off-switch-on {
				background-color: #1BADF2;
				border-right: 8px solid #FFF;
				color: #FFF;
				text-transform: uppercase;
			}

			& .toggle-on-off-switch-off {
				background-color: #FFF;
				border-left: 8px solid #1B3A6A;
				color: #1B3A6A;
				font-size: 9px;
				padding-left: 2px;
				padding-right: 2px;
				text-transform: uppercase;
			}
		}
	}

	.txt-c {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		width: 100%;
	}
}