[$COPYRIGHT$]

package [$PACKAGE_NAME$];

import com.liferay.osb.hook.upgrade.BaseUpgradeProcess;

/**
 * @author Amos Fong
 */
public class [$CLASS_NAME$] extends BaseUpgradeProcess {

	@Override
	public long getTimestamp() {
		return [$TIMESTAMP$]L;
	}

	@Override
	protected void doUpgrade() throws Exception {
	}

}