<style>
	.content-columns .unit-content {
		text-align: center;
	}
</style>

<article>
	<div class="clearfix content-columns sub-grid">
		<div class="col-md-4">
			<div class="unit-content">
				#if ($heading1.data != "")
					<h1 class="section-heading">
						$heading1.data
					</h1>
				#end

				#if ($content1.data != "")
					$content1.data
				#end
			</div>
		</div>

		<div class="col-md-4">
			<div class="unit-content">
				#if ($heading2.data != "")
					<h1 class="section-heading">
						$heading2.data
					</h1>
				#end

				#if ($content2.data != "")
					$content2.data
				#end
			</div>
		</div>

		<div class="col-md-4">
			<div class="unit-content">
				#if ($heading3.data != "")
					<h1 class="section-heading">
						$heading3.data
					</h1>
				#end

				#if ($content3.data != "")
					$content3.data
				#end
			</div>
		</div>
	</div>
</article>