/* ---------- Global ---------- */

/* ---------- General ---------- */

.marketplace-customers {
	margin-bottom: 20px;

	.taglib-header {
		border: none;

		.header-title {
			color: #3A3A3A;
			font-size: 36px;
			font-weight: normal;
			margin: 0;
		}
	}

	h2 {
		color: #3A3A3A;
		font-size: 22px;
		font-weight: normal;
		margin: 1em 0 .5em;
	}
}

/* ---------- Table ---------- */

.marketplace-customers table {
	thead tr, .results-header {
		background: transparent;
		border-bottom: 1px solid #CCC;

		&:hover {
			background: transparent;
		}
	}

	th {
		color: #7B7C7F;
		font-weight: bold;
	}

	tr:hover {
		background: #F9FAFA;
	}

	td, th {
		padding: 5px 10px;
	}

	.results-header {
		background: none;
	}

	.results-row {
		.avatar {
			width: 28px;
		}

		a {
			text-decoration: none;
		}

		img.icon {
			width: 18px;
		}

		td {
			vertical-align: top;
		}
	}
}

/* ---------- Page ---------- */

/* ---------- View ---------- */

.marketplace-customers.view {
	.search {
		margin: 2em 0;

		.aui-field {
			margin-right: 1em;
		}

		.aui-field-content {
			display: inline-block;
			vertical-align: top;
		}

		.aui-field-input-text {
			margin-top: 2px;
		}

		.aui-button {
			display: inline-block;
			margin-top: 17px;
		}
	}

	.owner-name {
		background: #F9FAFA;
		border-bottom: 1px solid #CCC;

		td {
			color: #7B7C7F;
			font-weight: bold;
		}
	}
}