#set ($articleId = ${reserved-article-id.data.toString()})

<style>
	.additional-notes {
		margin-top: 20px;
	}

	.additional-notes-header {
		align-items: center;
		display: flex;
	}

	.additional-notes-header h4 {
		margin-bottom: 0;
	}

	.additional-notes-img {
		align-self: center;
		margin-right: 10px;
	}

	.download-section .additional-notes a {
		color: #009AD6;
	}
</style>

<script type="text/javascript">
	function updateDownloadDetails${articleId}(index) {
		var A = AUI();

		var articleId = '${articleId}';

		var currentDetailNode = A.one('#downloadDetail' + articleId + '_' + index);
		var detailNodes = A.all('.article-' + articleId);

		if (detailNodes) {
			detailNodes.hide();
		}

		if (currentDetailNode) {
			currentDetailNode.show();
		}
	}
</script>

<div class="download-section $articleClass.data">
	#if ($heading.data != "")
		<h5>
			#if ($productIcon.data != "")
				<span class="product-icon">$productIcon.data</span>
			#end

			$heading.data
		</h5>
	#end

	<div class="aui-helper-clearfix download">
		#if (!$downloadGroups.siblings.isEmpty())
			#set ($counter = 0)
			#set ($downloadDetails = {})
			#set ($releaseNotes = [])

			<select id="downloadSelect${articleId}" onchange="AUI().one('#download${articleId}').attr('href', this.value); updateDownloadDetails${articleId}(this.selectedIndex);">
				#foreach ($download_group in $downloadGroups.siblings)
					<optgroup label="$download_group.data">
						#foreach ($download in $download_group.downloads.siblings)
							<option value="$download.link.data">$download.data</option>

							#set ($currentDownloadDetails = {})

							#foreach ($downloadDetails in $download.details.siblings)
								#if ($downloadDetails.key.data != "")
									#set ($detail = {"key": $downloadDetails.key.data, "value": $downloadDetails.value.data})

									#set ($void = $currentDownloadDetails.put($velocityCount, $detail))
								#end
							#end

							#if (!$currentDownloadDetails.isEmpty())
								#set ($void = $downloadDetails.put($counter, $currentDownloadDetails))
							#end

							#set ($void = $releaseNotes.add($download.release_notes.data))
							#set ($counter = $counter + 1)
						#end
					</optgroup>
				#end
			</select>
		#end

		<div class="button-group float-right">
			#if (!$releaseNotes.isEmpty())
				#set ($hide = "")

				#if ($downloadGroups.downloads.releaseNotesLink.data == "")
					#set ($hide = "aui-helper-hidden")
				#end

				<a class="btn $hide release-notes" href="$downloadGroups.downloads.releaseNotesLink.data">Release Notes</a>
			#end

			<a class="btn download-btn" href="$downloadGroups.downloads.link.data" id="download${articleId}">#language('download')</a>
		</div>
	</div>

	#if (!$downloadDetails.isEmpty())
		<div class="details-section" id="detailsSection${articleId}">
			<a class="class-toggle" data-target-node="#detailsSection${articleId}" href="javascript:;">#language("details")</a>

			<div class="details toggle-content">
				#foreach ($detailSet in $downloadDetails)
					#set ($hide = "aui-helper-hidden")
					#set ($index = $velocityCount - 1)

					#if ($velocityCount == 1)
						#set ($hide = "")
					#end

					<div class="article-${articleId} $hide" id="downloadDetail${articleId}_${index}">
						#foreach($detail in $detailSet)
							<dl>
								<dt title="${detail.key}">
									${detail.key}:
								</dt>
								<dd>
									${detail.value}
								</dd>
							</dl>
						#end
					</div>
				#end
			</div>
		</div>
	#end

	#if (($additionalNotes.data != "") (&& $additionalNotesLabel.data != ""))
		<div class="additional-notes">
			<div class="additional-notes-header">
				<img class="additional-notes-img" src="https://web.liferay.com/osb-community-theme/images/messages/info.png" />

				<h4>
					$additionalNotesLabel.data
				</h4>
			</div>

			<div class="additional-notes-data">
				$additionalNotes.data
			</div>
		</div>
	#end
</div>