<h2 class="section-heading">
	$title.data
</h2>

<div class="callout-a callout-download clearfix">
	<div class="sub-grid">
		<div class="u-img unit">
			<img src="$image.data" style="height: 139px; width: 200px;" />
		</div>

		<div class="u-nfo unit">
			<h2 class="section-heading">
				$heading.data
			</h2>

			<p>
				$subHeading.data
			</p>

			<p>
				<select onchange="document.getElementById('download10733277-btn').setAttribute('href', this.value);" onkeypress="if (event.keyCode == 13) window.location = this.value;">
					#foreach ($option in $options.siblings)
						<option value="$option.data">$option.text.data</option>
					#end
				</select>
			</p>

			<p>
				<span style="font-size: 14px;">
					<a href="//$releaseUrl.data">$releaseText.data</a>
				</span>
			</p>
		</div>

		<div class="u-dld unit">
			<p>
				<a class="btn" href="$downloadUrl.data" id="download10733277-btn">$downloadText.data</a>
			</p>
		</div>
	</div>
</div>