<p>
	Dear Accounts,
</p>

<p>
	There is an order for review in the E-commerce Admin.
</p>

<h3>
	Purchase Information
</h3>

<table>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top; width: 200px;">
			Order Type:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_TYPE$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top; width: 200px;">
			Payment Method:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_PAYMENT_PROCESSOR$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top; width: 200px;">
			Payment Status:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_STATUS$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top; width: 200px;">
			Document Number:
		</td>
		<td>
			<a href="[$EC_DOCUMENT_ENTRY_URL$]">[$EC_DOCUMENT_ENTRY_EC_DOCUMENT_ENTRY_ID$]</a>
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Customer VAT Number:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_VAT_NUMBER$]
		</td>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Customer:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_USER_NAME$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Total Sale Amount:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_TOTAL$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Email Address:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_BILLING_EMAIL_ADDRESS$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Shipping Address:
		</td>
		<td style="text-align: left; vertical-align: top;">
			[$EC_DOCUMENT_ENTRY_SHIPPING_ADDRESS_HTML$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Items:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_LINE_ITEMS_HTML$]
		</td>
	</tr>
</table>

<h3>
	Developer Information
</h3>

<table>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top; width: 200px;">
			Developer:
		</td>
		<td>
			[$DEVELOPER_ENTRY_LEGAL_ENTITY_NAME$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Email Address:
		</td>
		<td>
			[$DEVELOPER_ENTRY_EMAIL_ADDRESS$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Office Address:
		</td>
		<td style="text-align: left; vertical-align: top;">
			[$DEVELOPER_ENTRY_ADDRESS_HTML$]
		</td>
	</tr>
</table>

<p>
	Please visit the Control Panel to view the order.
</p>

<p>
	Thank You,<br />
	The Liferay Marketplace Team
</p>