<p>
	Dear [$TO_NAME$],
</p>

<p>
	This email is being sent to inform you that your app licensing for [$APP_ENTRY_TITLE$] expired as of [$EXPIRATION_DATE$].
</p>

<p>
	Please contact your local sales representative to renew or purchase additional licensing. [$SUPPORT_MESSAGE$]
</p>

<p>
	Sincerely,
</p>

<p>
	The Liferay Marketplace Team
</p>