<p>
	Dear [$TO_NAME$],
</p>

<p>
	Your Liferay Marketplace App, <a href="[$APP_ENTRY_DEVELOPER_URL$]">[$APP_ENTRY_TITLE$]</a>, has had its status recently updated.
</p>

<p>
	Status changed to: [$APP_VERSION_STATUS$]
</p>

<p>
	Please visit the link above to review your app's status change.
</p>

<p>
	[$APP_VERSION_STATUS_MESSAGE$]
</p>

<p>
	Thank You,<br />
	The Liferay Marketplace Team
</p>