<p>
	Dear [$TO_NAME$],
</p>

<p>
	This email is a reminder that licensing for <b>[$APP_ENTRY_TITLE$]</b> will expire in [$DAYS_REMAINING$] days on [$EXPIRATION_DATE$].
</p>

<p>
	Please contact your local sales representative to renew. [$SUPPORT_MESSAGE$]
</p>

<p>
	Sincerely,
</p>

<p>
	The Liferay Marketplace Team
</p>