Dear Sales,<br /><br />

The following contact wants to <strong>purchase</strong> Social Office EE. Please reach out to them to learn more about their project.<br /><br />

<strong>User Account Info:</strong><br /><br />

Lead Country: [$LEAD_COUNTRY$]<br />
Lead Region: [$LEAD_REGION$]<br /><br />

Street: [$STREET$]<br />
City: [$CITY$]<br />
Zip: [$ZIP$]<br />
Country: [$COUNTRY$]<br /><br />

Email Address: [$EMAIL_ADDRESS$]<br />
First Name: [$FIRST_NAME$]<br />
Last Name: [$LAST_NAME$]<br />
Company: [$COMPANY$]<br />
Company Roles: [$COMPANY_ROLES$]<br />
Industries: [$INDUSTRIES$]<br />
Phone Numbers: [$PHONE_NUMBERS$]<br /><br />

Notes: [$NOTES$]<br /><br />

Lead URL: [$LEAD_URL$]<br /><br />

-The Liferay Team<br />
[$PORTAL_URL$]