<table style="border-collapse: collapse; font-family: Helvetica,Arial,Verdana,sans-serif; font-size: 14px; margin: 0 auto; width: 530px;">
<tr>
	<td style="background-color: #4690CD; padding: 7px 5px;">
		<a href="http://www.liferay.com/marketplace">
			<img alt="Liferay Marketplace" src="[$MARKETPLACE_LOGO$]" width="200" />
		</a>
	</td>
</tr>
<tr>
	<td style="color: #1a4265; font-family: Gothic, Helvetica, Arial; font-size: 20px; padding-top: 20px;">
		Hello [$USER_FULL_NAME$],
	</td>
</tr>
<tr>
	<td style="padding: 10px 0;">
		<table>
		<tr>
			<td>
				<a href="[$APP_ENTRY_URL$]">
					<img alt="[$APP_ENTRY_TITLE$]" height="70" src="[$APP_ENTRY_ICON_URL$]" width="70" />
				</a>
			</td>
			<td style="padding-left: 20px;">
				<a href="[$APP_ENTRY_URL$]" style="color: #1a4265; font-family: Gothic, Helvetica, Arial; font-size: 16px; font-weight: bold; text-decoration: none;">
					[$APP_ENTRY_TITLE$]
				</a>
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		The app, <a href="[$APP_ENTRY_URL$]">[$APP_ENTRY_TITLE$]</a>, has been purchased on your behalf of the [$OWNER_NAME$] project.

		[$VIEWING_INSTRUCTIONS$]
	</td>
</tr>
</table>