<p>
	Dear [$APP_VERSION_USER_NAME$],
</p>

<p>
	You are receiving this notice due to a recent bug involving trial licenses. Your current trial license for [$APP_VERSION_TITLE$] has been invalidated. A new trial license has been provisioned and will expire 30 days from now.
</p>

<p>
	We apologize for any inconvenience and appreciate your understanding as we continue to improve our customer experience.
</p>

<p>
	Thank You,<br />
	The Marketplace Team
</p>