<p>
	A vendor payout has been made to the following developer account.
</p>

<h3>
	Developer Information
</h3>

<table>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top; width: 200px;">
			Developer:
		</td>
		<td>
			[$DEVELOPER_ENTRY_NAME$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Email Address:
		</td>
		<td>
			[$DEVELOPER_ENTRY_EMAIL_ADDRESS$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Office Address:
		</td>
		<td style="text-align: left; vertical-align: top;">
			[$DEVELOPER_ENTRY_ADDRESS_HTML$]
		</td>
	</tr>
</table>

<h3>
	Payout Information
</h3>

<table>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top; width: 200px;">
			Document Number:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_ID$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Sales Total Amount:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_TOTAL$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Vendor Payout Amount:
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_VENDOR_AMOUNT$] [$EC_DOCUMENT_ENTRY_CURRENCY_CODE$]
		</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top;">
			Vendor Payout Amount (USD estimate):
		</td>
		<td>
			[$EC_DOCUMENT_ENTRY_VENDOR_AMOUNT_USD$]
		</td>
	</tr>
</table>

<p>
	Thank You,<br />
	The Liferay Marketplace Team
</p>