<p>
	Dear [$TO_NAME$],
</p>

<p>
	This email is a reminder that licensing for <b>[$APP_ENTRY_TITLE$]</b> will expire in [$DAYS_REMAINING$] days on [$EXPIRATION_DATE$].
</p>

<p>
	<b>Purchase:</b> <a href="[$APP_ENTRY_STORE_URL$]">[$APP_ENTRY_TITLE$]</a><br />
</p>

<p>
	Please visit the link above to renew or purchase additional licensing. [$SUPPORT_MESSAGE$]
</p>

<p>
	Sincerely,
</p>

<p>
	The Liferay Marketplace Team
</p>