iframe[name=google_conversion_frame] {
	visibility: hidden;
}

.bottom-navigation {
	margin: .75em auto;
	text-align: center;

	a {
		color: $text-color;
		text-decoration: none;
	}

	.child-menu {
		text-align: left;
		vertical-align: top;

		.child-item {
			display: block;
		}
	}

	.root-item {
		text-align: left;
		padding: 0 20px;

		> a {
			font-weight: normal;

			&:hover {
				color: $text-color;
				cursor: default;
			}
		}
	}
}

.doc-footer .copyright {
	color: $text-color;
	padding-top: 30px;
	text-align: center;
	text-transform: uppercase;
}