.lrdcom-form {
	.aui-field {
		display: block;
		font-weight: normal;
		margin-bottom: 1em;
		max-width: 500px;
		position: relative;

		&.aui-field-booleancheckbox .aui-field-label, &.aui-field-radio .aui-field-label, &.aui-field-checkbox .aui-field-label, &.booleancheckbox-field .aui-form-validator-message {
			position: static;
		}

		&.aui-field-booleancheckbox .aui-field-input, .input input[type="checkbox"], .input input[type="radio"] {
			margin: 1px 5px 0 0;
			width: auto;
		}

		&.aui-field-checkbox, &.aui-field-choice, &.booleancheckbox-field {
			label, .aui-form-validator-message {
				position: static;
			}
		}

		&.aui-field-checkbox input, &.aui-field-checkbox label, &.booleancheckbox-field input, &.booleancheckbox-field label {
			display: inline;
			font-weight: normal;
			pointer-events: initial;
			width: auto;
		}

		&.aui-field-focused, &.aui-form-validator-error-container, &.aui-form-validator-valid-container, &.field-filled, &.field-focused {
			.aui-field-label {
				font-size: 12px;
				left: 9px;
				top: 3px;
			}

			input, select {
				padding: 12px 8px 3px;
			}
		}

		&.aui-field-focused, &.aui-field-focused.field-filled, &.field-focused {
			color: #1C7589;

			&.aui-form-validator-error-container {
				color: #F5A11D;

				input, select {
					background-color: transparent;
					border-color: #F5A11D;
					color: #F5A11D;
				}

				.aui-field-label {
					display: block;
				}
			}

			input, select {
				border-color: #1C7589;
				color: #1C7589;
				padding: 17px 8px 5px;
			}

			select {
				background-position: right -20px;
			}

			.aui-field-label, .aui-form-validator-message {
				font-size: 12px;
				top: 5px;
			}

			.aui-field-label {
				display: block;
			}

			.aui-form-validator-message {
				display: none;
			}
		}

		&.aui-field-select {
			&.aui-form-validator-valid-container select, &.field-filled select {
				background-position: right -60px;
			}

			&.field-filled .aui-field-label, &.field-focused .aui-field-label, .aui-form-validator-message {
				right: 35px;
			}

			select {
				background: url(../images/custom/select_arrows.png) no-repeat right 7px;
			}
		}

		&.aui-form-validator-error-container {
			color: #FFF;

			input, select {
				background-color: #F5A11D;
				border-color: #F5A11D;
			}

			.aui-field-element {
				background: transparent;
				display: block;
				padding: 0;
			}

			.aui-field-label {
				display: none;
			}

			.aui-form-validator-message {
				left: 8px;
				position: absolute;
				text-align: left;
				top: 10px;
			}
		}

		&.aui-form-validator-valid-container, &.field-filled {
			color: #909295;

			input, select {
				border-color: #909295;
				color: #909295;
			}
		}

		input, select {
			background-color: transparent;
			border: 1px solid #474A4B;
			color: #474A4B;
			display: inline-block;
			font-size: 1.2em;
			height: 1.5em;
			max-width: none !important;
			outline: none;
			padding: 5px 8px;
			width: 92%;

			@include appearance(none);
			@include border-radius(3px);
			@include box-sizing(content-box);
			@include transition(all 0.25s);
		}

		input[type='checkbox'] {
			font-size: 10px;
			padding: 0;
			width: auto;

			@include appearance(checkbox);
		}

		.aui-field {
			margin-bottom: 0;
		}

		.aui-field-element {
			position: static;
		}

		.aui-field-label {
			left: 8px;
			position: absolute;
			top: 10px;
		}

		.aui-field-label, .aui-form-validator-message {
			font-weight: normal;
			pointer-events: none;
			z-index: 1;

			@include transition(all 0.25s);
		}

		.aui-form-validator-message {
			background: transparent;
			clip: auto;
			color: inherit;
			left: 10px;
			margin: 0;
			padding: 0;
			position: absolute;
			right: 10px;
			text-align: right;
			top: 10px;
			width: auto;

			@include transition(top 0.5s);
		}

		.aui-form-validator-stack-error {
			font-size: inherit;
		}
	}

	.btn-wrapper {
		padding: 20px 0;
	}
}

.portlet-login {
	&, input {
		font: 100 15px/1.5 myriad-pro, Arial, Helvetica, sans-serif;
	}

	.ad-container {
		.btn {
			border-color: #F49B45;
			color: #F49B45;
			padding: 5px 15px;
			text-transform: none;
		}

		.btn:hover {
			border-color: #FFF;
			color: #FFF;
		}
	}

	.aui-field-content {
		margin-bottom: 5px;
	}

	.aui-field-label {
		font-weight: normal;
	}

	.aui-fieldset-content {
		position: relative;
	}

	.lrdcom-form {
		.aui-button-input {
			border-color: #F49B45;
			color: #F49B45;
			padding: 5px 15px;
			text-transform: none;
		}

		.aui-button-input:hover {
			background: #F49B45;
			color: #FFF;
		}
	}

	.navigation {
		border-top-width: 1px;
		margin-left: 0;
		margin-top: 15px;
		padding: 5px;

		img {
			display: none;
		}

		.taglib-text {
			padding-right: 10px;
			text-decoration: none;
		}
	}

	.portlet-content {
		border-bottom: 1px solid #939598;
		padding: 15px;
	}
}