#set ($id = $reserved-article-id.data)

<div class="known-issues-container">
	<div class="portal-version-group" id="$id">
		<div class="class-toggle-off-click portal-version" data-target-node="#$id">
			<h2>
				$portalVersion.data <span class="toggle-indicator"></span>
			</h2>
		</div>

		<div class="class-toggle-off-click-content">
			<table>
				<tr>
					<th>
						Title
					</th>
					<th>
						Release Date
					</th>
				</tr>

				#foreach ($vulnerability in $portalVersion.vulnerabilityTitle.siblings)
					<tr>
						<td>
							<a href="//$vulnerability.linkUrl.data" target="_blank">LSV-$vulnerability.lsvNumber.data $vulnerability.data</a>
						</td>
						<td>
							$vulnerability.releaseDate.data
						</td>
					</tr>
				#end
			</table>
		</div>
	</div>
</div>