<style>
	a {
		text-decoration: none;
	}

	.logo-block-wrapper {
		padding: 30px 0;
		text-align: center;
	}

	.logo-block-wrapper a {
		color: #404040;
		font-size: 1.2em;
	}

	.logo-block-wrapper h2.heading.redesign {
		font-size: 3em;
		font-weight: normal;
	}

	.logo-block-wrapper .content-column {
		display: inline-block;
		float: none;
		min-width: 155px;
	}

	.logo-heading {
		text-align: center;
	}

	@media (max-width: 720px) {
		.responsive .logo-block-wrapper .content-column {
			display: inline-block !important;
			width: 24% !important;
		}

		.responsive .logo-block-wrapper .content-column .content-column-content {
			padding: 0 !important;
		}
	}

	.portal-box-wrapper {
		padding: 35px 0 35px;
	}

	.portal-box-wrapper a {
		color: #000;
		display: block;
		padding: 25px 0;
		text-decoration: none;
	}

	.portal-box-wrapper a span {
		color: #58585A;
		display: block;
		padding: 10px 0 0;
	}

	.portal-box-wrapper h2.heading.redesign {
		font-size: 2em;
		font-weight: normal;
		margin-bottom: 0.8em;
	}

	.portal-box-wrapper .block {
		border-bottom: 1px solid #CCC;
		border-left: 1px solid #CCC;
		float: left;
		font-size: 1.4em;
		text-align: center;
		width: 24.8%;
	}

	.portal-box-wrapper .block:first-child, .portal-box-wrapper .block:nth-child(2), .portal-box-wrapper .block:nth-child(3), .portal-box-wrapper .block:nth-child(4) {
		border-top: 1px solid #CCC;
	}

	.portal-box-wrapper .block:last-child, .portal-box-wrapper .block:nth-child(4n) {
		border-right: 1px solid #CCC;
	}

	.portal-box-wrapper .content-column:hover {
		background: #F0F9FE;
	}

	.portal-box-wrapper .content-column .left-column, .portlet-column .portal-box-wrapper .left-column, .portal-box-wrapper .content-column .middle-column, .portlet-column .portal-box-wrapper .middle-column, .portal-box-wrapper .content-column .right-column, .portlet-column .portal-box-wrapper .right-column {
		padding: 0;
	}

	@media (max-width: 970px) {
		.portal-box-wrapper .content-column-content {
			min-height: 195px;
		}
	}

	@media (max-width: 720px) {
		.portal-box-wrapper .content-column {
			border: 1px solid #CCC;
			font-size: 1.4em;
			margin-top: 15px;
			text-align: center;
			width: 24.8%;
		}
	}

	$customCss.data
</style>

<div class="max-960 $customClass.data">
	#if ($heading.data != "")
		<h2 class="heading logo-heading redesign">
			$heading.data
		</h2>
	#end

	<div class="clearfix">
		#foreach ($block in $blocks.siblings)
			<div class="block block-$velocityCount content-column w$block.width.data ">
				<div class="content-column-content ${block.position.data}-column">
					<div class="lego-element">
						<a href="$block.blockLink.data">
							#if ($block.blockIcon.data != "")
								<img src="$block.blockIcon.data" />

								<br />
							#end

							<span>$block.data</span>
						</a>
					</div>
				</div>
			</div>
		#end
	</div>
</div>