table {
	background-color: $table-bg;
	border: 1px solid $table-border-color;
	border-collapse: separate;
	border-left-width: 0;

	@include border-radius($border-radius-base);

	border-spacing: 0;
	margin-bottom: $line-height-base;
	max-width: 100%;
	width: 100%;

	td, th {
		border-left: 1px solid $table-border-color;
		border-top: 1px solid $table-border-color;
		line-height: $line-height-base;
		padding: 8px;
		text-align: left;
		vertical-align: top;
	}

	thead th {
		vertical-align: bottom;
	}

	th {
		font-weight: bold;
	}

	caption + tbody, caption + thead, colgroup + tbody, colgroup + thead, tbody:first-child, thead:first-child {
		tr:first-child {
			td, th {
				border-top-width: 0;

				&:first-child {
					@include border-top-left-radius($border-radius-base);
				}
			}
		}
	}

	thead, tbody {
		&:first-child tr:first-child {
			> td, > th {
				&:first-child {
					@include border-top-left-radius($border-radius-base);
				}

				&:last-child {
					@include border-top-right-radius($border-radius-base);
				}
			}
		}
	}

	tbody, thead, tfoot {
		&:last-child tr:last-child {
			> td, > th {
				&:first-child {
					@include border-bottom-left-radius($border-radius-base);
				}

				&:last-child {
					@include border-bottom-right-radius($border-radius-base);
				}
			}
		}
	}

	tfoot + tbody:last-child tr:last-child td {
		&:first-child {
			@include border-bottom-left-radius(0);
		}

		&:last-child {
			@include border-bottom-right-radius(0);
		}
	}

	caption, colgroup {
		+ tbody, + thead {
			tr:first-child {
				td:last-child , th:last-child {
					@include border-top-right-radius($border-radius-base);
				}
			}
		}
	}

	tbody {
		> tr:nth-child(odd) {
			> td, > th {
				background-color: $table-bg-accent;
			}
		}

		+ tbody {
			border-top: 2px solid $table-border-color;
		}
	}

	.table {
		background-color: $body-bg;
	}
}

table,
.row-fluid table {
	td, th {
		&[class*="span"] {
			display: table-cell;
			float: none;
			margin-left: 0;
		}
	}
}

.table-condensed {
	td, th {
		padding: 4px 5px;
	}
}

.table {
	tbody tr {
		&.danger > td {
			background-color: $state-danger-bg;
		}

		&.info > td {
			background-color: $state-info-bg;
		}

		&.success > td {
			background-color: $state-success-bg;
		}

		&.warning > td {
			background-color: $state-warning-bg;
		}
	}
}

.table-hover {
	tbody {
		tr {
			&:hover {
				> td, > th {
					background-color: $table-bg-hover;
				}
			}

			&.danger:hover > td {
				background-color: darken($state-danger-bg, 5%);
			}

			&.info:hover > td {
				background-color: darken($state-info-bg, 5%);
			}

			&.success:hover > td {
				background-color: darken($state-success-bg, 5%);
			}

			&.warning:hover > td {
				background-color: darken($state-warning-bg, 5%);
			}
		}
	}
}