#set ($cssClass = "")

#if ($containerClass.data != "")
	#set ($cssClass = $containerClass.data)
#end

<div class="$cssClass">
	#foreach ($link in $links.siblings)
		<div class="item item-$velocityCount">
			<img src="$link.image.data" />

			#if ($link.label.data != "")
				<span>$link.label.data</span>
			#end
		</div>
	#end
</div>