/* ---------- Border width & radius ---------- */

.callout-a,
.callout-b,
.callout-c,
.callout-d,
.callout-d-foot,
.callout-e {
	border: 1px solid;
}

.callout-a-head,
.callout-b-head,
.callout-c-head,
.callout-d-head,
.callout-e-head {
	border: 1px solid;
	border-width: 1px 1px 0;
}

.callout-c-body,
.callout-d-body {
	border: 1px solid;
	border-width: 1px 1px 0;
}

.callout-a-foot,
.callout-b-foot,
.callout-c-foot,
.callout-d-foot,
.callout-e-foot {
	border: 1px solid;
	border-width: 0 1px 1px;
}

.callout-c-foot,
.callout-d-foot {
	border-width: 1px;
}

/* ---------- Margin ---------- */

.callout-a,
.callout-b,
.callout-c,
.callout-d,
.callout-e,
.callout-a-foot,
.callout-b-foot,
.callout-c-foot,
.callout-d-foot,
.callout-e-foot {
	margin: 0 0 18px;
}

/* ---------- Background and border ---------- */

.callout-a,
.callout-a-head,
.callout-a-foot {
	background-color: #FAFDFE;
}

.callout-c,
.callout-c-head,
.callout-c-foot {
	background-color: #949494;
}

.callout-b,
.callout-b-head,
.callout-b-foot {
	background-color: #939598;
	border-color: #939598;
}

.callout-a,
.callout-c,
.callout-d,
.callout-a-head,
.callout-a-foot,
.callout-d-head
.callout-d-body,
.callout-d-foot {
	border-color: #D0D1D3;
}

.callout-c-body {
	background-color: #FFF;
}

.callout-c-body:hover {
	background-color: #F49B45;
}

.callout-c-head,
.callout-c-body,
.callout-c-foot {
	border-color: #E0E0E0;
}

.callout-d-foot {
	background-color: #949494;
}

.callout-d-body {
	background-color: #D9D9D9;
}

.callout-e,
.callout-e-head,
.callout-e-foot {
	background-color: #FFF;
}

/* ---------- Color ---------- */

.callout-b,
.callout-b-head,
.callout-b-foot,
.callout-b a,
.callout-b-head a,
.callout-b-foot a a {
	color: #FFF;
	text-shadow: none;
}

.callout-c-body .callout-content a {
	color: #4C4C4C;
}

.callout-c-body .callout-content a:hover {
	color: #FFF;
}

.callout-a .section-heading {
	color: #1A4265;
}

.callout-b .section-heading {
	color: #FFF;
}

/* ---------- Padding ---------- */

.callout-a,
.callout-b,
.callout-c,
.callout-d,
.callout-e {
	padding: 17px 0;
}

.callout-c-foot {
	padding: 8px 0;
}

.callout-d-foot {
	padding: 9px 0;
}

.callout-a-head,
.callout-b-head,
.callout-d-head,
.callout-d-body,
.callout-e-head {
	padding: 9px 0 8px;
}

.callout-c-body {
	padding: 0;
}

.callout-c-body .callout-content {
	padding: 0;
}

.callout-c-body .callout-content a {
	display: block;
	padding: 11px 0 11px 19px;
}

.callout-c-head {
	padding: 11px 0;
}

.callout-a-foot,
.callout-b-foot,
.callout-e-foot {
	padding: 8px 0 9px;
}

.callout-a,
.callout-b,
.callout-e,
.callout-a-head,
.callout-b-head,
.callout-c-head,
.callout-e-head,
.callout-d-body,
.callout-a-foot,
.callout-b-foot,
.callout-c-foot,
.callout-d-foot,
.callout-e-foot {
	.callout-content {
		padding: 0 19px;
	}
}

.callout-a .callout-content-a,
.portlet .portlet-title {
	padding: 0 19px;
}

.callout-a .unit-content {
	padding-left: 20px;
}

.portlet .portlet-content {
	padding: 8px 9px 9px;
}

/* ---------- Callout C heading ---------- */

.aui .callout-c-head .heading {
	color: #FFF;
	font-size: 22px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0 19px;
}

/* ---------- Callout list ---------- */

.callout-list a {
	text-decoration: none;
}

/* ---------- Callout inner layout ---------- */

.callout-a,
.callout-b,
.callout-a-head,
.callout-b-head,
.callout-a-foot,
.callout-b-foot {
	.sub-grid {
		margin: 0 -11px;
	}
}

.callout-a .sub-grid {
	.u-o .unit-content {
		padding-left: 20px;
		padding-right: 20px;
	}

	.u-f .unit-content {
		padding-left: 20px;
	}

	.u-l .unit-content {
		padding-right: 20px;
	}
}

/* ---------- Callout table A ---------- */

.callout-table-a {
	border-collapse: separate;
	margin: 0 0 18px;

	th, td {
		background: #EEF4F9;
		border: 1px solid #BABEC2;
		border-width: 1px 0 0;
		padding: 8px 10px 9px;
	}

	tr {
		&.first, &.only {
			td, th {
				padding-bottom: 8px;
			}
		}

		&.last, &.only {
			td, th {
				border-bottom-width: 1px;
			}
		}

		td, th {
			&.first, &.only {
				border-left-width: 1px;
				padding-left: 9px;
			}

			&.last, &.first {
				border-right-width: 1px;
				padding-right: 9px;
			}
		}

		&.subheading {
			td, th {
				background: #1A4265;
				border-color: #1A4265;
				color: #FFF;
				font-weight: bold;
				position: relative;
				text-transform: uppercase;
				z-index: 1;
			}
		}
	}

	tbody td, thead td, thead th {
		text-align: center;
	}

	tbody th {
		text-align: left;
	}
}

/* ---------- Callout image ---------- */

.callout-image,
.callout-image-heading {
	background-position: center;
	display: inline-block;
	vertical-align: top;
}

.callout-image-heading {
	margin: 0 0 18px;
}

.callout-image img {
	opacity: 0;
}

/* ---------- Callout download ---------- */

.callout-download {
	.u-img {
		margin: 9px 10px 18px 19px;
		width: 180px;
	}

	.u-nfo {
		border-right: 1px solid #AAA;
		margin: 9px 10px;
		min-height: 99px;
		padding: 18px 9px 18px 0;
		width: 270px;

		h1 {
			margin: 0;
		}

		p {
			margin: 0 0 9px;
		}

		select {
			width: 200px;
		}
	}

	.u-dld {
		margin: 9px 9px 9px 10px;
		padding: 18px 0;
		width: 170px;

		p {
			margin: 0 0 9px;
		}
	}
}

/* ---------- IE ---------- */

.ie6 {
	.callout-a,
	.callout-b,
	.callout-a-head,
	.callout-b-head,
	.callout-a-foot,
	.callout-b-foot {
		.sub-grid {
			display: inline;
			zoom: 1;
		}
	}

	.callout-table-a {
		border-collapse: expression('separate', cellSpacing=0);
	}

	.callout-image,
	.callout-image-heading {
		display: inline;
		zoom: 1;
	}
}

/* ---------- Extras ---------- */

.callout,
.callout-a,
.callout-b,
.callout-c,
.callout-d,
.callout-e {
	@include border-radius(2px);
}

.callout-head,
.callout-a-head,
.callout-b-head,
.callout-c-head,
.callout-d-head,
.callout-e-head {
	@include border-radius(2px 2px 0 0);
}

.callout-a-foot,
.callout-b-foot,
.callout-c-foot,
.callout-d-foot,
.callout-e-foot {
	@include border-radius(0 0 2px 2px);
}

.callout-c,
.callout-c-head,
.callout-c-foot {
	@include background-image(top, #DCDCDC 0%, #FAFAFA 50%, #E0E0E0 51%, #E5E5E5 100%);
}

.callout-c-body,
.callout-c-foot {
	@include background-image(#FFF, #F1F1F1);
}

.callout-d-first {
	@include background-image(top, #9C9C9C 0%, #D9D9D9 12px);
}

.callout-table-a tr {
	&.only {
		td, th {
			&.only {
				@include border-radius(2px);
			}

			&.first {
				@include border-radius(2px 0 0 2px);
			}

			&.last {
				@include border-radius(0 2px 2px 0);
			}
		}
	}

	&.first {
		td, th {
			&.first {
				@include border-radius(2px 0 0 0);
			}

			&.last {
				@include border-radius(0 2px 0 0);
			}
		}
	}

	&.last {
		td, th {
			&.first {
				@include border-radius(0 0 0 2px);
			}

			&.last {
				@include border-radius(0 0 2px 0);
			}
		}
	}

	&.subheading {
		td, th {
			@include box-shadow(rgba(0, 0, 0, 0.075) 0 10px 10px);
		}
	}
}

.callout-image,
.callout-image-heading {
	@include background-size(auto 100%);
	@include border-radius(2px);
	@include box-shadow(rgba(0, 0, 0, 0.5) 0 1px 2px);
}