#wrapper .centered {
	text-align: center;
}

.aui {
	article, .lego-article, .security-vulnerabilities {
		ul li {
			list-style: initial;
		}
	}

	.section-heading {
		font-size: 1.333em;
		font-weight: bold;
		margin: 0 0 9px;
	}

	.section-terheading {
		font-size: 12px;
		font-weight: bold;
		line-height: 18px;
		text-decoration: underline;
	}
}

.content-column {
	float: left;
}

.cp-callout-content, .portal-version-group {
	table {
		border: none;
		margin-bottom: 1.5em;

		tr.row td, tr.row th {
			background-color: inherit;
			border: none;
		}
	}
}

.full-screen, .full-screen-layout {
	margin: 0;
	max-width: none !important;
}

.left-column {
	padding-right: 10px;
}

.page-heading h1 {
	border-bottom: 1px solid #CCC;
	margin: 0;
	padding: 0 0 8px;
}

.page-heading p {
	margin: 9px 0 0;
	min-height: 54px;
}

.right-column {
	padding-left: 10px;
}

.unit {
	display: block;
	float: left;
	margin: 0 10px;
	min-height: 9px;
}