@import url(../../common/css/dialog.css);

.osb-portlet-license {
	#toggle_id_license_key_searchadvanced {
		padding-top: 10px;
	}

	#toggle_id_license_key_searchbasic input {
		border-radius: 2px;
		font: 20px/1.33 Arial;
		height: 32px;
		padding: 1px;

		&.aui-button-input-submit {
			height: 34px;
			width: 160px;
		}

		&.aui-field-input {
			border: 1px solid #BBB;
			margin: 0 20px 0 0;
			width: 488px;
		}
	}

	.checkboxes-input-column {
		display: table-cell;
		width: 178px;
	}

	.content-column-content {
		word-wrap: break-word;
	}

	.highlight-cluster {
		border: 1px solid #000;
	}

	.info {
		font-size: 10px;
		padding: 10px;
		vertical-align: bottom;

		a {
			vertical-align: bottom;
		}
	}

	.large-btn {
		padding: 5px 15px;
		text-decoration: none;
	}

	.lfr-form-row .aui-field {
		margin-right: 10px;
	}

	.lfr-table {
		width: auto;
	}

	.license-customer {
		.results-grid {
			margin: 50px 50px 0;
		}

		.results-header {
			background-color: #D1D6DC;
		}

		.taglib-search-iterator {
			border-collapse: separate;
			margin: 0 0 18px;

			td, th {
				border-bottom-width: 0;
				border-top: 1px solid #BABEC2;
				padding: 8px 10px 9px;
			}
		}
	}

	.license-duration {
		.form-group-inline {
			margin: 0;
		}

		.lfr-input-date input {
			display: inline-block;
			width: 20%
		}
	}

	.license-input-heading {
		border-bottom: 1px solid #CCC;
		padding-bottom: 10px;
	}

	.license-worker .taglib-search-iterator a {
		color: #474A4B;
	}

	.multiple-select {
		height: 100px;
	}

	.results-header {
		background: transparent;
	}

	.section-heading {
		color: #3A3A3A;
		font-size: 36px;
		font-weight: normal;
		padding-bottom: 1em;
	}

	.separator {
		margin: 15px;
	}

	.table-cell {
		a {
			color: #000;
		}

		&.first {
			vertical-align: middle;
		}
	}

	.taglib-search-iterator {
		background: none;
		border-width: 0;

		a {
			text-decoration: none;
		}

		td {
			border-bottom: 1px solid #BABEC2;
			padding: 10px;
		}

		th {
			border-bottom: 1px solid #BABEC1;
			font-weight: bold;
		}

		.greyout {
			color: #C7C8C8;
		}
	}

	.v-active, .v-expired, .v-inactive {
		color: #FFF;
		text-align: center;
	}

	.v-active {
		background: #00ADEF;
	}

	.v-expired {
		background: #EF000B;
	}

	.v-inactive {
		background: #F08000;
	}

	.view-license-dialog {
		input[type=button] {
			margin-top: 30px;
		}

		.content {
			margin: 10px;
			text-align: center;
			width: 50vw;
		}
	}
}

@media all and (max-width: 720px) {
	.osb-portlet-license .checkboxes-input-column {
		display: block;
		float: left;
		width: 100%;
	}
}