@import url(../../common/css/dialog.css);

.osb-portlet-license {
	#toggle_id_license_key_searchadvanced {
		padding-bottom: 1em;
	}

	#toggle_id_license_key_searchsimple {
		input {
			border-radius: 2px;
		}
	}

	.cluster {
		border: 1px solid #D0D1D3;
		margin-bottom: 1em;
		padding: 1em 0.5em;

		&.highlight-cluster {
			border-color: #000;
		}
	}

	.info {
		font-size: 10px;
		padding: 10px;
		vertical-align: bottom;

		a {
			vertical-align: bottom;
		}
	}

	.large-btn {
		margin-top: 1em;
		padding: 5px 15px;
		text-decoration: none;
	}

	.lfr-autorow-controls {
		bottom: 3.5px;
		margin: 0;
	}

	.lfr-form-row .aui-field {
		margin-right: 10px;
	}

	.lfr-table {
		width: auto;
	}

	.license-customer {
		.table {
			margin-top: 1em;

			th {
				background-color: #D1D6DC;
				border-bottom: 1px solid #BABEC2;
			}
		}
	}

	.license-duration {
		.form-group-inline {
			margin: 0;
		}

		.lfr-input-date input {
			display: inline-block;
			width: 20%;
		}
	}

	.license-input-heading {
		border-bottom: 1px solid #CCC;
		margin-top: 0.5em;
		padding-bottom: 0.25em;
	}

	.license-worker {
		margin-top: 1em;

		.table {
			margin-top: 1em;

			a {
				color: #474A4B;
			}

			th {
				border-bottom: 1px solid #BABEC1;
			}
		}
	}

	.merge-license {
		border: 1px solid #D1D6DC;
	}

	.multiple-select {
		height: 100px;
	}

	.panel-heading {
		position: relative;
	}

	.section-heading {
		color: #3A3A3A;
		font-size: 36px;
		font-weight: normal;
		padding-bottom: 1em;
	}

	.separator {
		margin: 15px;
	}

	.table-cell {
		a {
			color: #000;
		}

		&.first {
			vertical-align: middle;
		}
	}

	.v-active, .v-expired, .v-inactive {
		color: #FFF;
		padding: 5px;
		text-align: center;
	}

	.v-active {
		background: #00ADEF;
	}

	.v-expired {
		background: #EF000B;
	}

	.v-inactive {
		background: #F08000;
	}

	.view-license-dialog {
		input[type=button] {
			margin-top: 30px;
		}

		.content {
			margin: 10px;
			text-align: center;
			width: 50vw;
		}
	}
}