#foreach ($eachArticle in $heading.siblings)
	<article>
		<div class="unit">
			<div class="unit-content">
				#if ($eachArticle.data != "")
					<h1 class="section-heading">
						$eachArticle.data
					</h1>
				#end

				#if ($eachArticle.content.data != "")
					$eachArticle.content.data
				#end
			</div>
		</div>
	</article>
#end