.account-environments {
	&.card .panel-group {
		margin: 0;

		.panel {
			border-color: $color-divider;
			border-width: 0 0 1px;
			box-shadow: none;
			margin: 0;

			.panel-body {
				border-top: 1px solid $color-divider;
				padding: 24px 15px;

				.btn-link {
					margin-right: 16px;

					&,
					&:focus,
					&:hover {
						border: 1px solid $color-border;
						color: $secondary-text-color;
						text-decoration: none;
					}

					&:focus,
					&:hover {
						background-color: $color-grey;
					}
				}
			}
		}
	}

	h4 {
		margin: 0;
		padding-bottom: 4px;
	}

	.card-header, .panel-header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		text-align: left;
	}

	.environment-detail {
		padding-bottom: $padding-default;
	}

	.environment-label {
		color: $secondary-text-color;
	}

	.file-list {
		padding: 12px 0;
		width: 50%;

		.attachment-pool {
			list-style: none;
			padding: 0;
			margin: 0;

			.attachment {
				border-radius: 4px;
				color: $color-body;
				font-size: 12px;
				font-weight: $font-weight-normal;
				padding: 4px 8px;
				text-transform: initial;

				.lexicon-icon-paperclip {
					color: $secondary-text-color;
					height: 12px;
					margin-right: 8px;
					width: 12px;
				}
			}
		}
	}

	.panel-body {
		a {
			color: $color-primary;
			font-weight: $font-weight-semi-bold;
		}
	}

	.panel-header {
		padding: 16px 24px;

		&.btn-link,
		&.btn-link:active:focus,
		&.btn-link:active:hover {
			color: $color-body;
			text-decoration: none;
		}
	}

	.panel-subtitle {
		color: $secondary-text-color;
		display: inline;
		font-size: 14px;

		&:not(:last-child):after {
			content: "\00B7";
			margin: 4px;
		}

		span {
			font-weight: $font-weight-semi-bold;
		}
	}
}