.card-header {
	background-color: rgba(247, 248, 249, 0.5);
}

.details-table {
	tr {
		td:first-child {
			color: $secondary-text-color;
			font-weight: $font-weight-semi-bold;
		}

		td:last-child {
			color: $color-default;
		}
	}
}

.support-instructions {
	.card-body {
		color: $color-default;
	}
}