.card-header {
	background-color: rgba(247, 248, 249, 0.5);
}

.details-table {
	td {
		&:first-child {
			color: $secondary-text-color;
			font-weight: $font-weight-semi-bold;
		}

		&:last-child {
			color: $color-default;
		}
	}

	.lexicon-icon-shortcut {
		height: 10px;
		width: 10px; 
	}
}

.support-instructions {
	.card-body {
		color: $color-default;
	}
}