.mobile-label {
	display: none;
}

.table {
	> thead > tr > th {
		&.lfr-product-column {
			width: 2%;
		}

		&.project-name-column {
			width: 8%;
		}
	}
}

@include media-breakpoint-down(sm) {
	thead .project-name-column,
	.lfr-status-column {
		display: none;
	}

	.mobile-label {
		display: inline;
	}

	.project-name {
		display: block;
	}

	.table-responsive > .table > tbody > tr > td .project-name {
		white-space: normal;
	}
}