<?xml version="1.0"?>

<included>
	<appender class="com.github.loki4j.logback.Loki4jAppender" name="LOKI">
		<format>
			<label>
				<pattern>app=${LCP_SERVICE_ID},cluster=${LCP_PROJECT_ID},host=${HOSTNAME},level=%level,projectId=%X{osbAsahProjectId:-none}</pattern>
			</label>
			<message>
				<pattern>l=%level c=%logger{20} t=%thread | %msg %ex</pattern>
			</message>
			<sortByTime>true</sortByTime>
		</format>
		<http class="com.github.loki4j.logback.ApacheHttpSender">
			<auth>
				<password>${OSB_ASAH_LOKI_PASSWORD}</password>
				<username>${OSB_ASAH_LOKI_USERNAME}</username>
			</auth>
			<url>${OSB_ASAH_LOKI_URL}</url>
		</http>
	</appender>
	<root level="INFO">
		<appender-ref ref="LOKI" />
	</root>
</included>