#set ($themeUserId = $getterUtil.getLong($request.get("theme-display").get("real-user-id")))

#set ($subscriptionLocalService = $serviceLocator.findService("com.liferay.portal.kernel.service.SubscriptionLocalService"))

#set ($subscribed = $subscriptionLocalService.isSubscribed($company.getCompanyId(), $themeUserId, "com.liferay.portlet.blogs.model.BlogsEntry", $groupId))

<style>
	.cp-subscribe-container .w75 .right-column {
		padding: 10px 0 10px 10px;
	}

	.cp-subscribe-container .content-column .content-column-content .cp-subscribe .btn .icon {
		display: none;
	}

	@media (max-width: 720px) {
		.cp-subscribe-container .cp-subscribe-content {
			padding: 0 10px;
		}

		.cp-subscribe-container .cp-subscribe-content .w75 .right-column {
			padding: 0 !important;
		}
	}
</style>

<script type="text/javascript">
	AUI().ready(
		'aui-base',
		function(A) {
			var subscribe = A.all('#p_p_id_33_ .subscribe span a.taglib-icon')._nodes[1];

			if (subscribe) {
				subscribe.setAttribute('id', 'subscribe-link');
				subscribe.classList.add('btn');
				subscribe.classList.remove('taglib-icon');

				var webContentDiv = document.getElementById('subscribe');

				webContentDiv.appendChild(subscribe);

				var subscribeBtn = document.getElementById('subscribe-btn');

				subscribeBtn.parentNode.replaceChild(subscribe, subscribeBtn);
			}
			else {
				var subscribeContainer = document.getElementById('subscribe-container');

				subscribeContainer.classList.add('aui-helper-hidden');
			}
		}
	);
</script>

<div class="cp-subscribe-container" id="$reserved-article-id.data">
	<div class="content-column w75">
		<div class="content-column-content right-column" id="subscribe-container">
			#if ($subscribed)
				#set ($subscribeLink = $languageUtil.format($locale, "unsubscribe"))
				#set ($subscribeText = $unsubscribeContent.data)
			#else
				#set ($subscribeLink = $languageUtil.format($locale, "subscribe"))
				#set ($subscribeText = $subscribeContent.data)
			#end

			<div class="cp-subscribe-content" id="subscribe-content">
				$subscribeText
			</div>

			<div class="cp-subscribe" id="subscribe">
				<a class="btn" href="" id="subscribe-btn">$subscribeLink</a>
			</div>
		</div>
	</div>
</div>