/* ---------- Global ---------- */

/* ---------- General ---------- */

.marketplace-developer-apps {
	margin-bottom: 20px;

	input[type='text'], textarea {
		border: 1px solid #BABEC2;
		border-radius: 2px;
		padding: 0 2px;
	}

	.aui-button-holder {
		margin-top: 15px;
	}

	.aui-field-help {
		color: #999;
	}

	.btn {
		&.aui-button, &.aui-field {
			box-shadow: 0 0 0;
			margin: 0;
			padding: 0;

			input {
				background-color: inherit;
				border-radius: inherit;
				border-style: none;
				box-shadow: 0 0 0;
				color: inherit;
				font-weight: inherit;

				&:hover {
					background-color: inherit;
					color: inherit;
				}
			}
		}
	}

	.container {
		margin-bottom: 2em;
	}

	.heading {
		border-bottom: 1px solid #C8C9CA;
		padding-bottom: 15px;
	}

	.lfr-panel-container {
		border: none;
	}

	.portlet-msg-info {
		margin: 1em 0;
	}

	.taglib-header {
		border: none;

		.header-title {
			color: #3A3A3A;
			font-size: 36px;
			font-weight: normal;
			margin: 0;
		}
	}

	.title a {
		text-decoration: none;
	}

	.upload-area {
		border: 3px dashed #DDD;
		color: #DDD;
		font-size: 17.5px;
		font-weight: normal;
		margin: 10px 0;
		padding: 5px 0;
		text-align: center;

		&.upload-file-hover {
			border-color: #F49B45;
			color: #F49B45;
		}
	}
}

/* ---------- Asset entry display ---------- */

.marketplace-developer-apps .asset {
	.icon {
		display: inline-block;
		margin-right: 5px;
		vertical-align: top;
		position: relative;

		.approved-button-overlay {
			position: absolute;
			left: -10px;
			top: -10px;
		}
	}

	.info {
		color: #908E91;
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;

		.title {
			font-weight: bold;
			word-wrap: break-word;
			width: 200px;
		}
	}
}

/* ---------- App submission breadcrumb ---------- */

.marketplace-developer-apps .app-breadcrumbs {
	border-bottom: 1px solid #C8C9CA;
	font-weight: bold;
	margin-bottom: 2em;
	padding: 0 0 1em;

	li {
		display: inline-block;
		vertical-align: middle;

		a {
			text-decoration: none;
		}

		.app-breadcrumb {
			display: block;
			text-align: center;
			width: 70px;

			&.active {
				color: #828383;

				.sprite {
					&.app-details {
						background-position: 0 -96px;
					}

					&.license {
						background-position: 0 -199px;
					}

					&.pricing {
						background-position: 0 -391px;
					}

					&.upload {
						background-position: 0 -679px;
					}
				}
			}

			&.current {
				color: #1F2020;

				.sprite {
					&.app-details {
						background-position: 0 -128px;
					}

					&.license {
						background-position: 0 -231px;
					}

					&.pricing {
						background-position: 0 -423px;
					}

					&.upload {
						background-position: 0 -711px;
					}
				}
			}

			&.inactive {
				color: #ADADAD;
				cursor: default;

				.sprite {
					&.app-details {
						background-position: 0 -160px;
					}

					&.license {
						background-position: 0 -263px;
					}

					&.pricing {
						background-position: 0 -455px;
					}

					&.upload {
						background-position: 0 -743px;
					}
				}
			}
		}

		.sprite {
			background: url('../../images/marketplace_breadcrumbs_sprite.png') no-repeat top left;
			height: 32px;
			margin: 0 auto;
			width: 32px;

			&.arrow {
				background-position: 0 -192px;
				height: 7px;
				width: 20px;
			}
		}
	}
}

/* ---------- Carousel ---------- */

.marketplace-developer-apps {
	.aui-carousel-item {
		background: #FFF;
		height: 350px;
		width: 500px;

		img {
			display: block;
			margin: 0 auto;
			max-height: 350px;
			max-width: 500px;
			text-align: center;
		}
	}

	.carousel-container {
		min-height: 350px;
	}
}

/* ---------- Form ---------- */

.marketplace-developer-apps form {
	input[type='text'], textarea {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.aui-field-choice .aui-field-content {
		margin: 0;
	}

	.aui-field-input-container {
		margin-top: 9px;
	}

	.aui-field-label.required:after, .required label:after {
		content: "*";
	}

	.aui-fieldset {
		input[type='text'] {
			width: 90%;
		}

		textarea {
			height: 105px;
			width: 90%;
		}
	}

	.aui-legend, .aui-field-content {
		margin-bottom: 9px;
	}

	.aui-select-note {
		color: #999;
		display: block;
		font-size: 11px;
		margin-left: 21px;
	}

	.aui-selection-group {
		margin-bottom: 2em;
	}

	.lfr-tag-selector-input {
		border: none;
	}
}

/* ---------- Icon ---------- */

.marketplace-developer-apps .icon {
	.small {
		height: 70px;
		width: 70px;
	}

	.xsmall {
		display: block;
		height: 45px;
		width: 45px;
	}
}

/* ---------- Language container ---------- */

.marketplace-developer-apps .language-container {
	background-color: #F2F2F2;
	margin-bottom: 10px;
	padding: 10px;
	width: 629px;

	.aui-field-label {
		padding-top: 0;
	}

	.lfr-token {
		margin: 3px;
		padding: 0.3em 0.5em 0.3em;
	}
}

/* ---------- Search container ---------- */

.marketplace-developer-apps {
	.item .label {
		font-weight: bold;
	}

	.liferay-only {
		background: #BABEC2;
		margin-bottom: 9px;
		padding: 18px;
	}

	tr {
		&.results-header {
			background: none;
			border-bottom: 1px solid #BABEC2;
			border-top: 1px solid #BABEC2;
		}

		&.results-header.first {
			border-top: none;
		}

		&.results-row {
			border-bottom: 1px solid #BABEC2;
		}

		&.results-row.last {
			border-bottom: none;
		}

		&.results-row td {
			padding: 10px;
		}
	}
}

/* ---------- Uploader ---------- */

.marketplace-developer-apps {
	.liferay-version-container {
		border: 1px solid #D0D1D3;
		border-radius: 2px;
		margin: 2em 0;

		.aui-field-help {
			padding: .5em 1em;
		}

		.source-code {
			padding: 6px 12px;
		}
	}

	.marketplace-uploader {
		.buttons {
			margin-top: 1em;
		}

		.liferay-version {
			background: #D0D1D3;
			border-bottom: 1px solid #D0D1D3;
			display: block;
			margin-bottom: .5em;
			padding: .5em 1em;
		}

		.locked .liferay-version {
			background: url(@theme_image_path@/common/lock.png) no-repeat 12px center #D0D1D3;
			display: block;
			height: 16px;
			padding-left: 31px;
		}

		.portlet-msg-alert {
			background: #FFC url(../images/warn.png) no-repeat scroll 6px 6px;
		}

		.portlet-msg-error {
			background: #FDD url(../images/conflict.png) no-repeat scroll 6px 6px;
		}

		.portlet-msg-error, .portlet-msg-info {
			background-position: 6px 8px;

			span {
				display: block;
				font-weight: normal;
			}
		}
	}

	.file-list, .app-package-plugins {
		list-style: none;
		margin: 1em 0;
		padding: 0;
		zoom: 1;

		li {
			&.file {
				background: url(../images/success.png) no-repeat 0 3px;
				padding: 2px 8px 2px 20px;

				&:hover {
					background-color: #CCC;
				}
			}

			&.upload-file {
				background-image: url(../images/pending.png);
			}

			&.uploading {
				background-image: url(../images/uploading.gif);
			}

			&.error {
				background-image: url(../images/error.png);
			}

			&.pacl {
				background-image: url(../images/conflict.png);
			}

			&.warn {
				background: url(../images/warn.png) no-repeat 0 3px;
			}
		}

		.actions {
			float: right;
			padding-left: 1em;

			.msg {
				color: #999;
			}
		}
	}

	.liferay-version-container .file-list {
		margin: 0;
		padding: .5em 1em;
	}

	.source-code {
		display: block;

		&.file {
			background: url(../images/success_src.png) no-repeat 12px 3px;
			display: block;
			margin: .5em 0;
			padding: 2px 20px 2px 32px;
		}

		&.file:hover {
			background-color: #CCC;
		}

		.aui-field-label {
			font-weight: normal;
		}

		.actions {
			float: right;
		}
	}
}

/* ---------- Page ---------- */

/* ---------- View ---------- */

.marketplace-developer-apps.view {
	.attention-needed {
		background-color: #F2EEEE;
		padding: 10px;

		.icon {
			float: left;
			margin-top: 15px;
			width: 20px;
		}

		.message {
			margin-left: 30px;
		}
	}

	.asset {
		float: left;
		height: 120px;
		margin: 15px;
		width: 315px;

		.btn {
			margin: 15px 0 0 45px;
		}
	}

	.heading-apps {
		border-bottom: 1px solid #C8C9CA;
		font-size: 16px;
		margin: 1em 0;
		padding-bottom: 5px;
	}
}

/* ---------- View app entry ---------- */

.marketplace-developer-apps.view-app-entry {
	.app-heading {
		margin-bottom: 15px;
		min-height: 90px;

		.icon {
			float: left;
			margin-right: 20px;
			width: 90px;
		}

		.title {
			word-break: break-word;

			h1 {
				font-size: 36px;
				font-weight: bold;
				margin: 0;
			}

			.owner {
				font-size: 18px;
			}
		}
	}

	.app-body {
		clear: both;
		margin-bottom: 2em;

		.side-bar {
			float: right;
			width: 180px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			li {
				margin-bottom: 3px;
			}

			.app-links {
				a {
					text-decoration: none;
				}

				li div {
					padding-left: 22px;
				}

				.developer-website {
					background: url(../../images/website.png) no-repeat scroll 2px;
				}

				.demo-website {
					background: url(../../images/demo.png) no-repeat scroll 2px;
				}

				.documentation-website {
					background: url(../../images/documentation.png) no-repeat scroll 2px;
				}

				.license-agreement {
					background: url(../../images/license.png) no-repeat scroll 2px;
				}

				.reference-website {
					background: url(../../images/documentation.png) no-repeat scroll 2px;
				}

				.report-abuse {
					background: url(../../images/report.png) no-repeat scroll 2px;
				}

				.source-code {
					background: url(../../images/source_code.png) no-repeat scroll 2px;
				}

				.support {
					background: url(../../images/support.png) no-repeat scroll 2px;
				}
			}

			.side-bar-heading {
				margin-top: 1em;
			}

			.pricing {
				span {
					display: block;
				}

				.price {
					color: #888;
				}
			}
		}

		.details {
			margin-right: 200px;

			.app-disclaimers {
				border-bottom: 1px solid #BABEC2;
				border-top: 1px solid #BABEC2;
				padding: 0.75em 0.5em 0;

				.info-item {
					list-style: none;
					margin-bottom: .75em;
					padding: 2px 1px 0 24px;

					&.ee-only {
						background: url(../images/ee_only.png) no-repeat 0 2px;
					}

					&.labs {
						background: url(../images/labs.png) no-repeat 0 2px;
					}

					&.security {
						background: url(../images/security.png) no-repeat 0 2px;
					}

					&.security-disabled {
						background: url(../images/security_disabled.png) no-repeat 0 2px;
					}

					&.employee-disclaimer {
						background: url(../images/disclaimer.png) no-repeat 0 2px;
					}

					&.support {
						background: url(../images/support.png) no-repeat 0 2px;
					}
				}
			}

			.changelog, .description {
				margin-bottom: 2em;

				ul {
					padding: 0 0 0 2em;
				}
			}

			.changelog ul {
				list-style: none;
				padding: 0;
			}
		}
	}

	.aui-button-disabled {
		background: #D7D8DA;
		border-color: #D7D8DA;
		color: #FFF;
	}

	.developers .col-version-number {
		width: 110px;
	}

	.plugins {
		list-style: none;
		margin: 0;
		padding: 0;

		&.container {
			margin-right: 200px;
		}

		&.list {
			.liferay-version {
				display: block;
				font-weight: bold;
				padding: 5px 10px;
			}

			tr.results-row td {
				padding: 5px 10px;
			}
		}
	}

	.preview {
		padding-top: 15px;
	}

	.pricing-display {
		background: #EFEFEF;
		border-radius: 3px;
		margin: 1em auto;
		padding: .8em 1em;
		width: 500px;

		.pricing-display-heading {
			border-bottom: 1px solid #CCC;
			display: block;
			font-weight: bold;
			margin-bottom: .5em;
			padding-bottom: .5em;
		}

		.pricing-display-body {
			.column {
				display: inline-block;
				margin-right: 10px;
				vertical-align: top;
				width: 33%;

				&.details {
					width: 24%;
				}
			}

			.license-type-allotment {
				float: left;
			}

			.price {
				padding-right: 1em;
				text-align: right;
			}
		}

		.currency, .prices, .support {
			margin-bottom: 1em;
		}

		.countries {
			list-style-type: none;
			margin: 2px 0;
			padding: 0;

			.country {
				display: inline-block;
				margin-right: 2em;
			}
		}
	}

	.status-message {
		textarea {
			margin-right: 200px;
			width: 100%;
		}

		&.container {
			margin-right: 200px;
		}
	}

	.summary {
		margin: 15px 0;

		table {
			margin: 15px 0 0 20px;
			vertical-align: top;
			width: 480px;

			th {
				color: #A7A9AC;
				font-weight: normal;
			}

			td {
				table-layout: fixed;
				width: 2%;
			}
		}

		table, .asset {
			display: inline-block;
		}

		.asset.container {
			margin: 0;
			width: 195px;

			.status-bar {
				margin-top: 5px;
			}
		}
	}

	.versions {
		.versions-header {
			border-bottom: 1px solid #C8C9CA;
			border-top: 1px solid #C8C9CA;
			color: #7B7C7F;
			width: 100%;
		}

		.item {
			display: inline-block;
			padding: 5px 10px;
		}

		.version {
			width: 200px;
		}

		.release-date {
			width: 100px;
		}

		.security {
			margin-bottom: 0;
			width: 100px;
		}

		.downloads {
			text-align: right;
			width: 150px;
		}

		.lfr-panel-titlebar .lfr-panel-title {
			font-size: 1em;
			font-weight: normal;
		}

		.lfr-collapsed div.lfr-panel-titlebar {
			background: url(@theme_image_path@/arrows/01_plus.png) no-repeat scroll 2px 50% transparent;
		}

		.lfr-collapsible .lfr-panel-titlebar {
			background: url(@theme_image_path@/arrows/01_minus.png) no-repeat scroll 2px 50% transparent;
		}

		.lfr-panel-content {
			margin-left: 15px;
		}

		.lfr-panel-content .btn {
			margin-top: 5px;
		}
	}
}

/* ---------- Edit app entry ---------- */

.marketplace-developer-apps.edit-app-entry {
	.file {
		&:before {
			background: url(/osb-community-theme/images/aui/icon_sprite.png) no-repeat left -223px;
			content: "";
			display: block;
			height: 23px;
			left: -12px;
			position: absolute;
			width: 10px;
		}

		&:hover {
			cursor: row-resize;
		}
	}

	.paid-license-radio.aui-field-disabled {
		color: #ADADAD;
	}

	.tags {
		display: block;
		margin-top: 15px;
	}
}

/* ---------- Edit app version ---------- */

.marketplace-developer-apps.edit-app-version {
	.version-number .aui-field-disabled input {
		background: none;
		border: none;
	}

	.app-entry-uploader {
		.app-packages-uploader {
			margin: 0 1em;
			width: 400px;
		}

		.app-packages-uploader, .liferay-portal-builds {
			display: inline-block;
			vertical-align: top;
		}

		.app-package-uploader, .liferay-portal-builds {
			border: 1px solid #D0D1D3;
			border-radius: 2px;
			margin-top: 1em;
			vertical-align: top;

			.aui-field-label, .header {
				background: #D0D1D3;
				border-bottom: 1px solid #D0D1D3;
				font-weight: normal;
				padding: .5em 1em;
			}

			.content {
				padding: .5em 1em;

				.title {
					word-wrap: break-word;
				}
			}
		}

		.app-package-uploader .compatibility-plus {
			margin: 0.75em 0;

			input {
				position: relative;
				top: 5px;
			}
		}
	}

	.portlet-msg-alert {
		background: #FFC url(../images/warn.png) no-repeat scroll 6px 6px;
	}
}

/* ---------- Edit app license ---------- */

.marketplace-developer-apps.edit-app-license {
	.percent {
		input[type="text"] {
			width: 40px;
		}

		span.aui-field-content,
		span.aui-field-content:after {
			display: inline;
		}
	}

	.license-lifetime .aui-field-help p {
		display: block;
	}

	.license-options {
		.license-option-field {
			border: 1px solid #D0D1D3;
			border-radius: 2px;
			margin-top: 1em;
			vertical-align: top;

			.aui-field-label, .header {
				background: #D0D1D3;
				border-bottom: 1px solid #D0D1D3;
				font-weight: normal;
				padding: .5em 1em;
			}

			.content {
				padding: .5em 1em;
			}
		}

		.aui-field-input-container {
			margin: 0;
			padding: .5em 1em;

			input {
				margin-top: 3px;
				padding: 2px;
				width: 50px;
			}

			.btn {
				margin-top: 1px;
			}
		}

		.quantities {
			margin: 0 0 1em;
			padding: .5em 1em;
		}

		.quantity {
			list-style-type: none;
			padding: 2px 8px;

			&:hover {
				background-color: #CCC;
			}

			.action {
				float: right;
			}
		}
	}
}

/* ---------- Edit app pricing ---------- */

.marketplace-developer-apps.edit-app-pricing {
	.mp-field-group {
		background: #EFEFEF;
		border-radius: 3px;
		margin: 1em 0;
		padding: .8em 1em;
	}

	.mp-field-group-heading {
		border-bottom: 1px solid #CCC;
		display: block;
		margin-bottom: .5em;
		padding-bottom: .5em;
	}

	.mp-field-group-subheading {
		color: #444;
		font-weight: bold;
	}

	.mp-field-group-body {
		.column {
			display: inline-block;
			margin-right: 10px;
			vertical-align: top;
			width: 33%;

			&.details {
				width: 24%;
			}
		}

		.aui-field-label {
			font-weight: normal;
		}
	}

	.name {
		background: transparent;
		border: 1px solid transparent;
		margin: -2px;
		padding: 1px;
		width: 80%;

		&:hover {
			border-color: #A6A6A6;
		}

		&:focus {
			background: #FFF;
			border-color: #A6A6A6;
		}
	}

	.currency, .prices, .support {
		margin-bottom: 1em;
	}

	.currency-select {
		width: 90px;
	}

	.price-label {
		margin-left: 40px;
	}

	.price {
		clear: both;
		margin-bottom: 2px;

		span {
			display: block;
			float: left;
			min-width: 30px;
			padding: 2px 8px 2px 2px;
			text-align: right;
		}

		input {
			padding: 0 2px;
			text-align: right;
			width: 96px;
		}
	}

	.support input {
		margin-left: 40px;
		padding: 0 2px;
		text-align: right;
		width: 96px;
	}

	.country-availability {
		overflow-x: hidden;
		overflow-y: scroll;
		width: 165px;
	}

	.draggable-countries {
		border: 1px solid transparent;
		border-radius: 3px;
		list-style-type: none;
		margin-bottom: 0;
		min-height: 32px;
		padding: 0;

		&.yui3-dd-drop-active-valid {
			background: #DFF4FF;
			border-color: #A7CEDF;
		}

		.country {
			background: url(../images/movable.png) no-repeat 3px 3px;
			cursor: pointer;
			padding: 0 2px 0 20px;
			vertical-align: top;
			width: 115px;

			&.selected {
				background: #CCC url(../images/movable_dark.png) no-repeat 3px 3px;
			}
		}
	}

	.pricing-tables {
		.draggable-countries .country {
			display: inline-block;
			width: 119px;
		}

		.taglib-icon-help img {
			margin-top: -3px;
		}
	}
}

.ie7 .pricing-tables .mp-field-group-body {
	.draggable-countries .country {
		display: inline;
	}

	.prices {
		.currency, .developer, .standard {
			display: inline;
		}
	}
}