.osb-portlet-self-provisioning {
	.container-fluid-1280 {
		background: #EFEFEF;
		border-radius: 7px;
		padding: 15px;

		.form-group {
			margin-bottom: 0;

			select {
				background-color: #FFF;
			}
		}
	}
}