.osb-portlet-self-provisioning {
	.container-fluid-1280 {
		background: #F5F7FA;
		border-radius: 4px;
		padding: 16px;

		.form-group {
			margin-bottom: 0;

			select {
				background-color: #FFF;
			}
		}
	}
}