<p>
	Dear [$USER_FULL_NAME$],
</p>

<p>
	[$CORP_NAME$] was approved for developing apps in the Liferay Marketplace.
</p>

<p>
	After logging on to Liferay.com, you can access your Marketplace <a href="[$DEVELOPER_PROFILE_URL$]">company details</a> and <a href="[$DEVELOPER_APPS_URL$]">upload apps</a>. Your company members can also join your <a href="[$DEVELOPER_PROFILE_URL$]">Company Profile</a>.
</p>

<p>
	<b>Getting Started:</b>
</p>

<p>
	<ul>
		<li>
			Be sure to check out our <a href="https://dev.liferay.com/distribute/intro">Documentation</a>.
		</li>
		<li>
			We recommend that your app uses <a href="https://dev.liferay.com/develop/tutorials/-/knowledge_base/6-2/plugin-security-and-pacl">PACL Security Manager</a>.
		</li>
		<li>
			If you have any questions or feedback, please email us at <a href="mailto:marketplace-admin@liferay.com">marketplace-admin@liferay.com</a>.
		</li>
	</ul>
</p>

<p>
	We look forward to seeing you on the Liferay Marketplace!
</p>

<p>
	Sincerely,<br />
	The Liferay Marketplace Team
</p>