<p>
	<strong>[$DEVELOPER_ENTRY_LEGAL_ENTITY_NAME$]</strong>'s developer account has had its status updated.
</p>

<p>
	User: [$DEVELOPER_ENTRY_USER_NAME$]<br />
	Status: [$DEVELOPER_ENTRY_STATUS$]<br />
	Contact Email Address: [$DEVELOPER_ENTRY_EMAIL_ADDRESS$]<br />
	Profile Email Address: [$DEVELOPER_ENTRY_PROFILE_EMAIL_ADDRESS$]<br />
	Phone Number: [$DEVELOPER_ENTRY_PHONE_NUMBER$]<br />
	Fax Number: [$DEVELOPER_ENTRY_FAX_NUMBER$]
</p>

<p>
	Please review their request on <a href="http://www.liferay.com">Liferay.com</a>.
</p>