<p>
	Dear [$USER_FULL_NAME$],
</p>

<p>
	Your developer status was recently updated.
</p>

<p>
	Status changed to: [$STATUS$]
</p>

<p>
	[$STATUS_MESSAGE$]
</p>

<p>
	Please contact <a href="mailto:marketplace-admin@liferay.com">marketplace-admin@liferay.com</a> if you have any questions regarding the update.
</p>

<p>
	Thank You,<br />
	The Liferay Marketplace Team
</p>