<p>
	Dear [$USER_FULL_NAME$],
</p>

<p>
	Your company, [$CORP_NAME$], has had its status recently updated.
</p>

<p>
	Status changed to: [$STATUS$]
</p>

<p>
	[$STATUS_MESSAGE$]
</p>

<p>
	Please log in to <a href="http://www.liferay.com">Liferay.com</a> to review your company's status change.
</p>

<p>
	Thank You,<br />
	The Liferay Marketplace Team
</p>