<p>
	Dear [$USER_FULL_NAME$],
</p>

<p>
	You have been approved for developing apps in the Liferay Marketplace.
</p>

<p>
	After logging on to Liferay.com, you can access your <a href="[$DEVELOPER_APPS_URL$]">Marketplace developer account</a> to manage your information and apps.
</p>

<p>
	Getting Started:
</p>

<ul>
	<li>
		Be sure to check out our <a href="https://dev.liferay.com/distribute/intro">documentation</a>.
	</li>
	<li>
		We recommend that your app uses <a href="https://dev.liferay.com/develop/tutorials/-/knowledge_base/6-2/plugin-security-and-pacl">PACL Security Manager</a>.
	</li>
	<li>
		If you have any questions or feedback, please email us at <a href="mailto:marketplace-admin@liferay.com">marketplace-admin@liferay.com</a>.
	</li>
</ul>

<p>
	We look forward to seeing you on the Liferay Marketplace!
</p>

<p>
	Sincerely,<br />
	The Liferay Marketplace Team
</p>