<p>
	Dear [$USER_FULL_NAME$],
</p>

<p>
	Your request to register a company called [$CORP_NAME$] has been received. We will notify you once we have reviewed your request.
</p>

<p>
	If you have not already uploaded a copy of your legal tax document, please fax it to [$MARKETPLACE_FAX_NUMBER$].
</p>

<p>
	Thank You,<br />
	The Liferay Marketplace Team
</p>