.osb-portal-tab-navigation-portlet {
	nav.tab-nav {
		margin-bottom: 18px;
		text-align: center;

		&, a {
			border: 1px solid #D0D1D3;
		}

		& {
			border-width: 0 0 1px 0;
			padding: 0;
		}

		a {
			color: inherit;
			display: block;
			margin: 0 -1px -1px 0;
			padding: 5px 10px;
			text-decoration: none;
		}

		ul {
			display: inline-block;
			margin-bottom: 0;
			padding-left: 0;
			vertical-align: bottom;

			li {
				float: left;
				list-style: none;
			}

			li:hover, li.selected {
				a {
					background: #EEE;
					color: #F49B45;
				}
			}
		}
	}
}