<style>
	.page-title-announcement {
		background: #1175BC;
		color: #FFF;
		padding: 24px 0;
		text-align: center;
	}

	.page-title-announcement h2 {
		display: inline-block;
		font-size: 1.4em;
		margin: 0;
		padding: 6px 15px 0 0;
	}

	.page-title-announcement .announcement-button {
		background: transparent;
		border: 1px solid #FFF;
		border-radius: 2px;
		color: #FFF;
		display: inline-block;
		font-weight: bold;
		height: auto;
		line-height: 1.5em;
		padding: 5px 15px;
		vertical-align: top;
	}

	.page-title-announcement .announcement-button:hover {
		background: #FFF;
		color: #1175BC;
	}
</style>

<div class="page-title-announcement">
	<div class="max-960">
		<h2 class="announcement-title">
			$title.data
		</h2>

		<a class="announcement-button" href="$linkDisplay.linkUrl.data" target="_blank">$linkDisplay.data</a>
	</div>
</div>