<style>
	.aui-carousel-item {
		background-position: center;
		background-size: cover;
		width: 100%;
	}

	#if ($customCss.data != "")
		$customCss.data
	#end
</style>

<div id="carousel">
	<div class="aui-carousel-item aui-carousel-item-1" style="background-image: url($image.data)">
		<div class="$image.carouselCustomClass.data">
			$image.content.data
		</div>
	</div>
</div>